.elementor-18224
  .elementor-element.elementor-element-eb08ba5
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .elementor-18224
    .elementor-element.elementor-element-eb08ba5
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
}
@media (max-width: 780px) {
  .elementor-18224
    .elementor-element.elementor-element-eb08ba5
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
}
.button-wrapper .elementor-widget-wrap {
  margin: -10px;
  width: calc(100% + 20px);
}
.button-wrapper .elementor-widget-wrap > .elementor-element {
  width: auto;
  padding: 10px;
}
@media (max-width: 767px) {
  .button-wrapper .elementor-widget-wrap > .elementor-element {
    width: 100%;
  }
}
.banner-button-wrapper .elementor-button-link:hover {
  color: #fff !important;
  border-color: currentColor !important;
}
