.elementor-18210 .elementor-element.elementor-element-ac1c336 > .elementor-container {
  max-width: 1280px;
}
.elementor-18210 .elementor-element.elementor-element-ac1c336:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-ac1c336 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18210 .elementor-element.elementor-element-ac1c336 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-ac1c336 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-2d3f2d2 > .elementor-element-populated {
  padding: 0;
}
.elementor-18210 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1100px;
  min-height: 400px;
}
.elementor-18210 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/07/tradingplatform-metatrader4-herobanner-arabic.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-18210 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-18210 .elementor-element.elementor-element-f81458a {
  color: #fff;
}
.elementor-18210 .elementor-element.elementor-element-9d4b946 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-aa72c45 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-5deea5e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-ddf9ffd .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-b59f55e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-69fbf91 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18210 .elementor-element.elementor-element-dc317ee > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-dc317ee:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-dc317ee > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18210 .elementor-element.elementor-element-dc317ee {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}
.elementor-18210 .elementor-element.elementor-element-dc317ee > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-9a718b6 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18210 .elementor-element.elementor-element-789483f {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-bc-flex-widget .elementor-18210 .elementor-element.elementor-element-3e1b7fb.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-18210
  .elementor-element.elementor-element-3e1b7fb.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-18210 .elementor-element.elementor-element-c654a56 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-c654a56 > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-18210 .elementor-element.elementor-element-1a8f6f6 > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-1a8f6f6 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-18210 .elementor-element.elementor-element-682e596 {
  text-align: center;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-18210 .elementor-element.elementor-element-682e596 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18210 .elementor-element.elementor-element-dfa3f2e {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-dfa3f2e > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18210 .elementor-element.elementor-element-b1db340 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-f4eb533 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-71912e6 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-a45f6c4 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-e756046 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-169e50a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-c1df186 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-a9731db {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-a310051 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-302cf27 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-95d5da0 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-daf9a2f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-f4c1037 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-6610f89 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-068b36c > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-068b36c:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-068b36c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18210 .elementor-element.elementor-element-068b36c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-18210 .elementor-element.elementor-element-068b36c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-5bfc7aa {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-5bfc7aa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18210 .elementor-element.elementor-element-5bfc7aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18210 .elementor-element.elementor-element-60668ff {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-60668ff img {
  border-radius: 10px;
}
.elementor-18210 .elementor-element.elementor-element-60668ff > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18210 .elementor-element.elementor-element-924ba88 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-924ba88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18210 .elementor-element.elementor-element-924ba88 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18210 .elementor-element.elementor-element-8d21d89 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-8d21d89 img {
  border-radius: 10px;
}
.elementor-18210 .elementor-element.elementor-element-8d21d89 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18210 .elementor-element.elementor-element-6ab886d > .elementor-element-populated {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-adeb0c9 > .elementor-element-populated {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-1e4a217 > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-1e4a217 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.elementor-18210 .elementor-element.elementor-element-16e116d {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-16e116d .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18210 .elementor-element.elementor-element-49de3e7 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18210 .elementor-element.elementor-element-d789d31 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-d789d31 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18210 .elementor-element.elementor-element-017debe img {
  width: 60px;
  max-width: 100%;
}
.elementor-18210 .elementor-element.elementor-element-849d5a1 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-849d5a1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18210 .elementor-element.elementor-element-1cef033 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-b3ed15f img {
  width: 60px;
  max-width: 100%;
}
.elementor-18210 .elementor-element.elementor-element-c3b06a4 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-c3b06a4 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18210 .elementor-element.elementor-element-7a195c1 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-5c3165e img {
  width: 60px;
  max-width: 100%;
}
.elementor-18210 .elementor-element.elementor-element-5ded1ba {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-5ded1ba .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18210 .elementor-element.elementor-element-72c164e {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-2a95f45 > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-2a95f45:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-2a95f45 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18210 .elementor-element.elementor-element-2a95f45 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-18210 .elementor-element.elementor-element-2a95f45 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-3f3a095 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-3f3a095 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18210 .elementor-element.elementor-element-ff9b543 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-8ae5515 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-7459900 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-6075a33 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-e8db73f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-31d4c77 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-37e219d {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-734e22e .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-2d58fcd {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-57cbfa1 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-d0634d5 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-374dc96 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18210 .elementor-element.elementor-element-f1222e2 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18210 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-18210 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-18210 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-18210 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-18210 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18210 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18210 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18210 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18210 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18210 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18210 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18210 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18210 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18210 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18210 .elementor-element.elementor-element-98cf6f9 > .elementor-container {
  max-width: 1280px;
}
.elementor-18210 .elementor-element.elementor-element-d7af2b9 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18210 .elementor-element.elementor-element-8afc418 {
  text-align: center;
}
.elementor-18210 .elementor-element.elementor-element-8afc418 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-18210 .elementor-element.elementor-element-8afc418 > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-accordion-item {
  border-width: 0;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-active .elementor-accordion-icon,
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18210 .elementor-element.elementor-element-001322b .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18210 .elementor-element.elementor-element-2e65ed81 > .elementor-container {
  max-width: 1180px;
}
.elementor-18210 .elementor-element.elementor-element-2e65ed81 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18210 .elementor-element.elementor-element-2e65ed81 {
  padding: 80px 0 50px;
}
.elementor-18210 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-18210 .elementor-element.elementor-element-9a718b6 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18210 .elementor-element.elementor-element-682e596 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18210 .elementor-element.elementor-element-b1db340 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-71912e6 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-e756046 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-c1df186 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-a310051 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-95d5da0 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-f4c1037 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-16e116d .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18210 .elementor-element.elementor-element-3f3a095 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18210 .elementor-element.elementor-element-8ae5515 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-6075a33 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-31d4c77 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-734e22e .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-57cbfa1 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-374dc96 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-2e65ed81 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-18210 .elementor-element.elementor-element-a07fefb {
    width: 55%;
  }
  .elementor-18210 .elementor-element.elementor-element-aaaf154 {
    width: 45%;
  }
}
@media (max-width: 780px) {
  .elementor-18210 .elementor-element.elementor-element-dc317ee {
    padding: 40px 0;
  }
  .elementor-18210 .elementor-element.elementor-element-9a718b6 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18210 .elementor-element.elementor-element-789483f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-c654a56 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-682e596 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18210 .elementor-element.elementor-element-dfa3f2e {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-b1db340 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-f4eb533 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-71912e6 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-a45f6c4 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-e756046 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-169e50a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-c1df186 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-a9731db {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-a310051 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-302cf27 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-95d5da0 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-daf9a2f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-f4c1037 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-6610f89 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-16e116d .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18210 .elementor-element.elementor-element-d789d31 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-1cef033 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-7a195c1 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-72c164e {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-3f3a095 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18210 .elementor-element.elementor-element-ff9b543 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-8ae5515 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-7459900 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-6075a33 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-e8db73f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-31d4c77 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-37e219d {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-734e22e .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-2d58fcd {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-57cbfa1 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-d0634d5 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-374dc96 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18210 .elementor-element.elementor-element-f1222e2 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18210 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-18210 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18210 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18210 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18210 .elementor-element.elementor-element-2e65ed81 {
    padding: 20px 0 30px;
  }
  .elementor-18210 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
