.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group {
  padding-right: calc(8px / 2);
  padding-left: calc(8px / 2);
  margin-bottom: 20px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-form-fields-wrapper {
  margin-left: calc(-8px / 2);
  margin-right: calc(-8px / 2);
  margin-bottom: -20px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 10px;
}
body:not(.rtl) .elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 10px;
}
body .elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 10px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group > label,
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-subgroup label {
  color: #333;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group > label {
  font-family: 'Muli', Sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-type-html {
  padding-bottom: 10px;
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.elementor-19543
  .elementor-element.elementor-element-59e0fd4
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-19543
  .elementor-element.elementor-element-59e0fd4
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-19543
  .elementor-element.elementor-element-59e0fd4
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .gloo-signature-button-clear {
  border-radius: 3px;
}
.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  background-color: #ddd;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: #ddd !important;
}
.iti--allow-dropdown .iti__arrow {
  border-top-color: #000;
}
.elementor-19543
  .elementor-element.elementor-element-59e0fd4
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
  border-color: #ebebeb;
  border-radius: 4px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
  border-color: #ebebeb;
  border-radius: 4px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-field-group .elementor-select-wrapper:before {
  color: #ebebeb;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 4px;
  padding: 12px 23px;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .e-form__buttons__wrapper__button-next {
  background-color: #f2672a;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-button[type='submit'] {
  background-color: #f2672a;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .e-form__buttons__wrapper__button-previous {
  background-color: #f2672a;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .e-form__buttons__wrapper__button-next:hover {
  background-color: #0f2c52;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-button[type='submit']:hover {
  background-color: #0f2c52;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 .e-form__buttons__wrapper__button-previous:hover {
  background-color: #0f2c52;
  color: #fff;
}
.elementor-19543 .elementor-element.elementor-element-59e0fd4 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
body .select2-container--default .select2-selection--single {
  border: 1px solid #ebebeb;
}
.select-caret-down-wrapper {
  color: #c7c7c7 !important;
}
