.elementor-27567 .elementor-element.elementor-element-31c4663:not(.elementor-motion-effects-element-type-background),
.elementor-27567 .elementor-element.elementor-element-31c4663 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27567 .elementor-element.elementor-element-31c4663 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-31c4663 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27567
  .elementor-element.elementor-element-8466f37
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-27567 .elementor-element.elementor-element-8466f37 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-8e184a1 > .elementor-container {
  max-width: 1280px;
}
.elementor-27567 .elementor-element.elementor-element-8e184a1:not(.elementor-motion-effects-element-type-background),
.elementor-27567 .elementor-element.elementor-element-8e184a1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27567 .elementor-element.elementor-element-8e184a1 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-27567 .elementor-element.elementor-element-8e184a1 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-e94eef2 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27567 .elementor-element.elementor-element-8c419dd .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.elementor-27567 .elementor-element.elementor-element-8c419dd > .elementor-widget-container {
  margin: 0 0 5px;
}
.elementor-27567 .elementor-element.elementor-element-0f8c1ed {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27567 .elementor-element.elementor-element-0f8c1ed > .elementor-widget-container {
  padding: 0 0 10px;
}
.elementor-27567 .elementor-element.elementor-element-7623f48 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 30px;
  padding: 12px 23px;
}
.elementor-27567 .elementor-element.elementor-element-8d35fdb > .elementor-element-populated {
  border-style: none;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 20px;
}
.elementor-27567 .elementor-element.elementor-element-8d35fdb > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-20e0ed4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-20e0ed4 {
  padding: 10px 0 30px;
}
.elementor-27567 .elementor-element.elementor-element-dcb683e > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-10cc67d {
  text-align: left;
}
.elementor-27567 .elementor-element.elementor-element-10cc67d img {
  width: 40px;
}
.elementor-27567 .elementor-element.elementor-element-1b795fa > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-2c13564 {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
}
.elementor-27567 .elementor-element.elementor-element-b20a190 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-b20a190 {
  padding: 10px 0 30px;
}
.elementor-27567 .elementor-element.elementor-element-d5607a9 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-9b0769f {
  text-align: left;
}
.elementor-27567 .elementor-element.elementor-element-9b0769f img {
  width: 40px;
}
.elementor-27567 .elementor-element.elementor-element-09cd048 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-47fc49a {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
}
.elementor-27567 .elementor-element.elementor-element-ebab754 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-ebab754 {
  padding: 10px 0 30px;
}
.elementor-27567 .elementor-element.elementor-element-eeed0a8 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-57cbf6a {
  text-align: left;
}
.elementor-27567 .elementor-element.elementor-element-57cbf6a img {
  width: 40px;
}
.elementor-27567 .elementor-element.elementor-element-9ae85c4 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-11aa65b {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
}
.elementor-27567 .elementor-element.elementor-element-00b1331 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-00b1331 {
  padding: 10px 0 30px;
}
.elementor-27567 .elementor-element.elementor-element-0f76d63 > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-c2618d9 {
  text-align: left;
}
.elementor-27567 .elementor-element.elementor-element-c2618d9 img {
  width: 40px;
}
.elementor-27567 .elementor-element.elementor-element-af372cc > .elementor-element-populated {
  padding: 0;
}
.elementor-27567 .elementor-element.elementor-element-fbcabb2 {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
}
.elementor-27567 .elementor-element.elementor-element-6c09a34 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 30px;
  padding: 12px 23px;
}
.elementor-27567 .elementor-element.elementor-element-949bb86 > .elementor-container {
  max-width: 860px;
}
.elementor-27567 .elementor-element.elementor-element-3bedf83 > .elementor-element-populated {
  padding: 110px 20px 0;
}
.elementor-27567 .elementor-element.elementor-element-6b69848 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27567 .elementor-element.elementor-element-ec74838 {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-419e210 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27567 .elementor-element.elementor-element-419e210 > .elementor-widget-container {
  padding: 39px 0 0;
}
.elementor-27567 .elementor-element.elementor-element-ccd3a70 {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-55195de .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27567 .elementor-element.elementor-element-55195de > .elementor-widget-container {
  padding: 39px 0 0;
}
.elementor-27567 .elementor-element.elementor-element-909121e {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-79c0b94 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27567 .elementor-element.elementor-element-79c0b94 > .elementor-widget-container {
  padding: 50px 0 0;
}
.elementor-27567 .elementor-element.elementor-element-ba5804d {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-ba5804d > .elementor-widget-container {
  padding: 0 0 55px;
}
.elementor-27567 .elementor-element.elementor-element-34df8045 > .elementor-container {
  max-width: 1280px;
}
.elementor-27567 .elementor-element.elementor-element-34df8045 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-202e1cf8 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-accordion-item {
  border-width: 0;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-active .elementor-accordion-icon,
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-1d9be73 > .elementor-container {
  max-width: 860px;
}
.elementor-27567 .elementor-element.elementor-element-887a00d > .elementor-element-populated {
  padding: 80px 20px 0;
}
.elementor-27567 .elementor-element.elementor-element-511205a {
  color: var(--e-global-color-text);
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-27567 .elementor-element.elementor-element-511205a > .elementor-widget-container {
  padding: 0 0 40px;
}
.elementor-27567 .elementor-element.elementor-element-13d738ba > .elementor-container {
  max-width: 1180px;
}
.elementor-27567 .elementor-element.elementor-element-13d738ba > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27567 .elementor-element.elementor-element-13d738ba {
  padding: 80px 0 50px;
}
.elementor-27567 .elementor-element.elementor-element-1802e362 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27567 .elementor-element.elementor-element-545e8958:not(.elementor-motion-effects-element-type-background),
.elementor-27567 .elementor-element.elementor-element-545e8958 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-27567 .elementor-element.elementor-element-545e8958,
.elementor-27567 .elementor-element.elementor-element-545e8958 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-27567 .elementor-element.elementor-element-545e8958 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-27567 .elementor-element.elementor-element-545e8958 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-37c1bae3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-27567 .elementor-element.elementor-element-37c1bae3 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-27567 .elementor-element.elementor-element-1d96a962 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27567 .elementor-element.elementor-element-4486689e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-27567 .elementor-element.elementor-element-4486689e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27567
  .elementor-element.elementor-element-6113b79c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-27567
  .elementor-element.elementor-element-6113b79c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-27567
  .elementor-element.elementor-element-6113b79c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27567 .elementor-element.elementor-element-6113b79c .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (min-width: 781px) {
  .elementor-27567 .elementor-element.elementor-element-dcb683e {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-1b795fa {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-d5607a9 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-09cd048 {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-eeed0a8 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-9ae85c4 {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-0f76d63 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-af372cc {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .elementor-27567 .elementor-element.elementor-element-8e184a1 > .elementor-container {
    max-width: 700px;
  }
  .elementor-27567 .elementor-element.elementor-element-8c419dd .elementor-heading-title {
    font-size: 40px;
    line-height: 45px;
  }
  .elementor-27567 .elementor-element.elementor-element-47fc49a {
    line-height: 1.4em;
  }
  .elementor-27567 .elementor-element.elementor-element-11aa65b {
    line-height: 1.4em;
  }
  .elementor-27567 .elementor-element.elementor-element-fbcabb2 {
    line-height: 1.4em;
  }
  .elementor-27567 .elementor-element.elementor-element-6b69848 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27567 .elementor-element.elementor-element-419e210 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27567 .elementor-element.elementor-element-55195de .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27567 .elementor-element.elementor-element-79c0b94 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27567 .elementor-element.elementor-element-13d738ba {
    padding: 60px 0 40px;
  }
  .elementor-27567 .elementor-element.elementor-element-545e8958 {
    padding: 20% 30% 20% 0;
  }
}
@media (max-width: 780px) {
  .elementor-27567 .elementor-element.elementor-element-8e184a1 {
    padding: 65px 0 50px;
  }
  .elementor-27567 .elementor-element.elementor-element-8c419dd .elementor-heading-title {
    font-size: 38.57px;
    line-height: 62px;
  }
  .elementor-27567 .elementor-element.elementor-element-8d35fdb > .elementor-element-populated {
    margin: 0 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-27567 .elementor-element.elementor-element-dcb683e {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-1b795fa {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-d5607a9 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-09cd048 {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-eeed0a8 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-9ae85c4 {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-0f76d63 {
    width: 20%;
  }
  .elementor-27567 .elementor-element.elementor-element-af372cc {
    width: 80%;
  }
  .elementor-27567 .elementor-element.elementor-element-3bedf83 > .elementor-element-populated {
    padding: 75px 20px 0;
  }
  .elementor-27567 .elementor-element.elementor-element-6b69848 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27567 .elementor-element.elementor-element-ec74838 {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-419e210 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27567 .elementor-element.elementor-element-ccd3a70 {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-55195de .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27567 .elementor-element.elementor-element-909121e {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-79c0b94 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27567 .elementor-element.elementor-element-ba5804d {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-ba5804d > .elementor-widget-container {
    padding: 0 0 63px;
  }
  .elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-accordion-title {
    font-size: 14px;
  }
  .elementor-27567 .elementor-element.elementor-element-60bf27d0 .elementor-tab-content {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-511205a {
    font-size: 16px;
  }
  .elementor-27567 .elementor-element.elementor-element-13d738ba {
    padding: 20px 0 30px;
  }
  .elementor-27567 .elementor-element.elementor-element-1802e362 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27567 .elementor-element.elementor-element-545e8958 {
    padding: 20% 20% 20% 0;
  }
  .elementor-27567 .elementor-element.elementor-element-1d96a962 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27567 .elementor-element.elementor-element-4486689e > .elementor-widget-container {
    margin: 5px;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-27567 .elementor-element.elementor-element-e94eef2 {
    width: 100%;
  }
  .elementor-27567 .elementor-element.elementor-element-8d35fdb {
    width: 100%;
  }
}
.page-header {
  display: none;
}
li {
  line-height: 1.3em;
}
.wrapper1 .elementor-widget-container .elementor-text-editor {
  width: 850px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper2 .elementor-widget-container .elementor-text-editor {
  width: 970px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.atfx-btn-col {
  padding: 0 15px;
}
@media (max-width: 767px) {
  .atfx-btn-col {
    flex: 0 0 100%;
  }
  .atfx-btn-col + .atfx-btn-col {
    margin-top: 10px;
  }
  .atfx-btn {
    width: 100%;
  }
}
a.atfx-btn {
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 20px;
  min-width: 200px;
  border: 1px solid currentColor;
}
.atfx-btn.pill {
  border-radius: 100px;
}
.atfx-btn.orange {
  background: linear-gradient(180deg, #ff8055, #f2672a);
  color: #fff;
  border-color: transparent;
}
.atfx-btn.blue {
  background: linear-gradient(180deg, #2c4d7a, #0f2c52);
  color: #fff;
  border-color: transparent;
}
.atfx-btn.hover-border-white:hover {
  color: #fff;
  border-color: #fff;
  background: 0 0;
}
.atfx-btn.hover-border-orange:hover {
  color: #f2672a;
  border-color: #f2672a;
  background: 0 0;
}
.atfx-btn.hover-border-blue:hover {
  color: #0f2c52;
  border-color: #0f2c52;
  background: 0 0;
}
.atfx-btn.hover-orange:hover {
  background: #ff8055;
  color: #fff;
  border-color: transparent;
}
.atfx-btn.hover-blue:hover {
  background: #2c4d7a;
  color: #fff;
  border-color: transparent;
}
.elementor-tab-content a,
.elementor-text-editor a {
  color: #f2672a;
  font-weight: 700;
  text-decoration: underline;
}
.elementor-tab-content a:hover,
.elementor-text-editor a:hover {
  color: #0f2c52;
}
.elementor-text-editor h5 {
  padding-bottom: 0;
  border-bottom: 0;
  text-transform: none;
}
.elementor-text-editor ul,
.elementor-text-editor ol,
.elementor-text-editor li {
  font-size: inherit;
}
.elementor-text-editor h3 {
  font-weight: 400;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
