.elementor-48064
  .elementor-element.elementor-element-cd522eb
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-48064 .elementor-element.elementor-element-cd522eb > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-48064 .elementor-element.elementor-element-cdb040d .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #f2672a;
  border-radius: 30px;
}
.elementor-48064 .elementor-element.elementor-element-cdb040d {
  width: auto;
  max-width: auto;
}
.elementor-48064 .elementor-element.elementor-element-fc04360 > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-48064 .elementor-element.elementor-element-bcbda81 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #f2672a;
  border-radius: 30px;
}
.elementor-48064 .elementor-element.elementor-element-bcbda81 {
  width: auto;
  max-width: auto;
}
.open-live-account-btn .elementor-button-wrapper a:hover,
.open-live-account-btn .elementor-button-wrapper a:focus,
.open-live-account-btn .elementor-button-wrapper a:active {
  background-color: transparent !important;
  border: 1px solid #f2672a;
  color: #f2672a;
}
.open-live-account-btn .elementor-button-wrapper a:hover,
.open-live-account-btn .elementor-button-wrapper a:focus,
.open-live-account-btn .elementor-button-wrapper a:active {
  background-color: transparent !important;
  border: 1px solid #f2672a;
  color: #f2672a;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
