.elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-container {
  max-width: 1080px;
  min-height: 475px;
}
.elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-21674 .elementor-element.elementor-element-23a9108:not(.elementor-motion-effects-element-type-background),
.elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
  background-image: url('../../../../uploads/2023/08/ATFX_DOE_2023_homepage_slide_BG_c.webp');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-background-overlay {
  background-color: #ffffff4d;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-21674 .elementor-element.elementor-element-23a9108 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-21674 .elementor-element.elementor-element-5fee185.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-21674
  .elementor-element.elementor-element-5fee185
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-21674 .elementor-element.elementor-element-5fee185 > .elementor-element-populated {
  margin: 0 40px;
  --e-column-margin-right: 40px;
  --e-column-margin-left: 40px;
}
.elementor-21674 .elementor-element.elementor-element-87ff1ff img {
  width: 400px;
}
.elementor-21674 .elementor-element.elementor-element-87ff1ff > .elementor-widget-container {
  margin: 0 10px 20px 0;
}
.elementor-21674 .elementor-element.elementor-element-e636a1a {
  text-align: center;
}
.elementor-21674 .elementor-element.elementor-element-e636a1a .elementor-heading-title {
  color: #131313;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
}
.elementor-21674 .elementor-element.elementor-element-e636a1a > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-21674 .elementor-element.elementor-element-e6175f6 {
  text-align: center;
  color: #131313;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
@media (max-width: 1024px) {
  .elementor-21674 .elementor-element.elementor-element-23a9108:not(.elementor-motion-effects-element-type-background),
  .elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: 0 0;
  }
  .elementor-21674 .elementor-element.elementor-element-5fee185 > .elementor-element-populated {
    margin: 0 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
  }
  .elementor-21674 .elementor-element.elementor-element-e636a1a .elementor-heading-title {
    font-size: 28px;
    line-height: 35px;
  }
  .elementor-21674 .elementor-element.elementor-element-e6175f6 {
    font-size: 14px;
  }
}
@media (max-width: 780px) {
  .elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-container {
    min-height: 600px;
  }
  .elementor-21674 .elementor-element.elementor-element-23a9108:not(.elementor-motion-effects-element-type-background),
  .elementor-21674 .elementor-element.elementor-element-23a9108 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: 0 0;
  }
  .elementor-21674 .elementor-element.elementor-element-5fee185 > .elementor-element-populated {
    margin: 0 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
  }
  .elementor-21674 .elementor-element.elementor-element-e636a1a {
    text-align: center;
  }
  .elementor-21674 .elementor-element.elementor-element-e636a1a .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-21674 .elementor-element.elementor-element-e6175f6 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-element-e6175f6 .elementor-widget-container br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-element-e636a1a .elementor-widget-container span:before {
    content: '\A';
    white-space: pre;
  }
}
@media (max-width: 767px) {
  section.elementor-element-23a9108 {
    background-position-x: 46% !important;
  }
  .elementor-element-23a9108 .elementor-container.elementor-column-gap-wide {
    align-content: flex-start !important;
    padding-top: 30%;
  }
}
