.elementor-16821 .elementor-element.elementor-element-52a66bc:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-52a66bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16821 .elementor-element.elementor-element-52a66bc {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-52a66bc > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821
  .elementor-element.elementor-element-225bc03
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-16821 .elementor-element.elementor-element-225bc03 > .elementor-element-populated {
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1100px;
  min-height: 400px;
}
.elementor-16821 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-16821 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-f81458a {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-a683ccd .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-a683ccd .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-a683ccd .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-a683ccd .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-a683ccd .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-a683ccd > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-5386435 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #0f2c52;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-5386435 .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-5386435 .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-5386435 .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-5386435 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-5386435 > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-5386435 {
  width: var(--container-widget-width, 103.953%);
  max-width: 103.953%;
  --container-widget-width: 103.953%;
  --container-widget-flex-grow: 0;
}
.elementor-16821 .elementor-element.elementor-element-a400dca .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-a400dca .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-a400dca .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-a400dca .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-a400dca .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-a400dca > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-51374b3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #0f2c52;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-51374b3 .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-51374b3 .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-51374b3 .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-51374b3 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-51374b3 > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-51374b3 {
  width: var(--container-widget-width, 103.953%);
  max-width: 103.953%;
  --container-widget-width: 103.953%;
  --container-widget-flex-grow: 0;
}
.elementor-16821 .elementor-element.elementor-element-eb287d2 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-eb287d2 .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-eb287d2 .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-eb287d2 .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-eb287d2 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-eb287d2 > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-0a6184c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #0f2c52;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a00;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-16821 .elementor-element.elementor-element-0a6184c .elementor-button:hover,
.elementor-16821 .elementor-element.elementor-element-0a6184c .elementor-button:focus {
  color: #fff;
  background-color: #02010100;
  border-color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-0a6184c .elementor-button:hover svg,
.elementor-16821 .elementor-element.elementor-element-0a6184c .elementor-button:focus svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-0a6184c > .elementor-widget-container {
  margin: 20px 0 0;
  padding: 0;
}
.elementor-16821 .elementor-element.elementor-element-0a6184c {
  width: var(--container-widget-width, 103.953%);
  max-width: 103.953%;
  --container-widget-width: 103.953%;
  --container-widget-flex-grow: 0;
}
.elementor-16821 .elementor-element.elementor-element-67f9d31 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-67f9d31 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-16821 .elementor-element.elementor-element-96754f1 {
  text-align: center;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-16821 .elementor-element.elementor-element-96754f1 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-16821 .elementor-element.elementor-element-6637765 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-d099ed0 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-d099ed0:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-d099ed0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16821 .elementor-element.elementor-element-d099ed0 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}
.elementor-16821 .elementor-element.elementor-element-d099ed0 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-3f5c140 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-16821 .elementor-element.elementor-element-a5ed3d8 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-bc-flex-widget .elementor-16821 .elementor-element.elementor-element-d847e69.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-16821
  .elementor-element.elementor-element-d847e69.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-16821 .elementor-element.elementor-element-6866cf1 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-6866cf1 > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-16821 .elementor-element.elementor-element-5cc4bd0 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-5cc4bd0 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-16821 .elementor-element.elementor-element-20191b2 {
  text-align: center;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-16821 .elementor-element.elementor-element-20191b2 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-16821 .elementor-element.elementor-element-f007307 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-f007307 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-16821 .elementor-element.elementor-element-a5900ce .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-6a71927 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-43661f1 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-ad93870 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-4589b75 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-bb6c64a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-18a833c .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-d10b1ce {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-f86f9e6 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-62c4e89 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-68a5e3e .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-46c5829 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-fcee45a .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-a3eb683 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-947af19 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-947af19 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.elementor-16821 .elementor-element.elementor-element-02764c8 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-02764c8 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-16821 .elementor-element.elementor-element-cfc2b4b > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-16821 .elementor-element.elementor-element-7ceea9a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-7ceea9a > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-16821 .elementor-element.elementor-element-cb2c0d9 {
  margin-top: 10px;
  margin-bottom: 0;
}
.elementor-16821 .elementor-element.elementor-element-ce96228 img {
  width: 60px;
  max-width: 100%;
}
.elementor-16821 .elementor-element.elementor-element-c58e096 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-c58e096 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-16821 .elementor-element.elementor-element-fe69454 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-527e175 img {
  width: 60px;
  max-width: 100%;
}
.elementor-16821 .elementor-element.elementor-element-1d08578 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-1d08578 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-16821 .elementor-element.elementor-element-1661b6a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-3a89de1 img {
  width: 60px;
  max-width: 100%;
}
.elementor-16821 .elementor-element.elementor-element-bc5d91c {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-bc5d91c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-16821 .elementor-element.elementor-element-f69a0ba {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-b0ff44c > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-b0ff44c:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-b0ff44c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16821 .elementor-element.elementor-element-b0ff44c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-16821 .elementor-element.elementor-element-b0ff44c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-b89d8c4 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-b89d8c4 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-16821 .elementor-element.elementor-element-b89d8c4 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-16821 .elementor-element.elementor-element-f49191a {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-f49191a img {
  border-radius: 10px;
}
.elementor-16821 .elementor-element.elementor-element-f49191a > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-16821 .elementor-element.elementor-element-458f361 {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16821 .elementor-element.elementor-element-b6b9fea {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-b6b9fea .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-16821 .elementor-element.elementor-element-b6b9fea > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-16821 .elementor-element.elementor-element-dc3b9b9 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-dc3b9b9 img {
  border-radius: 10px;
}
.elementor-16821 .elementor-element.elementor-element-dc3b9b9 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-16821 .elementor-element.elementor-element-550e267 {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16821 .elementor-element.elementor-element-43833ba > .elementor-element-populated {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-df7f09c > .elementor-element-populated {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-4a9de99 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-4a9de99:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-4a9de99 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16821 .elementor-element.elementor-element-4a9de99 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-16821 .elementor-element.elementor-element-4a9de99 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-b0d437e {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-b0d437e .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-16821 .elementor-element.elementor-element-ab415bc {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-ebf73d5 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-cf352f1 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-23f2bc6 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-8f9b98c {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-e089c77 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-56bfd62 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-8659edd .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-d32b1cc {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-3854cd8 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-05f5a1c {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-0ec914f .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-16821 .elementor-element.elementor-element-020bd42 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-16821 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-16821 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-16821 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-16821 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-16821 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16821 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-16821 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-16821 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-16821 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-16821 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-16821 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-16821 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-16821 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-16821 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-16821 .elementor-element.elementor-element-88db8f4 > .elementor-container {
  max-width: 1280px;
}
.elementor-16821 .elementor-element.elementor-element-be5f825 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-16821 .elementor-element.elementor-element-6b1e1a5 {
  text-align: center;
}
.elementor-16821 .elementor-element.elementor-element-6b1e1a5 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16821 .elementor-element.elementor-element-6b1e1a5 > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-item {
  border-width: 0;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-icon,
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-active .elementor-accordion-icon,
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-16821 .elementor-element.elementor-element-8524780 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16821 .elementor-element.elementor-element-380c658 > .elementor-container {
  max-width: 1180px;
}
.elementor-16821 .elementor-element.elementor-element-380c658 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16821 .elementor-element.elementor-element-380c658 {
  padding: 80px 0 50px;
}
.elementor-16821 .elementor-element.elementor-element-447039a > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-16821 .elementor-element.elementor-element-96754f1 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-16821 .elementor-element.elementor-element-3f5c140 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-16821 .elementor-element.elementor-element-20191b2 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-16821 .elementor-element.elementor-element-a5900ce .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-43661f1 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-4589b75 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-18a833c .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-f86f9e6 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-68a5e3e .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-fcee45a .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-02764c8 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-16821 .elementor-element.elementor-element-b0d437e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-16821 .elementor-element.elementor-element-ebf73d5 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-23f2bc6 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-e089c77 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-8659edd .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-3854cd8 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-0ec914f .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-380c658 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-16821 .elementor-element.elementor-element-a07fefb {
    width: 55%;
  }
  .elementor-16821 .elementor-element.elementor-element-e777d92 {
    width: 43.351%;
  }
  .elementor-16821 .elementor-element.elementor-element-281a5bd {
    width: 56.649%;
  }
  .elementor-16821 .elementor-element.elementor-element-cbdd086 {
    width: 43.351%;
  }
  .elementor-16821 .elementor-element.elementor-element-6d4c9c0 {
    width: 56.649%;
  }
  .elementor-16821 .elementor-element.elementor-element-34e4361 {
    width: 43.351%;
  }
  .elementor-16821 .elementor-element.elementor-element-842ffab {
    width: 56.649%;
  }
  .elementor-16821 .elementor-element.elementor-element-aaaf154 {
    width: 45%;
  }
}
@media (max-width: 780px) {
  .elementor-16821 .elementor-element.elementor-element-f81458a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-96754f1 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-16821 .elementor-element.elementor-element-6637765 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-d099ed0 {
    padding: 40px 0;
  }
  .elementor-16821 .elementor-element.elementor-element-3f5c140 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-16821 .elementor-element.elementor-element-a5ed3d8 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-6866cf1 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-20191b2 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-16821 .elementor-element.elementor-element-f007307 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-a5900ce .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-6a71927 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-43661f1 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-ad93870 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-4589b75 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-bb6c64a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-18a833c .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-d10b1ce {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-f86f9e6 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-62c4e89 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-68a5e3e .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-46c5829 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-fcee45a .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-a3eb683 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-02764c8 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-16821 .elementor-element.elementor-element-7ceea9a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-fe69454 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-1661b6a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-f69a0ba {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-b0d437e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-16821 .elementor-element.elementor-element-ab415bc {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-ebf73d5 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-cf352f1 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-23f2bc6 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-8f9b98c {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-e089c77 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-56bfd62 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-8659edd .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-d32b1cc {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-3854cd8 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-05f5a1c {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-0ec914f .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-16821 .elementor-element.elementor-element-020bd42 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-16821 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-16821 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-16821 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-16821 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-16821 .elementor-element.elementor-element-380c658 {
    padding: 20px 0 30px;
  }
  .elementor-16821 .elementor-element.elementor-element-447039a > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
