.elementor-27918 .elementor-element.elementor-element-91fcca6 > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-91fcca6 {
  margin-top: 60px;
  margin-bottom: 0;
}
.elementor-27918 .elementor-element.elementor-element-3804028 > .elementor-element-populated {
  padding: 0 20px 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-41f8a0d {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-41f8a0d .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 52px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-41f8a0d > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-7c48030 {
  text-align: center;
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-506ee47 {
  text-align: center;
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-51c4003 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 70px 0 0;
}
.elementor-27918 .elementor-element.elementor-element-be289f2 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-b3bc5f9 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-b3bc5f9 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-b3bc5f9 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-6311686 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-1f929a1 > .elementor-container {
  max-width: 1280px;
}
.elementor-27918 .elementor-element.elementor-element-1f929a1 {
  padding: 0 0 90px;
}
.elementor-27918 .elementor-element.elementor-element-cec71cd > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-4eaceca {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-4eaceca .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-4eaceca > .elementor-widget-container {
  margin: 10px 0 40px;
}
.elementor-27918 .elementor-element.elementor-element-37b9a20 > .elementor-element-populated {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #eee;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0 60px 40px 0;
}
.elementor-27918 .elementor-element.elementor-element-37b9a20 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-cd996ce {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-0639785 > .elementor-element-populated {
  padding: 0 0 40px 60px;
}
.elementor-27918 .elementor-element.elementor-element-43ffe7a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-3ad8d7f > .elementor-element-populated {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #eee;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0 60px 0 0;
}
.elementor-27918 .elementor-element.elementor-element-3ad8d7f > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-bf3c073 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-cbc336b > .elementor-element-populated {
  padding: 0 0 0 60px;
}
.elementor-27918 .elementor-element.elementor-element-fa9c943 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-bb65539 > .elementor-container {
  max-width: 1280px;
}
.elementor-27918 .elementor-element.elementor-element-bb65539:not(.elementor-motion-effects-element-type-background),
.elementor-27918 .elementor-element.elementor-element-bb65539 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(90deg, #fff 0%, #f5f5f5 100%);
}
.elementor-27918 .elementor-element.elementor-element-bb65539 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0;
}
.elementor-27918 .elementor-element.elementor-element-bb65539 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-79fefff > .elementor-element-populated {
  padding: 0 20px 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-88a79c1 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-88a79c1 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-88a79c1 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-c70620e img {
  width: 50px;
  height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-608033b {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-608033b .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27918 .elementor-element.elementor-element-608033b > .elementor-widget-container {
  margin: 0 0 -10px;
}
.elementor-27918 .elementor-element.elementor-element-727b30b {
  text-align: center;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-3a9310b img {
  width: 50px;
  height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-f8b394b {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-f8b394b .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27918 .elementor-element.elementor-element-f8b394b > .elementor-widget-container {
  margin: 0 0 -10px;
}
.elementor-27918 .elementor-element.elementor-element-52c10b2 {
  text-align: center;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-b2c3146 img {
  width: 50px;
  height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-8c44f68 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-8c44f68 .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27918 .elementor-element.elementor-element-8c44f68 > .elementor-widget-container {
  margin: 0 0 -10px;
}
.elementor-27918 .elementor-element.elementor-element-81c3057 {
  text-align: center;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-e1715b9 img {
  width: 50px;
  height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-4775e94 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-4775e94 .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27918 .elementor-element.elementor-element-4775e94 > .elementor-widget-container {
  margin: 0 0 -10px;
}
.elementor-27918 .elementor-element.elementor-element-6b8deb9 {
  text-align: center;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-90f87b7 > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-90f87b7 {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-27918 .elementor-element.elementor-element-9cf8bcf > .elementor-element-populated {
  padding: 0 20px 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-dc37a4d {
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 0;
}
.elementor-27918 .elementor-element.elementor-element-b3a105c > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-75febe3 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-75febe3 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-75febe3 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-4184670 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-86d01d6 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-86d01d6 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-86d01d6 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27918 .elementor-element.elementor-element-5ed7f15 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-7437527 img {
  width: 100%;
}
.elementor-27918 .elementor-element.elementor-element-62e1f4b {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-c847899 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-c847899 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-c847899 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27918 .elementor-element.elementor-element-f2fde43 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-4913a20 img {
  width: 100%;
  max-width: 1000px;
}
.elementor-27918 .elementor-element.elementor-element-0c08fb9 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-9329ce0 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 0;
}
.elementor-27918 .elementor-element.elementor-element-7124df5 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-ea83e21 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-ea83e21 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-ea83e21 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-343d9b5 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-3cff87a img {
  width: 100%;
}
.elementor-27918 .elementor-element.elementor-element-19b5abf {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-d02291e {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-d02291e .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-d02291e > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27918 .elementor-element.elementor-element-5af61d2 img {
  width: 100%;
}
.elementor-27918 .elementor-element.elementor-element-28482cd {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-501c015 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-501c015 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-501c015 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27918 .elementor-element.elementor-element-c592c54 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-83375d0 img {
  width: 100%;
}
.elementor-27918 .elementor-element.elementor-element-443800b {
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 0;
}
.elementor-27918 .elementor-element.elementor-element-5a0e5a6 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-97e3451 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-97e3451 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-97e3451 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27918 .elementor-element.elementor-element-69c4134 {
  text-align: left;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-3691c59 img {
  width: 100%;
}
.elementor-27918 .elementor-element.elementor-element-6114987 {
  text-align: left;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-686ac17a > .elementor-container {
  max-width: 1280px;
}
.elementor-27918 .elementor-element.elementor-element-686ac17a > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27918 .elementor-element.elementor-element-686ac17a {
  margin-top: 90px;
  margin-bottom: 0;
}
.elementor-27918 .elementor-element.elementor-element-16c92d28 > .elementor-element-populated {
  padding: 0 20px 90px 30px;
}
.elementor-27918 .elementor-element.elementor-element-e7b9d09 {
  text-align: center;
}
.elementor-27918 .elementor-element.elementor-element-e7b9d09 .elementor-heading-title {
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-e7b9d09 > .elementor-widget-container {
  margin: 0;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-item {
  border-width: 0;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title {
  background-color: #fff;
  padding: 30px 0;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-icon,
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-active .elementor-accordion-icon,
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-active .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-active .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-content {
  background-color: #fff;
  color: #000;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 30px 0 8px;
}
.elementor-27918 .elementor-element.elementor-element-21f9d64 > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-21f9d64:not(.elementor-motion-effects-element-type-background),
.elementor-27918 .elementor-element.elementor-element-21f9d64 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ATFX-bottom-banner-bg-image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-27918 .elementor-element.elementor-element-21f9d64 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-21f9d64 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-f4b645a > .elementor-element-populated {
  padding: 74px 20px 74px 30px;
}
.elementor-27918 .elementor-element.elementor-element-63a8484 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-2e84968 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-e413f7a > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-dadbebf .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-dadbebf {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-8d1a9ba .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2672a00;
  border-style: solid;
  border-width: 1px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-8d1a9ba .elementor-button:hover,
.elementor-27918 .elementor-element.elementor-element-8d1a9ba .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #fff;
  border-color: #fff;
}
.elementor-27918 .elementor-element.elementor-element-8d1a9ba .elementor-button:hover svg,
.elementor-27918 .elementor-element.elementor-element-8d1a9ba .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-27918 .elementor-element.elementor-element-8d1a9ba > .elementor-widget-container {
  padding: 0 0 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-8d1a9ba {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-7785b7d > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-7785b7d:not(.elementor-motion-effects-element-type-background),
.elementor-27918 .elementor-element.elementor-element-7785b7d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ATFX-bottom-banner-bg-image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-27918 .elementor-element.elementor-element-7785b7d {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-7785b7d > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-9f8e67a > .elementor-element-populated {
  padding: 74px 20px 74px 30px;
}
.elementor-27918 .elementor-element.elementor-element-fb54fef > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-595e6f7 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-89e4d05 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-78f2495 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-78f2495 {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-8bba02f .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2672a00;
  border-style: solid;
  border-width: 1px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-8bba02f .elementor-button:hover,
.elementor-27918 .elementor-element.elementor-element-8bba02f .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #fff;
  border-color: #fff;
}
.elementor-27918 .elementor-element.elementor-element-8bba02f .elementor-button:hover svg,
.elementor-27918 .elementor-element.elementor-element-8bba02f .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-27918 .elementor-element.elementor-element-8bba02f > .elementor-widget-container {
  padding: 0 0 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-8bba02f {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-f8f3d3d > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-f8f3d3d:not(.elementor-motion-effects-element-type-background),
.elementor-27918 .elementor-element.elementor-element-f8f3d3d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ATFX-bottom-banner-bg-image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-27918 .elementor-element.elementor-element-f8f3d3d {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-f8f3d3d > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-0fee99c > .elementor-element-populated {
  padding: 74px 20px 74px 30px;
}
.elementor-27918 .elementor-element.elementor-element-d30a6cc > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-27cc1e9 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-c1bdb85 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-f087dc0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-f087dc0 {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-401178e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2672a00;
  border-style: solid;
  border-width: 1px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-401178e .elementor-button:hover,
.elementor-27918 .elementor-element.elementor-element-401178e .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #fff;
  border-color: #fff;
}
.elementor-27918 .elementor-element.elementor-element-401178e .elementor-button:hover svg,
.elementor-27918 .elementor-element.elementor-element-401178e .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-27918 .elementor-element.elementor-element-401178e > .elementor-widget-container {
  padding: 0 0 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-401178e {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-b9295b4 > .elementor-container {
  max-width: 1010px;
}
.elementor-27918 .elementor-element.elementor-element-b9295b4:not(.elementor-motion-effects-element-type-background),
.elementor-27918 .elementor-element.elementor-element-b9295b4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ATFX-bottom-banner-bg-image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-27918 .elementor-element.elementor-element-b9295b4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-b9295b4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27918 .elementor-element.elementor-element-04d37d4 > .elementor-element-populated {
  padding: 74px 20px 74px 30px;
}
.elementor-27918 .elementor-element.elementor-element-4df698b > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-aa80392 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.elementor-27918 .elementor-element.elementor-element-53c67e2 > .elementor-element-populated {
  padding: 0;
}
.elementor-27918 .elementor-element.elementor-element-cfbb9c6 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-cfbb9c6 {
  width: auto;
  max-width: auto;
}
.elementor-27918 .elementor-element.elementor-element-2190857 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2672a00;
  border-style: solid;
  border-width: 1px;
  padding: 12px 23px;
}
.elementor-27918 .elementor-element.elementor-element-2190857 .elementor-button:hover,
.elementor-27918 .elementor-element.elementor-element-2190857 .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #fff;
  border-color: #fff;
}
.elementor-27918 .elementor-element.elementor-element-2190857 .elementor-button:hover svg,
.elementor-27918 .elementor-element.elementor-element-2190857 .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-27918 .elementor-element.elementor-element-2190857 > .elementor-widget-container {
  padding: 0 0 0 30px;
}
.elementor-27918 .elementor-element.elementor-element-2190857 {
  width: auto;
  max-width: auto;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-27918 .elementor-element.elementor-element-37b9a20 {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-0639785 {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-3ad8d7f {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-cbc336b {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-63a8484 {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-e413f7a {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-fb54fef {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-89e4d05 {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-d30a6cc {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-c1bdb85 {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-4df698b {
    width: 100%;
  }
  .elementor-27918 .elementor-element.elementor-element-53c67e2 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-27918 .elementor-element.elementor-element-91fcca6 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-41f8a0d .elementor-heading-title {
    font-size: 46px;
  }
  .elementor-27918 .elementor-element.elementor-element-41f8a0d > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-7c48030 {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-506ee47 {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-51c4003 {
    padding: 40px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-b3bc5f9 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-b3bc5f9 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-6311686 {
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-6311686 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-1f929a1 {
    padding: 0 0 60px;
  }
  .elementor-27918 .elementor-element.elementor-element-cec71cd > .elementor-element-populated {
    padding: 0 20px 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-4eaceca .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-27918 .elementor-element.elementor-element-4eaceca > .elementor-widget-container {
    margin: 10px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-37b9a20 > .elementor-element-populated {
    border-width: 0 0 1px;
    padding: 0 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-cd996ce {
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-0639785 > .elementor-element-populated {
    padding: 30px 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-43ffe7a {
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-3ad8d7f > .elementor-element-populated {
    border-width: 0 0 1px;
    padding: 30px 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-bf3c073 {
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-cbc336b > .elementor-element-populated {
    padding: 30px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-fa9c943 {
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-bb65539 {
    padding: 60px 0;
  }
  .elementor-27918 .elementor-element.elementor-element-88a79c1 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-88a79c1 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-608033b .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-727b30b {
    font-size: 16px;
  }
  .elementor-27918 .elementor-element.elementor-element-f8b394b .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-52c10b2 {
    font-size: 16px;
  }
  .elementor-27918 .elementor-element.elementor-element-8c44f68 .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-81c3057 {
    font-size: 16px;
  }
  .elementor-27918 .elementor-element.elementor-element-4775e94 .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-27918 .elementor-element.elementor-element-6b8deb9 {
    font-size: 16px;
  }
  .elementor-27918 .elementor-element.elementor-element-90f87b7 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-dc37a4d {
    padding: 60px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-75febe3 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-75febe3 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-4184670 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-86d01d6 .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-27918 .elementor-element.elementor-element-86d01d6 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-5ed7f15 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-62e1f4b {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-c847899 .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-27918 .elementor-element.elementor-element-c847899 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-f2fde43 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-0c08fb9 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-9329ce0 {
    padding: 60px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-ea83e21 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-ea83e21 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-343d9b5 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-19b5abf {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-d02291e .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-27918 .elementor-element.elementor-element-d02291e > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-28482cd {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-501c015 .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-27918 .elementor-element.elementor-element-501c015 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-c592c54 {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-27918 .elementor-element.elementor-element-443800b {
    padding: 60px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-97e3451 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-97e3451 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-69c4134 {
    font-size: 14px;
    line-height: 1.5em;
  }
  .elementor-27918 .elementor-element.elementor-element-6114987 {
    font-size: 14px;
    line-height: 1.5em;
  }
  .elementor-27918 .elementor-element.elementor-element-686ac17a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-16c92d28 > .elementor-element-populated {
    padding: 0 20px 60px 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-e7b9d09 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-e7b9d09 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-accordion-title {
    font-size: 16px;
  }
  .elementor-27918 .elementor-element.elementor-element-21f9d64 {
    padding: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-f4b645a > .elementor-element-populated {
    padding: 41px 20px 43px 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-2e84968 {
    text-align: center;
  }
  .elementor-27918 .elementor-element.elementor-element-2e84968 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-2e84968 > .elementor-widget-container {
    padding: 0 0 30px;
  }
  .elementor-bc-flex-widget .elementor-27918 .elementor-element.elementor-element-e413f7a.elementor-column .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-27918
    .elementor-element.elementor-element-e413f7a.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-27918 .elementor-element.elementor-element-e413f7a.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-27918 .elementor-element.elementor-element-7785b7d {
    padding: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-9f8e67a > .elementor-element-populated {
    padding: 41px 20px 43px 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-595e6f7 {
    text-align: center;
  }
  .elementor-27918 .elementor-element.elementor-element-595e6f7 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-595e6f7 > .elementor-widget-container {
    padding: 0 0 30px;
  }
  .elementor-bc-flex-widget .elementor-27918 .elementor-element.elementor-element-89e4d05.elementor-column .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-27918
    .elementor-element.elementor-element-89e4d05.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-27918 .elementor-element.elementor-element-89e4d05.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-27918 .elementor-element.elementor-element-f8f3d3d {
    padding: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-0fee99c > .elementor-element-populated {
    padding: 41px 20px 43px 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-27cc1e9 {
    text-align: center;
  }
  .elementor-27918 .elementor-element.elementor-element-27cc1e9 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-27cc1e9 > .elementor-widget-container {
    padding: 0 0 30px;
  }
  .elementor-bc-flex-widget .elementor-27918 .elementor-element.elementor-element-c1bdb85.elementor-column .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-27918
    .elementor-element.elementor-element-c1bdb85.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-27918 .elementor-element.elementor-element-c1bdb85.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-27918 .elementor-element.elementor-element-b9295b4 {
    padding: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-04d37d4 > .elementor-element-populated {
    padding: 41px 20px 43px 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-aa80392 {
    text-align: center;
  }
  .elementor-27918 .elementor-element.elementor-element-aa80392 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-27918 .elementor-element.elementor-element-aa80392 > .elementor-widget-container {
    padding: 0 0 30px;
  }
  .elementor-bc-flex-widget .elementor-27918 .elementor-element.elementor-element-53c67e2.elementor-column .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-27918
    .elementor-element.elementor-element-53c67e2.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-27918 .elementor-element.elementor-element-53c67e2.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
}
@media (max-width: 780px) {
  .elementor-27918 .elementor-element.elementor-element-3804028 > .elementor-element-populated {
    padding: 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-41f8a0d .elementor-heading-title {
    font-size: 32px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-41f8a0d > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-51c4003 {
    padding: 20px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-b3bc5f9 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-27918 .elementor-element.elementor-element-b3bc5f9 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-cec71cd > .elementor-element-populated {
    padding: 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-4eaceca .elementor-heading-title {
    font-size: 20px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-4eaceca > .elementor-widget-container {
    margin: 20px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-37b9a20 > .elementor-element-populated {
    border-width: 0 0 1px;
    padding: 0 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-0639785 > .elementor-element-populated {
    padding: 20px 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-3ad8d7f > .elementor-element-populated {
    border-width: 0 0 1px;
    padding: 20px 0 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-cbc336b > .elementor-element-populated {
    padding: 20px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-bb65539 {
    padding: 40px 0;
  }
  .elementor-27918 .elementor-element.elementor-element-79fefff > .elementor-element-populated {
    padding: 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-88a79c1 .elementor-heading-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-39d936b > .elementor-element-populated {
    padding: 0 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-727b30b > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-98c723f > .elementor-element-populated {
    padding: 0 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-52c10b2 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-78e4353 > .elementor-element-populated {
    padding: 0 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-81c3057 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-011ecbc > .elementor-element-populated {
    padding: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-6b8deb9 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-90f87b7 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-9cf8bcf > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 30px;
  }
  .elementor-27918 .elementor-element.elementor-element-dc37a4d {
    padding: 40px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-75febe3 .elementor-heading-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-86d01d6 .elementor-heading-title {
    font-size: 20px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-86d01d6 > .elementor-widget-container {
    margin: 10px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-c847899 .elementor-heading-title {
    font-size: 22px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-c847899 > .elementor-widget-container {
    margin: 30px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-9329ce0 {
    padding: 20px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-ea83e21 .elementor-heading-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-ea83e21 > .elementor-widget-container {
    margin: 10px 0;
  }
  .elementor-27918 .elementor-element.elementor-element-d02291e .elementor-heading-title {
    font-size: 20px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-d02291e > .elementor-widget-container {
    margin: 10px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-501c015 .elementor-heading-title {
    font-size: 20px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-501c015 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-27918 .elementor-element.elementor-element-443800b {
    padding: 20px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-97e3451 .elementor-heading-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-16c92d28 > .elementor-element-populated {
    padding: 0 30px 40px;
  }
  .elementor-27918 .elementor-element.elementor-element-e7b9d09 .elementor-heading-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .elementor-27918 .elementor-element.elementor-element-e7b9d09 > .elementor-widget-container {
    margin: 0 0 -20px;
  }
  .elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-title {
    padding: 20px 0;
  }
  .elementor-27918 .elementor-element.elementor-element-68671b36 .elementor-tab-content {
    font-size: 16px;
    padding: 20px 0 10px;
  }
  .elementor-27918 .elementor-element.elementor-element-f4b645a > .elementor-element-populated {
    padding: 41px 20px 43px;
  }
  .elementor-27918 .elementor-element.elementor-element-2e84968 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-27918 .elementor-element.elementor-element-8d1a9ba > .elementor-widget-container {
    padding: 15px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-9f8e67a > .elementor-element-populated {
    padding: 41px 20px 43px;
  }
  .elementor-27918 .elementor-element.elementor-element-595e6f7 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-27918 .elementor-element.elementor-element-8bba02f > .elementor-widget-container {
    padding: 15px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-0fee99c > .elementor-element-populated {
    padding: 41px 20px 43px;
  }
  .elementor-27918 .elementor-element.elementor-element-27cc1e9 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-27918 .elementor-element.elementor-element-401178e > .elementor-widget-container {
    padding: 15px 0 0;
  }
  .elementor-27918 .elementor-element.elementor-element-04d37d4 > .elementor-element-populated {
    padding: 41px 20px 43px;
  }
  .elementor-27918 .elementor-element.elementor-element-aa80392 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-27918 .elementor-element.elementor-element-2190857 > .elementor-widget-container {
    padding: 15px 0 0;
  }
}
.page-header {
  display: none;
}
.page-header {
  display: none;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
.oil-btn a {
  min-width: 216px;
}
body .price-a a {
  font-weight: 400;
}
body .price-a a:hover {
  transition: all 0.3s ease-in-out;
  color: #f2672a !important;
  text-decoration: underline !important;
}
.page-content .faq2-list a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
