.elementor-33530 .elementor-element.elementor-element-f4ee919 > .elementor-container {
  max-width: 1200px;
}
.elementor-33530 .elementor-element.elementor-element-f4ee919:not(.elementor-motion-effects-element-type-background),
.elementor-33530 .elementor-element.elementor-element-f4ee919 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #1a45a7;
  background-image: url('../../../../uploads/2024/05/testimonial_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-33530 .elementor-element.elementor-element-f4ee919 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 100px 0;
}
.elementor-33530 .elementor-element.elementor-element-f4ee919 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33530 .elementor-element.elementor-element-3e8746f {
  text-align: center;
}
.elementor-33530 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
  color: #fff;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-33530 .elementor-element.elementor-element-3e8746f > .elementor-widget-container {
  padding: 0;
}
.elementor-33530 .elementor-element.elementor-element-9b1109c > .elementor-container {
  min-height: 300px;
}
.elementor-33530 .elementor-element.elementor-element-37ff125:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-element-populated,
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33530 .elementor-element.elementor-element-61d3339 {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33530 .elementor-element.elementor-element-bde91dd .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33530 .elementor-element.elementor-element-bde91dd > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33530 .elementor-element.elementor-element-bde91dd {
  left: 0;
}
body.rtl .elementor-33530 .elementor-element.elementor-element-bde91dd {
  right: 0;
}
.elementor-33530 .elementor-element.elementor-element-bde91dd {
  bottom: 0;
}
.elementor-33530 .elementor-element.elementor-element-7ed8554:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-element-populated,
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33530 .elementor-element.elementor-element-7ed8554 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33530 .elementor-element.elementor-element-a05fe4c {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33530 .elementor-element.elementor-element-8e52c0a .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-33530 .elementor-element.elementor-element-8e52c0a > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33530 .elementor-element.elementor-element-8e52c0a {
  left: 0;
}
body.rtl .elementor-33530 .elementor-element.elementor-element-8e52c0a {
  right: 0;
}
.elementor-33530 .elementor-element.elementor-element-8e52c0a {
  bottom: 0;
}
.elementor-33530 .elementor-element.elementor-element-0701285:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-element-populated,
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33530 .elementor-element.elementor-element-0701285 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33530 .elementor-element.elementor-element-f9b95ae {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33530 .elementor-element.elementor-element-59d2ff4 .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33530 .elementor-element.elementor-element-59d2ff4 > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33530 .elementor-element.elementor-element-59d2ff4 {
  left: 0;
}
body.rtl .elementor-33530 .elementor-element.elementor-element-59d2ff4 {
  right: 0;
}
.elementor-33530 .elementor-element.elementor-element-59d2ff4 {
  bottom: 0;
}
.elementor-33530 .elementor-element.elementor-element-118f0d6:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-element-populated,
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33530 .elementor-element.elementor-element-118f0d6 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33530 .elementor-element.elementor-element-572a3c3 {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33530 .elementor-element.elementor-element-afd381d .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33530 .elementor-element.elementor-element-afd381d > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33530 .elementor-element.elementor-element-afd381d {
  left: 0;
}
body.rtl .elementor-33530 .elementor-element.elementor-element-afd381d {
  right: 0;
}
.elementor-33530 .elementor-element.elementor-element-afd381d {
  bottom: 0;
}
.elementor-33530 .elementor-element.elementor-element-93615b1 {
  text-align: center;
}
.elementor-33530 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
  color: #fff;
  font-size: var(--e-global-typography-dbc747b-font-size);
  line-height: var(--e-global-typography-dbc747b-line-height);
  letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
  word-spacing: var(--e-global-typography-dbc747b-word-spacing);
}
.elementor-33530 .elementor-element.elementor-element-93615b1 > .elementor-widget-container {
  margin: 50px 0 0;
  padding: 0;
}
@media (max-width: 1366px) {
  .elementor-33530 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33530 .elementor-element.elementor-element-bde91dd .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-59d2ff4 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-afd381d .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
@media (max-width: 1024px) {
  .elementor-33530 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33530 .elementor-element.elementor-element-37ff125 > .elementor-element-populated {
    margin: 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px;
  }
  .elementor-33530 .elementor-element.elementor-element-bde91dd .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-bde91dd > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-8e52c0a > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-59d2ff4 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-59d2ff4 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-afd381d .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-afd381d > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
@media (max-width: 780px) {
  .elementor-33530 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33530 .elementor-element.elementor-element-bde91dd .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-bde91dd > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-8e52c0a > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-59d2ff4 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-59d2ff4 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-afd381d .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33530 .elementor-element.elementor-element-afd381d > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33530 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
.txtTestimonial:before {
  content: '';
  width: 18px;
  height: 30px;
  display: inline-block;
  background: url(../../../../uploads/2024/06/quote.svg) no-repeat center center;
}
.txtTestimonial:after {
  content: '';
  width: 18px;
  height: 30px;
  margin-top: -10px;
  float: right;
  display: inline-block;
  background: url(https://www.atfx.com/wp-content/uploads/2024/06/quote.svg) no-repeat center center;
  transform: rotate(180deg);
}
.pnlTestimonial {
  position: relative;
  min-height: 350px;
  margin-bottom: 30px;
}
.pnlTestimonial:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: -20px;
  left: 20%;
  background: url(https://www.atfx.com/wp-content/uploads/2024/06/SBubblePath.svg) no-repeat bottom left;
}
.pnlTestimonial:nth-child(2n):after {
  left: 60%;
  transform: scaleX(-1);
}
@media (max-width: 1024px) {
  .pnlTestimonial {
    min-height: 250px;
  }
}
@media (max-width: 1024px) {
  .elementor-33530 .elementor-element.elementor-element-9b1109c .elementor-column {
    width: 50%;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .elementor-33530 .elementor-element.elementor-element-9b1109c .elementor-column {
    width: 100%;
    height: 200px;
  }
}
.feature-logos {
  list-style: none;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  padding: 0;
  flex-wrap: wrap;
}
.feature-logos-item {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  padding: 10px;
}
.feature-logos-item img {
  margin: auto auto;
  max-height: 40px;
}
@media (max-width: 1024px) {
  .feature-logos-item {
    flex: 1 1 22%;
  }
  .feature-logos-item.flex-2 {
    flex: 1 1 30%;
  }
}
@media (max-width: 767px) {
  .feature-logos-item {
    flex: 1 1 33%;
  }
  .feature-logos-item.flex-2 {
    flex: 1 1 60%;
  }
}
