.elementor-31226 .elementor-element.elementor-element-5faaeae:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-5faaeae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31226 .elementor-element.elementor-element-5faaeae {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-5faaeae > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226
  .elementor-element.elementor-element-726dc20
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-31226 .elementor-element.elementor-element-726dc20 > .elementor-element-populated {
  padding: 0;
}
.elementor-31226 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-31226 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ATFX_herobanner_image.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-31226 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-8553c41 > .elementor-container {
  max-width: 860px;
}
.elementor-31226 .elementor-element.elementor-element-8553c41:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-8553c41 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31226 .elementor-element.elementor-element-8553c41 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-31226 .elementor-element.elementor-element-8553c41 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-294a03a .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-33dc2ac {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-31226 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 1280px;
}
.elementor-31226 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-b753b34 {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-f07fdcc > .elementor-container {
  max-width: 1180px;
}
.elementor-31226 .elementor-element.elementor-element-f07fdcc {
  padding: 0 0 60px;
}
.elementor-31226 .elementor-element.elementor-element-e287963 img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-079d67d {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-079d67d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-53037a7 img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-5d7f68c {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-6517da9 img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-fe4377d {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-14c7450 img {
  width: 70px;
  height: 70px;
}
.elementor-31226 .elementor-element.elementor-element-a8bf63a {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-ef89c77 > .elementor-container {
  max-width: 860px;
}
.elementor-31226 .elementor-element.elementor-element-ef89c77:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-ef89c77 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31226 .elementor-element.elementor-element-ef89c77 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-31226 .elementor-element.elementor-element-ef89c77 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-4dd43b3 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-a8d921b {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-31226 .elementor-element.elementor-element-8975043 > .elementor-container {
  max-width: 860px;
}
.elementor-31226 .elementor-element.elementor-element-8975043 {
  padding: 60px 0;
}
.elementor-31226 .elementor-element.elementor-element-3e659df {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-3e659df .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-7ff0cab {
  padding: 0 0 40px;
}
.elementor-31226 .elementor-element.elementor-element-d478ab0 img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-b096d11 {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-b096d11 .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-91cdef1 img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-edeb730 {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-edeb730 .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-59ec01b img {
  width: 70px;
}
.elementor-31226 .elementor-element.elementor-element-6091013 {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-6091013 .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-31226 .elementor-element.elementor-element-6e272ec {
  text-align: center;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-31226 .elementor-element.elementor-element-fb6421a > .elementor-container {
  max-width: 1280px;
}
.elementor-31226 .elementor-element.elementor-element-fb6421a:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-fb6421a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31226 .elementor-element.elementor-element-fb6421a {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 80px 0 60px;
}
.elementor-31226 .elementor-element.elementor-element-fb6421a > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-c99f231.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-31226 .elementor-element.elementor-element-c1d321e {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-c1d321e .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-cd4a758 {
  text-align: center;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-31226 .elementor-element.elementor-element-cd4a758 > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table {
  max-width: 100%;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th:first-child {
  border-radius: 10px 0 0;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th:first-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th:last-child {
  border-radius: 10px 0 0;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th {
  color: #fff;
  background-color: #000;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody > tr:nth-child(2n) td {
  color: #000;
  background: #f2f2f2;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #000;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody .td-content-wrapper {
  text-align: left;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #498421;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #498421;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-31226 .elementor-element.elementor-element-9765913 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-31226 .elementor-element.elementor-element-9765913 > .elementor-widget-container {
  margin: 0 auto 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-31226 .elementor-element.elementor-element-9765913 {
  width: initial;
  max-width: initial;
}
.elementor-31226 .elementor-element.elementor-element-5060681 > .elementor-widget-container {
  padding: 20px 0 0;
}
.elementor-31226 .elementor-element.elementor-element-5b7cc1f.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button:hover,
.elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button:hover svg,
.elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-31226 .elementor-element.elementor-element-0c9e174 > .elementor-widget-container {
  padding: 0 10px 0 0;
}
.elementor-31226 .elementor-element.elementor-element-0c9e174 {
  width: auto;
  max-width: auto;
}
.elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button:hover,
.elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button:hover svg,
.elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button:focus svg {
  fill: #fff;
}
.elementor-31226 .elementor-element.elementor-element-88fed7b > .elementor-widget-container {
  padding: 0 0 0 10px;
}
.elementor-31226 .elementor-element.elementor-element-88fed7b {
  width: auto;
  max-width: auto;
}
.elementor-31226 .elementor-element.elementor-element-1c9f3ef > .elementor-container {
  max-width: 860px;
}
.elementor-31226 .elementor-element.elementor-element-1c9f3ef:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-1c9f3ef > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31226 .elementor-element.elementor-element-1c9f3ef {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-31226 .elementor-element.elementor-element-1c9f3ef > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-b05eafb {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-31226 .elementor-element.elementor-element-eafa70f > .elementor-container {
  max-width: 860px;
}
.elementor-31226 .elementor-element.elementor-element-eafa70f {
  padding: 80px 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31226 .elementor-element.elementor-element-3d9080a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-31226 .elementor-element.elementor-element-54adf2df > .elementor-container {
  max-width: 1280px;
}
.elementor-31226 .elementor-element.elementor-element-54adf2df {
  padding: 80px 0 0;
}
.elementor-31226 .elementor-element.elementor-element-5d87cc7c > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-2befd3bd {
  text-align: center;
}
.elementor-31226 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-31226 .elementor-element.elementor-element-2befd3bd > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-1a5c2fc7 > .elementor-container {
  max-width: 1070px;
}
.elementor-31226 .elementor-element.elementor-element-1a5c2fc7 {
  margin-top: 0;
  margin-bottom: 30px;
}
.elementor-31226 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31226 .elementor-element.elementor-element-72ef5df4 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31226 .elementor-element.elementor-element-1407e824 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31226 .elementor-element.elementor-element-456999e6 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31226 .elementor-element.elementor-element-456999e6 .elementor-divider-separator {
  width: 36px;
}
.elementor-31226 .elementor-element.elementor-element-456999e6 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31226 .elementor-element.elementor-element-6b745aa0 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-31226 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31226 .elementor-element.elementor-element-3531ac6b .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31226 .elementor-element.elementor-element-4c8fb526 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31226 .elementor-element.elementor-element-3635256b {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31226 .elementor-element.elementor-element-3635256b .elementor-divider-separator {
  width: 36px;
}
.elementor-31226 .elementor-element.elementor-element-3635256b .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31226 .elementor-element.elementor-element-3f1dfc40 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-31226 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31226 .elementor-element.elementor-element-251cda35 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31226 .elementor-element.elementor-element-59cc3648 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31226 .elementor-element.elementor-element-7c4709dd {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31226 .elementor-element.elementor-element-7c4709dd .elementor-divider-separator {
  width: 36px;
}
.elementor-31226 .elementor-element.elementor-element-7c4709dd .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31226 .elementor-element.elementor-element-461f3e08 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-31226 .elementor-element.elementor-element-7c39e2a > .elementor-container {
  max-width: 1280px;
}
.elementor-31226 .elementor-element.elementor-element-51847699 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-122b0624 > .elementor-container {
  max-width: 1180px;
}
.elementor-31226 .elementor-element.elementor-element-122b0624 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31226 .elementor-element.elementor-element-122b0624 {
  padding: 80px 0 50px;
}
.elementor-31226 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-c77c9bc:not(.elementor-motion-effects-element-type-background),
.elementor-31226 .elementor-element.elementor-element-c77c9bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-31226 .elementor-element.elementor-element-c77c9bc,
.elementor-31226 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-31226 .elementor-element.elementor-element-c77c9bc {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-31226 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-4de9624b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-31226 .elementor-element.elementor-element-4de9624b > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-31226 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31226 .elementor-element.elementor-element-7430303c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-31226 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31226
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-31226
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-31226
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-31226 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (min-width: 781px) {
  .elementor-31226 .elementor-element.elementor-element-1c0d431 {
    width: 60%;
  }
  .elementor-31226 .elementor-element.elementor-element-b7fa669 {
    width: 39.953%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-31226 .elementor-element.elementor-element-1c0d431 {
    width: 75%;
  }
  .elementor-31226 .elementor-element.elementor-element-b7fa669 {
    width: 24%;
  }
}
@media (max-width: 1024px) {
  .elementor-31226 .elementor-element.elementor-element-8553c41 {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-294a03a .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-ef89c77 {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-4dd43b3 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-b096d11 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-edeb730 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-6091013 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-31226 .elementor-element.elementor-element-c1d321e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-eafa70f {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-54adf2df {
    padding: 60px 0 0;
  }
  .elementor-31226 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-31226 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 30% 20% 0;
  }
}
@media (max-width: 780px) {
  .elementor-31226 .elementor-element.elementor-element-8553c41 {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-294a03a .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-33dc2ac {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-f07fdcc {
    padding: 0 0 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-ef89c77 {
    padding: 40px 0;
  }
  .elementor-31226 .elementor-element.elementor-element-4dd43b3 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-a8d921b {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-8975043 {
    padding: 40px 0;
  }
  .elementor-31226 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-7ff0cab {
    padding: 0 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-c73f90e > .elementor-element-populated {
    padding: 0 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-b096d11 .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-fbfe6c3 > .elementor-element-populated {
    padding: 0 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-edeb730 .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-a3d7e0b > .elementor-element-populated {
    padding: 0;
  }
  .elementor-31226 .elementor-element.elementor-element-6091013 .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-31226 .elementor-element.elementor-element-6e272ec {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-fb6421a {
    padding: 40px 0 30px;
  }
  .elementor-31226 .elementor-element.elementor-element-c1d321e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-cd4a758 {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-cd4a758 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-0c9e174 .elementor-button {
    font-size: 13px;
  }
  .elementor-31226 .elementor-element.elementor-element-88fed7b .elementor-button {
    font-size: 13px;
  }
  .elementor-31226 .elementor-element.elementor-element-1c9f3ef {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-b05eafb {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-eafa70f {
    padding: 80px 0 60px;
  }
  .elementor-31226 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31226 .elementor-element.elementor-element-3d9080a {
    font-size: 16px;
  }
  .elementor-31226 .elementor-element.elementor-element-54adf2df {
    padding: 40px 0 0;
  }
  .elementor-31226 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-31226 .elementor-element.elementor-element-2befd3bd > .elementor-widget-container {
    margin: 0;
  }
  .elementor-31226 .elementor-element.elementor-element-1a5c2fc7 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
    padding: 0 20px 40px;
  }
  .elementor-31226 .elementor-element.elementor-element-72ef5df4 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-1407e824 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-456999e6 .elementor-divider {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-456999e6 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31226 .elementor-element.elementor-element-6b745aa0 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
    padding: 40px 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-3531ac6b {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-4c8fb526 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-3635256b .elementor-divider {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-3635256b .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31226 .elementor-element.elementor-element-3f1dfc40 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-31226 .elementor-element.elementor-element-251cda35 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-59cc3648 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-7c4709dd .elementor-divider {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-7c4709dd .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31226 .elementor-element.elementor-element-461f3e08 {
    text-align: center;
  }
  .elementor-31226 .elementor-element.elementor-element-51847699 > .elementor-element-populated {
    padding: 10px 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-122b0624 {
    padding: 20px 0 30px;
  }
  .elementor-31226 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 20% 20% 0;
  }
  .elementor-31226 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-31226 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
    margin: 5px;
  }
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(../../../../uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
.demo-ac-style1 {
  display: none;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
