.elementor-19520 .elementor-element.elementor-element-dd9c576:not(.elementor-motion-effects-element-type-background),
.elementor-19520 .elementor-element.elementor-element-dd9c576 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19520 .elementor-element.elementor-element-dd9c576 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-dd9c576 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19520
  .elementor-element.elementor-element-2464ff5
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19520 .elementor-element.elementor-element-2464ff5 > .elementor-element-populated {
  padding: 0;
}
.elementor-19520 .elementor-element.elementor-element-d6ee8ff > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-19520 .elementor-element.elementor-element-d6ee8ff:not(.elementor-motion-effects-element-type-background),
.elementor-19520 .elementor-element.elementor-element-d6ee8ff > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/education-webinar-image.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-19520 .elementor-element.elementor-element-d6ee8ff {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-d6ee8ff > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-c5181e3 .elementor-heading-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.elementor-19520 .elementor-element.elementor-element-933412b {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19520 .elementor-element.elementor-element-d742ccb > .elementor-container {
  max-width: 860px;
}
.elementor-19520 .elementor-element.elementor-element-d742ccb {
  padding: 80px 0 10px;
}
.elementor-19520 .elementor-element.elementor-element-158928e .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-19520 .elementor-element.elementor-element-a2e3f34 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19520 .elementor-element.elementor-element-a2e3f34 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19520 .elementor-element.elementor-element-d67f14a > .elementor-container {
  max-width: 1280px;
}
.elementor-19520 .elementor-element.elementor-element-d67f14a {
  padding: 20px 0 40px;
}
.elementor-19520 .elementor-element.elementor-element-610dea0 > .elementor-container {
  max-width: 1280px;
}
.elementor-19520 .elementor-element.elementor-element-610dea0:not(.elementor-motion-effects-element-type-background),
.elementor-19520 .elementor-element.elementor-element-610dea0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19520 .elementor-element.elementor-element-610dea0 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-19520 .elementor-element.elementor-element-610dea0 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-8596b16 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-8596b16 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-2271c77 > .elementor-container {
  max-width: 1280px;
}
.elementor-19520 .elementor-element.elementor-element-2271c77 {
  padding: 40px 0 10px;
}
.elementor-19520 .elementor-element.elementor-element-45946dd {
  text-align: center;
}
.elementor-19520 .elementor-element.elementor-element-45946dd .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-19520 .elementor-element.elementor-element-45946dd > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19520 .elementor-element.elementor-element-34456960 > .elementor-container {
  max-width: 1180px;
}
.elementor-19520 .elementor-element.elementor-element-34456960 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19520 .elementor-element.elementor-element-34456960 {
  padding: 40px 0;
}
.elementor-19520 .elementor-element.elementor-element-74b48c22 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19520 .elementor-element.elementor-element-22951981:not(.elementor-motion-effects-element-type-background),
.elementor-19520 .elementor-element.elementor-element-22951981 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-19520 .elementor-element.elementor-element-22951981,
.elementor-19520 .elementor-element.elementor-element-22951981 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-19520 .elementor-element.elementor-element-22951981 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 40% 20% 0;
}
.elementor-19520 .elementor-element.elementor-element-22951981 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-1e52b305 .elementor-heading-title {
  font-size: 31px;
  font-weight: 300;
  line-height: 44px;
}
.elementor-19520 .elementor-element.elementor-element-1e52b305 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-19520 .elementor-element.elementor-element-56970c4a > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19520 .elementor-element.elementor-element-790d45a4 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-19520 .elementor-element.elementor-element-790d45a4 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19520
  .elementor-element.elementor-element-63fed707
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-19520
  .elementor-element.elementor-element-63fed707
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-19520
  .elementor-element.elementor-element-63fed707
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (min-width: 781px) {
  .elementor-19520 .elementor-element.elementor-element-08267fe {
    width: 62%;
  }
  .elementor-19520 .elementor-element.elementor-element-ca6e1f3 {
    width: 37.759%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-19520 .elementor-element.elementor-element-08267fe {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .elementor-19520 .elementor-element.elementor-element-c5181e3 .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-d742ccb {
    padding: 30px 0;
  }
  .elementor-19520 .elementor-element.elementor-element-158928e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-a2e3f34 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-19520 .elementor-element.elementor-element-610dea0 > .elementor-container {
    max-width: 600px;
  }
  .elementor-19520 .elementor-element.elementor-element-610dea0 {
    padding: 70px 0 80px;
  }
  .elementor-19520 .elementor-element.elementor-element-8596b16 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-19520 .elementor-element.elementor-element-2271c77 {
    padding: 30px 0 0;
  }
  .elementor-19520 .elementor-element.elementor-element-45946dd .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-45946dd > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-19520 .elementor-element.elementor-element-34456960 {
    padding: 60px 0 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-22951981 {
    padding: 20% 20% 20% 0;
  }
  .elementor-19520 .elementor-element.elementor-element-1e52b305 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-1e52b305 > .elementor-widget-container {
    padding: 20px 30px;
  }
}
@media (max-width: 780px) {
  .elementor-19520 .elementor-element.elementor-element-c5181e3 .elementor-heading-title {
    font-size: 38px;
    line-height: 50px;
  }
  .elementor-19520 .elementor-element.elementor-element-933412b {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19520 .elementor-element.elementor-element-d742ccb {
    padding: 40px 0 10px;
  }
  .elementor-19520 .elementor-element.elementor-element-158928e {
    text-align: center;
  }
  .elementor-19520 .elementor-element.elementor-element-158928e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-19520 .elementor-element.elementor-element-a2e3f34 {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19520 .elementor-element.elementor-element-a2e3f34 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-19520 .elementor-element.elementor-element-d67f14a {
    padding: 20px 0;
  }
  .elementor-19520 .elementor-element.elementor-element-610dea0 {
    padding: 60px 20px 70px;
  }
  .elementor-19520 .elementor-element.elementor-element-2271c77 {
    padding: 0;
  }
  .elementor-19520
    .elementor-element.elementor-element-62a9837
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-19520 .elementor-element.elementor-element-45946dd .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-19520 .elementor-element.elementor-element-34456960 {
    padding: 20px 0 30px;
  }
  .elementor-19520 .elementor-element.elementor-element-74b48c22 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-19520 .elementor-element.elementor-element-22951981 {
    padding: 20% 20% 20% 0;
  }
  .elementor-19520 .elementor-element.elementor-element-1e52b305 .elementor-heading-title {
    font-size: 18px;
    line-height: 24px;
  }
  .elementor-19520 .elementor-element.elementor-element-1e52b305 > .elementor-widget-container {
    padding: 15px 40px;
  }
  .elementor-19520 .elementor-element.elementor-element-56970c4a > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-19520 .elementor-element.elementor-element-790d45a4 > .elementor-widget-container {
    margin: 5px;
  }
  .elementor-19520
    .elementor-element.elementor-element-63fed707
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
  }
  .elementor-19520
    .elementor-element.elementor-element-63fed707
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px / 2);
  }
  .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
  .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px / 2);
    margin-left: calc(-20px / 2);
  }
  body.rtl .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px / 2);
  }
  body:not(.rtl)
    .elementor-19520
    .elementor-element.elementor-element-63fed707
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-20px / 2);
  }
  .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-19520 .elementor-element.elementor-element-63fed707 .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-19520 .elementor-element.elementor-element-63fed707 > .elementor-widget-container {
    margin: 0;
    padding: 0 0 0 10px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
