.elementor-19590 .elementor-element.elementor-element-619debb:not(.elementor-motion-effects-element-type-background),
.elementor-19590 .elementor-element.elementor-element-619debb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19590 .elementor-element.elementor-element-619debb {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19590 .elementor-element.elementor-element-619debb > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19590
  .elementor-element.elementor-element-108ad7e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19590 .elementor-element.elementor-element-108ad7e > .elementor-element-populated {
  padding: 0;
}
.elementor-19590 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
}
.elementor-19590 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-19590 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1756.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-19590 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 95px 0 105px;
}
.elementor-19590 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19590 .elementor-element.elementor-element-1c0d431 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-c5c177b {
  text-align: left;
}
.elementor-19590 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.elementor-19590 .elementor-element.elementor-element-c5c177b > .elementor-widget-container {
  margin: 0 0 5px;
}
.elementor-19590 .elementor-element.elementor-element-2bef2ce {
  text-align: left;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19590 .elementor-element.elementor-element-7ec44f4 {
  text-align: left;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-19590 .elementor-element.elementor-element-d8093bf > .elementor-container {
  max-width: 860px;
}
.elementor-19590 .elementor-element.elementor-element-18bb882 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-c6e7211 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-19590 .elementor-element.elementor-element-c6e7211 > .elementor-widget-container {
  margin: 70px 0 30px;
}
.elementor-19590 .elementor-element.elementor-element-986c626 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19590 .elementor-element.elementor-element-14f7c25 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-19590 .elementor-element.elementor-element-14f7c25 > .elementor-widget-container {
  margin: 80px 0 0;
}
.elementor-19590 .elementor-element.elementor-element-3c765ee {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19590 .elementor-element.elementor-element-3c765ee > .elementor-widget-container {
  padding: 0 0 47px;
}
.elementor-19590 .elementor-element.elementor-element-74dc0f9 > .elementor-container {
  max-width: 1280px;
}
.elementor-19590 .elementor-element.elementor-element-8281d1a > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-2025b4d {
  padding: 0 0 30px;
}
.elementor-19590 .elementor-element.elementor-element-dd2ac27 img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-22d3287 {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-22d3287 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-c3026c6 img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-bfddc35 {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-bfddc35 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-6768410 img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-e334597 {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-e334597 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-30396c6 img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-dfbeba1 {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-dfbeba1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-f57950d img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-4aba7ff {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-4aba7ff .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-e4bf83e img {
  width: 68px;
  height: 68px;
}
.elementor-19590 .elementor-element.elementor-element-8da1a26 {
  text-align: center;
}
.elementor-19590 .elementor-element.elementor-element-8da1a26 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-31a6580 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-19590 .elementor-element.elementor-element-31a6580 > .elementor-widget-container {
  padding: 30px 0;
}
.elementor-19590 .elementor-element.elementor-element-ef396ba > .elementor-container {
  max-width: 860px;
}
.elementor-19590 .elementor-element.elementor-element-daeb1ab > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-b9341a9 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-19590 .elementor-element.elementor-element-b9341a9 > .elementor-widget-container {
  margin: 70px 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-d13908f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19590 .elementor-element.elementor-element-d13908f > .elementor-widget-container {
  padding: 0 0 70px;
}
.elementor-19590 .elementor-element.elementor-element-4bfbf3f > .elementor-container {
  max-width: 1280px;
}
.elementor-19590 .elementor-element.elementor-element-4bfbf3f:not(.elementor-motion-effects-element-type-background),
.elementor-19590 .elementor-element.elementor-element-4bfbf3f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
}
.elementor-19590 .elementor-element.elementor-element-4bfbf3f {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20px 0 40px;
}
.elementor-19590 .elementor-element.elementor-element-4bfbf3f > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19590 .elementor-element.elementor-element-3db60c0 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-4fefc5e > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19590 .elementor-element.elementor-element-4fefc5e {
  padding: 40px 0;
}
.elementor-19590 .elementor-element.elementor-element-e7555ab .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-19590 .elementor-element.elementor-element-5004df1 {
  text-align: left;
}
.elementor-19590 .elementor-element.elementor-element-5004df1 img {
  width: 278px;
}
.elementor-19590 .elementor-element.elementor-element-14a9e2e > .elementor-element-populated {
  padding: 0 0 0 20px;
}
.elementor-19590 .elementor-element.elementor-element-74c1ee9 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-19590 .elementor-element.elementor-element-74c1ee9 {
  width: var(--container-widget-width, 560px);
  max-width: 560px;
  --container-widget-width: 560px;
  --container-widget-flex-grow: 0;
}
@media (max-width: 1024px) {
  .elementor-19590 .elementor-element.elementor-element-f810a47 {
    padding: 75px 0 135px;
  }
  .elementor-19590 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-19590 .elementor-element.elementor-element-2bef2ce {
    font-size: 18px;
  }
  .elementor-19590 .elementor-element.elementor-element-7ec44f4 {
    font-size: 18px;
  }
  .elementor-19590 .elementor-element.elementor-element-c6e7211 .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-19590 .elementor-element.elementor-element-14f7c25 .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-19590 .elementor-element.elementor-element-22d3287 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-bfddc35 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-e334597 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-dfbeba1 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-4aba7ff .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-8da1a26 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-b9341a9 .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-19590 .elementor-element.elementor-element-b9341a9 > .elementor-widget-container {
    margin: 50px 0 0;
  }
  .elementor-19590 .elementor-element.elementor-element-d13908f > .elementor-widget-container {
    padding: 0 0 50px;
  }
  .elementor-19590 .elementor-element.elementor-element-4bfbf3f {
    padding: 0;
  }
  .elementor-19590 .elementor-element.elementor-element-3db60c0 > .elementor-element-populated {
    padding: 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-f52143f > .elementor-element-populated {
    margin: 0 10px 0 0;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
  }
  .elementor-19590 .elementor-element.elementor-element-e7555ab .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-19590 .elementor-element.elementor-element-5004df1 img {
    width: 250px;
  }
  .elementor-19590 .elementor-element.elementor-element-14a9e2e > .elementor-element-populated {
    padding: 0;
  }
}
@media (max-width: 780px) {
  .elementor-19590 .elementor-element.elementor-element-f810a47 {
    padding: 90px 0 100px;
  }
  .elementor-19590 .elementor-element.elementor-element-1c0d431 > .elementor-element-populated {
    padding: 0 25px;
  }
  .elementor-19590 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-7ec44f4 {
    font-size: 16px;
  }
  .elementor-19590 .elementor-element.elementor-element-c6e7211 .elementor-heading-title {
    font-size: 27px;
    line-height: 32px;
  }
  .elementor-19590 .elementor-element.elementor-element-986c626 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-14f7c25 .elementor-heading-title {
    font-size: 27px;
  }
  .elementor-19590 .elementor-element.elementor-element-3c765ee {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-3c765ee > .elementor-widget-container {
    padding: 0 0 40px;
  }
  .elementor-19590 .elementor-element.elementor-element-8281d1a > .elementor-element-populated {
    padding: 0 10px;
  }
  .elementor-19590 .elementor-element.elementor-element-2025b4d {
    padding: 0;
  }
  .elementor-19590 .elementor-element.elementor-element-e2213db > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-19590 .elementor-element.elementor-element-22d3287 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-22d3287 > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-bfddc35 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-bfddc35 > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-e334597 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-e334597 > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-e037297 {
    padding: 0;
  }
  .elementor-19590 .elementor-element.elementor-element-dfbeba1 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-dfbeba1 > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-4aba7ff .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-4aba7ff > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-8da1a26 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-19590 .elementor-element.elementor-element-8da1a26 > .elementor-widget-container {
    padding: 0 0 15px;
  }
  .elementor-19590 .elementor-element.elementor-element-b9341a9 .elementor-heading-title {
    font-size: 27px;
  }
  .elementor-19590 .elementor-element.elementor-element-d13908f {
    font-size: 16px;
  }
  .elementor-19590 .elementor-element.elementor-element-4fefc5e {
    padding: 45px 0;
  }
  .elementor-19590 .elementor-element.elementor-element-f52143f > .elementor-element-populated {
    padding: 0;
  }
  .elementor-19590 .elementor-element.elementor-element-e7555ab .elementor-heading-title {
    font-size: 27px;
  }
  .elementor-19590 .elementor-element.elementor-element-5004df1 img {
    width: 278px;
  }
  .elementor-19590 .elementor-element.elementor-element-5004df1 > .elementor-widget-container {
    padding: 0 0 50px;
  }
  .elementor-19590 .elementor-element.elementor-element-14a9e2e > .elementor-element-populated {
    padding: 0;
  }
}
@media (min-width: 781px) {
  .elementor-19590 .elementor-element.elementor-element-f52143f {
    width: 35%;
  }
  .elementor-19590 .elementor-element.elementor-element-14a9e2e {
    width: 65%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-19590 .elementor-element.elementor-element-f52143f {
    width: 38%;
  }
  .elementor-19590 .elementor-element.elementor-element-14a9e2e {
    width: 62%;
  }
}
.w-600 {
  max-width: 600px;
}
.w-600 {
  max-width: 600px;
}
a.a-class {
  color: #fc791e !important;
  font-weight: 700;
  text-decoration: underline;
}
a.a-class:hover {
  color: #0f2c52 !important;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
