.elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-container {
  max-width: 1075px;
  min-height: 475px;
}
.elementor-50433 .elementor-element.elementor-element-23a9108:not(.elementor-motion-effects-element-type-background),
.elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
  background-image: url('../../../../uploads/2025/05/Turn-Small-Wins-into-Big-Gains_2560x1440.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-background-overlay {
  mix-blend-mode: multiply;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-50433 .elementor-element.elementor-element-23a9108 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-bc-flex-widget .elementor-50433 .elementor-element.elementor-element-24c1409.elementor-column .elementor-widget-wrap {
  align-items: space-evenly;
}
.elementor-50433
  .elementor-element.elementor-element-24c1409.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: space-evenly;
  align-items: space-evenly;
}
.elementor-50433
  .elementor-element.elementor-element-24c1409
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-50433 .elementor-element.elementor-element-24c1409 > .elementor-element-populated {
  margin: 0 40px;
  --e-column-margin-right: 40px;
  --e-column-margin-left: 40px;
  padding: 0;
}
.elementor-50433 .elementor-element.elementor-element-0cb63b9 .elementor-heading-title {
  color: #fff;
  font-family: 'Mulish', Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 28px;
}
.elementor-50433 .elementor-element.elementor-element-ae162d0 {
  text-align: left;
}
.elementor-50433 .elementor-element.elementor-element-ae162d0 .elementor-heading-title {
  color: #fff;
  font-family: 'Mulish', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.elementor-50433 .elementor-element.elementor-element-ae162d0 > .elementor-widget-container {
  margin: 0;
  padding: 0 0 10px;
}
.elementor-50433 .elementor-element.elementor-element-4b0e7dd .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  fill: #fff;
  color: #fff;
  background-color: var(--e-global-color-accent);
  border-style: solid;
  border-width: 1px;
  border-color: #0f2c5200;
  border-radius: 5px;
  padding: 15px 60px;
}
.elementor-50433 .elementor-element.elementor-element-4b0e7dd .elementor-button:hover,
.elementor-50433 .elementor-element.elementor-element-4b0e7dd .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #fff;
  border-color: var(--e-global-color-primary);
}
.elementor-50433 .elementor-element.elementor-element-4b0e7dd .elementor-button:hover svg,
.elementor-50433 .elementor-element.elementor-element-4b0e7dd .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-50433 .elementor-element.elementor-element-4b0e7dd > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
@media (max-width: 1366px) {
  .elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-container {
    max-width: 1086px;
  }
  .elementor-50433
    .elementor-element.elementor-element-24c1409
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 {
    width: var(--container-widget-width, 525.299px);
    max-width: 525.299px;
    --container-widget-width: 525.299px;
    --container-widget-flex-grow: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-4b0e7dd > .elementor-widget-container {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-container {
    max-width: 921px;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-container {
    max-width: 808px;
  }
  .elementor-bc-flex-widget .elementor-50433 .elementor-element.elementor-element-24c1409.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-50433
    .elementor-element.elementor-element-24c1409.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-50433
    .elementor-element.elementor-element-24c1409
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409 > .elementor-element-populated {
    margin: 0 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
  }
  .elementor-50433 .elementor-element.elementor-element-0cb63b9 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 {
    width: var(--container-widget-width, 397.904px);
    max-width: 397.904px;
    --container-widget-width: 397.904px;
    --container-widget-flex-grow: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-4b0e7dd > .elementor-widget-container {
    margin: 0;
  }
}
@media (max-width: 880px) {
  .elementor-50433 .elementor-element.elementor-element-4b0e7dd {
    width: var(--container-widget-width, 403.85px);
    max-width: 403.85px;
    --container-widget-width: 403.85px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 780px) {
  .elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-container {
    min-height: 660px;
  }
  .elementor-50433 .elementor-element.elementor-element-23a9108:not(.elementor-motion-effects-element-type-background),
  .elementor-50433 .elementor-element.elementor-element-23a9108 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url('../../../../uploads/2025/05/Turn-Small-Wins-into-Big-Gains_780x1300.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409 {
    width: 100%;
  }
  .elementor-bc-flex-widget .elementor-50433 .elementor-element.elementor-element-24c1409.elementor-column .elementor-widget-wrap {
    align-items: space-between;
  }
  .elementor-50433
    .elementor-element.elementor-element-24c1409.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-50433
    .elementor-element.elementor-element-24c1409
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
  }
  .elementor-50433 .elementor-element.elementor-element-24c1409 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-0cb63b9 {
    text-align: center;
  }
  .elementor-50433 .elementor-element.elementor-element-0cb63b9 .elementor-heading-title {
    font-size: 16px;
    line-height: 25px;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 {
    text-align: center;
    width: var(--container-widget-width, 268.997px);
    max-width: 268.997px;
    --container-widget-width: 268.997px;
    --container-widget-flex-grow: 0;
  }
  .elementor-50433 .elementor-element.elementor-element-ae162d0 .elementor-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .elementor-50433 .elementor-element.elementor-element-4b0e7dd > .elementor-widget-container {
    margin: 0;
    padding: 10px 0 0;
  }
  .elementor-50433 .elementor-element.elementor-element-4b0e7dd {
    width: auto;
    max-width: auto;
  }
}
@media (min-width: 781px) {
  .elementor-50433 .elementor-element.elementor-element-24c1409 {
    width: 35.634%;
  }
  .elementor-50433 .elementor-element.elementor-element-b1230a1 {
    width: 64.365%;
  }
}
@media (min-width: 768px) {
  .elementor-element-e6175f6 .elementor-widget-container br {
    display: none;
  }
}
@media (max-width: 1024px) {
  .elementor-element-e636a1a .elementor-widget-container span:before {
    content: '\A';
    white-space: pre;
  }
}
@media (max-width: 767px) {
  section.elementor-element-23a9108 {
    background-position-x: 46% !important;
  }
  .elementor-element-23a9108 .elementor-container.elementor-column-gap-wide {
    align-content: flex-start !important;
    padding-top: 30%;
  }
}
