.elementor-19637 .elementor-element.elementor-element-c3569cf:not(.elementor-motion-effects-element-type-background),
.elementor-19637 .elementor-element.elementor-element-c3569cf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19637 .elementor-element.elementor-element-c3569cf {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19637 .elementor-element.elementor-element-c3569cf > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19637
  .elementor-element.elementor-element-8d0dd35
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19637 .elementor-element.elementor-element-8d0dd35 > .elementor-element-populated {
  padding: 0;
}
.elementor-19637 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-19637 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-19637 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/07/0_Gold_trading.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19637 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19637 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19637 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19637 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-19637 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-19637 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-c94dd19 img {
  height: 49px;
}
.elementor-19637 .elementor-element.elementor-element-7193698 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-7193698 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-9cf1d30 img {
  height: 49px;
}
.elementor-19637 .elementor-element.elementor-element-e888ae3 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-e888ae3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-fa383c2 img {
  height: 49px;
}
.elementor-19637 .elementor-element.elementor-element-09efb7e {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-09efb7e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-fa46e2d {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-c4af8ac img {
  height: 49px;
}
.elementor-19637 .elementor-element.elementor-element-e6b45d1 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-e6b45d1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-19637 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-19637 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_small_banner_2k.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19637 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-19637 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19637 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-19637 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-19637 .elementor-element.elementor-element-b81b2da > .elementor-container {
  max-width: 820px;
}
.elementor-19637 .elementor-element.elementor-element-b81b2da {
  padding: 60px 0;
}
.elementor-19637 .elementor-element.elementor-element-87506cf {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-87506cf .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19637 .elementor-element.elementor-element-7711fd6 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-7711fd6 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19637 .elementor-element.elementor-element-3b35319 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19637 .elementor-element.elementor-element-d474253 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-a97a3c8 {
  text-align: justify;
}
.elementor-19637 .elementor-element.elementor-element-92d7e00 img {
  width: 400px;
}
.elementor-19637 .elementor-element.elementor-element-2926990 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-2926990 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19637 .elementor-element.elementor-element-b6b0037 img {
  width: 400px;
}
.elementor-19637 .elementor-element.elementor-element-9bc7881 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19637 .elementor-element.elementor-element-204b6fb > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-204b6fb {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19637 .elementor-element.elementor-element-fd07382 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19637 .elementor-element.elementor-element-23c8cb4 img {
  width: 400px;
}
.elementor-19637 .elementor-element.elementor-element-50266e4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-50266e4 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19637 .elementor-element.elementor-element-569a8b8 img {
  width: 400px;
}
.elementor-19637 .elementor-element.elementor-element-5a31d99 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19637 .elementor-element.elementor-element-19e1eb4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-19e1eb4 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19637 .elementor-element.elementor-element-fac70ca > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19637 .elementor-element.elementor-element-2068ad1 img {
  width: 400px;
}
.elementor-19637 .elementor-element.elementor-element-fdc4469 > .elementor-container {
  max-width: 860px;
}
.elementor-19637 .elementor-element.elementor-element-fdc4469 {
  padding: 0;
}
.elementor-19637 .elementor-element.elementor-element-1187d5c {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-1187d5c .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-6f22a0e {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-6f22a0e > .elementor-widget-container {
  margin: 0;
}
.elementor-19637 .elementor-element.elementor-element-282a468 > .elementor-container {
  max-width: 1030px;
}
.elementor-19637 .elementor-element.elementor-element-282a468 {
  padding: 100px 0 0;
}
.elementor-19637 .elementor-element.elementor-element-39e20d6 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-39e20d6 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19637 .elementor-element.elementor-element-7b15dfc {
  text-align: left;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-7b15dfc > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-19637 .elementor-element.elementor-element-b51cee6 > .elementor-container {
  max-width: 1030px;
}
.elementor-19637 .elementor-element.elementor-element-d6fae33 img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-609c729 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-609c729 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-51e089c {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-3245f45 img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-fb11db0 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-fb11db0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-39af63e {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-1b20203 img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-642a168 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-642a168 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-76dd261 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-394cf28 img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-3eaeee1 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-3eaeee1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-7f12f6f {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-fc1d111 img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-c6a43c6 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-c6a43c6 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-a8d57b2 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-9c62dfa img {
  width: 70px;
}
.elementor-19637 .elementor-element.elementor-element-97eba5d {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-97eba5d .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19637 .elementor-element.elementor-element-2120e85 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-2b3850d > .elementor-container {
  max-width: 1030px;
}
.elementor-19637 .elementor-element.elementor-element-2b3850d {
  padding: 30px 0;
}
.elementor-19637 .elementor-element.elementor-element-346d002 > .elementor-container {
  max-width: 860px;
}
.elementor-19637 .elementor-element.elementor-element-346d002 {
  padding: 0;
}
.elementor-19637 .elementor-element.elementor-element-7f6a884 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-7f6a884 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-1328200 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19637 .elementor-element.elementor-element-1328200 > .elementor-widget-container {
  margin: 0;
}
.elementor-19637 .elementor-element.elementor-element-cb74abf > .elementor-container {
  max-width: 860px;
}
.elementor-19637 .elementor-element.elementor-element-cb74abf {
  padding: 20px 0 0;
}
.elementor-19637 .elementor-element.elementor-element-c4f1607 {
  text-align: center;
}
.elementor-19637 .elementor-element.elementor-element-c4f1607 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-19637 .elementor-element.elementor-element-c9b111c > .elementor-container {
  max-width: 1280px;
}
.elementor-19637 .elementor-element.elementor-element-c9b111c > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19637 .elementor-element.elementor-element-c9b111c {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
}
.elementor-19637 .elementor-element.elementor-element-ea30884 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-accordion-item {
  border-width: 0;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-active .elementor-accordion-icon,
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 600;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19637 .elementor-element.elementor-element-3aa8523 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
@media (min-width: 781px) {
  .elementor-19637 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-19637 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-19637 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-19637 .elementor-element.elementor-element-6f22a0e > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19637 .elementor-element.elementor-element-7b15dfc > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19637 .elementor-element.elementor-element-1328200 > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 780px) {
  .elementor-19637 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-19637 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-19637 .elementor-element.elementor-element-b81b2da {
    padding: 40px 0 20px;
  }
  .elementor-19637 .elementor-element.elementor-element-fdc4469 {
    padding: 40px 0 20px;
  }
  .elementor-19637 .elementor-element.elementor-element-6f22a0e {
    font-size: 16px;
  }
  .elementor-19637 .elementor-element.elementor-element-6f22a0e > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19637 .elementor-element.elementor-element-7b15dfc {
    font-size: 16px;
  }
  .elementor-19637 .elementor-element.elementor-element-7b15dfc > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19637 .elementor-element.elementor-element-346d002 {
    padding: 40px 0 20px;
  }
  .elementor-19637 .elementor-element.elementor-element-1328200 {
    font-size: 16px;
  }
  .elementor-19637 .elementor-element.elementor-element-1328200 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19637 .elementor-element.elementor-element-cb74abf {
    padding: 40px 0 0;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
