.elementor-33909 .elementor-element.elementor-element-f647c7e {
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-d26c90c > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33909 .elementor-element.elementor-element-c2deff8 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33909 .elementor-element.elementor-element-52d3ed4 {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33909 .elementor-element.elementor-element-52d3ed4 > .elementor-widget-container {
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-19d1ef1.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33909 .elementor-element.elementor-element-f107845 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-f107845 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-f107845 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33909 .elementor-element.elementor-element-f107845 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-f107845 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-f107845 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-f107845 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-6fd1670 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-6fd1670 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-6fd1670 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33909 .elementor-element.elementor-element-6fd1670 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-6fd1670 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-6fd1670 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-6fd1670 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-9257e01.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33909 .elementor-element.elementor-element-0df48de .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-0df48de .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-0df48de .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33909 .elementor-element.elementor-element-0df48de .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-0df48de .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-0df48de > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-0df48de {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-2729817 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-2729817 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-2729817 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33909 .elementor-element.elementor-element-2729817 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-2729817 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-2729817 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33909 .elementor-element.elementor-element-2729817 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-68f03ae > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33909 .elementor-element.elementor-element-420bc74 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33909 .elementor-element.elementor-element-8cd2341 {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33909 .elementor-element.elementor-element-8cd2341 > .elementor-widget-container {
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-339499d.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33909 .elementor-element.elementor-element-dcdb177 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-dcdb177 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-dcdb177 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33909 .elementor-element.elementor-element-dcdb177 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-dcdb177 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-dcdb177 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-dcdb177 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-72882b3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-72882b3 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-72882b3 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33909 .elementor-element.elementor-element-72882b3 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-72882b3 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-72882b3 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-72882b3 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-8d261c4.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33909 .elementor-element.elementor-element-c705cc7 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-c705cc7 .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-c705cc7 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33909 .elementor-element.elementor-element-c705cc7 .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-c705cc7 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-c705cc7 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33909 .elementor-element.elementor-element-c705cc7 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33909 .elementor-element.elementor-element-16e27ab .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33909 .elementor-element.elementor-element-16e27ab .elementor-button:hover,
.elementor-33909 .elementor-element.elementor-element-16e27ab .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33909 .elementor-element.elementor-element-16e27ab .elementor-button:hover svg,
.elementor-33909 .elementor-element.elementor-element-16e27ab .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33909 .elementor-element.elementor-element-16e27ab > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33909 .elementor-element.elementor-element-16e27ab {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-33909 .elementor-element.elementor-element-d26c90c {
    width: 50%;
  }
  .elementor-33909 .elementor-element.elementor-element-68f03ae {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-33909 .elementor-element.elementor-element-f647c7e {
    padding: 0 30px;
  }
  .elementor-33909 .elementor-element.elementor-element-c2deff8 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33909 .elementor-element.elementor-element-52d3ed4 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33909 .elementor-element.elementor-element-52d3ed4 > .elementor-widget-container {
    padding: 0 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-f107845 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-f107845 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-6fd1670 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-6fd1670 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-0df48de > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-0df48de {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-2729817 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33909 .elementor-element.elementor-element-2729817 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-420bc74 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33909 .elementor-element.elementor-element-8cd2341 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33909 .elementor-element.elementor-element-8cd2341 > .elementor-widget-container {
    padding: 0 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-dcdb177 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-dcdb177 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-72882b3 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-72882b3 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-c705cc7 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33909 .elementor-element.elementor-element-c705cc7 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33909 .elementor-element.elementor-element-16e27ab > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33909 .elementor-element.elementor-element-16e27ab {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
}
@media (max-width: 780px) {
  .elementor-33909 .elementor-element.elementor-element-f647c7e > .elementor-container {
    max-width: 400px;
  }
  .elementor-33909 .elementor-element.elementor-element-f647c7e {
    padding: 0 40px;
  }
  .elementor-33909 .elementor-element.elementor-element-d26c90c > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33909 .elementor-element.elementor-element-c2deff8 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33909 .elementor-element.elementor-element-52d3ed4 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33909 .elementor-element.elementor-element-f107845 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-f107845 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-6fd1670 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-6fd1670 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-0df48de > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-0df48de {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-2729817 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-2729817 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-68f03ae > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33909 .elementor-element.elementor-element-420bc74 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33909 .elementor-element.elementor-element-8cd2341 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33909 .elementor-element.elementor-element-dcdb177 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-dcdb177 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-72882b3 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-72882b3 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-c705cc7 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-c705cc7 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33909 .elementor-element.elementor-element-16e27ab > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33909 .elementor-element.elementor-element-16e27ab {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
}
.new-traders {
  width: 184px !important;
}
.new-traders a.elementor-button:active {
  color: #fff !important;
  background: #ff8055 !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .new-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .new-traders {
    width: 50% !important;
  }
  .new-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
.traders {
  width: 50% !important;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-image: linear-gradient(to top, #f2672a, #0f2d52) 1;
}
@media (max-width: 767px) {
  .traders {
    width: 100% !important;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(90deg, #f2672a, #0f2d52) 1 !important;
  }
}
.exp-traders {
  width: 184px !important;
}
.exp-traders a.elementor-button:active {
  color: #fff !important;
  background: #2c4d7a !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .exp-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .exp-traders {
    width: 50% !important;
  }
  .exp-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
