.elementor-39205 .elementor-element.elementor-element-afd20aa:not(.elementor-motion-effects-element-type-background),
.elementor-39205 .elementor-element.elementor-element-afd20aa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-39205 .elementor-element.elementor-element-afd20aa {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-afd20aa > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-a6e80ff > .elementor-element-populated {
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-d6ad0b6 > .elementor-container {
  max-width: 1030px;
  min-height: 500px;
}
.elementor-39205 .elementor-element.elementor-element-d6ad0b6 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-d6ad0b6 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-9e7f1b2.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-39205
  .elementor-element.elementor-element-9e7f1b2
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-39205 .elementor-element.elementor-element-9e7f1b2 {
  z-index: 2;
}
.elementor-39205 .elementor-element.elementor-element-392242e {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-392242e .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-392242e > .elementor-widget-container {
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-846e537 {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-846e537 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-846e537 > .elementor-widget-container {
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-e7bfcc5 {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-e7bfcc5 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 54px;
}
.elementor-39205 .elementor-element.elementor-element-e7bfcc5 > .elementor-widget-container {
  margin: 0 0 40px;
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-ed2fa51.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-39205 .elementor-element.elementor-element-b16be5d .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-b16be5d .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-b16be5d .elementor-button:focus {
  color: #0f2c52;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-b16be5d .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-b16be5d .elementor-button:focus svg {
  fill: #0f2c52;
}
.elementor-39205 .elementor-element.elementor-element-b16be5d > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-b16be5d {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button:focus {
  color: #f2672a;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button:focus svg {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-1913346 > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-1913346 {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-c6cf7c9.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-39205 .elementor-element.elementor-element-0e081f9 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-0e081f9 .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-0e081f9 .elementor-button:focus {
  color: #0f2c52;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-0e081f9 .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-0e081f9 .elementor-button:focus svg {
  fill: #0f2c52;
}
.elementor-39205 .elementor-element.elementor-element-0e081f9 > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-0e081f9 {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button:focus {
  color: #f2672a;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button:focus svg {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-ad4aa6c > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-ad4aa6c {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-b1ff710.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 .elementor-button:focus {
  color: #0f2c52;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 .elementor-button:focus svg {
  fill: #0f2c52;
}
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-3a2ddb2 {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button:focus {
  color: #f2672a;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button:focus svg {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-26c93b5 > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-26c93b5 {
  width: auto;
  max-width: auto;
}
.elementor-39205 .elementor-element.elementor-element-c6b620e > .elementor-container {
  max-width: 884px;
}
.elementor-39205 .elementor-element.elementor-element-c6b620e:not(.elementor-motion-effects-element-type-background),
.elementor-39205 .elementor-element.elementor-element-c6b620e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #0f2c52 0%, #000 100%);
}
.elementor-39205 .elementor-element.elementor-element-c6b620e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-c6b620e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-fef4e5f > .elementor-element-populated {
  padding: 0 0 100px;
}
.elementor-39205 .elementor-element.elementor-element-7d3ced7 {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-7d3ced7 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-7d3ced7 > .elementor-widget-container {
  margin: 0 0 40px;
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-6b41403 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-39205 .elementor-element.elementor-element-6b41403 > .elementor-widget-container {
  padding: 0 100px;
}
.elementor-39205 .elementor-element.elementor-element-22fef44 {
  --divider-border-style: solid;
  --divider-color: #fff;
  --divider-border-width: 1px;
}
.elementor-39205 .elementor-element.elementor-element-22fef44 .elementor-divider-separator {
  width: 100%;
}
.elementor-39205 .elementor-element.elementor-element-22fef44 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-39205 .elementor-element.elementor-element-fbf074e {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-fbf074e .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-fbf074e > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-f5732c6 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-39205 .elementor-element.elementor-element-f5732c6 > .elementor-widget-container {
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-9e04339 img {
  width: 185px;
}
.elementor-39205 .elementor-element.elementor-element-9e04339 > .elementor-widget-container {
  margin: 20px 0 40px;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button:focus {
  color: #f2672a;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button:focus svg {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 {
  width: 100%;
  max-width: 100%;
}
.elementor-39205 .elementor-element.elementor-element-2cecc0b {
  --divider-border-style: solid;
  --divider-color: #fff;
  --divider-border-width: 1px;
}
.elementor-39205 .elementor-element.elementor-element-2cecc0b .elementor-divider-separator {
  width: 100%;
}
.elementor-39205 .elementor-element.elementor-element-2cecc0b .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-39205 .elementor-element.elementor-element-468546f {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-468546f .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-468546f > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-043d8dd {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-39205 .elementor-element.elementor-element-043d8dd > .elementor-widget-container {
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-00c6eea img {
  width: 185px;
}
.elementor-39205 .elementor-element.elementor-element-00c6eea > .elementor-widget-container {
  margin: 20px 0 40px;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 6px;
  padding: 12px 30px;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button:hover,
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button:focus {
  color: #f2672a;
  background-color: #fff;
  border-color: #fff;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button:hover svg,
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button:focus svg {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e > .elementor-widget-container {
  margin: 0 5px;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e {
  width: 100%;
  max-width: 100%;
}
.elementor-39205 .elementor-element.elementor-element-8a2e2ae > .elementor-container {
  max-width: 1170px;
}
.elementor-39205 .elementor-element.elementor-element-8a2e2ae:not(.elementor-motion-effects-element-type-background),
.elementor-39205 .elementor-element.elementor-element-8a2e2ae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2024/08/section2-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-39205 .elementor-element.elementor-element-8a2e2ae {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 70px 0;
}
.elementor-39205 .elementor-element.elementor-element-8a2e2ae > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-39205 .elementor-element.elementor-element-190b1eb {
  text-align: center;
}
.elementor-39205 .elementor-element.elementor-element-190b1eb .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-39205 .elementor-element.elementor-element-190b1eb > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-39205 .elementor-element.elementor-element-5ddf29c {
  text-align: center;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-39205 .elementor-element.elementor-element-5ddf29c > .elementor-widget-container {
  padding: 0 150px;
}
.elementor-39205 .elementor-element.elementor-element-dff3544 {
  --image-transition-duration: 0.8s;
  --content-text-align: center;
  --content-padding: 20px;
  --content-transition-duration: 0.8s;
  --content-transition-delay: 0.8s;
}
.elementor-39205 .elementor-element.elementor-element-dff3544 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-39205 .elementor-element.elementor-element-59bb4e6 {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .elementor-39205 .elementor-element.elementor-element-392242e .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-846e537 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-e7bfcc5 .elementor-heading-title {
    font-size: 46px;
    line-height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-6b41403 {
    font-size: 16px;
    line-height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-fbf074e .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-f5732c6 {
    font-size: 16px;
    line-height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-468546f .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-043d8dd {
    font-size: 16px;
    line-height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-5de605e.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-5de605e > .elementor-element-populated {
    padding: 0 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-190b1eb .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-39205 .elementor-element.elementor-element-5ddf29c {
    font-size: 16px;
    line-height: 25px;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-d307dc9.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-d307dc9.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-d307dc9.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-5ae8b89 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-5ae8b89 > .elementor-widget-container {
    margin: 0;
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-5ae8b89 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-bfc0159 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-bfc0159 > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-bfc0159 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-67e83d3 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-67e83d3 > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-67e83d3 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-2035a2b img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-2035a2b > .elementor-widget-container {
    padding: 10px 20px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-2035a2b {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-4039c67.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-4039c67.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-4039c67.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 > .elementor-widget-container {
    margin: 0;
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-bd8fe92.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-bd8fe92.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-bd8fe92.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 > .elementor-widget-container {
    padding: 10px 20px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-67a8750.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-67a8750.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-67a8750.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-63f8524 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-63f8524 > .elementor-widget-container {
    margin: 0;
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-63f8524 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-5b9eb2b img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-5b9eb2b > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-5b9eb2b {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-a1522b3 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-a1522b3 > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-a1522b3 {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-75b0654.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-75b0654.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-75b0654.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-f362b65 img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-f362b65 > .elementor-widget-container {
    margin: 0;
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-f362b65 {
    width: auto;
    max-width: auto;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-d7e7bb6.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-39205
    .elementor-element.elementor-element-d7e7bb6.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-39205 .elementor-element.elementor-element-d7e7bb6.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd img {
    width: auto;
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd > .elementor-widget-container {
    padding: 10px 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd {
    width: auto;
    max-width: auto;
  }
}
@media (max-width: 1024px) {
  .elementor-39205 .elementor-element.elementor-element-392242e > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-846e537 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-e7bfcc5 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-fbf074e > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-468546f > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-190b1eb > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-5ae8b89 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-bfc0159 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-67e83d3 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-2035a2b img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-63f8524 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-5b9eb2b img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-a1522b3 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-f362b65 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd img {
    height: 40px;
  }
}
@media (max-width: 880px) {
  .elementor-39205 .elementor-element.elementor-element-392242e .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-39205 .elementor-element.elementor-element-392242e > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-846e537 .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-39205 .elementor-element.elementor-element-846e537 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-e7bfcc5 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-e7bfcc5 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-b16be5d > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-b16be5d {
    width: 100%;
    max-width: 100%;
  }
  .elementor-39205 .elementor-element.elementor-element-1913346 .elementor-button {
    padding: 12px 37px;
  }
  .elementor-39205 .elementor-element.elementor-element-1913346 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-0e081f9 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-0e081f9 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-39205 .elementor-element.elementor-element-ad4aa6c .elementor-button {
    padding: 12px 37px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad4aa6c {
    width: 100%;
    max-width: 100%;
  }
  .elementor-39205 .elementor-element.elementor-element-3a2ddb2 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-3a2ddb2 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-39205 .elementor-element.elementor-element-26c93b5 .elementor-button {
    padding: 12px 37px;
  }
  .elementor-39205 .elementor-element.elementor-element-26c93b5 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-39205 .elementor-element.elementor-element-fef4e5f > .elementor-element-populated {
    padding: 0 30px 100px;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 .elementor-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-fbf074e .elementor-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .elementor-39205 .elementor-element.elementor-element-468546f .elementor-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .elementor-39205 .elementor-element.elementor-element-190b1eb .elementor-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .elementor-39205 .elementor-element.elementor-element-5ae8b89 img {
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-bfc0159 img {
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-67e83d3 img {
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-2035a2b img {
    height: 50px;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e img {
    height: 40px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 img {
    height: 40px;
  }
}
@media (max-width: 780px) {
  .elementor-39205 .elementor-element.elementor-element-392242e > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-846e537 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-e7bfcc5 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-7d3ced7 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-6b41403 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-fbf074e > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-468546f > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-5de605e > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-39205 .elementor-element.elementor-element-190b1eb > .elementor-widget-container {
    padding: 0;
  }
  .elementor-39205 .elementor-element.elementor-element-5ddf29c > .elementor-widget-container {
    padding: 0;
  }
  .elementor-bc-flex-widget .elementor-39205 .elementor-element.elementor-element-4039c67.elementor-column .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-39205
    .elementor-element.elementor-element-4039c67.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-364b6a7 {
    align-self: center;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-29b78eb > .elementor-widget-container {
    padding: 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-3eefe0e > .elementor-widget-container {
    padding: 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-2196585 > .elementor-widget-container {
    padding: 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-f362b65 img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-576afba > .elementor-widget-container {
    padding: 0 10px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd img {
    height: 25px;
  }
  .elementor-39205 .elementor-element.elementor-element-ad677cd > .elementor-widget-container {
    padding: 0;
  }
}
#top-section {
  position: relative;
}
#top-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 350px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(15, 44, 82, 0) 0%, rgba(15, 44, 82, 1) 100%);
}
.elementor-39205 .elementor-element.elementor-element-9c80a98 .elementor-button:hover .elementor-align-icon-right svg path {
  fill: #f2672a;
}
.elementor-39205 .elementor-element.elementor-element-ef24b0e .elementor-button:hover .elementor-align-icon-right svg path {
  fill: #f2672a;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
