.elementor-26319 .elementor-element.elementor-element-843c233:not(.elementor-motion-effects-element-type-background),
.elementor-26319 .elementor-element.elementor-element-843c233 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-26319 .elementor-element.elementor-element-843c233 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-26319 .elementor-element.elementor-element-843c233 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26319
  .elementor-element.elementor-element-5ce6073
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-26319 .elementor-element.elementor-element-5ce6073 > .elementor-element-populated {
  padding: 0;
}
.elementor-26319 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-26319 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-26319 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/trading-accounts-herobanner-dark.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-26319 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-26319 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26319 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 52px;
  font-weight: 400;
}
.elementor-26319 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-8b90c14 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.elementor-26319 .elementor-element.elementor-element-8b90c14 > .elementor-widget-container {
  margin: 0 10px 0 0;
}
.elementor-26319 .elementor-element.elementor-element-8b90c14 {
  width: auto;
  max-width: auto;
}
.elementor-26319 .elementor-element.elementor-element-fcf8e8c {
  width: auto;
  max-width: auto;
}
.elementor-26319 .elementor-element.elementor-element-9946989 > .elementor-container {
  max-width: 1000px;
}
.elementor-26319 .elementor-element.elementor-element-9946989 {
  padding: 80px 0 20px;
}
.elementor-26319 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-26319 .elementor-element.elementor-element-381ba24 {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-381ba24 .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-381ba24 .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-381ba24 .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.elementor-26319 .elementor-element.elementor-element-381ba24 .elementor-icon-box-description {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.elementor-26319 .elementor-element.elementor-element-0401c4e {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-0401c4e .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-0401c4e .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-0401c4e .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}
.elementor-26319 .elementor-element.elementor-element-0401c4e .elementor-icon-box-description {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.elementor-26319 .elementor-element.elementor-element-5cd5a85 {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-5cd5a85 .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-5cd5a85 .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-5cd5a85 .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.elementor-26319 .elementor-element.elementor-element-9e02681 {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-9e02681 .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-9e02681 .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-9e02681 .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}
.elementor-26319 .elementor-element.elementor-element-42e4cff {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-42e4cff .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-42e4cff .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-42e4cff .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.elementor-26319 .elementor-element.elementor-element-dabdf9e {
  --icon-box-icon-margin: 20px;
}
.elementor-26319 .elementor-element.elementor-element-dabdf9e .elementor-icon {
  font-size: 80px;
}
.elementor-26319 .elementor-element.elementor-element-dabdf9e .elementor-icon-box-title,
.elementor-26319 .elementor-element.elementor-element-dabdf9e .elementor-icon-box-title a {
  font-family: 'Muli', Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}
.elementor-26319 .elementor-element.elementor-element-83d54da > .elementor-container {
  max-width: 1000px;
}
.elementor-26319 .elementor-element.elementor-element-83d54da > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26319 .elementor-element.elementor-element-83d54da {
  padding: 70px 0;
}
.elementor-26319 .elementor-element.elementor-element-1db2ee3 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26319 .elementor-element.elementor-element-a762d13 {
  text-align: center;
}
.elementor-26319 .elementor-element.elementor-element-a762d13 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 0;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li i {
  font-size: 16px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li img {
  width: 16px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li svg {
  width: 16px;
  height: 16px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-tab-inline-icon li .title-before-icon {
  margin-right: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-tab-inline-icon li .title-after-icon {
  margin-left: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-tab-top-icon li i,
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-tab-top-icon li img,
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-tab-top-icon li svg {
  margin-bottom: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li:hover {
  background-color: #f2672a;
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-nav > ul li.active {
  background-color: #f2672a;
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9a52d4e .eael-advance-tabs .eael-tabs-content > div {
  color: #333;
}
.elementor-26319 .elementor-element.elementor-element-b7f19f3 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26319 .elementor-element.elementor-element-b756e18 .elementor-button {
  border-radius: 30px;
}
.elementor-bc-flex-widget .elementor-26319 .elementor-element.elementor-element-b249691.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-26319
  .elementor-element.elementor-element-b249691.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-26319 .elementor-element.elementor-element-b249691 > .elementor-element-populated {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #777;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-26319 .elementor-element.elementor-element-b249691 > .elementor-element-populated,
.elementor-26319 .elementor-element.elementor-element-b249691 > .elementor-element-populated > .elementor-background-overlay,
.elementor-26319 .elementor-element.elementor-element-b249691 > .elementor-background-slideshow {
  border-radius: 0;
}
.elementor-26319 .elementor-element.elementor-element-b249691 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26319 .elementor-element.elementor-element-2b26a15 {
  text-align: left;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 6px;
}
body:not(.rtl) .elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 6px;
}
body .elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 6px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-26319
  .elementor-element.elementor-element-9fcc5d0
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-26319
  .elementor-element.elementor-element-9fcc5d0
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-26319
  .elementor-element.elementor-element-9fcc5d0
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .gloo-signature-button-clear {
  border-radius: 3px;
}
.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  background-color: #ddd;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: #ddd !important;
}
.iti--allow-dropdown .iti__arrow {
  border-top-color: #000;
}
.elementor-26319
  .elementor-element.elementor-element-9fcc5d0
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 30px;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-9fcc5d0 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-26319 .elementor-element.elementor-element-3931cb0 > .elementor-container {
  max-width: 1280px;
}
.elementor-26319 .elementor-element.elementor-element-3931cb0 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26319 .elementor-element.elementor-element-3931cb0 {
  padding: 70px 0;
}
.elementor-26319 .elementor-element.elementor-element-1040ea4.elementor-column > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-26319 .elementor-element.elementor-element-1040ea4 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26319 .elementor-element.elementor-element-9a40a96 {
  text-align: center;
}
.elementor-26319 .elementor-element.elementor-element-9a40a96 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-item {
  border-width: 0;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-icon,
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-active .elementor-accordion-icon,
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .elementor-26319 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-26319 .elementor-element.elementor-element-a762d13 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-26319 .elementor-element.elementor-element-9a40a96 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (min-width: 781px) {
  .elementor-26319 .elementor-element.elementor-element-1c0d431 {
    width: 62.039%;
  }
  .elementor-26319 .elementor-element.elementor-element-b7fa669 {
    width: 37.914%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-26319 .elementor-element.elementor-element-1c0d431 {
    width: 75%;
  }
  .elementor-26319 .elementor-element.elementor-element-b7fa669 {
    width: 24%;
  }
}
@media (max-width: 780px) {
  .elementor-26319 .elementor-element.elementor-element-9946989 {
    padding: 40px 0 20px;
  }
  .elementor-26319 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-26319 .elementor-element.elementor-element-a762d13 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-26319 .elementor-element.elementor-element-b7f19f3 {
    text-align: center;
  }
  .elementor-26319 .elementor-element.elementor-element-2b26a15 {
    text-align: center;
  }
  .elementor-26319 .elementor-element.elementor-element-9a40a96 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-accordion-title {
    font-size: 14px;
  }
  .elementor-26319 .elementor-element.elementor-element-3d810b6 .elementor-tab-content {
    font-size: 16px;
  }
}
#pnl_enquire {
  display: none;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
