.elementor-18666 .elementor-element.elementor-element-2af5de1 > .elementor-container {
  max-width: 1280px;
}
.elementor-18666 .elementor-element.elementor-element-2af5de1:not(.elementor-motion-effects-element-type-background),
.elementor-18666 .elementor-element.elementor-element-2af5de1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18666 .elementor-element.elementor-element-2af5de1 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18666 .elementor-element.elementor-element-2af5de1 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18666 .elementor-element.elementor-element-1515703 > .elementor-element-populated {
  padding: 0;
}
.elementor-18666 .elementor-element.elementor-element-03b0f57 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18666 .elementor-element.elementor-element-03b0f57:not(.elementor-motion-effects-element-type-background),
.elementor-18666 .elementor-element.elementor-element-03b0f57 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-2326.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-18666 .elementor-element.elementor-element-03b0f57 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18666 .elementor-element.elementor-element-03b0f57 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18666 .elementor-element.elementor-element-86722d5 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18666 .elementor-element.elementor-element-1839636 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-18666 .elementor-element.elementor-element-3f4c52b > .elementor-container {
  max-width: 1280px;
}
.elementor-18666 .elementor-element.elementor-element-3f4c52b {
  padding: 80px 0;
}
.elementor-18666 .elementor-element.elementor-element-8a5dae1 > .elementor-element-populated {
  padding: 0 50px 0 20px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-posts-container .elementor-post__thumbnail {
  padding-bottom: calc(0.54 * 100%);
}
.elementor-18666 .elementor-element.elementor-element-c1bce65:after {
  content: '0.54';
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__meta-data span + span:before {
  content: '|';
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__thumbnail {
  border-radius: 6px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
  margin-right: 20px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
  margin-left: 20px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
  margin-bottom: 20px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__title,
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__title a {
  color: #0f2c52;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__title {
  margin-bottom: 10px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__meta-data {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-18666 .elementor-element.elementor-element-c1bce65 a.elementor-post__read-more {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-18666 .elementor-element.elementor-element-6a7aec9 > .elementor-element-populated {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #d3d2d2;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0 20px 0 50px;
}
.elementor-18666 .elementor-element.elementor-element-6a7aec9 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18666 .elementor-element.elementor-element-2797d5a > .elementor-container {
  max-width: 1280px;
}
.elementor-18666 .elementor-element.elementor-element-2797d5a {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-18666 .elementor-element.elementor-element-ad813b7 .elementor-heading-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-posts-container .elementor-post__thumbnail {
  padding-bottom: calc(0.54 * 100%);
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f:after {
  content: '0.54';
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__meta-data span + span:before {
  content: '|';
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
  margin-right: 10px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
  margin-left: 10px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
  margin-bottom: 10px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__title,
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__title a {
  color: #0f2c52;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__title {
  margin-bottom: 10px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__meta-data {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f a.elementor-post__read-more {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 100px;
  padding: 12px 35px;
}
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-button:hover,
.elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-button:focus {
  background-color: #0f2c52;
}
@media (min-width: 781px) {
  .elementor-18666 .elementor-element.elementor-element-2fd4608 {
    width: 64.466%;
  }
  .elementor-18666 .elementor-element.elementor-element-dcf8bc8 {
    width: 34.816%;
  }
  .elementor-18666 .elementor-element.elementor-element-8a5dae1 {
    width: 70.086%;
  }
  .elementor-18666 .elementor-element.elementor-element-6a7aec9 {
    width: 29.87%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-18666 .elementor-element.elementor-element-2fd4608 {
    width: 100%;
  }
  .elementor-18666 .elementor-element.elementor-element-8a5dae1 {
    width: 60%;
  }
  .elementor-18666 .elementor-element.elementor-element-6a7aec9 {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .elementor-18666 .elementor-element.elementor-element-1839636 {
    font-size: 16px;
  }
  .elementor-18666 .elementor-element.elementor-element-dcf8bc8 > .elementor-element-populated {
    padding: 0;
  }
  .elementor-18666 .elementor-element.elementor-element-8a5dae1 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18666 .elementor-element.elementor-element-6a7aec9 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18666 .elementor-element.elementor-element-ad813b7 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 780px) {
  .elementor-18666 .elementor-element.elementor-element-3f4c52b {
    padding: 40px 0;
  }
  .elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-18666 .elementor-element.elementor-element-c1bce65:after {
    content: '0.5';
  }
  .elementor-18666 .elementor-element.elementor-element-c1bce65 .elementor-post__thumbnail__link {
    width: 100%;
  }
  .elementor-18666 .elementor-element.elementor-element-6a7aec9 > .elementor-element-populated {
    margin: 40px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-18666 .elementor-element.elementor-element-ad813b7 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-18666 .elementor-element.elementor-element-9df6d2f:after {
    content: '0.5';
  }
  .elementor-18666 .elementor-element.elementor-element-9df6d2f .elementor-post__thumbnail__link {
    width: 100%;
  }
}
.top-post.elementor-posts--thumbnail-top .elementor-post__text {
  background-color: #fff;
  padding: 25px 0 0;
  position: relative;
  margin-top: -15%;
  width: 70%;
  box-shadow: 0 30px 60px 0 rgba(15, 44, 82, 0.2);
  border-radius: 6px;
  overflow: hidden;
}
.top-post .elementor-posts--skin-classic .elementor-post {
  overflow: visible;
}
.top-post .elementor-post__read-more {
  width: 100%;
  padding: 12px 30px;
  color: #fff !important;
  background-color: #f2672a;
  display: block;
}
.top-post .elementor-post__read-more:hover {
  background-color: #0f2c52;
}
.top-post .elementor-post__title {
  padding: 0 25px;
}
.top-post .elementor-post__meta-data {
  padding: 0 25px;
}
@media (max-width: 767px) {
  .top-post.elementor-posts--thumbnail-top .elementor-post__text {
    width: 100%;
  }
}
.bottom-recent-news .elementor-button {
  min-width: 240px;
  max-width: 100%;
  margin-top: 20px;
}
.elementor-post__read-more i {
  margin-right: 10px;
}
a.elementor-post__read-more:hover {
  color: #0f2c52;
}
.bottom-recent-news .elementor-post__text {
  padding: 15px;
  background-color: #fff;
}
.bottom-recent-news .elementor-post {
  box-shadow: 0 30px 60px 0 rgba(15, 44, 82, 0.1);
  border-radius: 6px;
}
.elementor-post__read-more i {
  margin-right: 10px;
}
.elementor-post__read-more:hover {
  color: #0f2c52;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
