.elementor-18589 .elementor-element.elementor-element-ea0484f > .elementor-container {
  max-width: 1280px;
}
.elementor-18589 .elementor-element.elementor-element-ea0484f:not(.elementor-motion-effects-element-type-background),
.elementor-18589 .elementor-element.elementor-element-ea0484f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18589 .elementor-element.elementor-element-ea0484f {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-ea0484f > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-b997ddb > .elementor-element-populated {
  padding: 0;
}
.elementor-18589 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18589 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-18589 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/09/tradinging-accounts-herobanner-arabic.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-18589 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 1280px;
}
.elementor-18589 .elementor-element.elementor-element-7f8ddbf {
  padding: 80px 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-b753b34 {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-f07fdcc > .elementor-container {
  max-width: 1180px;
}
.elementor-18589 .elementor-element.elementor-element-f07fdcc {
  padding: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-e287963 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-079d67d {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-079d67d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18589 .elementor-element.elementor-element-53037a7 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-5d7f68c {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18589 .elementor-element.elementor-element-6517da9 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-fe4377d {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18589 .elementor-element.elementor-element-14c7450 img {
  width: 70px;
  height: 70px;
}
.elementor-18589 .elementor-element.elementor-element-a8bf63a {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18589 .elementor-element.elementor-element-14b2dd6 > .elementor-container {
  max-width: 1280px;
}
.elementor-18589 .elementor-element.elementor-element-14b2dd6 {
  padding: 0 0 60px;
}
.elementor-18589 .elementor-element.elementor-element-1cace92 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-b44548a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-00f4f97:not(.elementor-motion-effects-element-type-background),
.elementor-18589 .elementor-element.elementor-element-00f4f97 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18589 .elementor-element.elementor-element-00f4f97 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 80px 0 60px;
}
.elementor-18589 .elementor-element.elementor-element-00f4f97 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-5e40461 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-15ea889 {
  text-align: center;
}
.elementor-18589 .elementor-element.elementor-element-15ea889 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-7d270f6 > .elementor-container {
  max-width: 1240px;
}
.elementor-18589 .elementor-element.elementor-element-446ed92 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-18589 .elementor-element.elementor-element-8975043 > .elementor-container {
  max-width: 860px;
}
.elementor-18589 .elementor-element.elementor-element-8975043 {
  padding: 80px 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-3e659df .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-6e272ec {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-052fa1f > .elementor-container {
  max-width: 860px;
}
.elementor-18589 .elementor-element.elementor-element-052fa1f {
  padding: 80px 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-cdab1cf .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-69c1a02 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-57a2415 > .elementor-container {
  max-width: 1180px;
}
.elementor-18589 .elementor-element.elementor-element-c93df72 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-c93df72 img {
  width: 70px;
  height: 70px;
}
.elementor-18589 .elementor-element.elementor-element-78479d7 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-78479d7 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-73ac61e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button:hover,
.elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button:hover svg,
.elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button:focus svg {
  fill: #fff;
}
body:not(.rtl) .elementor-18589 .elementor-element.elementor-element-174b73c {
  left: 0;
}
body.rtl .elementor-18589 .elementor-element.elementor-element-174b73c {
  right: 0;
}
.elementor-18589 .elementor-element.elementor-element-174b73c {
  bottom: 0;
}
.elementor-18589 .elementor-element.elementor-element-af7c407 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-af7c407 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-fac8530 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-fac8530 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-e884ea6 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button:hover,
.elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button:hover svg,
.elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button:focus svg {
  fill: #fff;
}
body:not(.rtl) .elementor-18589 .elementor-element.elementor-element-8014c84 {
  left: 0;
}
body.rtl .elementor-18589 .elementor-element.elementor-element-8014c84 {
  right: 0;
}
.elementor-18589 .elementor-element.elementor-element-8014c84 {
  bottom: 0;
}
.elementor-18589 .elementor-element.elementor-element-47d4fc2 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-47d4fc2 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-37f655b {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-37f655b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-5ba4d99 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-497893e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-18589 .elementor-element.elementor-element-497893e .elementor-button:hover,
.elementor-18589 .elementor-element.elementor-element-497893e .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-18589 .elementor-element.elementor-element-497893e .elementor-button:hover svg,
.elementor-18589 .elementor-element.elementor-element-497893e .elementor-button:focus svg {
  fill: #fff;
}
body:not(.rtl) .elementor-18589 .elementor-element.elementor-element-497893e {
  left: 0;
}
body.rtl .elementor-18589 .elementor-element.elementor-element-497893e {
  right: 0;
}
.elementor-18589 .elementor-element.elementor-element-497893e {
  bottom: 0;
}
.elementor-18589 .elementor-element.elementor-element-fe5e59f {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-fe5e59f img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-3c6d79e {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-3c6d79e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-14f605e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button:hover,
.elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button:hover svg,
.elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button:focus svg {
  fill: #fff;
}
body:not(.rtl) .elementor-18589 .elementor-element.elementor-element-2b0b146 {
  left: 0;
}
body.rtl .elementor-18589 .elementor-element.elementor-element-2b0b146 {
  right: 0;
}
.elementor-18589 .elementor-element.elementor-element-2b0b146 {
  bottom: 0;
}
.elementor-18589 .elementor-element.elementor-element-5119cb2 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-5119cb2 img {
  width: 70px;
}
.elementor-18589 .elementor-element.elementor-element-9582474 {
  text-align: right;
}
.elementor-18589 .elementor-element.elementor-element-9582474 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-e01ece9 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button:hover,
.elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button:hover svg,
.elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button:focus svg {
  fill: #fff;
}
body:not(.rtl) .elementor-18589 .elementor-element.elementor-element-a558c64 {
  left: 0;
}
body.rtl .elementor-18589 .elementor-element.elementor-element-a558c64 {
  right: 0;
}
.elementor-18589 .elementor-element.elementor-element-a558c64 {
  bottom: 0;
}
.elementor-18589 .elementor-element.elementor-element-6ba244e > .elementor-container {
  max-width: 860px;
}
.elementor-18589 .elementor-element.elementor-element-6ba244e {
  padding: 80px 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
  color: #0f2c52;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
}
.elementor-18589 .elementor-element.elementor-element-c59115a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18589 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-4373ec8 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18589 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-92434ac {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18589 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-e538492 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18589 .elementor-element.elementor-element-51486066 > .elementor-container {
  max-width: 1280px;
}
.elementor-18589 .elementor-element.elementor-element-51486066 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18589 .elementor-element.elementor-element-1ac75c45 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-icon,
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-efbcf30 > .elementor-container {
  max-width: 1280px;
}
.elementor-18589 .elementor-element.elementor-element-efbcf30 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18589 .elementor-element.elementor-element-0dff416 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-accordion-item {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-active .elementor-accordion-icon,
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-eafa70f > .elementor-container {
  max-width: 860px;
}
.elementor-18589 .elementor-element.elementor-element-eafa70f {
  padding: 80px 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18589 .elementor-element.elementor-element-3d9080a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-122b0624 > .elementor-container {
  max-width: 1180px;
}
.elementor-18589 .elementor-element.elementor-element-122b0624 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18589 .elementor-element.elementor-element-122b0624 {
  padding: 80px 0 50px;
}
.elementor-18589 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-c77c9bc:not(.elementor-motion-effects-element-type-background),
.elementor-18589 .elementor-element.elementor-element-c77c9bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-18589 .elementor-element.elementor-element-c77c9bc,
.elementor-18589 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-18589 .elementor-element.elementor-element-c77c9bc {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-18589 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-4de9624b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 31px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-4de9624b > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-18589 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18589 .elementor-element.elementor-element-7430303c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.elementor-18589 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18589
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-18589
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-18589
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-18589 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (max-width: 1024px) {
  .elementor-18589 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-5e40461 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-446ed92 {
    font-size: 14px;
  }
  .elementor-18589 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-cdab1cf .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-18589 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18589 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18589 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18589 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18589 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 30% 20% 0;
  }
}
@media (min-width: 781px) {
  .elementor-18589 .elementor-element.elementor-element-1c0d431 {
    width: 60%;
  }
  .elementor-18589 .elementor-element.elementor-element-b7fa669 {
    width: 39.953%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-18589 .elementor-element.elementor-element-1c0d431 {
    width: 75%;
  }
  .elementor-18589 .elementor-element.elementor-element-b7fa669 {
    width: 24%;
  }
}
@media (max-width: 780px) {
  .elementor-18589 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18589 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18589 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18589 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18589 .elementor-element.elementor-element-00f4f97 {
    padding: 40px 0 30px;
  }
  .elementor-18589 .elementor-element.elementor-element-5e40461 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-8975043 {
    padding: 40px 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-6e272ec {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-052fa1f {
    padding: 40px 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-cdab1cf .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-69c1a02 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18589 .elementor-element.elementor-element-c93df72 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-78479d7 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-73ac61e {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-174b73c .elementor-button {
    font-size: 13px;
  }
  .elementor-18589 .elementor-element.elementor-element-af7c407 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-fac8530 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-e884ea6 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-8014c84 .elementor-button {
    font-size: 13px;
  }
  .elementor-18589 .elementor-element.elementor-element-47d4fc2 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-37f655b {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-5ba4d99 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-497893e .elementor-button {
    font-size: 13px;
  }
  .elementor-18589 .elementor-element.elementor-element-fe5e59f {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-3c6d79e {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-14f605e {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-2b0b146 .elementor-button {
    font-size: 13px;
  }
  .elementor-18589 .elementor-element.elementor-element-5119cb2 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-9582474 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-e01ece9 {
    text-align: center;
  }
  .elementor-18589 .elementor-element.elementor-element-a558c64 .elementor-button {
    font-size: 13px;
  }
  .elementor-18589 .elementor-element.elementor-element-6ba244e {
    padding: 40px 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
    font-size: 30px;
    line-height: 50px;
  }
  .elementor-18589 .elementor-element.elementor-element-c59115a {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-4373ec8 {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-92434ac {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-e538492 {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-title {
    font-size: 14px;
  }
  .elementor-18589 .elementor-element.elementor-element-6d20d2eb .elementor-tab-content {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-accordion-title {
    font-size: 14px;
  }
  .elementor-18589 .elementor-element.elementor-element-4e90395 .elementor-tab-content {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-eafa70f {
    padding: 40px 0 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18589 .elementor-element.elementor-element-3d9080a {
    font-size: 16px;
  }
  .elementor-18589 .elementor-element.elementor-element-122b0624 {
    padding: 20px 0 30px;
  }
  .elementor-18589 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 20% 20% 0;
  }
  .elementor-18589 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-18589 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
    margin: 5px;
  }
}
.mt4-features .default-button.elementor-widget-button .elementor-button {
  min-width: 0;
}
ul.pricing-list {
  margin: -10px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-list li {
  padding: 10px;
  flex: 0 0 45%;
  max-width: 45%;
}
.pricing-list.col4 li {
  flex: 0 0 25%;
  max-width: 25%;
}
.pricing-item {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 42.426px 42.426px 60px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 100px;
}
.pricing-item:hover {
  margin-top: -20px;
  border-color: #f2672a;
}
.pricing-heading {
  margin-bottom: 20px;
}
.pricing-title {
  color: #0f2c52;
  margin-bottom: 0;
}
a.pricing-btn {
  display: inline-block;
  width: 100%;
  background-color: #0f2752;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding: 16px 25px;
  border: 1px solid transparent;
  border-radius: 100px;
  text-align: center;
  position: absolute;
  width: calc(100% - 50px);
  left: 25px;
  bottom: 25px;
}
.pricing-item:hover a.pricing-btn {
  background-color: #f2672a;
}
.pricing-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: url(https://atfxdev.wpengine.com/wp-content/uploads/2023/06/green_tick.webp);
}
.pricing-feature-item.uncheck .pricing-icon {
  background: url(https://atfxdev.wpengine.com/wp-content/uploads/2023/06/grey_tick.webp);
}
.pricing-feature-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}
.pricing-feature-item div:nth-child(1) {
  font-weight: 700;
  flex: 1 1 auto;
  word-break: break-word;
}
.pricing-feature-item div:nth-child(2) {
  flex: 0 0 110px;
}
.pricing-feature-item div:last-child {
  flex: 0 0 26px;
}
.pricing-features-toggle {
  display: none;
}
@media (max-width: 1024px) {
  .pricing-list.col4 li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pricing-item {
    padding: 20px 10px 100px;
  }
  .pricing-item:hover {
    margin-top: 0;
  }
  .pricing-feature-item div:nth-child(1) {
    flex: 1 1 40%;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 10px;
  }
  .pricing-feature-item div:nth-child(2) {
    flex: 1 1 40%;
    word-wrap: break-word;
    word-break: break-all;
  }
}
@media (max-width: 767px) {
  .pricing-list li,
  .pricing-list.col4 li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pricing-item {
    padding-bottom: 40px;
    box-shadow: none;
    border: none;
  }
  .pricing-item:hover {
    border: 1px solid #f2672a;
  }
  .pricing-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pricing-title {
    margin-right: 10px;
    flex: 1 1 auto;
  }
  a.pricing-btn {
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    width: auto;
    white-space: nowrap;
  }
  .pricing-features-toggle {
    display: block;
    background-color: #dee1e5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 11px;
    font-weight: 799;
    text-align: center;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
  }
  .pricing-features-toggle span:nth-child(2) {
    display: none;
  }
  .pricing-features-toggle.active span:nth-child(1) {
    display: none;
  }
  .pricing-features-toggle.active span:nth-child(2) {
    display: inline;
  }
  .pricing-features-toggle:before,
  .pricing-features-toggle:after {
    content: '';
    display: block;
    width: 10px;
    height: 7px;
    position: absolute;
    background: url(https://atfxdev.wpengine.com/wp-content/uploads/2023/06/angle_up.webp);
    top: 18px;
    transform: rotate(180deg);
  }
  .pricing-features-toggle:before {
    left: 10px;
  }
  .pricing-features-toggle:after {
    right: 10px;
  }
  .pricing-features-toggle.active:before,
  .pricing-features-toggle.active:after {
    transform: rotate(0deg);
  }
  .pricing-features {
    display: none;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
