.elementor-31235 .elementor-element.elementor-element-8ad6d9c > .elementor-container {
  max-width: 1280px;
}
.elementor-31235 .elementor-element.elementor-element-8ad6d9c:not(.elementor-motion-effects-element-type-background),
.elementor-31235 .elementor-element.elementor-element-8ad6d9c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31235 .elementor-element.elementor-element-8ad6d9c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-8ad6d9c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-618e3d1 > .elementor-element-populated {
  padding: 0;
}
.elementor-31235 .elementor-element.elementor-element-9a4570d > .elementor-container {
  max-width: 1030px;
  min-height: 500px;
}
.elementor-31235 .elementor-element.elementor-element-9a4570d:not(.elementor-motion-effects-element-type-background),
.elementor-31235 .elementor-element.elementor-element-9a4570d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-31235 .elementor-element.elementor-element-9a4570d {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-9a4570d > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-4b3e862 .elementor-heading-title {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-93d8f04 {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-3a3ceb5 > .elementor-container {
  max-width: 860px;
}
.elementor-31235 .elementor-element.elementor-element-3a3ceb5 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.elementor-31235 .elementor-element.elementor-element-7a61b41 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31235 .elementor-element.elementor-element-7a61b41:not(.elementor-motion-effects-element-type-background),
.elementor-31235 .elementor-element.elementor-element-7a61b41 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
}
.elementor-31235 .elementor-element.elementor-element-7a61b41 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 15px;
}
.elementor-31235 .elementor-element.elementor-element-7a61b41 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-8237530 .elementor-heading-title {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-6554b43 {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-92324c5 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-31235 .elementor-element.elementor-element-b39f71c > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31235 .elementor-element.elementor-element-b39f71c:not(.elementor-motion-effects-element-type-background),
.elementor-31235 .elementor-element.elementor-element-b39f71c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
}
.elementor-31235 .elementor-element.elementor-element-b39f71c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 15px;
}
.elementor-31235 .elementor-element.elementor-element-b39f71c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-b7bcaa9 .elementor-heading-title {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-2db519a {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-99469c5 > .elementor-container {
  max-width: 860px;
}
.elementor-31235 .elementor-element.elementor-element-99469c5 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.elementor-31235 .elementor-element.elementor-element-5d187bc > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-72fc59d {
  text-align: left;
}
.elementor-31235 .elementor-element.elementor-element-d433c2c > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-b525541 {
  text-align: left;
}
.elementor-31235 .elementor-element.elementor-element-568ce8b > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-4cf9529 {
  color: #4c4c4c;
}
.elementor-31235 .elementor-element.elementor-element-b5f2c76 {
  text-align: left;
}
.elementor-31235 .elementor-element.elementor-element-2c29124 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-fb53d8b {
  text-align: left;
}
.elementor-31235 .elementor-element.elementor-element-0c168eb > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-fcc1a72 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-75424b4 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-a041170 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-fab35f4 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-4e31ba3 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-31235 .elementor-element.elementor-element-381aac1 > .elementor-container {
  max-width: 860px;
}
.elementor-31235 .elementor-element.elementor-element-ec368bb {
  color: #4c4c4c;
}
.elementor-31235 .elementor-element.elementor-element-d8495ba > .elementor-container {
  max-width: 1280px;
}
.elementor-31235 .elementor-element.elementor-element-d8495ba > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31235 .elementor-element.elementor-element-54a49fd {
  --spacer-size: 50px;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-accordion-item {
  border-width: 0;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-icon,
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 600;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31235 .elementor-element.elementor-element-e4d268a .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
.elementor-31235 .elementor-element.elementor-element-808175a {
  --spacer-size: 50px;
}
.elementor-31235 .elementor-element.elementor-element-3d28a6d > .elementor-container {
  max-width: 860px;
}
.elementor-31235 .elementor-element.elementor-element-63d7666 {
  color: #4c4c4c;
}
.elementor-31235 .elementor-element.elementor-element-55e695f {
  --spacer-size: 50px;
}
.elementor-31235 .elementor-element.elementor-element-f65c816 > .elementor-container {
  max-width: 1180px;
}
.elementor-31235 .elementor-element.elementor-element-f65c816 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31235 .elementor-element.elementor-element-f65c816 {
  padding: 80px 0 50px;
}
.elementor-31235 .elementor-element.elementor-element-408061d9 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31235 .elementor-element.elementor-element-5e6676b1:not(.elementor-motion-effects-element-type-background),
.elementor-31235 .elementor-element.elementor-element-5e6676b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-31235 .elementor-element.elementor-element-5e6676b1,
.elementor-31235 .elementor-element.elementor-element-5e6676b1 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-31235 .elementor-element.elementor-element-5e6676b1 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-31235 .elementor-element.elementor-element-5e6676b1 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-7adbf435 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 50px;
}
.elementor-31235 .elementor-element.elementor-element-7adbf435 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-31235 .elementor-element.elementor-element-502da968 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 50px;
}
.elementor-31235 .elementor-element.elementor-element-502da968 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31235
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-31235
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-31235
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31235 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-text {
  color: #24282d;
  transition: color 0.3s;
}
:root {
  --page-title-display: none;
}
@media (min-width: 781px) {
  .elementor-31235 .elementor-element.elementor-element-b46bb77 {
    width: 65%;
  }
  .elementor-31235 .elementor-element.elementor-element-58bd6c6 {
    width: 35%;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
