.elementor-27703 .elementor-element.elementor-element-fdeba30 > .elementor-container {
  max-width: 1280px;
}
.elementor-27703 .elementor-element.elementor-element-fdeba30 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27703 .elementor-element.elementor-element-fdeba30 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-8b4688b > .elementor-element-populated {
  padding: 0 0 0 20px;
}
.elementor-27703 .elementor-element.elementor-element-1e9fed5 > .elementor-element-populated {
  padding: 0 20px 0 0;
}
.elementor-27703 .elementor-element.elementor-element-d7dcd7f > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27703 .elementor-element.elementor-element-d7dcd7f,
.elementor-27703 .elementor-element.elementor-element-d7dcd7f > .elementor-background-overlay {
  border-radius: 0 5px 5px 0;
}
.elementor-27703 .elementor-element.elementor-element-d7dcd7f {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-7a58c36 > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-dad04ee {
  color: #0f2c52;
  font-size: 16px;
}
.elementor-27703 .elementor-element.elementor-element-dad04ee > .elementor-widget-container {
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-05d6fb4 > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-949c104 .cpel-switcher__lang a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0f2c52;
}
.elementor-27703 .elementor-element.elementor-element-949c104 .cpel-switcher__icon {
  color: #0f2c52;
}
.elementor-27703 .elementor-element.elementor-element-949c104 .cpel-switcher__lang a:hover,
.elementor-27703 .elementor-element.elementor-element-949c104 .cpel-switcher__lang a:focus {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  color: #0f2c52;
}
.elementor-27703 .elementor-element.elementor-element-949c104 > .elementor-widget-container {
  padding: 29px 20px;
}
.elementor-27703 .elementor-element.elementor-element-f674b5a > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27703 .elementor-element.elementor-element-f674b5a {
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-9e35eff > .elementor-element-populated {
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu .elementor-item {
  font-family: 'Mulish', Sans-serif;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main .elementor-item {
  color: #24282d;
  fill: #24282d;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0;
  padding-bottom: 0;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main .elementor-item:hover,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main .elementor-item:focus {
  color: #f2672a;
  fill: #f2672a;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
  background-color: #f2672a;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .e--pointer-framed .elementor-item:before,
.elementor-27703 .elementor-element.elementor-element-3241fcf .e--pointer-framed .elementor-item:after {
  border-color: #f2672a;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-menu-toggle {
  color: #24282d;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown {
  background-color: #f5f5f5;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a:hover,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a.highlighted,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-menu-toggle:hover {
  color: #f2672a;
}
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a:hover,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-27703 .elementor-element.elementor-element-3241fcf .elementor-nav-menu--dropdown a.highlighted {
  background-color: #f5f5f5;
}
.elementor-27703 .elementor-element.elementor-element-4aec735 > .elementor-element-populated {
  padding: 0;
}
.elementor-27703 .elementor-element.elementor-element-56be0c5 .elementor-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  box-shadow: 0px 30px 60px 0px rgba(15.000000000000004, 44.000000000000036, 81.99999999999999, 0.1);
  padding: 15px 30px;
}
.elementor-27703 .elementor-element.elementor-element-56be0c5 .elementor-button:hover,
.elementor-27703 .elementor-element.elementor-element-56be0c5 .elementor-button:focus {
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, #f2672a 100%);
}
.elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  fill: #fff;
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, #f2672a 100%);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  padding: 15px 25px;
}
.elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button:hover,
.elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button:focus {
  color: #0f2c52;
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  border-color: #0f2c52;
}
.elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button:hover svg,
.elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button:focus svg {
  fill: #0f2c52;
}
.elementor-27703 .elementor-element.elementor-element-5e5e528 {
  width: var(--container-widget-width, 110.968%);
  max-width: 110.968%;
  --container-widget-width: 110.968%;
  --container-widget-flex-grow: 0;
}
@media (max-width: 1024px) {
  .elementor-27703 .elementor-element.elementor-element-56be0c5 .elementor-button {
    padding: 14px 20px;
  }
  .elementor-27703 .elementor-element.elementor-element-5e5e528 .elementor-button {
    padding: 14px 20px;
  }
}
@media (min-width: 781px) {
  .elementor-27703 .elementor-element.elementor-element-8b4688b {
    width: 20%;
  }
  .elementor-27703 .elementor-element.elementor-element-1e9fed5 {
    width: 80%;
  }
  .elementor-27703 .elementor-element.elementor-element-9e35eff {
    width: 75%;
  }
  .elementor-27703 .elementor-element.elementor-element-4aec735 {
    width: 25%;
  }
}
.search-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 44, 82, 0.8);
  z-index: 99;
}
.admin-bar .search-wrapper {
  padding-top: 32px;
}
.search-wrapper > div {
  width: 100%;
  padding: 40px 0 22px;
  background-color: #fff;
}
.search-content {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
}
body .elementor-section.elementor-top-section.elementor-element .search-content img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 15px;
}
.search-close-img {
  cursor: pointer;
  right: 20px;
}
body .search-wrapper .search-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 40px;
  height: 57px;
  line-height: 37px;
  padding: 10px 30px 10px 50px;
  margin-bottom: 17px;
  border: none;
  color: #212c66;
}
.search-input:focus {
  outline: 0;
}
.search-wrapper input::-webkit-input-placeholder {
  color: #212c66;
}
.search-wrapper input:-moz-placeholder {
  color: #212c66;
}
.search-wrapper input::-moz-placeholder {
  color: #212c66;
}
.search-wrapper input:-ms-input-placeholder {
  color: #212c66;
}
@media (max-width: 1300px) {
  .search-content {
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .search-content {
    max-width: 960px;
  }
}
@media (max-width: 980px) {
  .search-wrapper > div {
    padding: 31px 0 14px;
  }
}
@media (max-width: 767px) {
  .admin-bar .search-wrapper {
    padding-top: 46px;
  }
  body .elementor-section.elementor-top-section.elementor-element .search-content img {
    width: 18px;
    height: 18px;
    top: 18px;
  }
  .search-wrapper > div {
    padding: 30px 0 22px;
  }
  body .search-wrapper .search-input {
    padding-top: 4px;
    margin-bottom: 10px;
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  body .elementor-column.elementor-element.header-logo {
    width: 14.9%;
  }
}
@media (max-width: 767px) {
  body .elementor-column.elementor-element.header-logo {
    width: 100px;
  }
  body .elementor-column.elementor-element.header-logo img {
    width: 100px;
  }
}
.external-links {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.external-links > li > a {
  display: inline-block;
  padding: 10px 35px;
  color: #0f2c52;
  font-weight: 400;
  text-decoration: none;
}
.external-links > li > a:hover {
  color: #f2672a;
}
.external-links > li:first-child > a {
  padding-left: 21px;
  position: relative;
}
.external-links > li:first-child > a:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  right: 0;
  top: 13px;
  background-color: #0f2c52;
}
@media (max-width: 980px) {
  .external-links {
    display: none;
  }
}
.header-right {
  list-style-type: none;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 0;
}
.header-right li {
  margin-bottom: 0;
}
.lang {
  position: relative;
  line-height: 51.6px;
  cursor: pointer;
  color: #0f2d52;
  font-size: 16px;
}
.header-right .search {
  padding: 10px 2.56%;
  cursor: pointer;
}
.header-right .search > div {
  height: 32px;
  line-height: 32px;
  width: 32px;
  background-image: linear-gradient(180deg, #2c4d7a, #0f2c52);
  border-radius: 50%;
}
.header-right .search:hover > div {
  background-image: linear-gradient(180deg, #ff8055, #f2672a);
}
.header-right .search > div > img {
  padding-left: 10px;
  padding-top: 9px;
  box-sizing: content-box;
}
.client-portal {
  margin-left: 2.56%;
}
body .client-portal > a {
  line-height: 51.6px;
  padding: 0 24px;
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(180deg, #2c4d7a, #0f2c52);
  border-bottom-right-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}
body .client-portal > a:hover {
  background-image: linear-gradient(180deg, #ff8055, #f2672a);
  color: #fff;
}
.menu-btn-item {
  font-size: 0;
  vertical-align: middle;
}
@media (max-width: 980px) {
  .client-portal,
  .client-portal-new,
  .lang-txt {
    display: none;
  }
  .header-right {
    height: 106px;
  }
  .lang {
    line-height: 106px;
    width: 52px;
    height: 52px;
    padding: 10px;
  }
  .lang:before {
    position: absolute;
    content: '';
    background-image: url(../../../../uploads/2023/06/lang.png);
    width: 32px;
    height: 32px;
  }
  .menu-btn {
    position: static !important;
    display: block;
    padding: 10px;
    width: 25px;
    box-sizing: content-box;
    height: 30px;
    cursor: pointer;
  }
  .menu-btn-item {
    border-radius: 1px;
    display: inline-block;
    background-color: #f2672b;
    transition: all 0.5s ease-in;
    height: 3px;
    width: 25px;
    position: relative;
  }
  .menu-btn-item:before {
    content: '';
    position: absolute;
    top: -9px;
    height: 3px;
    width: 25px;
    background-color: #0f2c52;
    border-radius: 1px;
    transition: all 0.3s ease-in;
  }
  .menu-btn-item:after {
    content: '';
    position: absolute;
    transition: all 0.3s ease-in;
    right: 0;
    top: 9px;
    width: 25px;
    height: 3px;
    background-color: #0f2c52;
    border-radius: 1px;
  }
  .menu-btn.menu-open i {
    background-color: transparent !important;
  }
  .menu-btn.menu-open i:before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-btn.menu-open i:after {
    top: 0;
    transform: rotate(-45deg);
  }
}
@media (max-width: 767px) {
  .header-right {
    height: 67px;
  }
}
.language-switcher {
  display: none;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  background-color: #fff;
  left: 50%;
  transform: translateX(-90px);
}
div.language-switcher.elementor-element.elementor-widget {
  width: 191px;
}
.language-switcher li {
  width: 100%;
}
.language-switcher.elementor-element ul {
  flex-direction: column;
}
.language-switcher a {
  width: 100%;
  line-height: 29px;
}
@media (min-width: 981px) {
  .language-switcher {
    top: 51.6px !important;
  }
}
@media (max-width: 980px) {
  div.language-switcher.elementor-element.elementor-widget {
    width: auto;
  }
  .language-switcher {
    width: auto;
    position: fixed;
    right: 0;
    top: 106px;
    left: inherit;
    transform: inherit;
  }
  .admin-bar .language-switcher {
    top: 138px;
  }
  .language-switcher a {
    padding: 5px 20px;
    line-height: 20px;
  }
  body .elementor-element .elementor-widget.language-switcher > .elementor-widget-container {
    padding: 10px 0 40px;
  }
}
@media (max-width: 767px) {
  .language-switcher {
    top: 67px;
  }
  .admin-bar .language-switcher {
    top: 113px;
  }
}
.header-top {
  background-color: #f5f5f5;
}
@media (max-width: 980px) {
  .header-top {
    background-color: #fff;
    display: block !important;
  }
  body .main-header .elementor-element.header-nav > .elementor-element-populated {
    padding: 0 10px 0 0;
  }
}
.mobile-external-links {
  display: none;
}
@media (max-width: 980px) {
  .mobile-external-links {
    display: block;
  }
  .menu-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .main-header .menu-wrapper a {
    padding: 14px 20px;
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #24282d;
    line-height: 20px;
  }
  .main-header .menu-wrapper a:hover {
    color: #f2672a;
  }
}
.main-menu-wrapper .current-menu-ancestor > a {
  color: #f2672a !important;
}
.main-menu-wrapper .elementor-nav-menu--main .elementor-nav-menu ul {
  width: 100%;
}
.elementor-nav-menu--layout-horizontal ul.elementor-nav-menu {
  flex-wrap: nowrap !important;
}
.main-menu-wrapper .elementor-nav-menu--layout-horizontal .elementor-nav-menu a {
  /* white-space: break-spaces; */
}
.main-menu-wrapper .elementor-nav-menu > li > a.has-submenu:before {
  content: '';
  position: absolute;
  bottom: -17px;
  width: 20px;
  height: 20px;
  background-color: #fff !important;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  z-index: 10;
}
body .main-menu-wrapper .elementor-item:after {
  bottom: 15px;
  height: 1px;
  width: calc(100% - 26px);
  left: 13px;
}
body .main-menu-wrapper .sub-arrow {
  padding: 0;
}
.main-menu-wrapper .elementor-nav-menu > li > .sub-menu > li:first-child a {
  padding-left: 0;
}
.main-menu-wrapper .elementor-nav-menu > li > a.elementor-item {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  min-height: 90px;
}
.main-menu-wrapper .elementor-nav-menu > li:first-child > a {
  padding-left: 0 !important;
}
.main-menu-wrapper .elementor-nav-menu li a {
  font-size: 16px;
}
.main-menu-wrapper .elementor-nav-menu .sub-menu .elementor-sub-item {
  font-weight: 400;
}
.main-menu-wrapper ul.elementor-nav-menu--dropdown a:focus {
  border: none;
  background-color: transparent;
}
body .main-menu-wrapper li:first-child .elementor-item:after {
  width: calc(100% - 13px);
  left: 0;
}
.main-menu-wrapper .elementor-nav-menu li {
  position: static;
}
.main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu {
  left: -30px !important;
  padding: 32px 30px 69px;
  max-width: 1030px !important;
  width: 1030px !important;
  margin-left: 0 !important;
}
.main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li {
  width: 25%;
  float: left;
}
.main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li > a {
  font-weight: 700;
}
.main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li .sub-menu {
  margin: 0 !important;
  position: static;
}
body .main-menu-wrapper .elementor-nav-menu a,
body .main-menu-wrapper .elementor-nav-menu a:hover {
  border: none;
  padding: 10px 20px;
}
.main-menu-wrapper .sub-menu .menu-item-has-children > a:after {
  font-size: 0;
}
@media (max-width: 1300px) {
  .main-menu-wrapper .elementor-nav-menu > li > a {
    padding: 0 9px !important;
  }
  body .main-menu-wrapper .elementor-item:after {
    width: calc(100% - 18px);
    left: 9px;
  }
  body .main-menu-wrapper li:first-child .elementor-item:after {
    width: calc(100% - 9px);
  }
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu {
    max-width: 900px !important;
    width: 900px !important;
  }
}
@media (max-width: 1200px) {
  .main-menu-wrapper .elementor-nav-menu > li > a.elementor-item {
    font-size: 14px;
  }
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu {
    max-width: 840px !important;
    width: 840px !important;
  }
}
@media (min-width: 981px) {
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li .sub-menu {
    display: block !important;
  }
}
@media (max-width: 980px) {
  .main-menu-wrapper .elementor-nav-menu > li > a.elementor-item {
    min-height: unset;
  }
  .main-menu-wrapper .elementor-nav-menu > li > a.has-submenu:before {
    width: 0;
  }
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0;
  }
  body .main-menu-wrapper .elementor-nav-menu {
    display: block;
  }
  body .main-menu-wrapper .elementor-item:after {
    height: 0;
  }
  .main-menu-wrapper .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li {
    display: block;
  }
  .main-menu-wrapper .elementor-nav-menu--main .elementor-nav-menu ul {
    position: static;
  }
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li {
    width: 100%;
    float: none;
  }
  .elementor-element.main-menu-wrapper a {
    display: block;
  }
  .main-menu-wrapper .elementor-nav-menu > li.menu-item a {
    font-size: 16px;
    padding: 14px 20px;
    line-height: normal;
  }
  body .main-menu-wrapper .elementor-nav-menu > li a:hover {
    padding: 14px 20px;
  }
  .main-menu-wrapper .elementor-nav-menu > .menu-item > .sub-menu > li > a {
    font-weight: 400;
  }
  .main-menu-wrapper .elementor-nav-menu > li:first-child a {
    padding-left: 20px !important;
  }
  .main-menu-wrapper .elementor-nav-menu > li > a {
    padding: 14px 20px !important;
  }
  .main-menu-wrapper.elementor-nav-menu ul.elementor-nav-menu--dropdown a:focus {
    padding: 14px 20px;
  }
  .main-menu-wrapper .elementor-nav-menu--main {
    display: block;
  }
  body .main-menu-wrapper .sub-arrow {
    padding: 15px;
    position: absolute;
    top: 18px;
    right: 5px;
  }
  body .main-menu-wrapper .sub-arrow > i {
    display: inline-block;
    background-color: #000;
    height: 1px;
    width: 10px;
    transform: rotate(0);
  }
  body .main-menu-wrapper .sub-arrow > i:after {
    transform: rotate(-90deg);
    background-color: #000;
    display: block;
    height: 1px;
    width: 10px;
    content: '';
    position: absolute;
  }
  body .main-menu-wrapper .highlighted .sub-arrow > i:after {
    transform: rotate(-180deg);
  }
  .main-menu-wrapper .elementor-nav-menu--main .elementor-nav-menu--dropdown .sub-arrow i {
    transform: rotate(0);
  }
}
@media (max-width: 767px) {
  .main-menu-wrapper .elementor-menu-toggle {
    display: none;
  }
  .main-menu-wrapper.elementor-nav-menu--toggle .elementor-menu-toggle:not(.elementor-active) + .elementor-nav-menu__container {
    transform: inherit;
    max-height: inherit;
  }
  body .elementor-nav-menu--dropdown-mobile .elementor-nav-menu--main {
    display: none;
  }
}
body .elementor-column.elementor-element.header-bottom-menu {
  width: calc(100% - 155px);
}
@media (max-width: 1024px) {
  body .elementor-column.elementor-element.header-bottom-menu {
    width: calc(100% - 130px);
  }
}
@media (max-width: 980px) {
  .header-btn-wrapper .elementor-align-right {
    text-align: left;
  }
  .header-btn-wrapper {
    margin: 16px 20px;
  }
}
body .elementor-column.elementor-element.header-btn-wrapper {
  width: 155px;
}
.client-btn {
  display: none;
}
@media (max-width: 1024px) {
  body .elementor-column.elementor-element.header-btn-wrapper {
    width: 130px;
  }
}
@media (max-width: 980px) {
  .header-btn-wrapper .elementor-align-right {
    text-align: left;
  }
  .header-btn-wrapper a {
    margin-bottom: 16px;
  }
  .client-btn {
    display: block;
  }
  .header-btn-wrapper.elementor-element .elementor-element a.elementor-button {
    padding: 14px 20px;
    width: 200px;
  }
}
@media (min-width: 981px) {
  .header-bottom {
    display: block !important;
    top: 0 !important;
  }
}
@media (max-width: 980px) {
  body .elementor-element.elementor-section.header-bottom {
    display: none;
    position: absolute;
    padding: 20px 0;
    width: 100vw;
    height: calc(100vh - 67px);
    overflow: auto;
    left: -180px;
    top: 106px;
    z-index: 9;
    background-color: #f5f5f5;
  }
  .admin-bar .elementor-element.elementor-section.header-bottom {
    top: 138px;
  }
  .elementor-element.elementor-section.header-bottom > div > div {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body .elementor-element.elementor-section.header-bottom {
    top: 67px;
    left: -110px;
  }
  .admin-bar .elementor-element.elementor-section.header-bottom {
    top: 76px;
  }
}
.header-nav {
  padding-left: 2.1%;
}
@media (min-width: 1280px) {
  .header-nav {
    padding-left: 2.56;
  }
}
@media (max-width: 1200px) {
  body .elementor-column.elementor-element.header-nav {
    width: 85.1%;
  }
}
@media (min-width: 768px) and (max-width: 1139px) {
  .header-nav {
    padding-left: 2.76%;
  }
}
@media (max-width: 767px) {
  body .elementor-column.elementor-element.header-nav {
    width: calc(100% - 100px);
  }
  .header-nav {
    padding-left: 0;
  }
}
.elementor-editor-active .elementor .main-header .elementor-background-overlay {
  width: 0;
}
div[data-elementor-type='header'].elementor .main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.elementor-editor-active div[data-elementor-type='header'].elementor .main-header {
  position: relative;
}
.admin-bar div[data-elementor-type='header'].elementor .main-header {
  top: 32px;
}
div[data-elementor-type='header'].elementor .elementor-widget:not(:last-child) {
  margin-bottom: 0;
}
@media (max-width: 782px) {
  .admin-bar div[data-elementor-type='header'].elementor .main-header {
    top: 46px;
  }
}
