.elementor-17258 .elementor-element.elementor-element-f1bb144:not(.elementor-motion-effects-element-type-background),
.elementor-17258 .elementor-element.elementor-element-f1bb144 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-17258 .elementor-element.elementor-element-f1bb144 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-17258 .elementor-element.elementor-element-f1bb144 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-17258
  .elementor-element.elementor-element-f786d58
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-17258 .elementor-element.elementor-element-f786d58 > .elementor-element-populated {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-47d63025 > .elementor-container {
  max-width: 1010px;
  min-height: 400px;
}
.elementor-17258 .elementor-element.elementor-element-47d63025:not(.elementor-motion-effects-element-type-background),
.elementor-17258 .elementor-element.elementor-element-47d63025 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-17258 .elementor-element.elementor-element-47d63025 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 105px 5px;
}
.elementor-17258 .elementor-element.elementor-element-47d63025 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-17258 .elementor-element.elementor-element-6d77b867 > .elementor-element-populated {
  padding: 0 0 0 20px;
}
.elementor-17258 .elementor-element.elementor-element-64d26268 .elementor-heading-title {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.3em;
}
.elementor-17258 .elementor-element.elementor-element-a31abf2 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.elementor-17258 .elementor-element.elementor-element-c91accd > .elementor-widget-container {
  padding: 20px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-18aca3fd > .elementor-element-populated {
  padding: 0 20px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-d6d5f0b > .elementor-container {
  max-width: 860px;
}
.elementor-17258 .elementor-element.elementor-element-d6d5f0b {
  padding: 50px 0;
}
.elementor-17258 .elementor-element.elementor-element-b6548cc {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-b6548cc > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-5be47cfe > .elementor-container {
  max-width: 860px;
}
.elementor-17258 .elementor-element.elementor-element-5be47cfe {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 50px;
}
.elementor-17258 .elementor-element.elementor-element-5f331e82 > .elementor-element-populated {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-0149bd6 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-0149bd6 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-65cd8304 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-65cd8304 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-cdc10b3 img {
  width: 100%;
}
.elementor-17258 .elementor-element.elementor-element-cdc10b3 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-0d1a9b8 > .elementor-container {
  max-width: 860px;
}
.elementor-17258 .elementor-element.elementor-element-0d1a9b8 {
  padding: 75px 50px;
}
.elementor-17258 .elementor-element.elementor-element-7ca8ecf > .elementor-element-populated {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-7647099 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-7647099 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-15e98b4 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-15e98b4 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-75f3841 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-75f3841 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-fcc2ba1 {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-f9468ff > .elementor-element-populated {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-ae97393 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-ae97393 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-b152eba {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-8eac5a4 > .elementor-element-populated {
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-d8dbe5c {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-d8dbe5c > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-427ace4 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-427ace4 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-0e766c8 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-0e766c8 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-11c69e1 img {
  width: 100%;
}
.elementor-17258 .elementor-element.elementor-element-11c69e1 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-9eefcb8 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-9eefcb8 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-2dc5046 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-2dc5046 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-fc592d2 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-bfedd73 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-bfedd73 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-d49868c {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-d49868c > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-baf674c .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-baf674c > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-223cc26 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-223cc26 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-e20cf7f {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-e20cf7f > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-c7bc0e9 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-0d379ab {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-0d379ab > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-26837ea {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-26837ea > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-0140e4a {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-0140e4a > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-de71c20 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-de71c20 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-f6ddc22 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-f6ddc22 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-2cf5c0c {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-2cf5c0c > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-718bf14 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-718bf14 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-fcee36b {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-fcee36b > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-70f6a79 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-17258 .elementor-element.elementor-element-70f6a79 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-f3e5f79 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-f3e5f79 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-c86d094 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-c86d094 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-2282eba {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-2282eba > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-2f48d0d {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-2f48d0d > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-42b04e2 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-42b04e2 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-01cb9f6 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-01cb9f6 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-6d506c3 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-6d506c3 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-54a05e3 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-54a05e3 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-2fba5c7 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-2fba5c7 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-a845629 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-a845629 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-a476363 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-a476363 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-053cd40 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-053cd40 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-036635d {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-036635d > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-5603252 .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-5603252 > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-9ff82a8 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-9ff82a8 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-a5ea28d {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-a5ea28d > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-c7b970c {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-c7b970c > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-002a969 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-af26482 .elementor-heading-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-e553496 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-e553496 > .elementor-widget-container {
  margin: -20px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-faa9c8a .elementor-heading-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-51e505c {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-51e505c > .elementor-widget-container {
  margin: -20px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-81e90d7 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-81e90d7 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-dee6f3b .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-dee6f3b > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-0eebef7 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-0eebef7 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-ca5d2e6 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-ca5d2e6 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-265581a {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-265581a > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-6a89cd4 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-6a89cd4 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-36db161 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-36db161 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-0e0477a {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-0e0477a > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-2f7d734 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-17258 .elementor-element.elementor-element-bf48750 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-94f405b .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-94f405b > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-dfeb443 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-dfeb443 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-810a1d1 {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-810a1d1 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-9a2dfad {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-9a2dfad > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-0ad321a {
  text-align: left;
}
.elementor-17258 .elementor-element.elementor-element-0ad321a > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-962b22e .elementor-heading-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-17258 .elementor-element.elementor-element-962b22e > .elementor-widget-container {
  margin: 50px 0 0;
}
.elementor-17258 .elementor-element.elementor-element-ab1c7c2 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-ab1c7c2 > .elementor-widget-container {
  margin: 0;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-item {
  border-width: 0;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-title {
  background-color: #ebebeb;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon,
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-active .elementor-accordion-icon,
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon.elementor-accordion-icon-left {
  margin-right: -20px;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon.elementor-accordion-icon-right {
  margin-left: -20px;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-17258 .elementor-element.elementor-element-8e56872 > .elementor-widget-container {
  margin: 0 0 50px;
  padding: 0;
}
.elementor-17258 .elementor-element.elementor-element-3676a22 {
  color: #24282d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-17258 .elementor-element.elementor-element-3676a22 > .elementor-widget-container {
  margin: 50px 0 0;
}
@media (max-width: 1024px) {
  .elementor-17258 .elementor-element.elementor-element-64d26268 .elementor-heading-title {
    font-size: 46px;
  }
  .elementor-17258 .elementor-element.elementor-element-a31abf2 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-b6548cc {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-0149bd6 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-65cd8304 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-7647099 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-15e98b4 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-75f3841 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-ae97393 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-d8dbe5c {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-427ace4 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-0e766c8 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-9eefcb8 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-2dc5046 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-bfedd73 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-d49868c {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-223cc26 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-e20cf7f {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-0d379ab {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-0140e4a {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-f6ddc22 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-718bf14 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-70f6a79 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-f3e5f79 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-2282eba {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-42b04e2 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-6d506c3 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-54a05e3 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-2fba5c7 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-a476363 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-036635d {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-5603252 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-9ff82a8 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-c7b970c {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-af26482 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-e553496 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-faa9c8a .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-81e90d7 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-dee6f3b .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-0eebef7 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-265581a {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-36db161 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-94f405b .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-dfeb443 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-9a2dfad {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-962b22e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-17258 .elementor-element.elementor-element-ab1c7c2 {
    font-size: 16px;
  }
  .elementor-17258 .elementor-element.elementor-element-3676a22 {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .elementor-17258 .elementor-element.elementor-element-47d63025:not(.elementor-motion-effects-element-type-background),
  .elementor-17258 .elementor-element.elementor-element-47d63025 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-size: cover;
  }
  .elementor-17258 .elementor-element.elementor-element-47d63025 {
    padding: 90px 0 100px;
  }
  .elementor-17258 .elementor-element.elementor-element-6d77b867 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-17258 .elementor-element.elementor-element-64d26268 .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-17258 .elementor-element.elementor-element-64d26268 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-a31abf2 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-5fb92ab > .elementor-widget-container {
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-b6548cc {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-b6548cc > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-5be47cfe {
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-5f331e82 > .elementor-element-populated {
    padding: 0 15px;
  }
  .elementor-17258 .elementor-element.elementor-element-0149bd6 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-0149bd6 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-65cd8304 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-65cd8304 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0d1a9b8 {
    padding: 45px 0;
  }
  .elementor-17258 .elementor-element.elementor-element-7ca8ecf > .elementor-element-populated {
    padding: 0 15px;
  }
  .elementor-17258 .elementor-element.elementor-element-7647099 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-7647099 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-15e98b4 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-15e98b4 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-75f3841 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-75f3841 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-ae97393 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-ae97393 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-d8dbe5c {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-d8dbe5c > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-427ace4 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-427ace4 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0e766c8 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-0e766c8 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-11c69e1 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-9eefcb8 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-9eefcb8 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-2dc5046 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-2dc5046 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-bfedd73 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-bfedd73 > .elementor-widget-container {
    margin: 50px 0 0;
  }
  .elementor-17258 .elementor-element.elementor-element-d49868c {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-d49868c > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-223cc26 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-223cc26 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-e20cf7f {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-e20cf7f > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0d379ab {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-0d379ab > .elementor-widget-container {
    margin: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0140e4a {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-0140e4a > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-f6ddc22 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-f6ddc22 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-718bf14 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-718bf14 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-70f6a79 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-70f6a79 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-f3e5f79 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-f3e5f79 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-2282eba {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-2282eba > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-42b04e2 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-42b04e2 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-6d506c3 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-6d506c3 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-54a05e3 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-54a05e3 > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-2fba5c7 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-2fba5c7 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-a476363 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-a476363 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-036635d {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-036635d > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-5603252 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-5603252 > .elementor-widget-container {
    margin: 50px 0 0;
  }
  .elementor-17258 .elementor-element.elementor-element-9ff82a8 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-9ff82a8 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-c7b970c {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-c7b970c > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-af26482 .elementor-heading-title {
    font-size: 22px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-af26482 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-e553496 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-e553496 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-faa9c8a .elementor-heading-title {
    font-size: 22px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-faa9c8a > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-17258 .elementor-element.elementor-element-81e90d7 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-81e90d7 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-dee6f3b .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-dee6f3b > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0eebef7 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-0eebef7 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-265581a {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-265581a > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-36db161 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-36db161 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-2f7d734 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-94f405b .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-94f405b > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-dfeb443 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-dfeb443 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-9a2dfad {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-9a2dfad > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-0ad321a > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-962b22e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-17258 .elementor-element.elementor-element-962b22e > .elementor-widget-container {
    margin: 50px 0 0;
    padding: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-ab1c7c2 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-ab1c7c2 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon.elementor-accordion-icon-left {
    margin-right: 15px;
  }
  .elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-accordion-icon.elementor-accordion-icon-right {
    margin-left: 15px;
  }
  .elementor-17258 .elementor-element.elementor-element-8e56872 .elementor-tab-content {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-3676a22 {
    font-size: 14px;
  }
  .elementor-17258 .elementor-element.elementor-element-3676a22 > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 781px) {
  .elementor-17258 .elementor-element.elementor-element-6d77b867 {
    width: 64.742%;
  }
  .elementor-17258 .elementor-element.elementor-element-18aca3fd {
    width: 35.208%;
  }
}
.banner-desc ul {
  list-style-type: none;
}
.page-header {
  display: none;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.faq-list .elementor-accordion-item {
  margin-bottom: 20px;
}
.faq-list .elementor-tab-content {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.1);
}
.faq-list .elementor-tab-title.elementor-active {
  background-color: #0f2c52 !important;
}
@media (min-width: 1200px) {
  .faq-list .elementor-tab-title {
    padding: 15px 40px !important;
  }
  .faq-list .elementor-tab-content {
    padding: 35px 65px !important;
  }
}
.feature-list img {
  height: 68px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.feature-list h4 {
  margin-bottom: 30px;
}
.wrapper1 .elementor-widget-container .elementor-text-editor {
  width: 850px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper2 .elementor-widget-container .elementor-text-editor {
  width: 970px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.atfx-btn-col {
  padding: 0 15px;
}
@media (max-width: 767px) {
  .atfx-btn-col {
    flex: 0 0 100%;
  }
  .atfx-btn-col + .atfx-btn-col {
    margin-top: 10px;
  }
  .atfx-btn {
    width: 100%;
  }
}
a.atfx-btn {
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 20px;
  min-width: 200px;
  border: 1px solid currentColor;
}
.atfx-btn.pill {
  border-radius: 100px;
}
.atfx-btn.orange {
  background: linear-gradient(180deg, #ff8055, #f2672a);
  color: #fff;
  border-color: transparent;
}
.atfx-btn.blue {
  background: linear-gradient(180deg, #2c4d7a, #0f2c52);
  color: #fff;
  border-color: transparent;
}
.atfx-btn.hover-border-white:hover {
  color: #fff;
  border-color: #fff;
  background: 0 0;
}
.atfx-btn.hover-border-orange:hover {
  color: #f2672a;
  border-color: #f2672a;
  background: 0 0;
}
.atfx-btn.hover-border-blue:hover {
  color: #0f2c52;
  border-color: #0f2c52;
  background: 0 0;
}
.elementor-tab-content a,
.elementor-text-editor a {
  color: #f2672a;
  font-weight: 700;
  text-decoration: underline;
}
.elementor-tab-content a:hover,
.elementor-text-editor a:hover {
  color: #0f2c52;
}
.elementor-text-editor h5 {
  padding-bottom: 0;
  border-bottom: 0;
  text-transform: none;
}
.elementor-text-editor ul,
.elementor-text-editor ol,
.elementor-text-editor li {
  font-size: inherit;
}
.elementor-text-editor h3 {
  font-weight: 400;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
