.elementor-18338 .elementor-element.elementor-element-1542c79:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-1542c79 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18338 .elementor-element.elementor-element-1542c79 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-1542c79 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338
  .elementor-element.elementor-element-cdb7fa4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-18338 .elementor-element.elementor-element-cdb7fa4 > .elementor-element-populated {
  padding: 0;
}
.elementor-18338 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18338 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-18338 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-18338 .elementor-element.elementor-element-f81458a {
  color: #fff;
}
.elementor-18338 .elementor-element.elementor-element-263129c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-73ecf96 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-60a2be9 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-09fb658 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-5b9a110 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-bd3bca0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18338 .elementor-element.elementor-element-e065e52 > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-e065e52:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-e065e52 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18338 .elementor-element.elementor-element-e065e52 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}
.elementor-18338 .elementor-element.elementor-element-e065e52 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-2a2be9c .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-bc-flex-widget .elementor-18338 .elementor-element.elementor-element-35f8452.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-18338
  .elementor-element.elementor-element-35f8452.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-18338 .elementor-element.elementor-element-2a14912 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-f18601d {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-f18601d > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-18338 .elementor-element.elementor-element-16f0b93 > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-16f0b93 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-18338 .elementor-element.elementor-element-a115e46 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18338 .elementor-element.elementor-element-de5fe7f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-e3df853 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-70878a9 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-9e6cfc1 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-d9cae66 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-1bc1dcb .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-138697a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-d1d27bb .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-42a3f90 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-9f3f321 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-9f5b328 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-4f6eea9 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-9269148 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-341b53d .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-0761414 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-068b36c > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-068b36c:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-068b36c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18338 .elementor-element.elementor-element-068b36c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-18338 .elementor-element.elementor-element-068b36c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-924ba88 {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-924ba88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18338 .elementor-element.elementor-element-924ba88 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18338 .elementor-element.elementor-element-8d21d89 {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-8d21d89 img {
  border-radius: 10px;
}
.elementor-18338 .elementor-element.elementor-element-8d21d89 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18338 .elementor-element.elementor-element-5bfc7aa {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-5bfc7aa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18338 .elementor-element.elementor-element-5bfc7aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18338 .elementor-element.elementor-element-60668ff {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-60668ff img {
  border-radius: 10px;
}
.elementor-18338 .elementor-element.elementor-element-60668ff > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18338 .elementor-element.elementor-element-1294342 > .elementor-element-populated {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-a8f4ebb > .elementor-element-populated {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-19f0ee7 > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-19f0ee7 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.elementor-18338 .elementor-element.elementor-element-7b39067 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18338 .elementor-element.elementor-element-990907f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-2ae4ee7 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18338 .elementor-element.elementor-element-9bd1d76 {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-9bd1d76 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18338 .elementor-element.elementor-element-358b3d0 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-fec3213 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18338 .elementor-element.elementor-element-e739269 {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-e739269 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18338 .elementor-element.elementor-element-fd0c09c {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-5c60d66 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18338 .elementor-element.elementor-element-93c7ecb {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-93c7ecb .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18338 .elementor-element.elementor-element-3618dff {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-9d3e5bd > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-9d3e5bd:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-9d3e5bd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18338 .elementor-element.elementor-element-9d3e5bd {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-18338 .elementor-element.elementor-element-9d3e5bd > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-5a42ef6 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18338 .elementor-element.elementor-element-ac63c38 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-c816a4a .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-46f0fa4 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-37e40b7 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-c10dd96 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-0e7305f .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-85d12c9 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-026b971 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-a1c5b04 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-3baedb3 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-39ba094 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-133a8c2 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18338 .elementor-element.elementor-element-fffdf9a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-18338 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-18338 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-18338 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18338 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18338 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18338 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18338 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18338 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18338 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18338 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18338 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-18338 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18338 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18338 .elementor-element.elementor-element-cca1c43 > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-21dc074 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18338 .elementor-element.elementor-element-21dc074 > .elementor-widget-container {
  margin: 0 0 16px;
}
.elementor-18338 .elementor-element.elementor-element-733efa3 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-4a8d578 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-54735ef > .elementor-container {
  max-width: 860px;
}
.elementor-18338 .elementor-element.elementor-element-c821010 {
  --spacer-size: 50px;
}
.elementor-18338 .elementor-element.elementor-element-429a292 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18338 .elementor-element.elementor-element-545789b {
  --spacer-size: 50px;
}
.elementor-18338 .elementor-element.elementor-element-7948b78 > .elementor-container {
  max-width: 1280px;
}
.elementor-18338 .elementor-element.elementor-element-06d8749 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18338 .elementor-element.elementor-element-93cc8fd .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-18338 .elementor-element.elementor-element-93cc8fd > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-accordion-item {
  border-width: 0;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-active .elementor-accordion-icon,
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18338 .elementor-element.elementor-element-eb3308f .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18338 .elementor-element.elementor-element-2e65ed81 > .elementor-container {
  max-width: 1180px;
}
.elementor-18338 .elementor-element.elementor-element-2e65ed81 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18338 .elementor-element.elementor-element-2e65ed81 {
  padding: 80px 0 50px;
}
.elementor-18338 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-18338 .elementor-element.elementor-element-2a2be9c .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18338 .elementor-element.elementor-element-a115e46 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18338 .elementor-element.elementor-element-e3df853 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-9e6cfc1 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-1bc1dcb .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-d1d27bb .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-9f3f321 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-4f6eea9 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-341b53d .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-7b39067 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18338 .elementor-element.elementor-element-5a42ef6 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18338 .elementor-element.elementor-element-c816a4a .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-37e40b7 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-0e7305f .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-026b971 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-3baedb3 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-133a8c2 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-21dc074 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18338 .elementor-element.elementor-element-2e65ed81 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-18338 .elementor-element.elementor-element-a07fefb {
    width: 56.165%;
  }
  .elementor-18338 .elementor-element.elementor-element-ebfc73d {
    width: 45.076%;
  }
  .elementor-18338 .elementor-element.elementor-element-e3aef85 {
    width: 54.922%;
  }
  .elementor-18338 .elementor-element.elementor-element-4a97716 {
    width: 45.076%;
  }
  .elementor-18338 .elementor-element.elementor-element-a82ddd0 {
    width: 54.922%;
  }
  .elementor-18338 .elementor-element.elementor-element-63c776f {
    width: 45.076%;
  }
  .elementor-18338 .elementor-element.elementor-element-e31de5b {
    width: 54.922%;
  }
  .elementor-18338 .elementor-element.elementor-element-aaaf154 {
    width: 43.835%;
  }
}
@media (max-width: 780px) {
  .elementor-18338 .elementor-element.elementor-element-e065e52 {
    padding: 40px 0;
  }
  .elementor-18338 .elementor-element.elementor-element-2a2be9c .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18338 .elementor-element.elementor-element-2a14912 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-f18601d {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-a115e46 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18338 .elementor-element.elementor-element-de5fe7f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-e3df853 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-70878a9 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-9e6cfc1 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-d9cae66 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-1bc1dcb .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-138697a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-d1d27bb .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-42a3f90 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-9f3f321 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-9f5b328 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-4f6eea9 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-9269148 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-341b53d .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-0761414 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-7b39067 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18338 .elementor-element.elementor-element-990907f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-358b3d0 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-fd0c09c {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-3618dff {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-5a42ef6 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18338 .elementor-element.elementor-element-ac63c38 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-c816a4a .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-46f0fa4 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-37e40b7 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-c10dd96 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-0e7305f .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-85d12c9 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-026b971 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-a1c5b04 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-3baedb3 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-39ba094 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-133a8c2 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18338 .elementor-element.elementor-element-fffdf9a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-18338 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18338 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18338 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18338 .elementor-element.elementor-element-21dc074 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18338 .elementor-element.elementor-element-733efa3 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-4a8d578 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18338 .elementor-element.elementor-element-54735ef > .elementor-container {
    max-width: 860px;
  }
  .elementor-18338 .elementor-element.elementor-element-429a292 {
    font-size: 16px;
  }
  .elementor-18338 .elementor-element.elementor-element-2e65ed81 {
    padding: 20px 0 30px;
  }
  .elementor-18338 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
