.elementor-18292 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-18292 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-18292 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18292 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-513b60c > .elementor-element-populated {
  padding: 0;
}
.elementor-18292 .elementor-element.elementor-element-78ba8a8 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18292 .elementor-element.elementor-element-78ba8a8:not(.elementor-motion-effects-element-type-background),
.elementor-18292 .elementor-element.elementor-element-78ba8a8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2024/11/ATFX_Collage_Education_b.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-18292 .elementor-element.elementor-element-78ba8a8 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-78ba8a8 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-c1ff9e7 .elementor-heading-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.elementor-18292 .elementor-element.elementor-element-5f3afa3 {
  text-align: justify;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-5f3afa3 > .elementor-widget-container {
  padding: 0 400px 0 0;
}
.elementor-18292 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-18292 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-18292 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-27ea382 > .elementor-container {
  max-width: 860px;
}
.elementor-18292 .elementor-element.elementor-element-27ea382 {
  padding: 60px 0;
}
.elementor-18292 .elementor-element.elementor-element-b9c5899 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-9d18fce {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-9d18fce > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18292 .elementor-element.elementor-element-01a87c4 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-66756bf {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-b414b95 > .elementor-container {
  max-width: 1130px;
}
.elementor-18292 .elementor-element.elementor-element-2484940 img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-533f39c {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-533f39c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-5abac2e img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-cc0affd {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-cc0affd .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-e5c40d5 img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-b211ffa {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-b211ffa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-2d6ead4 img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-ea1791f {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-ea1791f .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-d119069 img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-5ffe903 {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-5ffe903 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-306a3e1 img {
  width: 100%;
  max-width: 70px;
  height: 70px;
}
.elementor-18292 .elementor-element.elementor-element-a6b3c9e {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-a6b3c9e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-fff919e > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18292 .elementor-element.elementor-element-fac21b5 {
  text-align: center;
}
.elementor-18292 .elementor-element.elementor-element-fac21b5 .elementor-heading-title {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-fac21b5 > .elementor-widget-container {
  margin: 5px 0 0;
}
.elementor-18292 .elementor-element.elementor-element-1594120 > .elementor-container {
  max-width: 860px;
}
.elementor-18292 .elementor-element.elementor-element-1594120 {
  padding: 60px 0;
}
.elementor-18292 .elementor-element.elementor-element-5ccced8 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-7b47dd5 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-79c0076 > .elementor-container {
  max-width: 1280px;
}
.elementor-18292 .elementor-element.elementor-element-79c0076:not(.elementor-motion-effects-element-type-background),
.elementor-18292 .elementor-element.elementor-element-79c0076 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
}
.elementor-18292 .elementor-element.elementor-element-79c0076 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 80px 0;
}
.elementor-18292 .elementor-element.elementor-element-79c0076 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-2308577 .elementor-heading-title {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-9ebc76b {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-9ebc76b > .elementor-widget-container {
  padding: 0 70px 0 0;
}
.elementor-18292 .elementor-element.elementor-element-bbe3208 > .elementor-container {
  max-width: 860px;
}
.elementor-18292 .elementor-element.elementor-element-bbe3208 {
  padding: 60px 0;
}
.elementor-18292 .elementor-element.elementor-element-518e7a4 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-5eefc78 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-5eefc78 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-18292 .elementor-element.elementor-element-e3320bd .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-20f3813 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-18292 .elementor-element.elementor-element-accbb39 > .elementor-container {
  max-width: 1180px;
}
.elementor-18292 .elementor-element.elementor-element-accbb39 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18292 .elementor-element.elementor-element-accbb39 {
  padding: 80px 0 50px;
}
.elementor-18292 .elementor-element.elementor-element-3bb92d7 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18292 .elementor-element.elementor-element-78d0edd:not(.elementor-motion-effects-element-type-background),
.elementor-18292 .elementor-element.elementor-element-78d0edd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-18292 .elementor-element.elementor-element-78d0edd,
.elementor-18292 .elementor-element.elementor-element-78d0edd > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-18292 .elementor-element.elementor-element-78d0edd {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 0;
}
.elementor-18292 .elementor-element.elementor-element-78d0edd > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-971315f .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18292 .elementor-element.elementor-element-971315f > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-18292 .elementor-element.elementor-element-65ee6dc > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18292 .elementor-element.elementor-element-db782c5 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-18292 .elementor-element.elementor-element-db782c5 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18292
  .elementor-element.elementor-element-753a2d9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-18292
  .elementor-element.elementor-element-753a2d9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl) .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (min-width: 781px) {
  .elementor-18292 .elementor-element.elementor-element-e207099 {
    width: 37.51%;
  }
  .elementor-18292 .elementor-element.elementor-element-6205e1b {
    width: 62.49%;
  }
}
@media (max-width: 1024px) {
  .elementor-18292 .elementor-element.elementor-element-c1ff9e7 .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-5f3afa3 {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-5f3afa3 > .elementor-widget-container {
    padding: 0 120px 0 0;
  }
  .elementor-18292 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-b9c5899 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-9d18fce > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18292 .elementor-element.elementor-element-01a87c4 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-5ccced8 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-79c0076 {
    padding: 60px 0 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-2308577 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-9ebc76b > .elementor-widget-container {
    padding: 0 3px 0 0;
  }
  .elementor-18292 .elementor-element.elementor-element-518e7a4 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-5eefc78 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-18292 .elementor-element.elementor-element-e3320bd .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-accbb39 {
    padding: 60px 0 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-971315f .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 780px) {
  .elementor-18292 .elementor-element.elementor-element-c1ff9e7 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-c1ff9e7 > .elementor-widget-container {
    margin: 50px 0 0;
  }
  .elementor-18292 .elementor-element.elementor-element-5f3afa3 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-5f3afa3 > .elementor-widget-container {
    padding: 0 0 50px;
  }
  .elementor-18292 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-bbedd10 {
    font-size: 16px;
  }
  .elementor-18292 .elementor-element.elementor-element-27ea382 {
    padding: 40px 0 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-b9c5899 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-9d18fce {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-9d18fce > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-01a87c4 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-66756bf {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-533f39c .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-cc0affd .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-b211ffa .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-ea1791f .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-5ffe903 .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-a6b3c9e .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-18292 .elementor-element.elementor-element-1594120 {
    padding: 40px 0 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-5ccced8 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-7b47dd5 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-79c0076 {
    padding: 40px 0;
  }
  .elementor-18292 .elementor-element.elementor-element-2308577 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-9ebc76b {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-bbe3208 {
    padding: 40px 0 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-518e7a4 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-5eefc78 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-5eefc78 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-18292 .elementor-element.elementor-element-e3320bd .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18292 .elementor-element.elementor-element-20f3813 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-accbb39 {
    padding: 20px 0 30px;
  }
  .elementor-18292 .elementor-element.elementor-element-3bb92d7 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-971315f .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18292 .elementor-element.elementor-element-971315f > .elementor-widget-container {
    padding: 15px 50px;
  }
  .elementor-18292 .elementor-element.elementor-element-65ee6dc > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-18292 .elementor-element.elementor-element-db782c5 > .elementor-widget-container {
    margin: 5px;
  }
  .elementor-18292
    .elementor-element.elementor-element-753a2d9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
  }
  .elementor-18292
    .elementor-element.elementor-element-753a2d9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px / 2);
  }
  .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
  .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px / 2);
    margin-left: calc(-20px / 2);
  }
  body.rtl .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px / 2);
  }
  body:not(.rtl)
    .elementor-18292
    .elementor-element.elementor-element-753a2d9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-20px / 2);
  }
  .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-18292 .elementor-element.elementor-element-753a2d9 .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-18292 .elementor-element.elementor-element-753a2d9 > .elementor-widget-container {
    margin: 0;
    padding: 0 0 0 10px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
