.elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-container {
  max-width: 1055px;
  min-height: 475px;
}
.elementor-47399 .elementor-element.elementor-element-a288667:not(.elementor-motion-effects-element-type-background),
.elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2025/03/ATFX_CopyTrade_all_star_promotion_bg_2560x1440.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-47399 .elementor-element.elementor-element-a288667 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-47399 .elementor-element.elementor-element-0f7b186 > .elementor-element-populated {
  padding: 0 0 0 20px;
}
.elementor-47399 .elementor-element.elementor-element-ccd9d6d {
  text-align: left;
}
.elementor-47399 .elementor-element.elementor-element-ccd9d6d img {
  width: 202px;
  height: 84px;
}
.elementor-47399 .elementor-element.elementor-element-df731e3 .elementor-heading-title {
  color: #fff;
  font-family: 'Mulish', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-47399 .elementor-element.elementor-element-df731e3 > .elementor-widget-container {
  padding: 0;
}
.elementor-47399 .elementor-element.elementor-element-ea12e9f {
  color: #fff;
  font-family: 'Mulish', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  fill: #fff;
  color: #fff;
  background-color: #f2672a;
  border-style: solid;
  border-color: #0f2c5200;
  padding: 15px 60px;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button:hover,
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button:focus {
  color: #fff;
  background-color: #ffffff00;
  border-color: #fff;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button:hover svg,
.elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button:focus svg {
  fill: #fff;
}
.elementor-47399 .elementor-element.elementor-element-d4f739c > .elementor-widget-container {
  padding: 0 0 50px;
}
.elementor-47399 .elementor-element.elementor-element-6c4d015 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-47399 .elementor-element.elementor-element-bceaee9 img {
  width: 447px;
  height: 319px;
  object-fit: contain;
}
.elementor-47399 .elementor-element.elementor-element-bceaee9 > .elementor-widget-container {
  padding: 0;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-47399 .elementor-element.elementor-element-0f7b186 {
    width: 52%;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015 {
    width: 40%;
  }
}
@media (max-width: 880px) and (min-width: 781px) {
  .elementor-47399 .elementor-element.elementor-element-0f7b186 {
    width: 58%;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015 {
    width: 41%;
  }
}
@media (max-width: 1366px) {
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-container {
    max-width: 976px;
  }
  .elementor-47399 .elementor-element.elementor-element-d4f739c > .elementor-widget-container {
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 {
    width: var(--container-widget-width, 508.413px);
    max-width: 508.413px;
    --container-widget-width: 508.413px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 1200px) {
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-container {
    max-width: 850px;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-47399 .elementor-element.elementor-element-ea12e9f {
    font-size: 18px;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 {
    width: var(--container-widget-width, 464.492px);
    max-width: 464.492px;
    --container-widget-width: 464.492px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 1024px) {
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-container {
    max-width: 861px;
  }
  .elementor-47399 .elementor-element.elementor-element-a288667:not(.elementor-motion-effects-element-type-background),
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url('../../../../uploads/2025/03/ATFX_CopyTrade_all_star_promotion_bg_2560x1440.webp');
  }
  .elementor-47399 .elementor-element.elementor-element-0f7b186 > .elementor-element-populated {
    padding: 0 0 0 40px;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d img {
    object-fit: contain;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d {
    width: var(--container-widget-width, 280.625px);
    max-width: 280.625px;
    --container-widget-width: 280.625px;
    --container-widget-flex-grow: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-ea12e9f {
    font-size: 18px;
    line-height: 30px;
  }
  .elementor-47399
    .elementor-element.elementor-element-6c4d015
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015 > .elementor-element-populated {
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 img {
    width: 336px;
    height: 240px;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 {
    width: var(--container-widget-width, 414.4px);
    max-width: 414.4px;
    --container-widget-width: 414.4px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 880px) {
  .elementor-47399 .elementor-element.elementor-element-0f7b186 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d {
    width: var(--container-widget-width, 669.667px);
    max-width: 669.667px;
    --container-widget-width: 669.667px;
    --container-widget-flex-grow: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 {
    width: var(--container-widget-width, 401.2px);
    max-width: 401.2px;
    --container-widget-width: 401.2px;
    --container-widget-flex-grow: 0;
  }
  .elementor-47399
    .elementor-element.elementor-element-6c4d015
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 img {
    width: 336px;
    max-width: 336px;
    object-fit: contain;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 {
    width: var(--container-widget-width, 390px);
    max-width: 390px;
    --container-widget-width: 390px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 780px) {
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-container {
    min-height: 600px;
  }
  .elementor-47399 .elementor-element.elementor-element-a288667:not(.elementor-motion-effects-element-type-background),
  .elementor-47399 .elementor-element.elementor-element-a288667 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url('../../../../uploads/2025/03/ATFX_CopyTrade_all_star_promotion_bg_2560x1440.webp');
  }
  .elementor-47399 .elementor-element.elementor-element-a288667 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-0f7b186.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-47399
    .elementor-element.elementor-element-0f7b186
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-0f7b186 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d {
    text-align: center;
    width: var(--container-widget-width, 125.625px);
    max-width: 125.625px;
    --container-widget-width: 125.625px;
    --container-widget-flex-grow: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d img {
    width: 149px;
    height: 62px;
    object-fit: contain;
  }
  .elementor-47399 .elementor-element.elementor-element-ccd9d6d > .elementor-widget-container {
    margin: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 {
    text-align: center;
    width: var(--container-widget-width, 315.2px);
    max-width: 315.2px;
    --container-widget-width: 315.2px;
    --container-widget-flex-grow: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-df731e3 .elementor-heading-title {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.5px;
  }
  .elementor-47399 .elementor-element.elementor-element-ea12e9f {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
  .elementor-47399 .elementor-element.elementor-element-ea12e9f > .elementor-widget-container {
    margin: 10px 0;
  }
  .elementor-47399 .elementor-element.elementor-element-d4f739c .elementor-button {
    border-width: 1px;
    border-radius: 5px;
    padding: 12px 100px;
  }
  .elementor-47399 .elementor-element.elementor-element-d4f739c > .elementor-widget-container {
    margin: 0;
    padding: 0;
    --e-transform-translateY: 155px;
  }
  .elementor-47399 .elementor-element.elementor-element-d4f739c {
    width: var(--container-widget-width, 329px);
    max-width: 329px;
    --container-widget-width: 329px;
    --container-widget-flex-grow: 0;
    z-index: 1;
  }
  .elementor-bc-flex-widget .elementor-47399 .elementor-element.elementor-element-6c4d015.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-47399
    .elementor-element.elementor-element-6c4d015.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-47399
    .elementor-element.elementor-element-6c4d015
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-6c4d015 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 img {
    width: 222px;
    max-width: 222px;
    height: 159px;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 > .elementor-widget-container {
    padding: 0;
    --e-transform-translateY: -115px;
  }
  .elementor-47399 .elementor-element.elementor-element-bceaee9 {
    width: var(--container-widget-width, 261px);
    max-width: 261px;
    --container-widget-width: 261px;
    --container-widget-flex-grow: 0;
    z-index: 0;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
