.elementor-27828 .elementor-element.elementor-element-b049ae2:not(.elementor-motion-effects-element-type-background),
.elementor-27828 .elementor-element.elementor-element-b049ae2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27828 .elementor-element.elementor-element-b049ae2 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27828 .elementor-element.elementor-element-b049ae2 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27828
  .elementor-element.elementor-element-5224539
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-27828 .elementor-element.elementor-element-5224539 > .elementor-element-populated {
  padding: 0;
}
.elementor-27828 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1100px;
  min-height: 400px;
}
.elementor-27828 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-27828 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-27828 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27828 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27828 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-27828 .elementor-element.elementor-element-f81458a {
  color: #fff;
}
.elementor-27828 .elementor-element.elementor-element-1b21459 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-27828 .elementor-element.elementor-element-9c87fd3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-27828 .elementor-element.elementor-element-67f9d31 > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-67f9d31 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-27828 .elementor-element.elementor-element-a96e593 > .elementor-container {
  max-width: 1280px;
}
.elementor-27828 .elementor-element.elementor-element-a96e593 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27828 .elementor-element.elementor-element-078f44d img {
  width: 68px;
  height: 68px;
}
.elementor-27828 .elementor-element.elementor-element-5de55c0 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-3eb23bd img {
  width: 68px;
  height: 68px;
}
.elementor-27828 .elementor-element.elementor-element-83e4424 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-f2a892c img {
  width: 68px;
  height: 68px;
}
.elementor-27828 .elementor-element.elementor-element-a92e55c {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-52f529b img {
  width: 68px;
  height: 68px;
}
.elementor-27828 .elementor-element.elementor-element-cb8ecc4 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-334f98c img {
  width: 68px;
  height: 68px;
}
.elementor-27828 .elementor-element.elementor-element-cd699f5 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-ca7c560 {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-0231e0f > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-d6d4665 {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-068b36c > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-068b36c:not(.elementor-motion-effects-element-type-background),
.elementor-27828 .elementor-element.elementor-element-068b36c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27828 .elementor-element.elementor-element-068b36c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-27828 .elementor-element.elementor-element-068b36c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27828 .elementor-element.elementor-element-924ba88 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-924ba88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-27828 .elementor-element.elementor-element-924ba88 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27828 .elementor-element.elementor-element-8d21d89 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-8d21d89 img {
  border-radius: 10px;
}
.elementor-27828 .elementor-element.elementor-element-8d21d89 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-27828 .elementor-element.elementor-element-5bfc7aa {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-5bfc7aa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-27828 .elementor-element.elementor-element-5bfc7aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-27828 .elementor-element.elementor-element-60668ff {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-60668ff img {
  border-radius: 10px;
}
.elementor-27828 .elementor-element.elementor-element-60668ff > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-27828 .elementor-element.elementor-element-0a851a7 > .elementor-element-populated {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-1f7fc05 > .elementor-element-populated {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-f96e609 > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-ab2d887 {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-d6d6d5c {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-27828 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-27828 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-27828 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27828 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-27828 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-27828 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-27828 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-27828 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-27828 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-27828 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-27828 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-27828 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-27828 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-27828 .elementor-element.elementor-element-3977669 > .elementor-container {
  max-width: 860px;
}
.elementor-27828 .elementor-element.elementor-element-d57109f {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-744fb2d {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.elementor-27828 .elementor-element.elementor-element-eadb752 {
  --spacer-size: 50px;
}
.elementor-27828 .elementor-element.elementor-element-2e65ed81 > .elementor-container {
  max-width: 1180px;
}
.elementor-27828 .elementor-element.elementor-element-2e65ed81 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27828 .elementor-element.elementor-element-2e65ed81 {
  padding: 80px 0 50px;
}
.elementor-27828 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-27828 .elementor-element.elementor-element-2e65ed81 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-27828 .elementor-element.elementor-element-a07fefb {
    width: 59.364%;
  }
  .elementor-27828 .elementor-element.elementor-element-122b704 {
    width: 45.076%;
  }
  .elementor-27828 .elementor-element.elementor-element-1a28662 {
    width: 54.922%;
  }
  .elementor-27828 .elementor-element.elementor-element-aaaf154 {
    width: 40.636%;
  }
}
@media (max-width: 780px) {
  .elementor-27828 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-27828 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-27828 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-27828 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-27828 .elementor-element.elementor-element-3977669 > .elementor-container {
    max-width: 860px;
  }
  .elementor-27828 .elementor-element.elementor-element-744fb2d {
    font-size: 16px;
  }
  .elementor-27828 .elementor-element.elementor-element-2e65ed81 {
    padding: 20px 0 30px;
  }
  .elementor-27828 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
