.elementor-30425 .elementor-element.elementor-element-3ece0ec,
.elementor-30425 .elementor-element.elementor-element-3ece0ec > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-30425 .elementor-element.elementor-element-3ece0ec {
  padding: 40px;
}
.elementor-30425 .elementor-element.elementor-element-3f24f4f {
  text-align: left;
}
.elementor-30425 .elementor-element.elementor-element-3f24f4f img {
  width: 150px;
}
.elementor-30425 .elementor-element.elementor-element-2b2c61e .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-30425 .elementor-element.elementor-element-b8305e3 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
#elementor-popup-modal-30425 .dialog-message {
  width: 700px;
  height: auto;
}
#elementor-popup-modal-30425 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-30425 .dialog-close-button {
  display: flex;
  font-size: 25px;
}
#elementor-popup-modal-30425 .dialog-widget-content {
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
