.elementor-33431 .elementor-element.elementor-element-4e5bafb:not(.elementor-motion-effects-element-type-background),
.elementor-33431 .elementor-element.elementor-element-4e5bafb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-33431 .elementor-element.elementor-element-4e5bafb {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 90px 20px;
}
.elementor-33431 .elementor-element.elementor-element-4e5bafb > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33431 .elementor-element.elementor-element-8d2c9a3 {
  text-align: center;
}
.elementor-33431 .elementor-element.elementor-element-8d2c9a3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33431 .elementor-element.elementor-element-8d2c9a3 > .elementor-widget-container {
  padding: 0 0 10px;
}
.elementor-33431 .elementor-element.elementor-element-35d58de {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-33431 .elementor-element.elementor-element-35d58de > .elementor-widget-container {
  padding: 0 120px;
}
.elementor-33431 .elementor-element.elementor-element-b96855b .gallery-item {
  padding: 0 20px 20px 0;
}
.elementor-33431 .elementor-element.elementor-element-b96855b .gallery {
  margin: 0 -20px -20px 0;
}
.elementor-33431 .elementor-element.elementor-element-b96855b .gallery-item .gallery-caption {
  text-align: center;
}
.elementor-33431 .elementor-element.elementor-element-b96855b > .elementor-widget-container {
  padding: 10px 0 0;
}
@media (max-width: 1024px) {
  .elementor-33431 .elementor-element.elementor-element-4e5bafb > .elementor-container {
    max-width: 1440px;
  }
  .elementor-33431 .elementor-element.elementor-element-4e5bafb {
    padding: 60px 20px;
  }
}
@media (max-width: 780px) {
  .elementor-33431 .elementor-element.elementor-element-4e5bafb {
    padding: 30px 10px;
  }
  .elementor-33431 .elementor-element.elementor-element-35d58de > .elementor-widget-container {
    padding: 0;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
