.elementor-18195 .elementor-element.elementor-element-ac1c336 > .elementor-container {
  max-width: 1280px;
}
.elementor-18195 .elementor-element.elementor-element-ac1c336:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-ac1c336 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18195 .elementor-element.elementor-element-ac1c336 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-ac1c336 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-9755f0b > .elementor-element-populated {
  padding: 0;
}
.elementor-18195 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18195 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-18195 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-18195 .elementor-element.elementor-element-f81458a {
  color: #fff;
}
.elementor-18195 .elementor-element.elementor-element-f6f6594 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-c8e07f3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-0a9cae0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-863de3b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-8631c66 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-bd105f8 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18195 .elementor-element.elementor-element-079951a > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-079951a:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-079951a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18195 .elementor-element.elementor-element-079951a {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}
.elementor-18195 .elementor-element.elementor-element-079951a > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-a033c53 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18195 .elementor-element.elementor-element-20d5c8d {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-bc-flex-widget .elementor-18195 .elementor-element.elementor-element-ebecd2d.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-18195
  .elementor-element.elementor-element-ebecd2d.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-18195 .elementor-element.elementor-element-a6870ff {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-a6870ff > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-18195 .elementor-element.elementor-element-3231dc0 > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-3231dc0 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-18195 .elementor-element.elementor-element-dfcb00e {
  text-align: center;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-18195 .elementor-element.elementor-element-dfcb00e .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18195 .elementor-element.elementor-element-4720c60 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-4720c60 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18195 .elementor-element.elementor-element-0fa3dd2 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-e6fd275 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-b5609cb .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-4eb00a3 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-eb8e3e2 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-4c6343d {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-7a6273b .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-23d3802 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-9703499 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-796c799 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-425e7f5 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-301c541 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-f10b770 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-9bfc2eb {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-068b36c > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-068b36c:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-068b36c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18195 .elementor-element.elementor-element-068b36c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-18195 .elementor-element.elementor-element-068b36c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-924ba88 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-924ba88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18195 .elementor-element.elementor-element-924ba88 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18195 .elementor-element.elementor-element-8d21d89 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-8d21d89 img {
  border-radius: 10px;
}
.elementor-18195 .elementor-element.elementor-element-8d21d89 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18195 .elementor-element.elementor-element-5bfc7aa {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-5bfc7aa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18195 .elementor-element.elementor-element-5bfc7aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18195 .elementor-element.elementor-element-60668ff {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-60668ff img {
  border-radius: 10px;
}
.elementor-18195 .elementor-element.elementor-element-60668ff > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18195 .elementor-element.elementor-element-a9f2c5b > .elementor-element-populated {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-b91916d > .elementor-element-populated {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-161d8ae > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-161d8ae {
  margin-top: 70px;
  margin-bottom: 70px;
}
.elementor-18195 .elementor-element.elementor-element-0ddfcad {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-0ddfcad .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18195 .elementor-element.elementor-element-c763397 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18195 .elementor-element.elementor-element-a6fbfcd {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-a6fbfcd > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18195 .elementor-element.elementor-element-4bb3245 {
  margin-top: 10px;
  margin-bottom: 0;
}
.elementor-18195 .elementor-element.elementor-element-2fdfde3 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18195 .elementor-element.elementor-element-74aa844 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-74aa844 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18195 .elementor-element.elementor-element-db3b030 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-0a40045 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18195 .elementor-element.elementor-element-3927059 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-3927059 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18195 .elementor-element.elementor-element-678148a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-1a66e0c img {
  width: 60px;
  max-width: 100%;
}
.elementor-18195 .elementor-element.elementor-element-5e4ec0b {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-5e4ec0b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18195 .elementor-element.elementor-element-0706f08 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-e59eeab > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-e59eeab:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-e59eeab > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18195 .elementor-element.elementor-element-e59eeab {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-18195 .elementor-element.elementor-element-e59eeab > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-440e6c0 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-440e6c0 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18195 .elementor-element.elementor-element-5b9df63 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-c65c7b3 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-0faa212 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-ad2292c .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-e940de9 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-3084f0e .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-c0721a3 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-2a6373b .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-daa1ea6 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-05b8ebe .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-ed230e6 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-f76ea43 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18195 .elementor-element.elementor-element-39c5764 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18195 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-18195 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-18195 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-18195 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-18195 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18195 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18195 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18195 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18195 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18195 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18195 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18195 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18195 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18195 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18195 .elementor-element.elementor-element-714457d > .elementor-container {
  max-width: 1280px;
}
.elementor-18195 .elementor-element.elementor-element-79d4be0 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18195 .elementor-element.elementor-element-5c6652a {
  text-align: center;
}
.elementor-18195 .elementor-element.elementor-element-5c6652a .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-18195 .elementor-element.elementor-element-5c6652a > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-accordion-item {
  border-width: 0;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-active .elementor-accordion-icon,
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18195 .elementor-element.elementor-element-02e9ac4 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18195 .elementor-element.elementor-element-2e65ed81 > .elementor-container {
  max-width: 1180px;
}
.elementor-18195 .elementor-element.elementor-element-2e65ed81 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18195 .elementor-element.elementor-element-2e65ed81 {
  padding: 80px 0 50px;
}
.elementor-18195 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-18195 .elementor-element.elementor-element-a033c53 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18195 .elementor-element.elementor-element-dfcb00e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18195 .elementor-element.elementor-element-0fa3dd2 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-b5609cb .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-eb8e3e2 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-7a6273b .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-9703499 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-425e7f5 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-f10b770 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-0ddfcad .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18195 .elementor-element.elementor-element-440e6c0 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18195 .elementor-element.elementor-element-c65c7b3 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-ad2292c .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-3084f0e .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-2a6373b .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-05b8ebe .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-f76ea43 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-2e65ed81 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-18195 .elementor-element.elementor-element-a07fefb {
    width: 55%;
  }
  .elementor-18195 .elementor-element.elementor-element-aaaf154 {
    width: 45%;
  }
}
@media (max-width: 780px) {
  .elementor-18195 .elementor-element.elementor-element-079951a {
    padding: 40px 0;
  }
  .elementor-18195 .elementor-element.elementor-element-a033c53 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18195 .elementor-element.elementor-element-20d5c8d {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-a6870ff {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-dfcb00e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18195 .elementor-element.elementor-element-4720c60 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-0fa3dd2 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-e6fd275 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-b5609cb .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-4eb00a3 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-eb8e3e2 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-4c6343d {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-7a6273b .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-23d3802 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-9703499 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-796c799 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-425e7f5 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-301c541 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-f10b770 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-9bfc2eb {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-0ddfcad .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18195 .elementor-element.elementor-element-a6fbfcd {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-db3b030 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-678148a {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-0706f08 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-440e6c0 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18195 .elementor-element.elementor-element-5b9df63 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-c65c7b3 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-0faa212 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-ad2292c .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-e940de9 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-3084f0e .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-c0721a3 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-2a6373b .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-daa1ea6 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-05b8ebe .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-ed230e6 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-f76ea43 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18195 .elementor-element.elementor-element-39c5764 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18195 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-18195 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18195 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18195 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18195 .elementor-element.elementor-element-2e65ed81 {
    padding: 20px 0 30px;
  }
  .elementor-18195 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
