.elementor-33449 .elementor-element.elementor-element-4e5bafb:not(.elementor-motion-effects-element-type-background),
.elementor-33449 .elementor-element.elementor-element-4e5bafb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-33449 .elementor-element.elementor-element-4e5bafb {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 90px 20px;
}
.elementor-33449 .elementor-element.elementor-element-4e5bafb > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33449 .elementor-element.elementor-element-8d2c9a3 {
  text-align: center;
}
.elementor-33449 .elementor-element.elementor-element-8d2c9a3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33449 .elementor-element.elementor-element-8d2c9a3 > .elementor-widget-container {
  padding: 0 0 10px;
}
.elementor-33449 .elementor-element.elementor-element-35d58de {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-33449 .elementor-element.elementor-element-35d58de > .elementor-widget-container {
  padding: 0 120px;
}
.elementor-33449 .elementor-element.elementor-element-df90016 .gallery-item {
  padding: 0 20px 20px 0;
}
.elementor-33449 .elementor-element.elementor-element-df90016 .gallery {
  margin: 0 -20px -20px 0;
}
.elementor-33449 .elementor-element.elementor-element-df90016 .gallery-item .gallery-caption {
  text-align: center;
}
.elementor-33449 .elementor-element.elementor-element-df90016 > .elementor-widget-container {
  padding: 10px 0 0;
}
.elementor-33449 .elementor-element.elementor-element-a9ae7fc .gallery-item {
  padding: 0 20px 20px 0;
}
.elementor-33449 .elementor-element.elementor-element-a9ae7fc .gallery {
  margin: 0 -20px -20px 0;
}
.elementor-33449 .elementor-element.elementor-element-a9ae7fc .gallery-item .gallery-caption {
  text-align: center;
}
.elementor-33449 .elementor-element.elementor-element-a9ae7fc > .elementor-widget-container {
  padding: 10px 0 0;
}
.elementor-33449 .elementor-element.elementor-element-9245414 .gallery-item {
  padding: 0 20px 20px 0;
}
.elementor-33449 .elementor-element.elementor-element-9245414 .gallery {
  margin: 0 -20px -20px 0;
}
.elementor-33449 .elementor-element.elementor-element-9245414 .gallery-item .gallery-caption {
  text-align: center;
}
.elementor-33449 .elementor-element.elementor-element-9245414 > .elementor-widget-container {
  padding: 10px 0 0;
}
@media (max-width: 1024px) {
  .elementor-33449 .elementor-element.elementor-element-4e5bafb > .elementor-container {
    max-width: 1440px;
  }
  .elementor-33449 .elementor-element.elementor-element-4e5bafb {
    padding: 60px 20px;
  }
}
@media (max-width: 780px) {
  .elementor-33449 .elementor-element.elementor-element-4e5bafb {
    padding: 30px 10px;
  }
  .elementor-33449 .elementor-element.elementor-element-35d58de > .elementor-widget-container {
    padding: 0;
  }
}
