.elementor-18688 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-18688 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-18688 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18688 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18688 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18688 .elementor-element.elementor-element-69925a9 > .elementor-element-populated {
  padding: 10px 20px;
}
.elementor-18688 .elementor-element.elementor-element-0b6251c {
  color: #0f2c52;
}
.elementor-18688 .elementor-element.elementor-element-0b6251c a {
  color: #647084;
}
.elementor-18688 .elementor-element.elementor-element-0b6251c a:hover {
  color: #0f2c52;
}
.elementor-18688 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18688 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-18688 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_cfd_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-18688 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18688 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18688 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-18688 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18688 .elementor-element.elementor-element-a9e9465 > .elementor-container {
  max-width: 1280px;
}
.elementor-18688 .elementor-element.elementor-element-a9e9465 {
  padding: 60px 0;
}
.elementor-18688 .elementor-element.elementor-element-c366c2f {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-c366c2f .elementor-heading-title {
  color: #0f2c52;
}
.elementor-18688 .elementor-element.elementor-element-a6273f6 img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-b1a55e0 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-b1a55e0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-90a7ca5 img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-7159199 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-7159199 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-46286d5 img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-45103f0 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-45103f0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-924e956 img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-0f3a6d7 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-0f3a6d7 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-df037fa img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-ce8ee55 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-ce8ee55 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-facc4a1 img {
  height: 70px;
}
.elementor-18688 .elementor-element.elementor-element-1b65109 {
  text-align: center;
}
.elementor-18688 .elementor-element.elementor-element-1b65109 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-18688 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 820px;
}
.elementor-18688 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-18688 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 781px) {
  .elementor-18688 .elementor-element.elementor-element-1c0d431 {
    width: 59.612%;
  }
  .elementor-18688 .elementor-element.elementor-element-b7fa669 {
    width: 40.341%;
  }
  .elementor-18688 .elementor-element.elementor-element-bfd2185 {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-18688 .elementor-element.elementor-element-1c0d431 {
    width: 70%;
  }
  .elementor-18688 .elementor-element.elementor-element-b7fa669 {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .elementor-18688 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .elementor-18688 .elementor-element.elementor-element-a9e9465 {
    padding: 40px 0 20px;
  }
  .elementor-18688 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-18688 .elementor-element.elementor-element-bbedd10 {
    font-size: 16px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
