.elementor-33514 .elementor-element.elementor-element-f4ee919 > .elementor-container {
  max-width: 1200px;
}
.elementor-33514 .elementor-element.elementor-element-f4ee919:not(.elementor-motion-effects-element-type-background),
.elementor-33514 .elementor-element.elementor-element-f4ee919 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #1a45a7;
  background-image: url('../../../../uploads/2024/05/testimonial_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-33514 .elementor-element.elementor-element-f4ee919 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 100px 0;
}
.elementor-33514 .elementor-element.elementor-element-f4ee919 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33514 .elementor-element.elementor-element-3e8746f {
  text-align: center;
}
.elementor-33514 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
  color: #fff;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-33514 .elementor-element.elementor-element-3e8746f > .elementor-widget-container {
  padding: 0;
}
.elementor-33514 .elementor-element.elementor-element-8387e30 > .elementor-container {
  min-height: 300px;
}
.elementor-33514 .elementor-element.elementor-element-f335aaf:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-element-populated,
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-element-populated > .elementor-background-overlay,
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33514 .elementor-element.elementor-element-abf0fbb {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33514 .elementor-element.elementor-element-e91a216 .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33514 .elementor-element.elementor-element-e91a216 > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33514 .elementor-element.elementor-element-e91a216 {
  left: 0;
}
body.rtl .elementor-33514 .elementor-element.elementor-element-e91a216 {
  right: 0;
}
.elementor-33514 .elementor-element.elementor-element-e91a216 {
  bottom: 0;
}
.elementor-33514 .elementor-element.elementor-element-fc498f7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-element-populated,
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33514 .elementor-element.elementor-element-fc498f7 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33514 .elementor-element.elementor-element-e2775fe {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33514 .elementor-element.elementor-element-659d56f .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-33514 .elementor-element.elementor-element-659d56f > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33514 .elementor-element.elementor-element-659d56f {
  left: 0;
}
body.rtl .elementor-33514 .elementor-element.elementor-element-659d56f {
  right: 0;
}
.elementor-33514 .elementor-element.elementor-element-659d56f {
  bottom: 0;
}
.elementor-33514 .elementor-element.elementor-element-2944ef5:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-element-populated,
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-element-populated > .elementor-background-overlay,
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33514 .elementor-element.elementor-element-2944ef5 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33514 .elementor-element.elementor-element-ba0b5de {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33514 .elementor-element.elementor-element-253eb96 .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33514 .elementor-element.elementor-element-253eb96 > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33514 .elementor-element.elementor-element-253eb96 {
  left: 0;
}
body.rtl .elementor-33514 .elementor-element.elementor-element-253eb96 {
  right: 0;
}
.elementor-33514 .elementor-element.elementor-element-253eb96 {
  bottom: 0;
}
.elementor-33514 .elementor-element.elementor-element-e113f8f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-element-populated,
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-element-populated > .elementor-background-overlay,
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 20px;
}
.elementor-33514 .elementor-element.elementor-element-e113f8f > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33514 .elementor-element.elementor-element-864e628 {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 23px;
}
.elementor-33514 .elementor-element.elementor-element-27498a8 .elementor-heading-title {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33514 .elementor-element.elementor-element-27498a8 > .elementor-widget-container {
  padding: 20px 20px 20px 50px;
  background-image: url('../../../../uploads/2024/06/testimonialProfile.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
body:not(.rtl) .elementor-33514 .elementor-element.elementor-element-27498a8 {
  left: 0;
}
body.rtl .elementor-33514 .elementor-element.elementor-element-27498a8 {
  right: 0;
}
.elementor-33514 .elementor-element.elementor-element-27498a8 {
  bottom: 0;
}
.elementor-33514 .elementor-element.elementor-element-93615b1 {
  text-align: center;
}
.elementor-33514 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
  color: #fff;
  font-size: var(--e-global-typography-dbc747b-font-size);
  line-height: var(--e-global-typography-dbc747b-line-height);
  letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
  word-spacing: var(--e-global-typography-dbc747b-word-spacing);
}
.elementor-33514 .elementor-element.elementor-element-93615b1 > .elementor-widget-container {
  margin: 50px 0 0;
  padding: 0;
}
@media (max-width: 1366px) {
  .elementor-33514 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33514 .elementor-element.elementor-element-e91a216 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-253eb96 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-27498a8 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
@media (max-width: 1024px) {
  .elementor-33514 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33514 .elementor-element.elementor-element-f335aaf > .elementor-element-populated {
    margin: 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px;
  }
  .elementor-33514 .elementor-element.elementor-element-e91a216 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-e91a216 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-659d56f > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-253eb96 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-253eb96 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-27498a8 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-27498a8 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
@media (max-width: 780px) {
  .elementor-33514 .elementor-element.elementor-element-3e8746f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-33514 .elementor-element.elementor-element-e91a216 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-e91a216 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-659d56f > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-253eb96 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-253eb96 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-27498a8 .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-33514 .elementor-element.elementor-element-27498a8 > .elementor-widget-container {
    background-position: 0 0;
  }
  .elementor-33514 .elementor-element.elementor-element-93615b1 .elementor-heading-title {
    font-size: var(--e-global-typography-dbc747b-font-size);
    line-height: var(--e-global-typography-dbc747b-line-height);
    letter-spacing: var(--e-global-typography-dbc747b-letter-spacing);
    word-spacing: var(--e-global-typography-dbc747b-word-spacing);
  }
}
.txtTestimonial:before {
  content: '';
  width: 18px;
  height: 30px;
  display: inline-block;
  background: url(../../../../uploads/2024/06/quote.svg) no-repeat center center;
}
.txtTestimonial:after {
  content: '';
  width: 18px;
  height: 30px;
  margin-top: -10px;
  float: right;
  display: inline-block;
  background: url(https://www.atfx.com/wp-content/uploads/2024/06/quote.svg) no-repeat center center;
  transform: rotate(180deg);
}
.pnlTestimonial {
  position: relative;
  min-height: 350px;
  margin-bottom: 30px;
}
.pnlTestimonial:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: -20px;
  left: 20%;
  background: url(https://www.atfx.com/wp-content/uploads/2024/06/SBubblePath.svg) no-repeat bottom left;
}
.pnlTestimonial:nth-child(2n):after {
  left: 60%;
  transform: scaleX(-1);
}
@media (max-width: 1024px) {
  .pnlTestimonial {
    min-height: 250px;
  }
}
@media (max-width: 1024px) {
  .elementor-33514 .elementor-element.elementor-element-8387e30 .elementor-column {
    width: 50%;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .elementor-33514 .elementor-element.elementor-element-8387e30 .elementor-column {
    width: 100%;
    height: 200px;
  }
}
.feature-logos {
  list-style: none;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  padding: 0;
  flex-wrap: wrap;
}
.feature-logos-item {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  padding: 10px;
}
.feature-logos-item img {
  margin: auto auto;
  max-height: 40px;
}
@media (max-width: 1024px) {
  .feature-logos-item {
    flex: 1 1 22%;
  }
  .feature-logos-item.flex-2 {
    flex: 1 1 30%;
  }
}
@media (max-width: 767px) {
  .feature-logos-item {
    flex: 1 1 33%;
  }
  .feature-logos-item.flex-2 {
    flex: 1 1 60%;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
