.elementor-25787 .elementor-element.elementor-element-307861c:not(.elementor-motion-effects-element-type-background),
.elementor-25787 .elementor-element.elementor-element-307861c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-25787 .elementor-element.elementor-element-307861c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-25787 .elementor-element.elementor-element-307861c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-25787
  .elementor-element.elementor-element-b62acdf
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-25787 .elementor-element.elementor-element-b62acdf > .elementor-element-populated {
  padding: 0;
}
.elementor-25787 .elementor-element.elementor-element-c7cfbe7 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-25787 .elementor-element.elementor-element-c7cfbe7:not(.elementor-motion-effects-element-type-background),
.elementor-25787 .elementor-element.elementor-element-c7cfbe7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_forex_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-25787 .elementor-element.elementor-element-c7cfbe7 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-25787 .elementor-element.elementor-element-c7cfbe7 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-25787 .elementor-element.elementor-element-963a1d3 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-25787 .elementor-element.elementor-element-57e28e1 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-57e28e1 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-82f56d7 > .elementor-container {
  max-width: 1280px;
}
.elementor-25787 .elementor-element.elementor-element-82f56d7 {
  padding: 60px 0;
}
.elementor-25787 .elementor-element.elementor-element-7e14987 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-7e14987 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-92c487c img {
  height: 50px;
}
.elementor-25787 .elementor-element.elementor-element-725ad57 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-725ad57 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-25787 .elementor-element.elementor-element-a4938a8 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-51b92d0 img {
  height: 50px;
}
.elementor-25787 .elementor-element.elementor-element-84b7b14 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-84b7b14 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-25787 .elementor-element.elementor-element-dd06b81 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-0a125fe img {
  height: 50px;
}
.elementor-25787 .elementor-element.elementor-element-545de8f {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-545de8f .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-25787 .elementor-element.elementor-element-7a26964 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-dc9eca0 > .elementor-container {
  max-width: 860px;
}
.elementor-25787 .elementor-element.elementor-element-dc9eca0:not(.elementor-motion-effects-element-type-background),
.elementor-25787 .elementor-element.elementor-element-dc9eca0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_forex_small_banner_2k.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-25787 .elementor-element.elementor-element-dc9eca0 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-25787 .elementor-element.elementor-element-dc9eca0 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-25787 .elementor-element.elementor-element-7e91ec2 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-7e91ec2 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-7e91ec2 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table {
  max-width: 100%;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody .td-content-wrapper {
  text-align: left;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-25787 .elementor-element.elementor-element-a3706cd > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-25787 .elementor-element.elementor-element-4f60f5c > .elementor-container {
  max-width: 860px;
}
.elementor-25787 .elementor-element.elementor-element-4f60f5c {
  padding: 60px 0;
}
.elementor-25787 .elementor-element.elementor-element-b633faa {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-b633faa .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-30c6f45 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-30c6f45 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-a5ab4c4 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-a5ab4c4 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-63f951e {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-63f951e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-229d56a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-229d56a > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-8de7509 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-8de7509 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-bfbe44a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-bfbe44a > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-7795148 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-7795148 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-20ec35d {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-20ec35d > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-8ec5afb {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-8ec5afb .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-1da3096 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-25787 .elementor-element.elementor-element-54f4789 > .elementor-container {
  max-width: 860px;
}
.elementor-25787 .elementor-element.elementor-element-54f4789 {
  padding: 60px 0 0;
}
.elementor-25787 .elementor-element.elementor-element-69457c2 {
  text-align: center;
}
.elementor-25787 .elementor-element.elementor-element-69457c2 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-25787 .elementor-element.elementor-element-a7e05f3 > .elementor-container {
  max-width: 1280px;
}
.elementor-25787 .elementor-element.elementor-element-a7e05f3 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-25787 .elementor-element.elementor-element-e0b9442 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-accordion-item {
  border-width: 0;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-active .elementor-accordion-icon,
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-25787 .elementor-element.elementor-element-1f39eeb .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 781px) {
  .elementor-25787 .elementor-element.elementor-element-cbacaeb {
    width: 62.427%;
  }
  .elementor-25787 .elementor-element.elementor-element-f2b24e2 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-25787 .elementor-element.elementor-element-57e28e1 {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .elementor-25787 .elementor-element.elementor-element-82f56d7 {
    padding: 40px 0 20px;
  }
  .elementor-25787 .elementor-element.elementor-element-dc9eca0 {
    padding: 40px 0 20px;
  }
  .elementor-25787 .elementor-element.elementor-element-4f60f5c {
    padding: 40px 0 20px;
  }
  .elementor-25787 .elementor-element.elementor-element-30c6f45 {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-30c6f45 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-25787 .elementor-element.elementor-element-63f951e {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-63f951e > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-25787 .elementor-element.elementor-element-229d56a {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-229d56a > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-25787 .elementor-element.elementor-element-bfbe44a {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-bfbe44a > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-25787 .elementor-element.elementor-element-20ec35d {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-20ec35d > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-25787 .elementor-element.elementor-element-1da3096 {
    font-size: 16px;
  }
  .elementor-25787 .elementor-element.elementor-element-54f4789 {
    padding: 40px 0 0;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.table-product thead {
  display: none;
}
.table-product td span {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 2px;
  min-width: 13.67%;
  padding: 3px 5px;
  text-align: center;
}
@media (max-width: 767px) {
  .eael-data-table-wrap {
    overflow: hidden !important;
  }
  .eael-data-table .td-content {
    flex-direction: column;
  }
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
.elementor-widget-accordion .elementor-active .elementor-accordion-icon,
.elementor-widget-accordion .elementor-active .elementor-accordion-title {
  color: #fff;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
