.elementor-33927 .elementor-element.elementor-element-5a2a0ee {
  padding: 0 40px;
}
.elementor-33927 .elementor-element.elementor-element-8148702 > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33927 .elementor-element.elementor-element-91a7baf .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33927 .elementor-element.elementor-element-ba3fb00 {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33927 .elementor-element.elementor-element-ba3fb00 > .elementor-widget-container {
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-983b087.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33927 .elementor-element.elementor-element-557ab1a .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-557ab1a .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-557ab1a .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33927 .elementor-element.elementor-element-557ab1a .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-557ab1a .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-557ab1a > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-557ab1a {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-43b3831 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-43b3831 .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-43b3831 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33927 .elementor-element.elementor-element-43b3831 .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-43b3831 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-43b3831 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-43b3831 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-5e12ae9.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33927 .elementor-element.elementor-element-af432f6 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-af432f6 .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-af432f6 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33927 .elementor-element.elementor-element-af432f6 .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-af432f6 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-af432f6 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-af432f6 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-eded5a3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-eded5a3 .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-eded5a3 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33927 .elementor-element.elementor-element-eded5a3 .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-eded5a3 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-eded5a3 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33927 .elementor-element.elementor-element-eded5a3 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-4c301db > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33927 .elementor-element.elementor-element-52802a9 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33927 .elementor-element.elementor-element-8ab3a43 {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33927 .elementor-element.elementor-element-8ab3a43 > .elementor-widget-container {
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-998e041.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33927 .elementor-element.elementor-element-dd97c2b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-dd97c2b .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-dd97c2b .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33927 .elementor-element.elementor-element-dd97c2b .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-dd97c2b .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-dd97c2b > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-dd97c2b {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-02c9968 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-02c9968 .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-02c9968 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33927 .elementor-element.elementor-element-02c9968 .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-02c9968 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-02c9968 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-02c9968 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-d69a8a1.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33927 .elementor-element.elementor-element-ba13c4d .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-ba13c4d .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-ba13c4d .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33927 .elementor-element.elementor-element-ba13c4d .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-ba13c4d .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-ba13c4d > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33927 .elementor-element.elementor-element-ba13c4d {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33927 .elementor-element.elementor-element-3e466aa .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33927 .elementor-element.elementor-element-3e466aa .elementor-button:hover,
.elementor-33927 .elementor-element.elementor-element-3e466aa .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33927 .elementor-element.elementor-element-3e466aa .elementor-button:hover svg,
.elementor-33927 .elementor-element.elementor-element-3e466aa .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33927 .elementor-element.elementor-element-3e466aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33927 .elementor-element.elementor-element-3e466aa {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-33927 .elementor-element.elementor-element-8148702 {
    width: 50%;
  }
  .elementor-33927 .elementor-element.elementor-element-4c301db {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-33927 .elementor-element.elementor-element-5a2a0ee {
    padding: 0 30px;
  }
  .elementor-33927 .elementor-element.elementor-element-91a7baf .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba3fb00 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba3fb00 > .elementor-widget-container {
    padding: 0 20px 0 0;
  }
  .elementor-33927 .elementor-element.elementor-element-557ab1a > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-557ab1a {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-43b3831 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-43b3831 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-af432f6 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-af432f6 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-eded5a3 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33927 .elementor-element.elementor-element-eded5a3 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-52802a9 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33927 .elementor-element.elementor-element-8ab3a43 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33927 .elementor-element.elementor-element-8ab3a43 > .elementor-widget-container {
    padding: 0 20px 0 0;
  }
  .elementor-33927 .elementor-element.elementor-element-dd97c2b > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-dd97c2b {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-02c9968 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-02c9968 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba13c4d > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba13c4d {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33927 .elementor-element.elementor-element-3e466aa > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33927 .elementor-element.elementor-element-3e466aa {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
}
@media (max-width: 780px) {
  .elementor-33927 .elementor-element.elementor-element-5a2a0ee > .elementor-container {
    max-width: 400px;
  }
  .elementor-33927 .elementor-element.elementor-element-5a2a0ee {
    padding: 0 40px;
  }
  .elementor-33927 .elementor-element.elementor-element-8148702 > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33927 .elementor-element.elementor-element-91a7baf .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba3fb00 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33927 .elementor-element.elementor-element-557ab1a > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-557ab1a {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-43b3831 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-43b3831 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-af432f6 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-af432f6 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-eded5a3 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-eded5a3 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-4c301db > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33927 .elementor-element.elementor-element-52802a9 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33927 .elementor-element.elementor-element-8ab3a43 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33927 .elementor-element.elementor-element-dd97c2b > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-dd97c2b {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-02c9968 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-02c9968 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba13c4d > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-ba13c4d {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33927 .elementor-element.elementor-element-3e466aa > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33927 .elementor-element.elementor-element-3e466aa {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
}
.new-traders {
  width: 184px !important;
}
.new-traders a.elementor-button:active {
  color: #fff !important;
  background: #ff8055 !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .new-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .new-traders {
    width: 50% !important;
  }
  .new-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
.traders {
  width: 50% !important;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-image: linear-gradient(to top, #f2672a, #0f2d52) 1;
}
@media (max-width: 767px) {
  .traders {
    width: 100% !important;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(90deg, #f2672a, #0f2d52) 1 !important;
  }
}
.exp-traders {
  width: 184px !important;
}
.exp-traders a.elementor-button:active {
  color: #fff !important;
  background: #2c4d7a !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .exp-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .exp-traders {
    width: 50% !important;
  }
  .exp-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
