.elementor-19630 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-19630 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-19630 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19630 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19630 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19630 .elementor-element.elementor-element-9595c80 > .elementor-element-populated {
  padding: 0;
}
.elementor-19630 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-19630 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-19630 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_4k-scaled.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-19630 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19630 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19630 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19630 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-19630 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-19630 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-c94dd19 img {
  height: 49px;
}
.elementor-19630 .elementor-element.elementor-element-7193698 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-7193698 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-9cf1d30 img {
  height: 49px;
}
.elementor-19630 .elementor-element.elementor-element-e888ae3 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-e888ae3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-fa383c2 img {
  height: 49px;
}
.elementor-19630 .elementor-element.elementor-element-09efb7e {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-09efb7e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-fa46e2d {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-c4af8ac img {
  height: 49px;
}
.elementor-19630 .elementor-element.elementor-element-e6b45d1 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-e6b45d1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-19630 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-19630 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_small_banner_2k.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19630 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-19630 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19630 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-19630 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-19630 .elementor-element.elementor-element-bf92f8e > .elementor-container {
  max-width: 820px;
}
.elementor-19630 .elementor-element.elementor-element-bf92f8e {
  padding: 60px 0;
}
.elementor-19630 .elementor-element.elementor-element-551d20c {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-551d20c .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19630 .elementor-element.elementor-element-d2461c1 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-d2461c1 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19630 .elementor-element.elementor-element-744bfde > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19630 .elementor-element.elementor-element-0893915 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-2e5274a {
  text-align: justify;
}
.elementor-19630 .elementor-element.elementor-element-dbee78b img {
  width: 400px;
}
.elementor-19630 .elementor-element.elementor-element-f548fd0 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-f548fd0 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19630 .elementor-element.elementor-element-2b010bf img {
  width: 400px;
}
.elementor-19630 .elementor-element.elementor-element-5830a6a > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19630 .elementor-element.elementor-element-5ecd5d4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-5ecd5d4 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19630 .elementor-element.elementor-element-d7e83d8 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19630 .elementor-element.elementor-element-72e73de img {
  width: 400px;
}
.elementor-19630 .elementor-element.elementor-element-1ed59e1 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-1ed59e1 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19630 .elementor-element.elementor-element-393d6ae img {
  width: 400px;
}
.elementor-19630 .elementor-element.elementor-element-377a12b > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19630 .elementor-element.elementor-element-85d495c > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-85d495c {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19630 .elementor-element.elementor-element-89f95be > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19630 .elementor-element.elementor-element-cd845a7 img {
  width: 400px;
}
.elementor-19630 .elementor-element.elementor-element-f0ded46 > .elementor-container {
  max-width: 860px;
}
.elementor-19630 .elementor-element.elementor-element-f0ded46 {
  padding: 0;
}
.elementor-19630 .elementor-element.elementor-element-1994086 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-1994086 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-4ab7df1 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-4ab7df1 > .elementor-widget-container {
  margin: 0;
}
.elementor-19630 .elementor-element.elementor-element-fe436e6 > .elementor-container {
  max-width: 1030px;
}
.elementor-19630 .elementor-element.elementor-element-fe436e6 {
  padding: 100px 0 0;
}
.elementor-19630 .elementor-element.elementor-element-e78cdc7 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-e78cdc7 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19630 .elementor-element.elementor-element-b031fee {
  text-align: left;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-b031fee > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-19630 .elementor-element.elementor-element-72d19a1 > .elementor-container {
  max-width: 1030px;
}
.elementor-19630 .elementor-element.elementor-element-3770bc8 img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-7758208 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-7758208 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-3beca0f {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-9685279 img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-09aeadf {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-09aeadf .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-19aef70 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-d45aa74 img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-0926a76 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-0926a76 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-120fab9 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-f460ef2 img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-c169a88 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-c169a88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-74b21c8 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-ed2febb img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-05616d5 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-05616d5 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-74c0933 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-ba50a0f img {
  width: 70px;
}
.elementor-19630 .elementor-element.elementor-element-fb1cffe {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-fb1cffe .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19630 .elementor-element.elementor-element-5a11ca3 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-6bce3c3 > .elementor-container {
  max-width: 1030px;
}
.elementor-19630 .elementor-element.elementor-element-6bce3c3 {
  padding: 30px 0;
}
.elementor-19630 .elementor-element.elementor-element-88b9572 > .elementor-container {
  max-width: 860px;
}
.elementor-19630 .elementor-element.elementor-element-88b9572 {
  padding: 0;
}
.elementor-19630 .elementor-element.elementor-element-0c09456 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-0c09456 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-f949378 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19630 .elementor-element.elementor-element-f949378 > .elementor-widget-container {
  margin: 0;
}
.elementor-19630 .elementor-element.elementor-element-fc80499 > .elementor-container {
  max-width: 860px;
}
.elementor-19630 .elementor-element.elementor-element-fc80499 {
  padding: 20px 0 0;
}
.elementor-19630 .elementor-element.elementor-element-14b9eb0 {
  text-align: center;
}
.elementor-19630 .elementor-element.elementor-element-14b9eb0 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-19630 .elementor-element.elementor-element-7501393 > .elementor-container {
  max-width: 1280px;
}
.elementor-19630 .elementor-element.elementor-element-7501393 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19630 .elementor-element.elementor-element-7501393 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
}
.elementor-19630 .elementor-element.elementor-element-5626119 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-accordion-item {
  border-width: 0;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-active .elementor-accordion-icon,
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 600;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19630 .elementor-element.elementor-element-29daca1 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
@media (min-width: 781px) {
  .elementor-19630 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-19630 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-19630 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-19630 .elementor-element.elementor-element-4ab7df1 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19630 .elementor-element.elementor-element-b031fee > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19630 .elementor-element.elementor-element-f949378 > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 780px) {
  .elementor-19630 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-19630 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-19630 .elementor-element.elementor-element-bf92f8e {
    padding: 40px 0 20px;
  }
  .elementor-19630 .elementor-element.elementor-element-f0ded46 {
    padding: 40px 0 20px;
  }
  .elementor-19630 .elementor-element.elementor-element-4ab7df1 {
    font-size: 16px;
  }
  .elementor-19630 .elementor-element.elementor-element-4ab7df1 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19630 .elementor-element.elementor-element-b031fee {
    font-size: 16px;
  }
  .elementor-19630 .elementor-element.elementor-element-b031fee > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19630 .elementor-element.elementor-element-88b9572 {
    padding: 40px 0 20px;
  }
  .elementor-19630 .elementor-element.elementor-element-f949378 {
    font-size: 16px;
  }
  .elementor-19630 .elementor-element.elementor-element-f949378 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19630 .elementor-element.elementor-element-fc80499 {
    padding: 40px 0 0;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
