.elementor-36869 .elementor-element.elementor-element-5e54667:not(.elementor-motion-effects-element-type-background),
.elementor-36869 .elementor-element.elementor-element-5e54667 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-36869 .elementor-element.elementor-element-5e54667 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-36869 .elementor-element.elementor-element-5e54667 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-36869
  .elementor-element.elementor-element-d613c87
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-36869 .elementor-element.elementor-element-d613c87 > .elementor-element-populated {
  padding: 0;
}
.elementor-36869 .elementor-element.elementor-element-3a7978b > .elementor-container {
  max-width: 1200px;
  min-height: 300px;
}
.elementor-36869 .elementor-element.elementor-element-3a7978b:not(.elementor-motion-effects-element-type-background),
.elementor-36869 .elementor-element.elementor-element-3a7978b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/12/0_the_importance_of_earnings_season.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-36869 .elementor-element.elementor-element-3a7978b > .elementor-background-overlay {
  background-color: #000;
  opacity: 0.75;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-36869 .elementor-element.elementor-element-3a7978b {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-36869 .elementor-element.elementor-element-32a6250 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}
.elementor-36869 .elementor-element.elementor-element-32a6250 {
  width: var(--container-widget-width, 140.635%);
  max-width: 140.635%;
  --container-widget-width: 140.635%;
  --container-widget-flex-grow: 0;
}
.elementor-36869 .elementor-element.elementor-element-1977d62 > .elementor-container {
  max-width: 1200px;
}
.elementor-36869 .elementor-element.elementor-element-1977d62 {
  padding: 60px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-597c562 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-279d2d4 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-279d2d4 > .elementor-widget-container {
  margin: 0;
}
.elementor-36869 .elementor-element.elementor-element-57e23e4 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-ee9fd4c .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-4d3bafe .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-4d3bafe > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-c7f8af0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-c7f8af0 > .elementor-widget-container {
  margin: 0;
}
.elementor-36869 .elementor-element.elementor-element-1072f6a .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-1072f6a > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-f1d3bda {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-f1d3bda > .elementor-widget-container {
  margin: 0;
}
.elementor-36869 .elementor-element.elementor-element-cac65f6 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-cac65f6 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-22c1bba {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-22c1bba > .elementor-widget-container {
  margin: 0;
}
.elementor-36869 .elementor-element.elementor-element-87f1a36 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-87f1a36 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-f2d7c37 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-f2d7c37 > .elementor-widget-container {
  margin: 0;
}
.elementor-36869 .elementor-element.elementor-element-f472e7d .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-36869 .elementor-element.elementor-element-f472e7d > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-36869 .elementor-element.elementor-element-1854b25 > .elementor-container {
  max-width: 1224px;
}
.elementor-36869 .elementor-element.elementor-element-1854b25 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 60px;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-accordion-icon,
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-active .elementor-accordion-icon,
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-36869 .elementor-element.elementor-element-9e0bd68 .e-tabs-items-wrapper .e-tab-title:where(.e-active, :hover) .e-tab-title-text {
  color: #556068;
}
.elementor-36869 .elementor-element.elementor-element-9e0bd68 .e-tabs-items-wrapper .e-tab-title:where(.e-active, :hover) .e-tab-title-text a {
  color: #556068;
}
.elementor-36869 .elementor-element.elementor-element-9e0bd68 .e-tabs-items-wrapper .e-section-title {
  border-style: solid;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-36869 .elementor-element.elementor-element-8f8322c {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .elementor-36869 .elementor-element.elementor-element-3a7978b > .elementor-container {
    min-height: 220px;
  }
}
@media (max-width: 780px) {
  .elementor-36869 .elementor-element.elementor-element-3a7978b > .elementor-container {
    min-height: 300px;
  }
  .elementor-36869 .elementor-element.elementor-element-32a6250 .elementor-heading-title {
    font-size: 38px;
    line-height: 60px;
  }
  .elementor-36869 .elementor-element.elementor-element-1977d62 {
    padding: 40px 0 20px;
  }
  .elementor-36869 .elementor-element.elementor-element-279d2d4 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-36869 .elementor-element.elementor-element-c7f8af0 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-36869 .elementor-element.elementor-element-f1d3bda {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-36869 .elementor-element.elementor-element-22c1bba {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-36869 .elementor-element.elementor-element-f2d7c37 {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-36869 .elementor-element.elementor-element-e64fcd2 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
