.elementor-31512 .elementor-element.elementor-element-4e279fa > .elementor-container {
  max-width: 1070px;
}
.elementor-31512 .elementor-element.elementor-element-4e279fa {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-31512 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31512 .elementor-element.elementor-element-b57a644 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31512 .elementor-element.elementor-element-800bb5d .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31512 .elementor-element.elementor-element-99826b5 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31512 .elementor-element.elementor-element-99826b5 .elementor-divider-separator {
  width: 36px;
}
.elementor-31512 .elementor-element.elementor-element-99826b5 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31512 .elementor-element.elementor-element-5d611e8 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-31512 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31512 .elementor-element.elementor-element-311dca3 .elementor-heading-title {
  color: #c4c4c4;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31512 .elementor-element.elementor-element-f429fb6 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31512 .elementor-element.elementor-element-de2dc23 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31512 .elementor-element.elementor-element-de2dc23 .elementor-divider-separator {
  width: 36px;
}
.elementor-31512 .elementor-element.elementor-element-de2dc23 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31512 .elementor-element.elementor-element-b87e3b2 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-31512 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-31512 .elementor-element.elementor-element-58f2b1f .elementor-heading-title {
  color: #c4c4c4;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-31512 .elementor-element.elementor-element-c09d7ac .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-31512 .elementor-element.elementor-element-c3ed933 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-31512 .elementor-element.elementor-element-c3ed933 .elementor-divider-separator {
  width: 36px;
}
.elementor-31512 .elementor-element.elementor-element-c3ed933 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-31512 .elementor-element.elementor-element-0a33241 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-31512 .elementor-element.elementor-element-15bac05 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .elementor-31512 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-31512 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-31512 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
    padding: 0 20px;
  }
}
@media (max-width: 780px) {
  .elementor-31512 .elementor-element.elementor-element-4e279fa {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-31512 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
    padding: 0 20px 40px;
  }
  .elementor-31512 .elementor-element.elementor-element-b57a644 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-800bb5d {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-99826b5 .elementor-divider {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-99826b5 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31512 .elementor-element.elementor-element-5d611e8 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
    padding: 40px 20px;
  }
  .elementor-31512 .elementor-element.elementor-element-311dca3 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-f429fb6 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-de2dc23 .elementor-divider {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-de2dc23 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31512 .elementor-element.elementor-element-b87e3b2 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-31512 .elementor-element.elementor-element-58f2b1f {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-c09d7ac {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-c3ed933 .elementor-divider {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-c3ed933 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-31512 .elementor-element.elementor-element-0a33241 {
    text-align: center;
  }
  .elementor-31512 .elementor-element.elementor-element-15bac05 {
    text-align: center;
  }
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(../../../../uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
