.elementor-31213 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-31213 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-31213 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31213 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31213 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31213 .elementor-element.elementor-element-6a5660a > .elementor-element-populated {
  padding: 0;
}
.elementor-31213 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-31213 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-31213 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/07/0_Gold_trading.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-31213 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31213 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31213 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31213 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-31213 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-31213 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-c94dd19 img {
  height: 49px;
}
.elementor-31213 .elementor-element.elementor-element-7193698 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-7193698 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-9cf1d30 img {
  height: 49px;
}
.elementor-31213 .elementor-element.elementor-element-e888ae3 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-e888ae3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-fa383c2 img {
  height: 49px;
}
.elementor-31213 .elementor-element.elementor-element-09efb7e {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-09efb7e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-fa46e2d {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-c4af8ac img {
  height: 49px;
}
.elementor-31213 .elementor-element.elementor-element-e6b45d1 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-e6b45d1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-31213 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-31213 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_small_banner_2k.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-31213 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-31213 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31213 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-31213 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-31213 .elementor-element.elementor-element-f6a9e24 > .elementor-container {
  max-width: 820px;
}
.elementor-31213 .elementor-element.elementor-element-f6a9e24 {
  padding: 60px 0;
}
.elementor-31213 .elementor-element.elementor-element-932338e {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-932338e .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-31213 .elementor-element.elementor-element-597b47b > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-597b47b {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31213 .elementor-element.elementor-element-b20dbcf > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-31213 .elementor-element.elementor-element-362a5db .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-850fc80 {
  text-align: justify;
}
.elementor-31213 .elementor-element.elementor-element-0542098 img {
  width: 400px;
}
.elementor-31213 .elementor-element.elementor-element-7f571a7 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-7f571a7 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31213 .elementor-element.elementor-element-bedc64e img {
  width: 400px;
}
.elementor-31213 .elementor-element.elementor-element-790d36e > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-31213 .elementor-element.elementor-element-14cc8ad > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-14cc8ad {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31213 .elementor-element.elementor-element-bc6263c > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-31213 .elementor-element.elementor-element-b202f7b img {
  width: 400px;
}
.elementor-31213 .elementor-element.elementor-element-583caf0 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-583caf0 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31213 .elementor-element.elementor-element-0674541 img {
  width: 400px;
}
.elementor-31213 .elementor-element.elementor-element-203944e > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-31213 .elementor-element.elementor-element-e993398 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-e993398 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31213 .elementor-element.elementor-element-94cdaad > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-31213 .elementor-element.elementor-element-caacc5a img {
  width: 400px;
}
.elementor-31213 .elementor-element.elementor-element-3d1476c > .elementor-container {
  max-width: 860px;
}
.elementor-31213 .elementor-element.elementor-element-3d1476c {
  padding: 0;
}
.elementor-31213 .elementor-element.elementor-element-e5f6883 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-e5f6883 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-42222ec {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-42222ec > .elementor-widget-container {
  margin: 0;
}
.elementor-31213 .elementor-element.elementor-element-fedd224 > .elementor-container {
  max-width: 1030px;
}
.elementor-31213 .elementor-element.elementor-element-fedd224 {
  padding: 50px 0 0;
}
.elementor-31213 .elementor-element.elementor-element-1926538 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-1926538 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-31213 .elementor-element.elementor-element-19b5ac4 {
  text-align: left;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-19b5ac4 > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-31213 .elementor-element.elementor-element-a6e4303 > .elementor-container {
  max-width: 1030px;
}
.elementor-31213 .elementor-element.elementor-element-577ac0d img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-b2946ef {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-b2946ef .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-0f14cbd {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-dd75ddb img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-954cf05 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-954cf05 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-954799b {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-bd1f814 img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-5dd772d {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-5dd772d .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-dd2faa7 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-f1e08f1 img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-f28c8d4 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-f28c8d4 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-26c5d64 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-c924e0f img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-008f9cb {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-008f9cb .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-e4f4705 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-a8a77c5 img {
  width: 70px;
}
.elementor-31213 .elementor-element.elementor-element-6582bd5 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-6582bd5 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31213 .elementor-element.elementor-element-7d95396 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-193ba4b > .elementor-container {
  max-width: 1030px;
}
.elementor-31213 .elementor-element.elementor-element-193ba4b {
  padding: 30px 0;
}
.elementor-31213 .elementor-element.elementor-element-82b0e9a > .elementor-container {
  max-width: 860px;
}
.elementor-31213 .elementor-element.elementor-element-82b0e9a {
  padding: 0;
}
.elementor-31213 .elementor-element.elementor-element-36ad21a {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-36ad21a .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-fad3775 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31213 .elementor-element.elementor-element-fad3775 > .elementor-widget-container {
  margin: 0;
}
.elementor-31213 .elementor-element.elementor-element-e07434c > .elementor-container {
  max-width: 860px;
}
.elementor-31213 .elementor-element.elementor-element-e07434c {
  padding: 20px 0 0;
}
.elementor-31213 .elementor-element.elementor-element-ec82899 {
  text-align: center;
}
.elementor-31213 .elementor-element.elementor-element-ec82899 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31213 .elementor-element.elementor-element-827ec44 > .elementor-container {
  max-width: 1280px;
}
.elementor-31213 .elementor-element.elementor-element-827ec44 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31213 .elementor-element.elementor-element-827ec44 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}
.elementor-31213 .elementor-element.elementor-element-ceae975 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-accordion-item {
  border-width: 0;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-active .elementor-accordion-icon,
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31213 .elementor-element.elementor-element-32b898f .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
@media (min-width: 781px) {
  .elementor-31213 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-31213 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-31213 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-31213 .elementor-element.elementor-element-42222ec > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-31213 .elementor-element.elementor-element-19b5ac4 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-31213 .elementor-element.elementor-element-fad3775 > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 780px) {
  .elementor-31213 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-31213 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-31213 .elementor-element.elementor-element-f6a9e24 {
    padding: 40px 0 20px;
  }
  .elementor-31213 .elementor-element.elementor-element-3d1476c {
    padding: 40px 0 20px;
  }
  .elementor-31213 .elementor-element.elementor-element-42222ec {
    font-size: 16px;
  }
  .elementor-31213 .elementor-element.elementor-element-42222ec > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-31213 .elementor-element.elementor-element-19b5ac4 {
    font-size: 16px;
  }
  .elementor-31213 .elementor-element.elementor-element-19b5ac4 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-31213 .elementor-element.elementor-element-82b0e9a {
    padding: 40px 0 20px;
  }
  .elementor-31213 .elementor-element.elementor-element-fad3775 {
    font-size: 16px;
  }
  .elementor-31213 .elementor-element.elementor-element-fad3775 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-31213 .elementor-element.elementor-element-e07434c {
    padding: 40px 0 0;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
