.elementor-26279 .elementor-element.elementor-element-f22f1c7:not(.elementor-motion-effects-element-type-background),
.elementor-26279 .elementor-element.elementor-element-f22f1c7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-26279 .elementor-element.elementor-element-f22f1c7 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-26279 .elementor-element.elementor-element-f22f1c7 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26279
  .elementor-element.elementor-element-9615dd1
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-26279 .elementor-element.elementor-element-9615dd1 > .elementor-element-populated {
  padding: 0;
}
.elementor-26279 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-26279 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0;
}
.elementor-26279 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26279 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.elementor-26279 .elementor-element.elementor-element-2bef2ce {
  color: #000;
}
.elementor-26279 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-54adf2df > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-54adf2df {
  padding: 20px 0 0;
}
.elementor-26279 .elementor-element.elementor-element-5d87cc7c > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-2befd3bd {
  text-align: center;
}
.elementor-26279 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-2befd3bd > .elementor-widget-container {
  margin: 0 0 20px;
  padding: 50px 0 0;
}
.elementor-26279 .elementor-element.elementor-element-1a5c2fc7 > .elementor-container {
  max-width: 1070px;
}
.elementor-26279 .elementor-element.elementor-element-1a5c2fc7 {
  margin-top: 0;
  margin-bottom: 30px;
}
.elementor-26279 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-72ef5df4 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-1407e824 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-456999e6 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-456999e6 .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-456999e6 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-6b745aa0 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-3531ac6b .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-4c8fb526 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-3635256b {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-3635256b .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-3635256b .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-3f1dfc40 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-251cda35 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-59cc3648 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-7c4709dd {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-7c4709dd .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-7c4709dd .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-461f3e08 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-34af13d > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-34af13d {
  padding: 0 0 50px;
}
.elementor-26279 .elementor-element.elementor-element-7437a1f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-517b8e6 > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-517b8e6 {
  padding: 0 0 50px;
}
.elementor-26279 .elementor-element.elementor-element-f10a9a5 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-33aa2ff > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-33aa2ff {
  padding: 60px 0;
}
.elementor-26279 .elementor-element.elementor-element-79bed41 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-79bed41 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-91ea11c .elementor-heading-title {
  color: #0f2c52;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-26279 .elementor-element.elementor-element-87b23e0 {
  text-align: justify;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-02228fe > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-02228fe {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-294a03a .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}
.elementor-26279 .elementor-element.elementor-element-33dc2ac {
  text-align: justify;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-99945d4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-99945d4 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
  color: #0f2c52;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-26279 .elementor-element.elementor-element-b05eafb {
  columns: 1;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-7f0d656 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-7f0d656 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
  color: #0f2c52;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-26279 .elementor-element.elementor-element-3d9080a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-28ee0e1 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-28ee0e1 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-594deec .elementor-heading-title {
  color: #0f2c52;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-26279 .elementor-element.elementor-element-8aaa9d4 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-838c03e > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26279 .elementor-element.elementor-element-838c03e {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-26279 .elementor-element.elementor-element-84f277f .elementor-heading-title {
  color: #0f2c52;
  font-size: var(--e-global-typography-21a3789-font-size);
  font-weight: var(--e-global-typography-21a3789-font-weight);
  line-height: var(--e-global-typography-21a3789-line-height);
  letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
  word-spacing: var(--e-global-typography-21a3789-word-spacing);
}
.elementor-26279 .elementor-element.elementor-element-eb79cf2 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-5e5856f > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-5e5856f {
  padding: 0;
}
.elementor-26279 .elementor-element.elementor-element-9dbf3fd > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-ed96c85 {
  text-align: center;
}
.elementor-26279 .elementor-element.elementor-element-ed96c85 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-d3e6b78 > .elementor-container {
  max-width: 1070px;
}
.elementor-26279 .elementor-element.elementor-element-d3e6b78 {
  margin-top: 0;
  margin-bottom: 30px;
}
.elementor-26279 .elementor-element.elementor-element-d35b63f > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-8976c91 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-397906c .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-ab47dc3 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-ab47dc3 .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-ab47dc3 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-7c97d3d {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-87b692a > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-78bbeb0 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-0180d5f .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-e827452 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-e827452 .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-e827452 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-382895a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-b85f3ed > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26279 .elementor-element.elementor-element-f32ae2e .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26279 .elementor-element.elementor-element-54fc463 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26279 .elementor-element.elementor-element-ad80001 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26279 .elementor-element.elementor-element-ad80001 .elementor-divider-separator {
  width: 36px;
}
.elementor-26279 .elementor-element.elementor-element-ad80001 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26279 .elementor-element.elementor-element-2111ddb {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-26279 .elementor-element.elementor-element-7c39e2a > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-7c39e2a {
  padding: 0 0 50px;
}
.elementor-26279 .elementor-element.elementor-element-51847699 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-26279 .elementor-element.elementor-element-ec1d280 > .elementor-container {
  max-width: 1280px;
}
.elementor-26279 .elementor-element.elementor-element-ec1d280 {
  padding: 0 0 50px;
}
.elementor-26279 .elementor-element.elementor-element-223c6f9 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1366px) {
  .elementor-26279 .elementor-element.elementor-element-91ea11c .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-594deec .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-84f277f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
}
@media (max-width: 1024px) {
  .elementor-26279 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-26279 .elementor-element.elementor-element-54adf2df {
    padding: 60px 0 0;
  }
  .elementor-26279 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-26279 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-91ea11c .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-294a03a .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-26279 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-594deec .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-84f277f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-5e5856f {
    padding: 60px 0 0;
  }
  .elementor-26279 .elementor-element.elementor-element-d35b63f > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-87b692a > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-b85f3ed > .elementor-element-populated {
    padding: 0 20px;
  }
}
@media (max-width: 780px) {
  .elementor-26279 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-26279 .elementor-element.elementor-element-54adf2df {
    padding: 40px 0 0;
  }
  .elementor-26279 .elementor-element.elementor-element-2befd3bd .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-26279 .elementor-element.elementor-element-2befd3bd > .elementor-widget-container {
    margin: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-1a5c2fc7 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-3c1a3429 > .elementor-element-populated {
    padding: 0 20px 40px;
  }
  .elementor-26279 .elementor-element.elementor-element-72ef5df4 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-1407e824 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-456999e6 .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-456999e6 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-6b745aa0 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-b4dba79 > .elementor-element-populated {
    padding: 40px 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-3531ac6b {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-4c8fb526 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-3635256b .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-3635256b .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-3f1dfc40 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-f81be30 > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-26279 .elementor-element.elementor-element-251cda35 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-59cc3648 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-7c4709dd .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-7c4709dd .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-461f3e08 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-7437a1f > .elementor-element-populated {
    padding: 10px 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-f10a9a5 > .elementor-element-populated {
    padding: 10px 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-33aa2ff {
    padding: 40px 0 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-91ea11c .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-87b23e0 {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-294a03a .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-26279 .elementor-element.elementor-element-33dc2ac {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-6d81cce .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-b05eafb {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-3d9080a {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-594deec .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-8aaa9d4 {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-84f277f .elementor-heading-title {
    font-size: var(--e-global-typography-21a3789-font-size);
    line-height: var(--e-global-typography-21a3789-line-height);
    letter-spacing: var(--e-global-typography-21a3789-letter-spacing);
    word-spacing: var(--e-global-typography-21a3789-word-spacing);
  }
  .elementor-26279 .elementor-element.elementor-element-eb79cf2 {
    font-size: 16px;
  }
  .elementor-26279 .elementor-element.elementor-element-5e5856f {
    padding: 40px 0 0;
  }
  .elementor-26279 .elementor-element.elementor-element-ed96c85 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-d3e6b78 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-d35b63f > .elementor-element-populated {
    padding: 0 20px 40px;
  }
  .elementor-26279 .elementor-element.elementor-element-8976c91 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-397906c {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-ab47dc3 .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-ab47dc3 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-7c97d3d {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-87b692a > .elementor-element-populated {
    padding: 40px 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-78bbeb0 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-0180d5f {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-e827452 .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-e827452 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-382895a {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-b85f3ed > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-26279 .elementor-element.elementor-element-f32ae2e {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-54fc463 {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-ad80001 .elementor-divider {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-ad80001 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26279 .elementor-element.elementor-element-2111ddb {
    text-align: center;
  }
  .elementor-26279 .elementor-element.elementor-element-51847699 > .elementor-element-populated {
    padding: 10px 20px;
  }
  .elementor-26279 .elementor-element.elementor-element-223c6f9 > .elementor-element-populated {
    padding: 10px 20px;
  }
}
@media (min-width: 781px) {
  .elementor-26279 .elementor-element.elementor-element-1c0d431 {
    width: 65%;
  }
  .elementor-26279 .elementor-element.elementor-element-b7fa669 {
    width: 34.953%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-26279 .elementor-element.elementor-element-1c0d431 {
    width: 75%;
  }
  .elementor-26279 .elementor-element.elementor-element-b7fa669 {
    width: 24%;
  }
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(../../../../uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
.side-menu {
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}
.side-menu.fixed {
  position: fixed;
  top: 240px;
  z-index: 9;
}
.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.side-menu a {
  display: block;
  padding: 5px 0 5px 20px;
  color: #24282d;
}
.side-menu li.active a {
  background-color: #f5f5f5;
  border-left: 3px solid #b72122;
  padding-left: 17px;
}
.side-menu ul ul {
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 10px;
  color: #666;
  font-size: 0.95em;
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(https://www.atfx.com/wp-content/uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
