.elementor-33928 .elementor-element.elementor-element-d55e505 {
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-58f3c30 > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33928 .elementor-element.elementor-element-b0f1862 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33928 .elementor-element.elementor-element-aa534ed {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33928 .elementor-element.elementor-element-aa534ed > .elementor-widget-container {
  padding: 0 80px 0 0;
}
.elementor-33928 .elementor-element.elementor-element-d19d3b6.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33928 .elementor-element.elementor-element-3882944 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-3882944 .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-3882944 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33928 .elementor-element.elementor-element-3882944 .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-3882944 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-3882944 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-3882944 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-48ff874 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-48ff874 .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-48ff874 .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33928 .elementor-element.elementor-element-48ff874 .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-48ff874 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-48ff874 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-48ff874 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-76808a0.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33928 .elementor-element.elementor-element-c805a5e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-c805a5e .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-c805a5e .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33928 .elementor-element.elementor-element-c805a5e .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-c805a5e .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-c805a5e > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-c805a5e {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-cf2576e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-cf2576e .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-cf2576e .elementor-button:focus {
  color: #fff;
  background-color: #ff7141;
}
.elementor-33928 .elementor-element.elementor-element-cf2576e .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-cf2576e .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-cf2576e > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33928 .elementor-element.elementor-element-cf2576e {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-7959748 > .elementor-element-populated {
  padding: 20px 80px;
}
.elementor-33928 .elementor-element.elementor-element-dede662 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33928 .elementor-element.elementor-element-fd902e3 {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.elementor-33928 .elementor-element.elementor-element-fd902e3 > .elementor-widget-container {
  padding: 0 80px 0 0;
}
.elementor-33928 .elementor-element.elementor-element-5729976.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33928 .elementor-element.elementor-element-163e2ab .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-163e2ab .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-163e2ab .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33928 .elementor-element.elementor-element-163e2ab .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-163e2ab .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-163e2ab > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-163e2ab {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-83e61f8 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-83e61f8 .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-83e61f8 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33928 .elementor-element.elementor-element-83e61f8 .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-83e61f8 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-83e61f8 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-83e61f8 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-8f5ce63.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 > .elementor-widget-container {
  margin: 0 0 13px;
}
.elementor-33928 .elementor-element.elementor-element-ccfb8b8 {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-33928 .elementor-element.elementor-element-b63645e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  fill: #24282d;
  color: #24282d;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0;
}
.elementor-33928 .elementor-element.elementor-element-b63645e .elementor-button:hover,
.elementor-33928 .elementor-element.elementor-element-b63645e .elementor-button:focus {
  color: #fff;
  background-color: #183d6d;
}
.elementor-33928 .elementor-element.elementor-element-b63645e .elementor-button:hover svg,
.elementor-33928 .elementor-element.elementor-element-b63645e .elementor-button:focus svg {
  fill: #fff;
}
.elementor-33928 .elementor-element.elementor-element-b63645e > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-33928 .elementor-element.elementor-element-b63645e {
  width: var(--container-widget-width, 164px);
  max-width: 164px;
  --container-widget-width: 164px;
  --container-widget-flex-grow: 0;
  align-self: center;
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-33928 .elementor-element.elementor-element-58f3c30 {
    width: 50%;
  }
  .elementor-33928 .elementor-element.elementor-element-7959748 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-33928 .elementor-element.elementor-element-d55e505 {
    padding: 0 30px;
  }
  .elementor-33928 .elementor-element.elementor-element-b0f1862 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33928 .elementor-element.elementor-element-aa534ed {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33928 .elementor-element.elementor-element-aa534ed > .elementor-widget-container {
    padding: 0 20px 0 0;
  }
  .elementor-33928 .elementor-element.elementor-element-3882944 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-3882944 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-48ff874 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-48ff874 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-c805a5e > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-c805a5e {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-cf2576e > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33928 .elementor-element.elementor-element-cf2576e {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-dede662 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-33928 .elementor-element.elementor-element-fd902e3 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-33928 .elementor-element.elementor-element-fd902e3 > .elementor-widget-container {
    padding: 0 20px 0 0;
  }
  .elementor-33928 .elementor-element.elementor-element-163e2ab > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-163e2ab {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-83e61f8 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-83e61f8 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-ccfb8b8 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-33928 .elementor-element.elementor-element-ccfb8b8 {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
  .elementor-33928 .elementor-element.elementor-element-b63645e > .elementor-widget-container {
    margin: 0;
  }
  .elementor-33928 .elementor-element.elementor-element-b63645e {
    --container-widget-width: 130px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 130px);
    max-width: 130px;
  }
}
@media (max-width: 780px) {
  .elementor-33928 .elementor-element.elementor-element-d55e505 > .elementor-container {
    max-width: 400px;
  }
  .elementor-33928 .elementor-element.elementor-element-d55e505 {
    padding: 0 40px;
  }
  .elementor-33928 .elementor-element.elementor-element-58f3c30 > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33928 .elementor-element.elementor-element-b0f1862 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33928 .elementor-element.elementor-element-aa534ed > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33928 .elementor-element.elementor-element-3882944 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-3882944 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-48ff874 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-48ff874 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-c805a5e > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-c805a5e {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-cf2576e > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-cf2576e {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-7959748 > .elementor-element-populated {
    padding: 50px 30px;
  }
  .elementor-33928 .elementor-element.elementor-element-dede662 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-33928 .elementor-element.elementor-element-fd902e3 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-33928 .elementor-element.elementor-element-163e2ab > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-163e2ab {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-83e61f8 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-83e61f8 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-ccfb8b8 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-ccfb8b8 {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
  .elementor-33928 .elementor-element.elementor-element-b63645e > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-33928 .elementor-element.elementor-element-b63645e {
    --container-widget-width: 159px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 159px);
    max-width: 159px;
  }
}
.new-traders {
  width: 184px !important;
}
.new-traders a.elementor-button:active {
  color: #fff !important;
  background: #ff8055 !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .new-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .new-traders {
    width: 50% !important;
  }
  .new-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
.traders {
  width: 50% !important;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-image: linear-gradient(to top, #f2672a, #0f2d52) 1;
}
@media (max-width: 767px) {
  .traders {
    width: 100% !important;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(90deg, #f2672a, #0f2d52) 1 !important;
  }
}
.exp-traders {
  width: 184px !important;
}
.exp-traders a.elementor-button:active {
  color: #fff !important;
  background: #2c4d7a !important;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .exp-traders {
    width: 150px !important;
  }
}
@media (max-width: 767px) {
  .exp-traders {
    width: 50% !important;
  }
  .exp-traders .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 5px 0 !important;
  }
}
