.elementor-26403 .elementor-element.elementor-element-4e279fa > .elementor-container {
  max-width: 1070px;
}
.elementor-26403 .elementor-element.elementor-element-4e279fa {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-26403 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26403 .elementor-element.elementor-element-311dca3 .elementor-heading-title {
  color: #c4c4c4;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26403 .elementor-element.elementor-element-800bb5d .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26403 .elementor-element.elementor-element-99826b5 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26403 .elementor-element.elementor-element-99826b5 .elementor-divider-separator {
  width: 36px;
}
.elementor-26403 .elementor-element.elementor-element-99826b5 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26403 .elementor-element.elementor-element-5d611e8 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26403 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26403 .elementor-element.elementor-element-b57a644 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26403 .elementor-element.elementor-element-f429fb6 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26403 .elementor-element.elementor-element-de2dc23 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26403 .elementor-element.elementor-element-de2dc23 .elementor-divider-separator {
  width: 36px;
}
.elementor-26403 .elementor-element.elementor-element-de2dc23 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26403 .elementor-element.elementor-element-b87e3b2 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26403 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-26403 .elementor-element.elementor-element-58f2b1f .elementor-heading-title {
  color: #c4c4c4;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-26403 .elementor-element.elementor-element-c09d7ac .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-26403 .elementor-element.elementor-element-c3ed933 {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-26403 .elementor-element.elementor-element-c3ed933 .elementor-divider-separator {
  width: 36px;
}
.elementor-26403 .elementor-element.elementor-element-c3ed933 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-26403 .elementor-element.elementor-element-0a33241 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26403 .elementor-element.elementor-element-482eb5c {
  text-align: center;
}
.elementor-26403 .elementor-element.elementor-element-482eb5c .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-26403 .elementor-element.elementor-element-15bac05 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-26403
  .elementor-element.elementor-element-6c9ef6c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-26403 .elementor-element.elementor-element-6c9ef6c > .elementor-element-populated {
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0;
}
.elementor-26403 .elementor-element.elementor-element-6c9ef6c > .elementor-element-populated,
.elementor-26403 .elementor-element.elementor-element-6c9ef6c > .elementor-element-populated > .elementor-background-overlay,
.elementor-26403 .elementor-element.elementor-element-6c9ef6c > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-26403 .elementor-element.elementor-element-6c9ef6c > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table {
  max-width: 100%;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:first-child {
  border-radius: 10px 0 0;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:first-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:last-child {
  border-radius: 10px 0 0;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th {
  color: #fff;
  background-color: #f2672a;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #000;
  background-color: #f7f7f7;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 0;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
  background-color: #f7f7f7;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-26403
  .elementor-element.elementor-element-6ffd74d
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-26403 .elementor-element.elementor-element-6ffd74d > .elementor-element-populated {
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0;
}
.elementor-26403 .elementor-element.elementor-element-6ffd74d > .elementor-element-populated,
.elementor-26403 .elementor-element.elementor-element-6ffd74d > .elementor-element-populated > .elementor-background-overlay,
.elementor-26403 .elementor-element.elementor-element-6ffd74d > .elementor-background-slideshow {
  border-radius: 10px;
}
.elementor-26403 .elementor-element.elementor-element-6ffd74d > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table {
  max-width: 100%;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:first-child {
  border-radius: 10px 0 0;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:first-child {
  border-radius: 0 10px 0 0;
}
.rtl .elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:last-child {
  border-radius: 10px 0 0;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th {
  color: #fff;
  background-color: #f2672a;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #000;
  background-color: #f7f7f7;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 0;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-26403 .elementor-element.elementor-element-afdfe54 > .elementor-widget-container {
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .elementor-26403 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26403 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26403 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-26403 .elementor-element.elementor-element-482eb5c .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 780px) {
  .elementor-26403 .elementor-element.elementor-element-4e279fa {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-26403 .elementor-element.elementor-element-dec39eb > .elementor-element-populated {
    margin: 0 0 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 20px 40px;
  }
  .elementor-26403 .elementor-element.elementor-element-311dca3 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-800bb5d {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-99826b5 .elementor-divider {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-99826b5 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26403 .elementor-element.elementor-element-5d611e8 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-77e5b56 > .elementor-element-populated {
    margin: 0 0 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 20px;
  }
  .elementor-26403 .elementor-element.elementor-element-b57a644 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-f429fb6 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-de2dc23 .elementor-divider {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-de2dc23 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26403 .elementor-element.elementor-element-b87e3b2 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-398f4eb > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-26403 .elementor-element.elementor-element-58f2b1f {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-c09d7ac {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-c3ed933 .elementor-divider {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-c3ed933 .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-26403 .elementor-element.elementor-element-0a33241 {
    text-align: center;
  }
  .elementor-26403 .elementor-element.elementor-element-482eb5c .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-26403 .elementor-element.elementor-element-15bac05 {
    text-align: center;
  }
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(../../../../uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
.elementor-26403 .elementor-element.elementor-element-5fe20c4 .eael-data-table thead tr th:last-child,
.elementor-26403 .elementor-element.elementor-element-afdfe54 .eael-data-table thead tr th:last-child {
  border-radius: 10px 10px 0 0;
  border-top: #f2672a solid 0px;
}
@media (max-width: 767px) {
  .eael-data-table .td-content {
    flex-direction: column;
  }
}
