.elementor-27247 .elementor-element.elementor-element-3ece0ec,
.elementor-27247 .elementor-element.elementor-element-3ece0ec > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-27247 .elementor-element.elementor-element-3ece0ec {
  padding: 40px;
}
.elementor-27247
  .elementor-element.elementor-element-34700c8
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-27247 .elementor-element.elementor-element-3f24f4f {
  text-align: left;
}
.elementor-27247 .elementor-element.elementor-element-3f24f4f img {
  width: 150px;
}
.elementor-27247 .elementor-element.elementor-element-9d346f4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-0506751 > .elementor-element-populated {
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-b8305e3 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.elementor-27247 .elementor-element.elementor-element-876fd9c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
}
.elementor-27247 .elementor-element.elementor-element-876fd9c > .elementor-widget-container {
  margin: 0;
}
.elementor-27247 .elementor-element.elementor-element-876fd9c {
  width: var(--container-widget-width, 122.54%);
  max-width: 122.54%;
  --container-widget-width: 122.54%;
  --container-widget-flex-grow: 0;
}
.elementor-27247 .elementor-element.elementor-element-fde4177 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-14a2ed9 > .elementor-element-populated {
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-cf7e399 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.elementor-27247 .elementor-element.elementor-element-490aad2 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-27247 .elementor-element.elementor-element-d11768a {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-22e9f3a > .elementor-element-populated {
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-c5a37a5 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.elementor-27247 .elementor-element.elementor-element-30a9527 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-27247 .elementor-element.elementor-element-b15d08f {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-4461865 > .elementor-element-populated {
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-c4c2d9b {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.elementor-27247 .elementor-element.elementor-element-aab41a6 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-27247 .elementor-element.elementor-element-7b5253f {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-8822ed1 > .elementor-element-populated {
  padding: 0;
}
.elementor-27247 .elementor-element.elementor-element-64519a0 {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.elementor-27247 .elementor-element.elementor-element-8272641 > .elementor-widget-container {
  margin: 20px 0 0;
}
#elementor-popup-modal-27247 .dialog-message {
  width: 700px;
  height: auto;
}
#elementor-popup-modal-27247 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-27247 .dialog-close-button {
  display: flex;
  font-size: 25px;
}
#elementor-popup-modal-27247 .dialog-widget-content {
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 781px) {
  .elementor-27247 .elementor-element.elementor-element-09e26c6 {
    width: 29.525%;
  }
  .elementor-27247 .elementor-element.elementor-element-3ca14e3 {
    width: 70.475%;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
