.elementor-47417 .elementor-element.elementor-element-fb64e92:not(.elementor-motion-effects-element-type-background),
.elementor-47417 .elementor-element.elementor-element-fb64e92 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #103d91;
}
.elementor-47417 .elementor-element.elementor-element-fb64e92,
.elementor-47417 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-47417 .elementor-element.elementor-element-fb64e92 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 0;
}
.elementor-47417 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-47417 .elementor-element.elementor-element-b19d3e6 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-47417 .elementor-element.elementor-element-b19d3e6 > .elementor-widget-container {
  padding: 0 0 0 20px;
}
.elementor-47417 .elementor-element.elementor-element-734d0f0 .elementor-button .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-47417 .elementor-element.elementor-element-734d0f0 .elementor-button .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-47417 .elementor-element.elementor-element-734d0f0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  fill: #fff;
  color: #fff;
  background-color: #fe4f00;
  border-radius: 5px;
}
.elementor-47417 .elementor-element.elementor-element-734d0f0 > .elementor-widget-container {
  padding: 0 0 0 20px;
}
@media (max-width: 1366px) {
  .elementor-47417 .elementor-element.elementor-element-fb64e92,
  .elementor-47417 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
    border-radius: 15px;
  }
  .elementor-47417 .elementor-element.elementor-element-7dc7a84 {
    width: var(--container-widget-width, 327.469px);
    max-width: 327.469px;
    --container-widget-width: 327.469px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 780px) {
  .elementor-47417 .elementor-element.elementor-element-b19d3e6 {
    text-align: center;
  }
  .elementor-47417 .elementor-element.elementor-element-7dc7a84 img {
    width: 50%;
    max-width: 100%;
  }
}
@media (min-width: 781px) {
  .elementor-47417 .elementor-element.elementor-element-1347a42 {
    width: 69.737%;
  }
  .elementor-47417 .elementor-element.elementor-element-640df79 {
    width: 30.219%;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
