.elementor-19633 .elementor-element.elementor-element-8122691:not(.elementor-motion-effects-element-type-background),
.elementor-19633 .elementor-element.elementor-element-8122691 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19633 .elementor-element.elementor-element-8122691 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19633 .elementor-element.elementor-element-8122691 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19633
  .elementor-element.elementor-element-21c0553
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19633 .elementor-element.elementor-element-21c0553 > .elementor-element-populated {
  padding: 0;
}
.elementor-19633 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-19633 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-19633 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/07/0_Gold_trading.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19633 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19633 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19633 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19633 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-19633 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-19633 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-c94dd19 img {
  height: 49px;
}
.elementor-19633 .elementor-element.elementor-element-7193698 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-7193698 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-9cf1d30 img {
  height: 49px;
}
.elementor-19633 .elementor-element.elementor-element-e888ae3 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-e888ae3 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-fa383c2 img {
  height: 49px;
}
.elementor-19633 .elementor-element.elementor-element-09efb7e {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-09efb7e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-fa46e2d {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-c4af8ac img {
  height: 49px;
}
.elementor-19633 .elementor-element.elementor-element-e6b45d1 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-e6b45d1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-19633 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-19633 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_small_banner_2k.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19633 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-19633 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19633 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-19633 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-19633 .elementor-element.elementor-element-476371c > .elementor-container {
  max-width: 820px;
}
.elementor-19633 .elementor-element.elementor-element-476371c {
  padding: 60px 0;
}
.elementor-19633 .elementor-element.elementor-element-98826f4 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-98826f4 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19633 .elementor-element.elementor-element-07d133c > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-07d133c {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19633 .elementor-element.elementor-element-f22b92d > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19633 .elementor-element.elementor-element-ce27b87 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-c4f947f {
  text-align: justify;
}
.elementor-19633 .elementor-element.elementor-element-98e7a64 img {
  width: 400px;
}
.elementor-19633 .elementor-element.elementor-element-e4db680 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-e4db680 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19633 .elementor-element.elementor-element-1ffc366 img {
  width: 400px;
}
.elementor-19633 .elementor-element.elementor-element-d7bafe0 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19633 .elementor-element.elementor-element-433fa92 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-433fa92 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19633 .elementor-element.elementor-element-d798cb1 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19633 .elementor-element.elementor-element-c69e7d8 img {
  width: 400px;
}
.elementor-19633 .elementor-element.elementor-element-a808a6f > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-a808a6f {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19633 .elementor-element.elementor-element-48a7f75 img {
  width: 400px;
}
.elementor-19633 .elementor-element.elementor-element-c40e818 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19633 .elementor-element.elementor-element-bbd85bd > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-bbd85bd {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-19633 .elementor-element.elementor-element-ac30ff5 > .elementor-element-populated {
  padding: 0 10px;
}
.elementor-19633 .elementor-element.elementor-element-7cca327 img {
  width: 400px;
}
.elementor-19633 .elementor-element.elementor-element-dbf809f > .elementor-container {
  max-width: 860px;
}
.elementor-19633 .elementor-element.elementor-element-dbf809f {
  padding: 0;
}
.elementor-19633 .elementor-element.elementor-element-4a2f367 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-4a2f367 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-1abaa3f {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-1abaa3f > .elementor-widget-container {
  margin: 0;
}
.elementor-19633 .elementor-element.elementor-element-ad20e6c > .elementor-container {
  max-width: 1030px;
}
.elementor-19633 .elementor-element.elementor-element-ad20e6c {
  padding: 100px 0 0;
}
.elementor-19633 .elementor-element.elementor-element-ae2f952 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-ae2f952 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-19633 .elementor-element.elementor-element-7309ae9 {
  text-align: left;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-7309ae9 > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-19633 .elementor-element.elementor-element-8494672 > .elementor-container {
  max-width: 1030px;
}
.elementor-19633 .elementor-element.elementor-element-117c4c7 img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-3b782f0 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-3b782f0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-fd14eda {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-acac39a img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-e0e6199 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-e0e6199 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-6eeb904 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-d4e8822 img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-3fc8008 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-3fc8008 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-2d26f58 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-332a435 img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-629de1c {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-629de1c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-54cc7a0 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-a42e133 img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-b85088e {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-b85088e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-295ebc6 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-2aa387a img {
  width: 70px;
}
.elementor-19633 .elementor-element.elementor-element-a165dab {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-a165dab .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19633 .elementor-element.elementor-element-a1af325 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-73e5b90 > .elementor-container {
  max-width: 1030px;
}
.elementor-19633 .elementor-element.elementor-element-73e5b90 {
  padding: 30px 0;
}
.elementor-19633 .elementor-element.elementor-element-c31e54e > .elementor-container {
  max-width: 860px;
}
.elementor-19633 .elementor-element.elementor-element-c31e54e {
  padding: 0;
}
.elementor-19633 .elementor-element.elementor-element-35c1935 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-35c1935 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-57ab447 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-19633 .elementor-element.elementor-element-57ab447 > .elementor-widget-container {
  margin: 0;
}
.elementor-19633 .elementor-element.elementor-element-597a163 > .elementor-container {
  max-width: 860px;
}
.elementor-19633 .elementor-element.elementor-element-597a163 {
  padding: 20px 0 0;
}
.elementor-19633 .elementor-element.elementor-element-8a43a77 {
  text-align: center;
}
.elementor-19633 .elementor-element.elementor-element-8a43a77 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-19633 .elementor-element.elementor-element-c8d7c17 > .elementor-container {
  max-width: 1280px;
}
.elementor-19633 .elementor-element.elementor-element-c8d7c17 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19633 .elementor-element.elementor-element-c8d7c17 {
  padding: 0 0 50px;
}
.elementor-19633 .elementor-element.elementor-element-b0040c3 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-accordion-item {
  border-width: 0;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-active .elementor-accordion-icon,
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 600;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19633 .elementor-element.elementor-element-29f1a0a .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
@media (min-width: 781px) {
  .elementor-19633 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-19633 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-19633 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-19633 .elementor-element.elementor-element-1abaa3f > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19633 .elementor-element.elementor-element-7309ae9 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-19633 .elementor-element.elementor-element-57ab447 > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 780px) {
  .elementor-19633 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-19633 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-19633 .elementor-element.elementor-element-476371c {
    padding: 40px 0 20px;
  }
  .elementor-19633 .elementor-element.elementor-element-dbf809f {
    padding: 40px 0 20px;
  }
  .elementor-19633 .elementor-element.elementor-element-1abaa3f {
    font-size: 16px;
  }
  .elementor-19633 .elementor-element.elementor-element-1abaa3f > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19633 .elementor-element.elementor-element-7309ae9 {
    font-size: 16px;
  }
  .elementor-19633 .elementor-element.elementor-element-7309ae9 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19633 .elementor-element.elementor-element-c31e54e {
    padding: 40px 0 20px;
  }
  .elementor-19633 .elementor-element.elementor-element-57ab447 {
    font-size: 16px;
  }
  .elementor-19633 .elementor-element.elementor-element-57ab447 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-19633 .elementor-element.elementor-element-597a163 {
    padding: 40px 0 0;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
