.elementor-30275 .elementor-element.elementor-element-5781cbe:not(.elementor-motion-effects-element-type-background),
.elementor-30275 .elementor-element.elementor-element-5781cbe > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-30275 .elementor-element.elementor-element-5781cbe {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-5781cbe > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-30275
  .elementor-element.elementor-element-53c8835
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-30275 .elementor-element.elementor-element-53c8835 > .elementor-element-populated {
  padding: 0;
}
.elementor-30275 .elementor-element.elementor-element-9946989 > .elementor-container {
  max-width: 1100px;
}
.elementor-30275 .elementor-element.elementor-element-9946989 {
  padding: 20px 0;
}
.elementor-30275 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
  color: #0f2c52;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
.elementor-30275 .elementor-element.elementor-element-3a2027d {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-3a2027d > .elementor-widget-container {
  margin: 0;
}
.elementor-30275 .elementor-element.elementor-element-f84b44d .elementor-heading-title {
  color: #0f2c52;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.elementor-30275 .elementor-element.elementor-element-8828c1f > .elementor-element-populated {
  padding: 0 10px 0 0;
}
.elementor-30275 .elementor-element.elementor-element-cd3fdbb .elementor-heading-title {
  color: #0f2c52;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
.elementor-30275 .elementor-element.elementor-element-2a170ce {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-e6218aa .elementor-heading-title {
  color: #0f2c52;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
.elementor-30275 .elementor-element.elementor-element-27bbcd5 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-1d3d2b7 > .elementor-element-populated {
  padding: 0 0 0 10px;
}
.elementor-30275 .elementor-element.elementor-element-0462415 .elementor-heading-title {
  color: #0f2c52;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
.elementor-30275 .elementor-element.elementor-element-37bd4a5 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-44ace6e .elementor-heading-title {
  color: #0f2c52;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
.elementor-30275 .elementor-element.elementor-element-f83e780 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-ca62f68 .elementor-heading-title {
  color: #0f2c52;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
.elementor-30275 .elementor-element.elementor-element-ba649b9 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.elementor-30275 .elementor-element.elementor-element-19c178e > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-30275 .elementor-element.elementor-element-19c178e:not(.elementor-motion-effects-element-type-background),
.elementor-30275 .elementor-element.elementor-element-19c178e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/trading-accounts-herobanner-dark.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-30275 .elementor-element.elementor-element-19c178e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-19c178e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-7357527 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 52px;
}
.elementor-30275 .elementor-element.elementor-element-e2abc98 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-30275 .elementor-element.elementor-element-2073276 > .elementor-container {
  max-width: 860px;
}
.elementor-30275 .elementor-element.elementor-element-2073276 {
  padding: 80px 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-328d239 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-30275 .elementor-element.elementor-element-d2b8c87 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-d2b8c87 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-30275 .elementor-element.elementor-element-a777fda {
  padding: 40px 0 0;
}
.elementor-30275 .elementor-element.elementor-element-a6066df > .elementor-container {
  max-width: 860px;
}
.elementor-30275 .elementor-element.elementor-element-38caf24 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-38caf24 > .elementor-widget-container {
  margin: 0 0 60px;
}
.elementor-30275 .elementor-element.elementor-element-d370a2e > .elementor-widget-container {
  margin: 0 0 20px;
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-d370a2e {
  width: var(--container-widget-width, 860px);
  max-width: 860px;
  --container-widget-width: 860px;
  --container-widget-flex-grow: 0;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table {
  width: 100%;
  border-style: solid;
  border-width: 0;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c th {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c th .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table-wrap .ea-advanced-data-table th {
  color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table-wrap .ea-advanced-data-table th:before {
  border-bottom-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table-wrap .ea-advanced-data-table th:after {
  border-top-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c thead {
  background-color: #f5f5f5;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table th {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c td {
  font-size: 13px;
  text-align: center;
  color: #182c52;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c td .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c tbody {
  background-color: #fff;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table td {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table-search {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  color: #666;
  background-color: #fff;
  border-style: solid;
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-3537d3d > .elementor-widget-container {
  margin: 0 0 20px;
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-3537d3d {
  width: var(--container-widget-width, 860px);
  max-width: 860px;
  --container-widget-width: 860px;
  --container-widget-flex-grow: 0;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table {
  width: 100%;
  border-style: solid;
  border-width: 0;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 th {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 th .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table-wrap .ea-advanced-data-table th {
  color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table-wrap .ea-advanced-data-table th:before {
  border-bottom-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table-wrap .ea-advanced-data-table th:after {
  border-top-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 thead {
  background-color: #f5f5f5;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table th {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 td {
  font-size: 13px;
  text-align: center;
  color: #182c52;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 td .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 tbody {
  background-color: #fff;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table td {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table-search {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  color: #666;
  background-color: #fff;
  border-style: solid;
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-2cdcd94 > .elementor-widget-container {
  margin: 0 0 20px;
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-2cdcd94 {
  width: var(--container-widget-width, 860px);
  max-width: 860px;
  --container-widget-width: 860px;
  --container-widget-flex-grow: 0;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table {
  width: 100%;
  border-style: solid;
  border-width: 0;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c th {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c th .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table-wrap .ea-advanced-data-table th {
  color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table-wrap .ea-advanced-data-table th:before {
  border-bottom-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table-wrap .ea-advanced-data-table th:after {
  border-top-color: #182c52;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c thead {
  background-color: #f5f5f5;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table th {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c td {
  font-size: 13px;
  text-align: center;
  color: #182c52;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #eee;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c td .ql-editor {
  text-align: center;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c tbody {
  background-color: #fff;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table td {
  padding: 10px;
}
.elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table-search {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  color: #666;
  background-color: #fff;
  border-style: solid;
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-fc320e0 > .elementor-container {
  max-width: 860px;
}
.elementor-30275 .elementor-element.elementor-element-fc320e0 {
  padding: 80px 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-367e3a4 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-367e3a4 > .elementor-widget-container {
  margin: 0 0 60px;
}
.elementor-30275 .elementor-element.elementor-element-ec4a8e6 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-30275 .elementor-element.elementor-element-3098edd {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-aae70c0 > .elementor-container {
  max-width: 1280px;
}
.elementor-30275 .elementor-element.elementor-element-aae70c0 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-30275 .elementor-element.elementor-element-83f9a16 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-accordion-item {
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-active .elementor-accordion-icon,
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-30275 .elementor-element.elementor-element-6bcb8a5 > .elementor-container {
  max-width: 1180px;
}
.elementor-30275 .elementor-element.elementor-element-6bcb8a5 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-30275 .elementor-element.elementor-element-6bcb8a5 {
  padding: 80px 0 50px;
}
.elementor-30275 .elementor-element.elementor-element-9bda900 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-d9385c5:not(.elementor-motion-effects-element-type-background),
.elementor-30275 .elementor-element.elementor-element-d9385c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-30275 .elementor-element.elementor-element-d9385c5,
.elementor-30275 .elementor-element.elementor-element-d9385c5 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-30275 .elementor-element.elementor-element-d9385c5 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-30275 .elementor-element.elementor-element-d9385c5 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-7437098 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-7437098 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-30275 .elementor-element.elementor-element-51ee409 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-30275 .elementor-element.elementor-element-d1a423e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-30275 .elementor-element.elementor-element-d1a423e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-30275
  .elementor-element.elementor-element-e876e2d
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-30275
  .elementor-element.elementor-element-e876e2d
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl) .elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-30275 .elementor-element.elementor-element-e876e2d .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (max-width: 1024px) {
  .elementor-30275 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-3a2027d > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-30275 .elementor-element.elementor-element-f84b44d .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-cd3fdbb .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-e6218aa .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-0462415 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-44ace6e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-ca62f68 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-328d239 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-d2b8c87 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-ec4a8e6 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-d9385c5 {
    padding: 20% 30% 20% 0;
  }
}
@media (max-width: 780px) {
  .elementor-30275 .elementor-element.elementor-element-9946989 {
    padding: 40px 0 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-9ee3bc5 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-3a2027d {
    font-size: 16px;
  }
  .elementor-30275 .elementor-element.elementor-element-3a2027d > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-f84b44d .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-cd3fdbb .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-e6218aa .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-0462415 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-44ace6e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-ca62f68 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-e2abc98 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-30275 .elementor-element.elementor-element-2073276 {
    padding: 40px 0 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-328d239 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-d2b8c87 {
    font-size: 16px;
  }
  .elementor-30275 .elementor-element.elementor-element-d2b8c87 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-30275 .elementor-element.elementor-element-38caf24 {
    font-size: 16px;
  }
  .elementor-30275 .elementor-element.elementor-element-38caf24 > .elementor-widget-container {
    margin: 0 0 39px;
  }
  .elementor-30275 .elementor-element.elementor-element-2b7260c .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-49a5ee8 .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-c288e9c .ea-advanced-data-table {
    width: 100%;
  }
  .elementor-30275 .elementor-element.elementor-element-fc320e0 {
    padding: 40px 0 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-367e3a4 {
    font-size: 16px;
  }
  .elementor-30275 .elementor-element.elementor-element-367e3a4 > .elementor-widget-container {
    margin: 0 0 39px;
  }
  .elementor-30275 .elementor-element.elementor-element-ec4a8e6 .elementor-heading-title {
    font-size: 27px;
    line-height: 36px;
  }
  .elementor-30275 .elementor-element.elementor-element-3098edd {
    font-size: 16px;
  }
  .elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-b3c2491 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-30275 .elementor-element.elementor-element-6bcb8a5 {
    padding: 20px 0 30px;
  }
  .elementor-30275 .elementor-element.elementor-element-9bda900 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-d9385c5 {
    padding: 20% 20% 20% 0;
  }
  .elementor-30275 .elementor-element.elementor-element-51ee409 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-30275 .elementor-element.elementor-element-d1a423e > .elementor-widget-container {
    margin: 5px;
  }
}
@media (min-width: 781px) {
  .elementor-30275 .elementor-element.elementor-element-56922c7 {
    width: 60%;
  }
  .elementor-30275 .elementor-element.elementor-element-85b3e22 {
    width: 39.953%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-30275 .elementor-element.elementor-element-56922c7 {
    width: 75%;
  }
  .elementor-30275 .elementor-element.elementor-element-85b3e22 {
    width: 24%;
  }
}
ul.tab-title-level2@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
