.elementor-16961 .elementor-element.elementor-element-5e2cec8:not(.elementor-motion-effects-element-type-background),
.elementor-16961 .elementor-element.elementor-element-5e2cec8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16961 .elementor-element.elementor-element-5e2cec8 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16961 .elementor-element.elementor-element-5e2cec8 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16961
  .elementor-element.elementor-element-502b5df
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-16961 .elementor-element.elementor-element-502b5df > .elementor-element-populated {
  padding: 0;
}
.elementor-16961 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-16961 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-16961 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_forex_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-16961 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16961 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16961 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16961 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-16961 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-16961 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-c94dd19 img {
  height: 50px;
}
.elementor-16961 .elementor-element.elementor-element-6bb2551 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-6bb2551 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16961 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-9cf1d30 img {
  height: 50px;
}
.elementor-16961 .elementor-element.elementor-element-5087197 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-5087197 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16961 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-c4af8ac img {
  height: 50px;
}
.elementor-16961 .elementor-element.elementor-element-e5f7d89 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-e5f7d89 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16961 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-60eeb3f img {
  height: 50px;
}
.elementor-16961 .elementor-element.elementor-element-69bb1a9 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-69bb1a9 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16961 .elementor-element.elementor-element-c2fc8f9 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-16961 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-16961 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_forex_small_banner_2k.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-16961 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-16961 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16961 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: left;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-16961 .elementor-element.elementor-element-fd0750a {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-16961 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-16961 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-16961 .elementor-element.elementor-element-1aa07cf {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-1aa07cf .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-8a95bfb {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-8a95bfb > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-a353bae {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-313d432 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-9acbe10 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-9acbe10 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-911befd {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-911befd > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-bedc7d6 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-bedc7d6 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-1625712 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-1625712 > .elementor-widget-container {
  margin: 0;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table {
  max-width: 100%;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table thead tr th {
  color: #fff;
  background-color: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table thead > tr th .data-table-header-text {
  font-size: 18px;
  font-weight: 600;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody > tr:nth-child(2n) td {
  color: #000;
  background: #f2f2f2;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #000;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody .td-content-wrapper {
  text-align: left;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-120904e .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-16961 .elementor-element.elementor-element-f037ce9 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-f037ce9 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-6bfc82a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-6bfc82a > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-343505e {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-343505e .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-e63feb0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-e63feb0 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-4897f69 {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-4897f69 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-cd650d9 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-472b9b0 > .elementor-container {
  max-width: 860px;
}
.elementor-16961 .elementor-element.elementor-element-472b9b0 {
  padding: 60px 0 0;
}
.elementor-16961 .elementor-element.elementor-element-610412d {
  text-align: center;
}
.elementor-16961 .elementor-element.elementor-element-610412d .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16961 .elementor-element.elementor-element-7ecd5f86 > .elementor-container {
  max-width: 1280px;
}
.elementor-16961 .elementor-element.elementor-element-7ecd5f86 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16961 .elementor-element.elementor-element-50c8e639 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-accordion-item {
  border-width: 0;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-active .elementor-accordion-icon,
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-16961 .elementor-element.elementor-element-6d262f1a .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-16961 .elementor-element.elementor-element-4343d23 > .elementor-container {
  max-width: 1280px;
}
.elementor-16961 .elementor-element.elementor-element-4343d23 {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-16961 .elementor-element.elementor-element-5221ece .elementor-heading-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-posts-container .elementor-post__thumbnail {
  padding-bottom: calc(0.54 * 100%);
}
.elementor-16961 .elementor-element.elementor-element-ae116d3:after {
  content: '0.54';
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__thumbnail {
  border-radius: 6px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
  margin-right: 20px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
  margin-left: 20px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
  margin-bottom: 20px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__title,
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__title a {
  color: #0f2c52;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__title {
  margin-bottom: 10px;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__excerpt p {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-16961 .elementor-element.elementor-element-ae116d3 a.elementor-post__read-more {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 781px) {
  .elementor-16961 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-16961 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-16961 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-5221ece .elementor-heading-title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 780px) {
  .elementor-16961 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-16961 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-16961 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-16961 .elementor-element.elementor-element-8a95bfb {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-8a95bfb > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-313d432 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-911befd {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-911befd > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-1625712 {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-1625712 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-6bfc82a {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-6bfc82a > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-e63feb0 {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-e63feb0 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16961 .elementor-element.elementor-element-cd650d9 {
    font-size: 16px;
  }
  .elementor-16961 .elementor-element.elementor-element-472b9b0 {
    padding: 40px 0 0;
  }
  .elementor-16961 .elementor-element.elementor-element-5221ece .elementor-heading-title {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-16961 .elementor-element.elementor-element-ae116d3:after {
    content: '0.5';
  }
  .elementor-16961 .elementor-element.elementor-element-ae116d3 .elementor-post__thumbnail__link {
    width: 100%;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.table-product thead {
  display: none;
}
.table-product td span {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 2px;
  min-width: 13.67%;
  padding: 3px 5px;
  text-align: center;
}
@media (max-width: 767px) {
  .eael-data-table-wrap {
    overflow: hidden !important;
  }
  .eael-data-table .td-content {
    flex-direction: column;
  }
}
.faq-table th,
.faq-table td {
  background-color: #fff !important;
  text-align: center;
  border: 2px solid #000 !important;
  vertical-align: middle;
}
table.faq-table {
  border-collapse: collapse;
}
.tag-recent-news a.elementor-post__read-more {
  display: inline-block;
  border-bottom: 2px solid currentColor;
  transition: all 0.3s ease-in-out;
}
.tag-recent-news a.elementor-post__read-more:hover {
  color: #0f2c52;
}
@media (min-width: 768px) {
  .tag-recent-news .elementor-post:nth-child(n + 2) .elementor-post__excerpt {
    display: none;
  }
  .tag-recent-news .elementor-post:nth-child(n + 2) {
    flex-direction: row;
  }
  .tag-recent-news .elementor-post:nth-child(n + 2) .elementor-post__thumbnail__link {
    margin-right: 20px;
    margin-bottom: 0 !important;
  }
  .tag-recent-news .elementor-post:nth-child(1) .elementor-post__thumbnail__link {
    margin-bottom: 40px !important;
  }
  .tag-recent-news .elementor-post:nth-child(1) .elementor-post__title a {
    font-size: 1.3em;
  }
  .tag-recent-news .elementor-post:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
.elementor-post__read-more i {
  margin-right: 10px;
}
.elementor-post__read-more:hover {
  color: #0f2c52;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
