.elementor-47423 .elementor-element.elementor-element-fb64e92:not(.elementor-motion-effects-element-type-background),
.elementor-47423 .elementor-element.elementor-element-fb64e92 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #103d91;
}
.elementor-47423 .elementor-element.elementor-element-fb64e92,
.elementor-47423 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-47423 .elementor-element.elementor-element-fb64e92 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-47423 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-47423 .elementor-element.elementor-element-b19d3e6 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-47423 .elementor-element.elementor-element-b19d3e6 > .elementor-widget-container {
  padding: 0 0 0 20px;
}
.elementor-47423 .elementor-element.elementor-element-734d0f0 .elementor-button .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-47423 .elementor-element.elementor-element-734d0f0 .elementor-button .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-47423 .elementor-element.elementor-element-734d0f0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  fill: #fff;
  color: #fff;
  background-color: #fe4f00;
  border-radius: 5px;
}
.elementor-47423 .elementor-element.elementor-element-734d0f0 > .elementor-widget-container {
  padding: 0 0 0 20px;
}
@media (max-width: 1366px) {
  .elementor-47423 .elementor-element.elementor-element-fb64e92,
  .elementor-47423 .elementor-element.elementor-element-fb64e92 > .elementor-background-overlay {
    border-radius: 15px;
  }
}
@media (max-width: 780px) {
  .elementor-47423 .elementor-element.elementor-element-b19d3e6 {
    text-align: center;
  }
}
@media (min-width: 781px) {
  .elementor-47423 .elementor-element.elementor-element-1347a42 {
    width: 59.91%;
  }
  .elementor-47423 .elementor-element.elementor-element-640df79 {
    width: 40.046%;
  }
}
