.elementor-26032 .elementor-element.elementor-element-71a5464 > .elementor-container {
  max-width: 1080px;
  min-height: 475px;
}
.elementor-26032 .elementor-element.elementor-element-71a5464 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-26032 .elementor-element.elementor-element-71a5464:not(.elementor-motion-effects-element-type-background),
.elementor-26032 .elementor-element.elementor-element-71a5464 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/11/ATFX-SouthAfrica-2560.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-26032 .elementor-element.elementor-element-71a5464 > .elementor-background-overlay {
  background-color: #0000004d;
  opacity: 0.5;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-26032 .elementor-element.elementor-element-71a5464 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-26032 .elementor-element.elementor-element-e71b852.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-26032 .elementor-element.elementor-element-e71b852 > .elementor-element-populated {
  margin: 0 40px;
  --e-column-margin-right: 40px;
  --e-column-margin-left: 40px;
}
.elementor-26032 .elementor-element.elementor-element-6bf1dff > .elementor-widget-container {
  margin: 0 10px 20px 0;
}
.elementor-26032 .elementor-element.elementor-element-6bf1dff {
  width: auto;
  max-width: auto;
}
.elementor-26032 .elementor-element.elementor-element-687429c img {
  width: 42px;
}
.elementor-26032 .elementor-element.elementor-element-687429c > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-26032 .elementor-element.elementor-element-687429c {
  width: auto;
  max-width: auto;
}
.elementor-26032 .elementor-element.elementor-element-46b46a8 {
  text-align: center;
}
.elementor-26032 .elementor-element.elementor-element-46b46a8 .elementor-heading-title {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}
.elementor-26032 .elementor-element.elementor-element-cd17fdc {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
}
.elementor-26032 .elementor-element.elementor-element-e021204 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  fill: #333;
  color: #333;
  background-color: #fff;
}
.elementor-26032 .elementor-element.elementor-element-e021204 > .elementor-widget-container {
  margin: 15px 0 0;
}
@media (max-width: 1024px) {
  .elementor-26032 .elementor-element.elementor-element-e71b852 > .elementor-element-populated {
    margin: 0 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
  }
  .elementor-26032 .elementor-element.elementor-element-46b46a8 .elementor-heading-title {
    font-size: 46px;
    line-height: 50px;
  }
}
@media (max-width: 780px) {
  .elementor-26032 .elementor-element.elementor-element-71a5464 > .elementor-container {
    min-height: 600px;
  }
  .elementor-26032 .elementor-element.elementor-element-e71b852 > .elementor-element-populated {
    margin: 0 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-26032 .elementor-element.elementor-element-46b46a8 {
    text-align: center;
  }
  .elementor-26032 .elementor-element.elementor-element-46b46a8 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-26032 .elementor-element.elementor-element-cd17fdc {
    text-align: center;
    font-size: 14px;
    line-height: 23px;
  }
  .elementor-26032 .elementor-element.elementor-element-e021204 > .elementor-widget-container {
    margin: 0 0 10px;
  }
}
@media (max-width: 1024px) {
  .elementor-21546 .elementor-element.elementor-element-46b46a8 .elementor-heading-title {
    font-size: 46px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-46b46a8 .elementor-heading-title br {
    display: none;
  }
  .elementor-element.elementor-element-cd17fdc .elementor-widget-container br {
    display: none;
  }
  .elementor-21546 .elementor-element.elementor-element-46b46a8 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
}
