.elementor-31509 .elementor-element.elementor-element-39e5f31 {
  padding: 40px 20px;
}
.elementor-31509 .elementor-element.elementor-element-1c8f0a5 {
  text-align: center;
}
.elementor-31509 .elementor-element.elementor-element-1c8f0a5 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-31509 .elementor-element.elementor-element-1bc139c {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-31509 .elementor-element.elementor-element-193f229 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-31509 .elementor-element.elementor-element-03f69dc {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-31509 .elementor-element.elementor-element-0ef662a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
#elementor-popup-modal-31509 .dialog-message {
  width: 800px;
  height: auto;
}
#elementor-popup-modal-31509 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-31509 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-31509 .dialog-widget-content {
  border-radius: 10px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .elementor-31509 .elementor-element.elementor-element-1c8f0a5 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 780px) {
  .elementor-31509 .elementor-element.elementor-element-1c8f0a5 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-31509 .elementor-element.elementor-element-1bc139c {
    text-align: center;
  }
  .elementor-31509 .elementor-element.elementor-element-193f229 {
    text-align: center;
  }
  .elementor-31509 .elementor-element.elementor-element-03f69dc {
    text-align: center;
  }
  .elementor-31509 .elementor-element.elementor-element-0ef662a {
    text-align: center;
  }
}
