.elementor-19081 .elementor-element.elementor-element-8162e59:not(.elementor-motion-effects-element-type-background),
.elementor-19081 .elementor-element.elementor-element-8162e59 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19081 .elementor-element.elementor-element-8162e59 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-8162e59 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19081
  .elementor-element.elementor-element-0a47199
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19081 .elementor-element.elementor-element-0a47199 > .elementor-element-populated {
  padding: 0;
}
.elementor-19081 .elementor-element.elementor-element-739ba82 > .elementor-container {
  max-width: 1030px;
  min-height: 500px;
}
.elementor-19081 .elementor-element.elementor-element-739ba82:not(.elementor-motion-effects-element-type-background),
.elementor-19081 .elementor-element.elementor-element-739ba82 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingaccounts-deposits-and-withdrawals-herobanner-v3-1.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-19081 .elementor-element.elementor-element-739ba82 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-739ba82 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-f50aa66 .elementor-heading-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-05fe98c {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-dd14e4f > .elementor-container {
  max-width: 860px;
}
.elementor-19081 .elementor-element.elementor-element-dd14e4f {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-5a4eadb .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-19081 .elementor-element.elementor-element-5a4eadb > .elementor-widget-container {
  padding: 0 0 37px;
}
.elementor-19081 .elementor-element.elementor-element-285a272 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-e3cafe6 {
  margin-top: 0;
  margin-bottom: 20px;
}
.elementor-19081 .elementor-element.elementor-element-72cfa42 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  fill: #fff;
  color: #fff;
  background-color: #f2672a;
  border-style: none;
  border-radius: 100px;
  padding: 15px 55px;
}
.elementor-19081 .elementor-element.elementor-element-72cfa42 > .elementor-widget-container {
  margin: 10px;
}
.elementor-19081 .elementor-element.elementor-element-2582e33 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  fill: #fff;
  color: #fff;
  background-color: #f2672a;
  border-radius: 100px;
  padding: 15px 55px;
}
.elementor-19081 .elementor-element.elementor-element-2582e33 > .elementor-widget-container {
  margin: 10px;
}
.elementor-19081 .elementor-element.elementor-element-7d13429 {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-6be72f0 {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-fd2c7e8 {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-c4551fa > .elementor-container {
  max-width: 860px;
}
.elementor-19081 .elementor-element.elementor-element-533a9cf {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.elementor-19081 .elementor-element.elementor-element-6b93f02 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-5485b87 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-d0514a8 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-3798202 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-37ff449 > .elementor-container {
  max-width: 1030px;
}
.elementor-19081 .elementor-element.elementor-element-37ff449 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-332933e {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-c0b694e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-19081 .elementor-element.elementor-element-c0b694e > .elementor-widget-container {
  margin: 60px 0 0;
}
.elementor-19081 .elementor-element.elementor-element-d11d4a7 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-19081 .elementor-element.elementor-element-cdc6f1f {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-a324c12 {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-87b3dd4 {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-b9cdfca {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-d9ab435 > .elementor-container {
  max-width: 1030px;
}
.elementor-19081 .elementor-element.elementor-element-d9ab435 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-19081 .elementor-element.elementor-element-a8804d8 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-19081 .elementor-element.elementor-element-fe2992a {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-a438b09 {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-cdaa79c {
  padding: 10px;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-active .elementor-accordion-icon,
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-content {
  background-color: #fff;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-8e33dcb > .elementor-container {
  max-width: 1030px;
}
.elementor-19081 .elementor-element.elementor-element-8e33dcb {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-19081 .elementor-element.elementor-element-e365a9c {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.elementor-19081 .elementor-element.elementor-element-d00649b > .elementor-container {
  max-width: 1180px;
}
.elementor-19081 .elementor-element.elementor-element-d00649b > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19081 .elementor-element.elementor-element-d00649b {
  padding: 80px 0 50px;
}
.elementor-19081 .elementor-element.elementor-element-7a107e0 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19081 .elementor-element.elementor-element-2af08b0:not(.elementor-motion-effects-element-type-background),
.elementor-19081 .elementor-element.elementor-element-2af08b0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-19081 .elementor-element.elementor-element-2af08b0,
.elementor-19081 .elementor-element.elementor-element-2af08b0 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-19081 .elementor-element.elementor-element-2af08b0 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-19081 .elementor-element.elementor-element-2af08b0 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-cd9469e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
  line-height: 50px;
}
.elementor-19081 .elementor-element.elementor-element-cd9469e > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-19081 .elementor-element.elementor-element-42e7389 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 50px;
}
.elementor-19081 .elementor-element.elementor-element-42e7389 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-19081
  .elementor-element.elementor-element-7c1e41f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-19081
  .elementor-element.elementor-element-7c1e41f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl) .elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-text {
  color: #24282d;
  transition: color 0.3s;
}
.elementor-19081 .elementor-element.elementor-element-7c1e41f .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (max-width: 780px) {
  .elementor-19081 .elementor-element.elementor-element-5a4eadb .elementor-heading-title {
    font-size: 27px;
    line-height: 32.4px;
  }
  .elementor-19081 .elementor-element.elementor-element-285a272 {
    font-size: 16px;
  }
  .elementor-19081 .elementor-element.elementor-element-72cfa42 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-19081 .elementor-element.elementor-element-2582e33 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-dbfcd5d .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-fe3a9e9 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-ba1c63d .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-1c7c957 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-332933e {
    font-size: 16px;
  }
  .elementor-19081 .elementor-element.elementor-element-c0b694e .elementor-heading-title {
    font-size: 27px;
    line-height: 32.4px;
  }
  .elementor-19081 .elementor-element.elementor-element-d11d4a7 {
    font-size: 16px;
  }
  .elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-7207f1b .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-c9f45b8 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-944b215 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-944b215 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-01dc54f .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-a8804d8 .elementor-heading-title {
    font-size: 27px;
    line-height: 32.4px;
  }
  .elementor-19081 .elementor-element.elementor-element-fe2992a {
    font-size: 16px;
  }
  .elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-277e7a7 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-accordion-title {
    font-size: 14px;
    line-height: 20px;
  }
  .elementor-19081 .elementor-element.elementor-element-21d4b50 .elementor-tab-content {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-19081 .elementor-element.elementor-element-e365a9c {
    font-size: 16px;
  }
  .elementor-19081 .elementor-element.elementor-element-cd9469e .elementor-heading-title {
    line-height: 1.4em;
  }
  .elementor-19081 .elementor-element.elementor-element-cd9469e > .elementor-widget-container {
    padding: 16px 38px;
  }
  .elementor-19081 .elementor-element.elementor-element-cd9469e {
    width: var(--container-widget-width, 217px);
    max-width: 217px;
    --container-widget-width: 217px;
    --container-widget-flex-grow: 0;
  }
}
@media (min-width: 781px) {
  .elementor-19081 .elementor-element.elementor-element-7c47fb3 {
    width: 54.078%;
  }
  .elementor-19081 .elementor-element.elementor-element-0857f23 {
    width: 45.922%;
  }
}
.atfx-table-box::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}
.atfx-table-box::-webkit-scrollbar-track {
  background-color: #d3d2d2;
}
.atfx-table-box::-webkit-scrollbar-thumb {
  background-color: #182c52;
}
.atfx-table-box {
  overflow-x: auto !important;
}
.atfx-table {
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  border-collapse: separate !important;
}
.atfx-table td,
.atfx-table th {
  border: none;
  border-bottom: 1px solid #d3d2d2;
  background-color: #fff !important;
  vertical-align: middle;
  font-size: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.atfx-table td:nth-child(odd) {
  background-color: #f6f6f6 !important;
}
#withdrawals {
  display: none;
}
.deposits,
.withdrawals {
  cursor: pointer;
}
.deposits .elementor-button:hover,
.withdrawals .elementor-button:hover {
  background-color: #0f2d52 !important;
}
.deposits.active .elementor-button-text,
.withdrawals.active .elementor-button-text {
  color: #0f2d52;
}
.deposits.active .elementor-button,
.withdrawals.active .elementor-button {
  background-color: #fff !important;
  border: 1px solid #0f2d52 !important;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
