.elementor-16389 .elementor-element.elementor-element-dafda07:not(.elementor-motion-effects-element-type-background),
.elementor-16389 .elementor-element.elementor-element-dafda07 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16389 .elementor-element.elementor-element-dafda07 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16389 .elementor-element.elementor-element-dafda07 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16389
  .elementor-element.elementor-element-fe618cd
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-16389 .elementor-element.elementor-element-fe618cd > .elementor-element-populated {
  padding: 0;
}
.elementor-16389 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-16389 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-16389 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_cfd_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-16389 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16389 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16389 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16389 .elementor-element.elementor-element-53e27da > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-16389 .elementor-element.elementor-element-53e27da:not(.elementor-motion-effects-element-type-background),
.elementor-16389 .elementor-element.elementor-element-53e27da > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_cfd_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-16389 .elementor-element.elementor-element-53e27da {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16389 .elementor-element.elementor-element-53e27da > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16389 .elementor-element.elementor-element-6ea5881 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-51bd5a1 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-51bd5a1 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16389 .elementor-element.elementor-element-a9e9465 > .elementor-container {
  max-width: 1280px;
}
.elementor-16389 .elementor-element.elementor-element-a9e9465 {
  padding: 60px 0;
}
.elementor-16389 .elementor-element.elementor-element-c366c2f {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-c366c2f .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-a6273f6 img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-b1a55e0 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-b1a55e0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-90a7ca5 img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-7159199 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-7159199 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-46286d5 img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-45103f0 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-45103f0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-924e956 img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-0f3a6d7 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-0f3a6d7 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-df037fa img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-ce8ee55 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-ce8ee55 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-facc4a1 img {
  height: 70px;
}
.elementor-16389 .elementor-element.elementor-element-1b65109 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-1b65109 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 1280px;
}
.elementor-16389 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-16389 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-c125735 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-292d53a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-ef6b380 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-afce3e1 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-afce3e1 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-4bd559e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-23124cf {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-913c631 img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-3cecad2 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-3cecad2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-d4d56d3 img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-d33f17e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-d91f722 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-d91f722 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-62207e1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-36f203a img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-4856a44 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-4856a44 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-c08b8e5 img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-449938e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-19b7487 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-19b7487 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-5787f5d .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-ae4abb2 img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-5038c2f > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16389 .elementor-element.elementor-element-5038c2f {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-16389 .elementor-element.elementor-element-356c4c4 img {
  width: 60%;
}
.elementor-16389 .elementor-element.elementor-element-47ce980 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-af93313 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-2a593b1 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-2a593b1 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-16389 .elementor-element.elementor-element-b3fc5f4 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-c1d9c1c {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 100px;
}
.elementor-16389 .elementor-element.elementor-element-5006d22 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-dd1dc45 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-5c34bd1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-326fbb5 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-bbbb71c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-0559654 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-a335cd0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-ef82b37 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-2ec2640 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-84a09a4 {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-4a3a089 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-1d93ebd {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-16389 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table {
  max-width: 100%;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table thead tr th {
  color: #fff;
  background-color: #000;
  border-style: none;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table thead > tr th .data-table-header-text {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody > tr:nth-child(2n) td {
  color: #24282d;
  background: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #24282d;
  background-color: #fff;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-16389 .elementor-element.elementor-element-1b9055a > .elementor-widget-container {
  margin: 0 0 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}
.elementor-16389 .elementor-element.elementor-element-3a9a64d .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-968bba0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-6a4fd4b {
  margin-top: 0;
  margin-bottom: 20px;
}
.elementor-16389 .elementor-element.elementor-element-224e4d3 img {
  height: 68px;
}
.elementor-16389 .elementor-element.elementor-element-ea2b743 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-ea2b743 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-4952635 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-caac8cd img {
  height: 68px;
}
.elementor-16389 .elementor-element.elementor-element-059b7b0 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-059b7b0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-6d2b18e {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-9cdef3a img {
  height: 68px;
}
.elementor-16389 .elementor-element.elementor-element-0f6e0db {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-0f6e0db .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-5acb882 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-e58c753 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-9e89139 > .elementor-container {
  max-width: 1280px;
}
.elementor-16389 .elementor-element.elementor-element-9e89139 {
  padding: 60px 0;
}
.elementor-16389 .elementor-element.elementor-element-288decb .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-c1feea0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-d34f553 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-0632f24 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-fa82365 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-16389 .elementor-element.elementor-element-1504420 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-421e780 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-fd0dad2 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-6878248 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-e92b15f {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-0c2ce08 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-0d0059b {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-5340003 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-4edbcc1 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-5ba227e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-028a5d0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-193299f .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-71b3621 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16389 .elementor-element.elementor-element-72c33e3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-16389 .elementor-element.elementor-element-489aa0e {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-489aa0e .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-489aa0e > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-16389 .elementor-element.elementor-element-67bd249 > .elementor-container {
  max-width: 1280px;
}
.elementor-16389 .elementor-element.elementor-element-67bd249 {
  padding: 60px 0;
}
.elementor-16389 .elementor-element.elementor-element-629ca37 {
  text-align: center;
}
.elementor-16389 .elementor-element.elementor-element-629ca37 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-item {
  border-width: 0;
  border-color: #f5f5f5;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
  border-top-color: #f5f5f5;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
  border-bottom-color: #f5f5f5;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-title {
  background-color: #ffffff00;
  padding: 30px 0;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-icon,
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-active .elementor-accordion-icon,
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-active .elementor-accordion-title {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-active .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #0f2c52;
}
.elementor-16389 .elementor-element.elementor-element-52605e79 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  padding: 20px 0;
}
@media (min-width: 781px) {
  .elementor-16389 .elementor-element.elementor-element-1c0d431 {
    width: 59.612%;
  }
  .elementor-16389 .elementor-element.elementor-element-b7fa669 {
    width: 40.341%;
  }
  .elementor-16389 .elementor-element.elementor-element-338f626 {
    width: 59.612%;
  }
  .elementor-16389 .elementor-element.elementor-element-d2f3a78 {
    width: 40.341%;
  }
  .elementor-16389 .elementor-element.elementor-element-bfd2185 {
    width: 66%;
  }
  .elementor-16389 .elementor-element.elementor-element-728f52b {
    width: 34%;
  }
  .elementor-16389 .elementor-element.elementor-element-eb6ce80 {
    width: 66%;
  }
  .elementor-16389 .elementor-element.elementor-element-3226e6c {
    width: 34%;
  }
  .elementor-16389 .elementor-element.elementor-element-b87be1d {
    width: 66%;
  }
  .elementor-16389 .elementor-element.elementor-element-0a5757e {
    width: 34%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-16389 .elementor-element.elementor-element-1c0d431 {
    width: 70%;
  }
  .elementor-16389 .elementor-element.elementor-element-b7fa669 {
    width: 30%;
  }
  .elementor-16389 .elementor-element.elementor-element-338f626 {
    width: 70%;
  }
  .elementor-16389 .elementor-element.elementor-element-d2f3a78 {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .elementor-16389 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-51bd5a1 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-2a593b1 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-16389 .elementor-element.elementor-element-1b9055a > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 780px) {
  .elementor-16389 .elementor-element.elementor-element-a9e9465 {
    padding: 40px 0 20px;
  }
  .elementor-16389 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-16389 .elementor-element.elementor-element-bbedd10 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-292d53a {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-2a593b1 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-2a593b1 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-16389 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-1b9055a > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-16389 .elementor-element.elementor-element-968bba0 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-e58c753 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-9e89139 {
    padding: 40px 0 20px;
  }
  .elementor-16389 .elementor-element.elementor-element-c1feea0 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-0632f24 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-1504420 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-fd0dad2 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-e92b15f {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-0d0059b {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-4edbcc1 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-028a5d0 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-71b3621 {
    font-size: 16px;
  }
  .elementor-16389 .elementor-element.elementor-element-67bd249 {
    padding: 40px 0 20px;
  }
}
.table-type th,
.table-type td {
  vertical-align: middle;
}
.table-type th {
  width: 33.3%;
}
.table-type table {
  min-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}
.table-type table thead th:nth-child(1) {
  background-color: #ccc !important;
}
.table-type table thead th:nth-child(2) {
  background-color: #073763 !important;
}
.table-type table thead th:nth-child(3) {
  background-color: #ff9900 !important;
}
@media (max-width: 1024px) {
  .table-type .eael-data-table-wrap {
    overflow-x: scroll;
  }
}
.side-menu {
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}
.side-menu.fixed {
  position: fixed;
  top: 240px;
  z-index: 9;
}
.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.side-menu a {
  display: block;
  padding: 5px 0 5px 20px;
  color: #24282d;
}
.side-menu li.active a {
  background-color: #f5f5f5;
  border-left: 3px solid #b72122;
  padding-left: 17px;
}
.side-menu ul ul {
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 10px;
  color: #666;
  font-size: 0.95em;
}
.faq .elementor-tab-title {
  border-bottom: 1px solid #eee;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
