.elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-container {
  max-width: 1200px;
  min-height: 475px;
}
.elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-45187 .elementor-element.elementor-element-219f615:not(.elementor-motion-effects-element-type-background),
.elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2025/01/TM2025Q1_LP_background_2560x1440_d.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-background-overlay {
  background-color: #00000000;
  opacity: 0.5;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-45187 .elementor-element.elementor-element-219f615 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0 20px;
}
.elementor-45187 .elementor-element.elementor-element-1cc7cc3 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-45187 .elementor-element.elementor-element-afde9e5 img {
  width: 400px;
}
.elementor-45187 .elementor-element.elementor-element-afde9e5 > .elementor-widget-container {
  padding: 0 0 0 100px;
}
.elementor-45187 .elementor-element.elementor-element-afde9e5 {
  width: var(--container-widget-width, 118.812%);
  max-width: 118.812%;
  --container-widget-width: 118.812%;
  --container-widget-flex-grow: 0;
}
.elementor-45187 .elementor-element.elementor-element-34a58f6 > .elementor-element-populated {
  padding: 0 0 0 20px;
}
.elementor-45187 .elementor-element.elementor-element-a5a1ef6 {
  text-align: left;
}
.elementor-45187 .elementor-element.elementor-element-a5a1ef6 img {
  width: 136px;
}
.elementor-45187 .elementor-element.elementor-element-e343860 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 50px;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
}
.elementor-45187 .elementor-element.elementor-element-e343860 > .elementor-widget-container {
  padding: 0;
}
.elementor-45187 .elementor-element.elementor-element-8d56710 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.elementor-45187 .elementor-element.elementor-element-6899b53 .elementor-button .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-45187 .elementor-element.elementor-element-6899b53 .elementor-button .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-45187 .elementor-element.elementor-element-6899b53 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  fill: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 15px 60px;
}
.elementor-45187 .elementor-element.elementor-element-6899b53 > .elementor-widget-container {
  padding: 0 0 50px;
}
@media (max-width: 1200px) {
  .elementor-45187 .elementor-element.elementor-element-e343860 .elementor-heading-title {
    font-size: 46px;
  }
  .elementor-45187 .elementor-element.elementor-element-8d56710 {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-container {
    max-width: 1206px;
  }
  .elementor-45187 .elementor-element.elementor-element-219f615 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3 > .elementor-element-populated {
    padding: 100px 20px 0;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 img {
    width: 1100px;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 > .elementor-widget-container {
    padding: 0;
    --e-transform-scale: 1.2;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 {
    width: var(--container-widget-width, 263.139px);
    max-width: 263.139px;
    --container-widget-width: 263.139px;
    --container-widget-flex-grow: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6 > .elementor-element-populated {
    padding: 100px 20px 0;
  }
  .elementor-45187 .elementor-element.elementor-element-a5a1ef6 {
    width: var(--container-widget-width, 119.625px);
    max-width: 119.625px;
    --container-widget-width: 119.625px;
    --container-widget-flex-grow: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 .elementor-heading-title {
    font-size: 46px;
    line-height: 45px;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 > .elementor-widget-container {
    padding: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-8d56710 {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 880px) {
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 img {
    width: 1000px;
    max-width: 236px;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 > .elementor-widget-container {
    padding: 50px 0 30px;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 {
    --container-widget-width: 616px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 616px);
    max-width: 616px;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-45187 .elementor-element.elementor-element-a5a1ef6 {
    text-align: center;
    width: var(--container-widget-width, 669.667px);
    max-width: 669.667px;
    --container-widget-width: 669.667px;
    --container-widget-flex-grow: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 {
    text-align: center;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-45187 .elementor-element.elementor-element-8d56710 {
    text-align: center;
  }
}
@media (max-width: 780px) {
  .elementor-45187 .elementor-element.elementor-element-219f615 > .elementor-container {
    min-height: 600px;
  }
  .elementor-bc-flex-widget .elementor-45187 .elementor-element.elementor-element-1cc7cc3.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-45187
    .elementor-element.elementor-element-1cc7cc3.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-45187
    .elementor-element.elementor-element-1cc7cc3
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 img {
    width: 90%;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 > .elementor-widget-container {
    padding: 50px 0 0;
    --e-transform-scale: 0.9;
  }
  .elementor-45187 .elementor-element.elementor-element-afde9e5 {
    width: var(--container-widget-width, 261px);
    max-width: 261px;
    --container-widget-width: 261px;
    --container-widget-flex-grow: 0;
  }
  .elementor-bc-flex-widget .elementor-45187 .elementor-element.elementor-element-34a58f6.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-45187
    .elementor-element.elementor-element-34a58f6.elementor-column.elementor-element[data-element_type='column']
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-45187
    .elementor-element.elementor-element-34a58f6
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 30px;
  }
  .elementor-45187 .elementor-element.elementor-element-a5a1ef6 {
    text-align: center;
    width: var(--container-widget-width, 101.625px);
    max-width: 101.625px;
    --container-widget-width: 101.625px;
    --container-widget-flex-grow: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-a5a1ef6 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 {
    text-align: center;
    width: var(--container-widget-width, 315.2px);
    max-width: 315.2px;
    --container-widget-width: 315.2px;
    --container-widget-flex-grow: 0;
  }
  .elementor-45187 .elementor-element.elementor-element-e343860 .elementor-heading-title {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.5px;
  }
  .elementor-45187 .elementor-element.elementor-element-8d56710 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  .elementor-45187 .elementor-element.elementor-element-8d56710 > .elementor-widget-container {
    margin: 10px 0;
  }
  .elementor-45187 .elementor-element.elementor-element-6899b53 > .elementor-widget-container {
    padding: 0 0 20px;
  }
}
@media (min-width: 781px) {
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3 {
    width: 40.544%;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6 {
    width: 59.456%;
  }
}
@media (max-width: 880px) and (min-width: 781px) {
  .elementor-45187 .elementor-element.elementor-element-1cc7cc3 {
    width: 100%;
  }
  .elementor-45187 .elementor-element.elementor-element-34a58f6 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  section.elementor-element-219f615 {
    background-position-x: 55% !important;
  }
  .elementor-207 .elementor-element.elementor-element-219f615 > .elementor-container {
    padding: 80px 0;
  }
  .elementor-207 .elementor-element.elementor-element-7382449 {
    text-align: center;
  }
  .elementor-207 .elementor-element.elementor-element-34a58f6 > .elementor-element-populated {
    padding: 0;
  }
  .elementor-207 .elementor-element.elementor-element-afde9e5 > .elementor-widget-container {
    padding: 20px 0;
  }
  .elementor-207 .elementor-element.elementor-element-e343860 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-207 .elementor-element.elementor-element-8d56710 {
    font-size: 16px;
    line-height: 20px;
  }
  .elementor-207 .elementor-element.elementor-element-afde9e5 img {
    width: 220px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
