.elementor-41789 .elementor-element.elementor-element-e37a2b9,
.elementor-41789 .elementor-element.elementor-element-e37a2b9 > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-41789 .elementor-element.elementor-element-e37a2b9 {
  padding: 40px;
}
.elementor-41789 .elementor-element.elementor-element-2d37412 .elementor-heading-title {
  color: #24282d;
  font-family: 'Noto Sans', Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
}
.elementor-41789 .elementor-element.elementor-element-1a8d887 {
  color: #24282d;
  font-family: 'Noto Sans', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.elementor-41789
  .elementor-element.elementor-element-816c6f6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-41789
  .elementor-element.elementor-element-816c6f6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl .elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl) .elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 {
  --e-icon-list-icon-size: 30px;
  --icon-vertical-offset: 0px;
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-item > a {
  font-family: 'Noto Sans', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-text {
  transition: color 0.3s;
}
@media (max-width: 780px) {
  .elementor-41789 .elementor-element.elementor-element-2d37412 .elementor-heading-title {
    font-size: 20px;
    line-height: 30px;
  }
  .elementor-41789 .elementor-element.elementor-element-1a8d887 {
    font-size: 14px;
  }
  .elementor-41789 .elementor-element.elementor-element-816c6f6 {
    --e-icon-list-icon-size: 20px;
  }
  .elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-41789 .elementor-element.elementor-element-816c6f6 .elementor-icon-list-item > a {
    font-size: 14px;
  }
}
