.elementor-18116 .elementor-element.elementor-element-8a68fa9 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
}
.elementor-18116 .elementor-element.elementor-element-1b37e5c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
}
.elementor-18116 .elementor-element.elementor-element-6dc1218 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.default-button.orange.elementor-widget-button .elementor-button {
  background-image: linear-gradient(180deg, #ff8055, #f2672a);
}
.default-button.orange.elementor-widget-button .elementor-button:hover {
  background-image: none;
}
