.elementor-16422 .elementor-element.elementor-element-02db077 {
  padding: 30px 0;
}
.elementor-16422 .elementor-element.elementor-element-42a410b > .elementor-element-populated {
  padding: 20px 30px 0 0;
}
.elementor-16422 .elementor-element.elementor-element-323d2bd {
  margin-top: 0;
  margin-bottom: 20px;
}
.elementor-16422 .elementor-element.elementor-element-b20dd8d > .elementor-element-populated {
  padding: 0;
}
.elementor-16422 .elementor-element.elementor-element-6a8c242 > .elementor-element-populated {
  padding: 0;
}
.elementor-16422 .elementor-element.elementor-element-032fe5b > .elementor-element-populated {
  padding: 0;
}
.elementor-16422 .elementor-element.elementor-element-786014b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 780px) {
  .elementor-16422 .elementor-element.elementor-element-42a410b > .elementor-element-populated {
    padding: 0;
  }
}
@media (min-width: 781px) {
  .elementor-16422 .elementor-element.elementor-element-42a410b {
    width: 20.263%;
  }
  .elementor-16422 .elementor-element.elementor-element-3539bda {
    width: 79.737%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-16422 .elementor-element.elementor-element-42a410b {
    width: 30%;
  }
  .elementor-16422 .elementor-element.elementor-element-3539bda {
    width: 70%;
  }
  .elementor-16422 .elementor-element.elementor-element-b20dd8d {
    width: 60%;
  }
  .elementor-16422 .elementor-element.elementor-element-6a8c242 {
    width: 40%;
  }
}
.review-date {
  text-align: right;
  font-size: 0.8em;
  color: #7d7d7d;
}
@media (max-width: 767px) {
  .review-date {
    text-align: left;
  }
}
.e-loop-item:nth-child(odd) {
  background-color: #f5f5f5;
}
.e-loop-item {
  padding-top: 40px;
  padding-bottom: 40px;
}
