.elementor-18101 .elementor-element.elementor-element-3013129 > .elementor-container {
  max-width: 1280px;
}
.elementor-18101 .elementor-element.elementor-element-3013129 {
  padding: 80px 0 0;
}
.elementor-18101 .elementor-element.elementor-element-d38c467 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18101 .elementor-element.elementor-element-8c47777 {
  text-align: center;
}
.elementor-18101 .elementor-element.elementor-element-8c47777 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.elementor-18101 .elementor-element.elementor-element-8c47777 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18101 .elementor-element.elementor-element-e134007 > .elementor-container {
  max-width: 1070px;
}
.elementor-18101 .elementor-element.elementor-element-e134007 {
  margin-top: 0;
  margin-bottom: 50px;
}
.elementor-18101 .elementor-element.elementor-element-46e3a54 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-18101 .elementor-element.elementor-element-8ae2d25 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-18101 .elementor-element.elementor-element-c3d5f88 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18101 .elementor-element.elementor-element-9ad4f4e {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-18101 .elementor-element.elementor-element-9ad4f4e .elementor-divider-separator {
  width: 36px;
}
.elementor-18101 .elementor-element.elementor-element-9ad4f4e .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-18101 .elementor-element.elementor-element-897d227 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-18101 .elementor-element.elementor-element-063715d > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-18101 .elementor-element.elementor-element-d753fd4 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-18101 .elementor-element.elementor-element-c591ac0 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18101 .elementor-element.elementor-element-c743d5a {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-18101 .elementor-element.elementor-element-c743d5a .elementor-divider-separator {
  width: 36px;
}
.elementor-18101 .elementor-element.elementor-element-c743d5a .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-18101 .elementor-element.elementor-element-fa221bf {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-18101 .elementor-element.elementor-element-145c679 > .elementor-element-populated {
  padding: 0 40px;
}
.elementor-18101 .elementor-element.elementor-element-fc9afbd .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.elementor-18101 .elementor-element.elementor-element-c0b3981 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18101 .elementor-element.elementor-element-dae889c {
  --divider-border-style: solid;
  --divider-color: #f2672a;
  --divider-border-width: 1px;
}
.elementor-18101 .elementor-element.elementor-element-dae889c .elementor-divider-separator {
  width: 36px;
}
.elementor-18101 .elementor-element.elementor-element-dae889c .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-18101 .elementor-element.elementor-element-1fe2e00 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-18101 .elementor-element.elementor-element-93cf5d1 > .elementor-container {
  max-width: 1280px;
}
.elementor-18101
  .elementor-element.elementor-element-316991f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-18101 .elementor-element.elementor-element-316991f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18101 .elementor-element.elementor-element-26c3fed > .elementor-container {
  min-height: 50px;
}
@media (max-width: 1024px) {
  .elementor-18101 .elementor-element.elementor-element-3013129 {
    padding: 60px 0 0;
  }
  .elementor-18101 .elementor-element.elementor-element-8c47777 .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-18101 .elementor-element.elementor-element-46e3a54 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18101 .elementor-element.elementor-element-063715d > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18101 .elementor-element.elementor-element-145c679 > .elementor-element-populated {
    padding: 0 20px;
  }
  .elementor-18101
    .elementor-element.elementor-element-316991f
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
}
@media (max-width: 780px) {
  .elementor-18101 .elementor-element.elementor-element-3013129 {
    padding: 40px 0 0;
  }
  .elementor-18101 .elementor-element.elementor-element-8c47777 .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-18101 .elementor-element.elementor-element-8c47777 > .elementor-widget-container {
    margin: 0;
  }
  .elementor-18101 .elementor-element.elementor-element-e134007 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .elementor-18101 .elementor-element.elementor-element-46e3a54 > .elementor-element-populated {
    padding: 0 20px 40px;
  }
  .elementor-18101 .elementor-element.elementor-element-8ae2d25 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-c3d5f88 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-9ad4f4e .elementor-divider {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-9ad4f4e .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-18101 .elementor-element.elementor-element-897d227 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-063715d > .elementor-element-populated {
    padding: 40px 20px;
  }
  .elementor-18101 .elementor-element.elementor-element-d753fd4 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-c591ac0 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-c743d5a .elementor-divider {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-c743d5a .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-18101 .elementor-element.elementor-element-fa221bf {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-145c679 > .elementor-element-populated {
    padding: 40px 20px 0;
  }
  .elementor-18101 .elementor-element.elementor-element-fc9afbd {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-c0b3981 {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-dae889c .elementor-divider {
    text-align: center;
  }
  .elementor-18101 .elementor-element.elementor-element-dae889c .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-18101 .elementor-element.elementor-element-1fe2e00 {
    text-align: center;
  }
  .elementor-18101
    .elementor-element.elementor-element-316991f
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-18101 .elementor-element.elementor-element-316991f > .elementor-element-populated {
    padding: 10px 20px;
  }
  .elementor-18101 .elementor-element.elementor-element-26c3fed > .elementor-container {
    min-height: 30px;
  }
}
.register-steps .elementor-column + .elementor-column:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(242, 122, 72, 0.1) url(../../../../uploads/2023/06/arrow.webp) center no-repeat;
  border-radius: 100%;
  top: 80px;
  left: -30px;
}
@media (max-width: 767px) {
  .register-steps .elementor-column + .elementor-column:before {
    top: -20px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(90deg);
  }
}
