.elementor-18405 .elementor-element.elementor-element-23d6eb4 > .elementor-container {
  max-width: 1280px;
}
.elementor-18405 .elementor-element.elementor-element-23d6eb4:not(.elementor-motion-effects-element-type-background),
.elementor-18405 .elementor-element.elementor-element-23d6eb4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18405 .elementor-element.elementor-element-23d6eb4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18405 .elementor-element.elementor-element-23d6eb4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18405 .elementor-element.elementor-element-16c470f > .elementor-element-populated {
  padding: 0;
}
.elementor-18405 .elementor-element.elementor-element-06a57bf > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18405 .elementor-element.elementor-element-06a57bf:not(.elementor-motion-effects-element-type-background),
.elementor-18405 .elementor-element.elementor-element-06a57bf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/07/tradingplatform-metatrader4-herobanner-arabic.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-18405 .elementor-element.elementor-element-06a57bf {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18405 .elementor-element.elementor-element-06a57bf > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18405 .elementor-element.elementor-element-d86b361 .elementor-heading-title {
  color: #fff;
}
.elementor-18405 .elementor-element.elementor-element-9601b94 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-18405 .elementor-element.elementor-element-9601b94 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-18405 .elementor-element.elementor-element-963851b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-18405 .elementor-element.elementor-element-963851b > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-18405 .elementor-element.elementor-element-3bcb8a0 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2672a;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 30px;
  padding: 20px 30px;
}
.elementor-18405 .elementor-element.elementor-element-3bcb8a0 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-18405 .elementor-element.elementor-element-068c3c2 > .elementor-container {
  max-width: 860px;
}
.elementor-18405 .elementor-element.elementor-element-068c3c2 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.elementor-18405 .elementor-element.elementor-element-5b60245 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
}
.elementor-18405 .elementor-element.elementor-element-75f4799 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
}
.elementor-18405 .elementor-element.elementor-element-d2bbb3b {
  --spacer-size: 50px;
}
.elementor-18405 .elementor-element.elementor-element-ae1d3d7 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-18405 .elementor-element.elementor-element-e9caef7 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
}
.elementor-18405 .elementor-element.elementor-element-32bc974 {
  --spacer-size: 50px;
}
.elementor-18405 .elementor-element.elementor-element-74e975d > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-18405 .elementor-element.elementor-element-46cc0ec {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
}
.elementor-18405 .elementor-element.elementor-element-9f035df > .elementor-container {
  max-width: 1180px;
}
.elementor-18405 .elementor-element.elementor-element-9f035df > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18405 .elementor-element.elementor-element-9f035df {
  padding: 80px 0 50px;
}
.elementor-18405 .elementor-element.elementor-element-0932ba7 > .elementor-element-populated {
  padding: 0 20px;
}
.mt4-button .elementor-button:hover {
  background-color: #02010100 !important;
  border-color: #fff !important;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
