.elementor-19091 .elementor-element.elementor-element-674f31b > .elementor-container {
  min-height: 400px;
}
.elementor-19091 .elementor-element.elementor-element-674f31b:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-674f31b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/atfx-support-and-resistance-indicator-atfx-herobanner-bg-img-0.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-19091 .elementor-element.elementor-element-674f31b {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-674f31b > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-00569ee > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-19091 .elementor-element.elementor-element-fb9bd6e {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-afa2e93 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: #0f2c52;
  border-radius: 5px;
  padding: 15px 60px;
}
.elementor-19091 .elementor-element.elementor-element-afa2e93 .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-afa2e93 .elementor-button:focus {
  background-color: #2c4d7a;
}
.elementor-19091 .elementor-element.elementor-element-89d5ec8 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 60px;
}
.elementor-19091 .elementor-element.elementor-element-89d5ec8 .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-89d5ec8 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-19091 .elementor-element.elementor-element-5ab6bc3 > .elementor-element-populated {
  margin: 0 0 0 30px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 30px;
  padding: 0;
}
.elementor-19091
  .elementor-element.elementor-element-2fbb89a
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-19091 .elementor-element.elementor-element-abe09ef > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-19091 .elementor-element.elementor-element-abe09ef {
  margin-top: 80px;
  margin-bottom: 80px;
}
.elementor-19091 .elementor-element.elementor-element-f877c4f {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.elementor-19091 .elementor-element.elementor-element-7a23ac0 {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-a79877b {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-19091 .elementor-element.elementor-element-5e76044 {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-17ad962:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-17ad962 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/atfx-support-and-resistance-indicator-atfx-bg-img-7.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-19091 .elementor-element.elementor-element-17ad962 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 30px;
}
.elementor-19091 .elementor-element.elementor-element-17ad962 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-f78d1cc {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-f78d1cc .elementor-heading-title {
  color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-f78d1cc > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-19091 .elementor-element.elementor-element-a137e92 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}
.elementor-19091 .elementor-element.elementor-element-a137e92 > .elementor-widget-container {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-74f9a33 > .elementor-container {
  min-height: 400px;
}
.elementor-19091 .elementor-element.elementor-element-74f9a33:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-74f9a33 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/atfx-support-and-resistance-indicator-atfx-bg-img-7.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-19091 .elementor-element.elementor-element-74f9a33 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 0;
}
.elementor-19091 .elementor-element.elementor-element-74f9a33 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-799924f {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-799924f .elementor-heading-title {
  color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-e202e12:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #ffffffb3;
}
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-element-populated,
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-element-populated > .elementor-background-overlay,
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-background-slideshow {
  border-radius: 15px;
}
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
  padding: 40px;
}
.elementor-19091 .elementor-element.elementor-element-e202e12 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-f120a2d .elementor-heading-title {
  color: #24282d;
}
.elementor-19091 .elementor-element.elementor-element-e904eb4 {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-813dd40 {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-813dd40 > .elementor-widget-container {
  margin: 0;
}
.elementor-19091 .elementor-element.elementor-element-87dc0df {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-16f791f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #ffffffb3;
}
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-element-populated,
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-element-populated > .elementor-background-overlay,
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-background-slideshow {
  border-radius: 15px;
}
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
  padding: 40px;
}
.elementor-19091 .elementor-element.elementor-element-16f791f > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-0a41818 .elementor-heading-title {
  color: #24282d;
}
.elementor-19091 .elementor-element.elementor-element-b4b8935 {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-3e49b69 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  padding: 15px 60px;
}
.elementor-19091 .elementor-element.elementor-element-3e49b69 .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-3e49b69 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-19091 .elementor-element.elementor-element-3e49b69 > .elementor-widget-container {
  margin: 40px 0;
}
.elementor-19091 .elementor-element.elementor-element-a702bf9 > .elementor-container {
  max-width: 860px;
}
.elementor-19091 .elementor-element.elementor-element-a702bf9 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-19091 .elementor-element.elementor-element-68eaea7 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-36a24d6 .elementor-element-populated a {
  color: #0f2c52;
}
.elementor-19091 .elementor-element.elementor-element-d1743e1 img {
  width: 40px;
  height: 40px;
}
.elementor-19091 .elementor-element.elementor-element-80761f8 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-3d67547 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-3d67547 > .elementor-widget-container {
  margin: 10px;
}
.elementor-19091 .elementor-element.elementor-element-b7aee1b .elementor-element-populated a {
  color: #0f2c52;
}
.elementor-19091 .elementor-element.elementor-element-0c4e9ab img {
  width: 40px;
  height: 40px;
}
.elementor-19091 .elementor-element.elementor-element-b4e4961 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-e85be4a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-e85be4a > .elementor-widget-container {
  margin: 10px;
}
.elementor-19091 .elementor-element.elementor-element-ded05cd .elementor-element-populated a {
  color: #0f2c52;
}
.elementor-19091 .elementor-element.elementor-element-15de784 img {
  width: 40px;
  height: 40px;
}
.elementor-19091 .elementor-element.elementor-element-1b414fa {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-dc2da1a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-dc2da1a > .elementor-widget-container {
  margin: 10px;
}
.elementor-19091 .elementor-element.elementor-element-17610e7 .elementor-element-populated a {
  color: #0f2c52;
}
.elementor-19091 .elementor-element.elementor-element-3e1f895 img {
  width: 40px;
  height: 40px;
}
.elementor-19091 .elementor-element.elementor-element-de41772 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-0143dc7 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-0143dc7 > .elementor-widget-container {
  margin: 10px;
}
.elementor-19091 .elementor-element.elementor-element-e3de88e > .elementor-container {
  min-height: 600px;
}
.elementor-19091 .elementor-element.elementor-element-e3de88e:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-e3de88e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: radial-gradient(at center right, #467fce 0%, #0f2c52 66%);
}
.elementor-19091 .elementor-element.elementor-element-e3de88e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20px 0;
}
.elementor-19091 .elementor-element.elementor-element-e3de88e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-8a72c07 .elementor-heading-title {
  color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-c21db35 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-b646c4f .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 18px 70px;
}
.elementor-19091 .elementor-element.elementor-element-b646c4f .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-b646c4f .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-19091 .elementor-element.elementor-element-9bac4df {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-19091 .elementor-element.elementor-element-05834de {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-4495d57 > .elementor-element-populated {
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-ef68649 img {
  width: 80px;
  height: 80px;
}
.elementor-19091 .elementor-element.elementor-element-269539c {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-269539c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-1aa51a2 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-19091 .elementor-element.elementor-element-05cd11a > .elementor-element-populated {
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-a55a951 img {
  width: 80px;
  height: 80px;
}
.elementor-19091 .elementor-element.elementor-element-42be65c {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-42be65c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-2fea5d9 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-19091 .elementor-element.elementor-element-30ed715 > .elementor-element-populated {
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-bc579e3 img {
  width: 80px;
  height: 80px;
}
.elementor-19091 .elementor-element.elementor-element-1376573 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-1376573 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.elementor-19091 .elementor-element.elementor-element-565955f {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-19091 .elementor-element.elementor-element-6f27ff3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 20px 80px;
}
.elementor-19091 .elementor-element.elementor-element-6f27ff3 .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-6f27ff3 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-19091 .elementor-element.elementor-element-6f27ff3 > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-19091 .elementor-element.elementor-element-80f3f76:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-80f3f76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/atfx-support-and-resistance-indicator-atfx-bg-img-7.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-19091 .elementor-element.elementor-element-80f3f76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 10px;
}
.elementor-19091 .elementor-element.elementor-element-80f3f76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-bd31aa1 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-bd31aa1 .elementor-heading-title {
  color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-bd31aa1 > .elementor-widget-container {
  margin: 20px 0 10px;
}
.elementor-19091 .elementor-element.elementor-element-7211336 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-19091 .elementor-element.elementor-element-9ed2c77 > .elementor-container {
  min-height: 200px;
}
.elementor-19091 .elementor-element.elementor-element-f649da7 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-616bdd2 > .elementor-container {
  min-height: 500px;
}
.elementor-19091 .elementor-element.elementor-element-616bdd2:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-616bdd2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(90deg, #fff 0%, #e2e2e2 100%);
}
.elementor-19091 .elementor-element.elementor-element-616bdd2 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-616bdd2 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-d0caeb5 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-57d4505 > .elementor-element-populated {
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-19091 .elementor-element.elementor-element-a8871f9 > .elementor-container {
  min-height: 200px;
}
.elementor-19091 .elementor-element.elementor-element-31123f9 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-173084e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-173084e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-dec8db5 > .elementor-element-populated {
  border-style: none;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-dec8db5 > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-746f4ec {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.elementor-19091 .elementor-element.elementor-element-746f4ec img {
  width: 100%;
  border-style: none;
}
.elementor-19091 .elementor-element.elementor-element-5338893 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.elementor-19091 .elementor-element.elementor-element-1cd9e15 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-1cd9e15 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-19091 .elementor-element.elementor-element-cfcf49a {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-19091 .elementor-element.elementor-element-8acea35 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 700;
  fill: #0f2c52;
  color: #0f2c52;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #2c4d7a;
  border-radius: 8px;
}
.elementor-19091 .elementor-element.elementor-element-8acea35 .elementor-button:hover,
.elementor-19091 .elementor-element.elementor-element-8acea35 .elementor-button:focus {
  color: #fff;
  background-color: #2c4d7a;
}
.elementor-19091 .elementor-element.elementor-element-8acea35 .elementor-button:hover svg,
.elementor-19091 .elementor-element.elementor-element-8acea35 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-19091 .elementor-element.elementor-element-14eba09 {
  margin-top: 20px;
  margin-bottom: 60px;
}
.elementor-19091 .elementor-element.elementor-element-db0657a:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 0%, #ebebeb 100%);
}
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated,
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated > .elementor-background-overlay,
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-background-slideshow {
  border-radius: 12px;
}
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px;
}
.elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-9b3206a {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-9738a5a > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-19091 .elementor-element.elementor-element-402f7a9 > .elementor-widget-container {
  margin: 0;
}
.elementor-19091 .elementor-element.elementor-element-0ebafbb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 0%, #ebebeb 100%);
}
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-element-populated,
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-element-populated > .elementor-background-overlay,
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-background-slideshow {
  border-radius: 12px;
}
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-element-populated {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px;
}
.elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-d9d7f12 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-c178402 > .elementor-widget-container {
  margin: 0;
}
.elementor-19091 .elementor-element.elementor-element-33df5a5 > .elementor-widget-container {
  margin: 0;
}
.elementor-19091 .elementor-element.elementor-element-fbdccc6:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-fbdccc6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19091 .elementor-element.elementor-element-fbdccc6 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
}
.elementor-19091 .elementor-element.elementor-element-fbdccc6 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-3e9170a > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-f725fc6:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-f725fc6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-f725fc6 {
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #0000001a;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-f725fc6 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-0778459 > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-57b5b34 img {
  width: 107px;
}
.elementor-19091 .elementor-element.elementor-element-57b5b34 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-19091 .elementor-element.elementor-element-8fb69fb {
  font-family: 'Muli', Sans-serif;
  font-size: 28px;
  font-weight: 400;
  width: auto;
  max-width: auto;
  top: 10px;
}
.elementor-19091 .elementor-element.elementor-element-8fb69fb > .elementor-widget-container {
  padding: 5px 10px 10px;
}
body:not(.rtl) .elementor-19091 .elementor-element.elementor-element-8fb69fb {
  right: 15px;
}
body.rtl .elementor-19091 .elementor-element.elementor-element-8fb69fb {
  left: 15px;
}
.elementor-19091 .elementor-element.elementor-element-e421d47 > .elementor-container {
  max-width: 600px;
}
.elementor-19091 .elementor-element.elementor-element-6cc01c0 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-adfb7e4 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-adfb7e4 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.elementor-19091 .elementor-element.elementor-element-adfb7e4 > .elementor-widget-container {
  padding: 30px 0;
}
.elementor-19091 .elementor-element.elementor-element-58fa374:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-58fa374 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19091 .elementor-element.elementor-element-58fa374 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
}
.elementor-19091 .elementor-element.elementor-element-58fa374 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-1c1e9df > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-b1d297e:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-b1d297e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-b1d297e {
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #0000001a;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-b1d297e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-80f5e85 > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-9192314 img {
  width: 107px;
}
.elementor-19091 .elementor-element.elementor-element-9192314 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-19091 .elementor-element.elementor-element-34e3564 {
  font-family: 'Muli', Sans-serif;
  font-size: 28px;
  font-weight: 400;
  width: auto;
  max-width: auto;
  top: 10px;
}
.elementor-19091 .elementor-element.elementor-element-34e3564 > .elementor-widget-container {
  padding: 5px 10px 10px;
}
body:not(.rtl) .elementor-19091 .elementor-element.elementor-element-34e3564 {
  right: 15px;
}
body.rtl .elementor-19091 .elementor-element.elementor-element-34e3564 {
  left: 15px;
}
.elementor-19091 .elementor-element.elementor-element-24a7a10 > .elementor-container {
  max-width: 600px;
}
.elementor-19091 .elementor-element.elementor-element-7230c0c > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-92d15d8 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-92d15d8 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.elementor-19091 .elementor-element.elementor-element-92d15d8 > .elementor-widget-container {
  padding: 30px 0;
}
.elementor-19091 .elementor-element.elementor-element-c12474d:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-c12474d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-19091 .elementor-element.elementor-element-c12474d {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
}
.elementor-19091 .elementor-element.elementor-element-c12474d > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-7e3b7b9 > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-061fef7:not(.elementor-motion-effects-element-type-background),
.elementor-19091 .elementor-element.elementor-element-061fef7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-19091 .elementor-element.elementor-element-061fef7 {
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #0000001a;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-061fef7 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-19091 .elementor-element.elementor-element-c7c60f7 > .elementor-element-populated {
  padding: 0;
}
.elementor-19091 .elementor-element.elementor-element-5083ad2 img {
  width: 107px;
}
.elementor-19091 .elementor-element.elementor-element-5083ad2 > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-19091 .elementor-element.elementor-element-f8fd6cd {
  font-family: 'Muli', Sans-serif;
  font-size: 28px;
  font-weight: 400;
  width: auto;
  max-width: auto;
  top: 10px;
}
.elementor-19091 .elementor-element.elementor-element-f8fd6cd > .elementor-widget-container {
  padding: 5px 10px 10px;
}
body:not(.rtl) .elementor-19091 .elementor-element.elementor-element-f8fd6cd {
  right: 15px;
}
body.rtl .elementor-19091 .elementor-element.elementor-element-f8fd6cd {
  left: 15px;
}
.elementor-19091 .elementor-element.elementor-element-6e85af8 > .elementor-container {
  max-width: 600px;
}
.elementor-19091 .elementor-element.elementor-element-5a9a5f9 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-19091 .elementor-element.elementor-element-a9ca4f3 {
  text-align: center;
}
.elementor-19091 .elementor-element.elementor-element-a9ca4f3 .elementor-heading-title {
  color: #0f2c52;
  font-family: 'Muli', Sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.elementor-19091 .elementor-element.elementor-element-a9ca4f3 > .elementor-widget-container {
  padding: 30px 0;
}
@media (min-width: 781px) {
  .elementor-19091 .elementor-element.elementor-element-00569ee {
    width: 50%;
  }
  .elementor-19091 .elementor-element.elementor-element-5ab6bc3 {
    width: 50%;
  }
  .elementor-19091 .elementor-element.elementor-element-dec8db5 {
    width: 100%;
  }
  .elementor-19091 .elementor-element.elementor-element-0778459 {
    width: 100%;
  }
  .elementor-19091 .elementor-element.elementor-element-80f5e85 {
    width: 100%;
  }
  .elementor-19091 .elementor-element.elementor-element-c7c60f7 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-19091 .elementor-element.elementor-element-e3de88e {
    padding: 20px;
  }
  .elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated {
    margin: 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }
  .elementor-19091 .elementor-element.elementor-element-0ebafbb > .elementor-element-populated {
    margin: 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }
  .elementor-19091 .elementor-element.elementor-element-adfb7e4 .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-19091 .elementor-element.elementor-element-adfb7e4 > .elementor-widget-container {
    padding: 28px 0;
  }
  .elementor-19091 .elementor-element.elementor-element-92d15d8 .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-19091 .elementor-element.elementor-element-92d15d8 > .elementor-widget-container {
    padding: 28px 0;
  }
  .elementor-19091 .elementor-element.elementor-element-a9ca4f3 .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-19091 .elementor-element.elementor-element-a9ca4f3 > .elementor-widget-container {
    padding: 28px 0;
  }
}
@media (max-width: 780px) {
  .elementor-19091 .elementor-element.elementor-element-e3de88e {
    padding: 20px;
  }
  .elementor-19091 .elementor-element.elementor-element-db0657a > .elementor-element-populated {
    padding: 30px 30px 50px;
  }
  .elementor-19091 .elementor-element.elementor-element-adfb7e4 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-19091 .elementor-element.elementor-element-adfb7e4 > .elementor-widget-container {
    padding: 20px 0;
  }
  .elementor-19091 .elementor-element.elementor-element-92d15d8 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-19091 .elementor-element.elementor-element-92d15d8 > .elementor-widget-container {
    padding: 20px 0;
  }
  .elementor-19091 .elementor-element.elementor-element-a9ca4f3 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-19091 .elementor-element.elementor-element-a9ca4f3 > .elementor-widget-container {
    padding: 20px 0;
  }
}
.atfx_text_menu_box {
  width: 100%;
  background-color: #0f2c52;
  overflow-x: auto;
}
.atfx_text_menu {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}
.atfx_text_menu li {
  line-height: 30px;
  margin: 0 auto !important;
}
.atfx_text_menu li:before {
  display: none;
}
.atfx_text_menu_sep {
  position: relative;
  width: 0;
  background-color: #fff;
  height: 1.25rem;
  opacity: 0.4;
  padding-left: 1px;
}
.atfx_text_menu_item a {
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 3em;
  position: relative;
  display: block;
  overflow: hidden;
}
.atfx_text_menu_item a:hover {
  color: #fff !important;
}
.atfx_text_menu_item a:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 5px;
  bottom: -1px;
  background-color: #f2672a;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
  transform: translateX(-50%) translateY(100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.atfx_text_menu_item a:hover:after {
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
.atfx_text_menu_box.sticky {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 141px;
  z-index: 9;
}
.atfx_text_menu_box.stickyDown {
  top: 90px;
}
@media (max-width: 767px) {
  .atfx_text_menu_sep {
    display: none;
  }
  .atfx_text_menu {
    flex-direction: column;
    align-items: center;
  }
  .atfx_menu_mobile_toggle {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 20px 0;
    width: 100%;
    height: 13px;
    background-color: transparent;
    background-image: url(../../../../../hubfs/ATFX%20Master%20theme%2001/Icons/atfx-mt-chevron-up-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scale(-1);
    transform: scale(-1);
  }
  .atfx_menu_mobile_toggle.active {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .atfx_text_menu_box.sticky {
    top: 67px;
  }
}
.nt-check-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nt-check-list li {
  position: relative;
  padding-left: 25px;
}
.nt-check-list li:before {
  content: '';
  position: absolute;
  width: 11.5px;
  height: 24px;
  left: 0;
  background: url('https://www.atfx.com/wp-content/uploads/2023/06/atfx-mt-checkmark-orange-1.svg') no-repeat center;
}
.atfx-test a {
  font-weight: 400 !important;
}
.atfx-test a {
  font-weight: 400 !important;
}
.demo-ac-style2 {
  display: block !important;
}
.demo-ac-style1 {
  display: none;
}
.live-ac-style2 {
  display: block !important;
}
.live-ac-style1 {
  display: none;
}
.popup-close {
  cursor: pointer;
}
.popup-form {
  width: 100%;
  height: 100%;
  z-index: 299;
  top: 0;
  left: 0;
  overflow-x: auto;
}
.popup-close {
  cursor: pointer;
}
.popup-form {
  width: 100%;
  height: 100%;
  z-index: 299;
  top: 0;
  left: 0;
  overflow-x: auto;
}
.popup-close {
  cursor: pointer;
}
.popup-form {
  width: 100%;
  height: 100%;
  z-index: 299;
  top: 0;
  left: 0;
  overflow-x: auto;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
