.elementor-33647 .elementor-element.elementor-element-2b1f635 > .elementor-container {
  min-height: 250px;
}
.elementor-33647 .elementor-element.elementor-element-2b1f635,
.elementor-33647 .elementor-element.elementor-element-2b1f635 > .elementor-background-overlay {
  border-radius: 10px;
}
.elementor-33647 .elementor-element.elementor-element-2b1f635 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-33647 .elementor-element.elementor-element-2b1f635 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33647
  .elementor-element.elementor-element-1383269
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-33647 .elementor-element.elementor-element-1383269 > .elementor-element-populated {
  padding: 0;
}
.elementor-33647 .elementor-element.elementor-element-3a9fa50 > .elementor-container {
  min-height: 150px;
}
.elementor-33647 .elementor-element.elementor-element-3a9fa50:not(.elementor-motion-effects-element-type-background),
.elementor-33647 .elementor-element.elementor-element-3a9fa50 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #00000033;
}
.elementor-33647 .elementor-element.elementor-element-3a9fa50,
.elementor-33647 .elementor-element.elementor-element-3a9fa50 > .elementor-background-overlay {
  border-radius: 10px 10px 0 0;
}
.elementor-33647 .elementor-element.elementor-element-3a9fa50 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-33647 .elementor-element.elementor-element-3a9fa50 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33647 .elementor-element.elementor-element-cebcdfa:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #00000033;
}
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-element-populated,
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-element-populated > .elementor-background-overlay,
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-background-slideshow {
  border-radius: 10px 10px 0 0;
}
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 10px 20px;
}
.elementor-33647 .elementor-element.elementor-element-cebcdfa > .elementor-element-populated > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-33647
  .elementor-element.elementor-element-cc5bd27
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-33647
  .elementor-element.elementor-element-cc5bd27
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl .elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl) .elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-item:not(:last-child):after {
  content: '';
  height: 60%;
  border-color: #ddd;
}
.elementor-33647
  .elementor-element.elementor-element-cc5bd27
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}
.elementor-33647
  .elementor-element.elementor-element-cc5bd27
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-icon i {
  color: #fff;
  font-size: 15px;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-icon svg {
  fill: #fff;
  --e-icon-list-icon-size: 15px;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-icon {
  width: 15px;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-text,
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-text a {
  color: #fff;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-item {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe > .elementor-container {
  min-height: 110px;
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe:not(.elementor-motion-effects-element-type-background),
.elementor-33647 .elementor-element.elementor-element-cfc5efe > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe,
.elementor-33647 .elementor-element.elementor-element-cfc5efe > .elementor-background-overlay {
  border-radius: 0 0 10px 10px;
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 0 10px;
}
.elementor-33647 .elementor-element.elementor-element-cfc5efe > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-33647 .elementor-element.elementor-element-e3cd89b.elementor-column .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-33647
  .elementor-element.elementor-element-e3cd89b.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-33647 .elementor-element.elementor-element-ffd2c3a .elementor-heading-title {
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.elementor-33647 .elementor-element.elementor-element-ffd2c3a > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
@media (max-width: 1366px) {
  .elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-item {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
}
@media (max-width: 1024px) {
  .elementor-33647 .elementor-element.elementor-element-2b1f635 > .elementor-container {
    min-height: 170px;
  }
  .elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-item {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
}
@media (max-width: 780px) {
  .elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-icon-list-item {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-inline-items {
  justify-content: flex-start;
}
.elementor-33647 .elementor-element.elementor-element-cc5bd27 .elementor-inline-items .elementor-icon-list-item:after {
  left: 6px !important;
}
.elementor-33647 .elementor-element.elementor-element-ffd2c3a {
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}
