.elementor-21544 .elementor-element.elementor-element-281ed7b > .elementor-container {
  max-width: 1080px;
  min-height: 475px;
}
.elementor-21544 .elementor-element.elementor-element-281ed7b > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-21544 .elementor-element.elementor-element-281ed7b:not(.elementor-motion-effects-element-type-background),
.elementor-21544 .elementor-element.elementor-element-281ed7b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/08/GM_slides_update_20230626_bg_b.webp');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-21544 .elementor-element.elementor-element-281ed7b > .elementor-background-overlay {
  background-color: #0000004d;
  opacity: 0.5;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-21544 .elementor-element.elementor-element-281ed7b {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-21544 .elementor-element.elementor-element-5f4241e > .elementor-widget-container {
  margin: 0 10px 20px 0;
}
.elementor-21544 .elementor-element.elementor-element-5f4241e {
  width: auto;
  max-width: auto;
}
.elementor-21544 .elementor-element.elementor-element-8941205 img {
  width: 42px;
}
.elementor-21544 .elementor-element.elementor-element-8941205 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-21544 .elementor-element.elementor-element-8941205 {
  width: auto;
  max-width: auto;
}
.elementor-21544 .elementor-element.elementor-element-dddbde2 .elementor-heading-title {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-21544 .elementor-element.elementor-element-dddbde2 > .elementor-widget-container {
  margin: 0;
}
.elementor-21544 .elementor-element.elementor-element-f1dacb9 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-21544 .elementor-element.elementor-element-d9519fe .elementor-button {
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}
.elementor-21544 .elementor-element.elementor-element-d9519fe .elementor-button:hover,
.elementor-21544 .elementor-element.elementor-element-d9519fe .elementor-button:focus {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}
.elementor-21544 .elementor-element.elementor-element-d9519fe .elementor-button:hover svg,
.elementor-21544 .elementor-element.elementor-element-d9519fe .elementor-button:focus svg {
  fill: #333;
}
.elementor-21544 .elementor-element.elementor-element-d9519fe > .elementor-widget-container {
  margin: 15px 0 0;
}
@media (max-width: 1024px) {
  .elementor-21544 .elementor-element.elementor-element-dddbde2 .elementor-heading-title {
    font-size: 30px;
    line-height: 38px;
  }
  .elementor-21544 .elementor-element.elementor-element-f1dacb9 {
    font-size: 14px;
  }
}
@media (min-width: 781px) {
  .elementor-21544 .elementor-element.elementor-element-e2c533b {
    width: 60.874%;
  }
  .elementor-21544 .elementor-element.elementor-element-a446d71 {
    width: 39.126%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-21544 .elementor-element.elementor-element-e2c533b {
    width: 70%;
  }
  .elementor-21544 .elementor-element.elementor-element-a446d71 {
    width: 20%;
  }
}
@media (max-width: 780px) {
  .elementor-21544 .elementor-element.elementor-element-281ed7b > .elementor-container {
    min-height: 660px;
  }
  .elementor-21544 .elementor-element.elementor-element-281ed7b {
    padding: 0;
  }
  .elementor-21544 .elementor-element.elementor-element-e2c533b.elementor-column > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-21544 .elementor-element.elementor-element-e2c533b > .elementor-element-populated {
    margin: -20px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 10px;
  }
  .elementor-21544 .elementor-element.elementor-element-5f4241e {
    width: auto;
    max-width: auto;
  }
  .elementor-21544 .elementor-element.elementor-element-dddbde2 {
    text-align: center;
  }
  .elementor-21544 .elementor-element.elementor-element-dddbde2 .elementor-heading-title {
    font-size: 27px;
    line-height: 33px;
  }
  .elementor-21544 .elementor-element.elementor-element-f1dacb9 {
    text-align: center;
  }
  .elementor-21544 .elementor-element.elementor-element-a446d71 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  section.elementor-element-281ed7b {
    background-position-x: 82% !important;
  }
  .elementor-element-281ed7b .elementor-container.elementor-column-gap-wide {
    align-content: flex-start !important;
  }
  .elementor-element.elementor-element-dddbde2 .elementor-heading-title br {
    display: none;
  }
}
