.elementor-44242 .elementor-element.elementor-element-5509d01 > .elementor-container {
  max-width: 1280px;
}
.elementor-44242 .elementor-element.elementor-element-5509d01 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-44242 .elementor-element.elementor-element-5509d01 {
  padding: 100px 0;
}
.elementor-44242 .elementor-element.elementor-element-3df6293 .elementor-heading-title {
  color: #183d6d;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
.elementor-44242 .elementor-element.elementor-element-514581e {
  color: #6a7687;
}
.elementor-44242
  .elementor-element.elementor-element-b3f7ff4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-44242 .elementor-element.elementor-element-96a2b0e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  fill: #f2672a;
  color: #f2672a;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 10px;
  padding: 6px 30px;
}
.elementor-44242 .elementor-element.elementor-element-96a2b0e .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-96a2b0e .elementor-button:focus {
  color: #ff8055;
  border-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-96a2b0e .elementor-button:hover svg,
.elementor-44242 .elementor-element.elementor-element-96a2b0e .elementor-button:focus svg {
  fill: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-18a2879 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 10px;
  padding: 6px 30px;
}
.elementor-44242 .elementor-element.elementor-element-18a2879 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-18a2879 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-ab2a6a6 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-44242 .elementor-element.elementor-element-067ed95 > .elementor-container {
  max-width: 1280px;
}
.elementor-44242 .elementor-element.elementor-element-067ed95:not(.elementor-motion-effects-element-type-background),
.elementor-44242 .elementor-element.elementor-element-067ed95 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 0%, #f8f8f8 100%);
}
.elementor-44242 .elementor-element.elementor-element-067ed95 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-44242 .elementor-element.elementor-element-067ed95 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-44242 .elementor-element.elementor-element-ab13224 {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-ab13224 .elementor-heading-title {
  color: #183d6d;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.elementor-44242 .elementor-element.elementor-element-9ae4ff7 {
  text-align: center;
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-9ae4ff7 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-44242 .elementor-element.elementor-element-34c481a img {
  width: 100%;
}
.elementor-44242 .elementor-element.elementor-element-df7de67 > .elementor-container {
  max-width: 1280px;
}
.elementor-44242 .elementor-element.elementor-element-df7de67 {
  padding: 60px 0;
}
.elementor-44242 .elementor-element.elementor-element-018d07e {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-018d07e .elementor-heading-title {
  color: #183d6d;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.elementor-44242 .elementor-element.elementor-element-84380bb {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-44242 .elementor-element.elementor-element-6990bdf > .elementor-element-populated {
  padding: 20px 20px 20px 0;
}
.elementor-44242 .elementor-element.elementor-element-a5c15d9 .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-df5031e {
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-7537845 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  padding: 7px 30px;
}
.elementor-44242 .elementor-element.elementor-element-7537845 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-7537845 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-d4db5de > .elementor-element-populated {
  padding: 20px 0 20px 20px;
}
.elementor-44242 .elementor-element.elementor-element-98a0baf {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-44242 .elementor-element.elementor-element-862ab02 > .elementor-element-populated {
  padding: 20px 20px 20px 0;
}
.elementor-44242 .elementor-element.elementor-element-3154867 > .elementor-element-populated {
  padding: 20px 0 20px 20px;
}
.elementor-44242 .elementor-element.elementor-element-8df0ab2 .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-d26f61b {
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-d8be030 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  padding: 7px 30px;
}
.elementor-44242 .elementor-element.elementor-element-d8be030 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-d8be030 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-82e746b {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-44242 .elementor-element.elementor-element-be98375 > .elementor-element-populated {
  padding: 20px 20px 20px 0;
}
.elementor-44242 .elementor-element.elementor-element-2366ca3 .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-29cf136 {
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-bab2396 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  padding: 7px 30px;
}
.elementor-44242 .elementor-element.elementor-element-bab2396 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-bab2396 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-0d6d473 > .elementor-element-populated {
  padding: 20px 0 20px 20px;
}
.elementor-44242 .elementor-element.elementor-element-c166e9d > .elementor-element-populated {
  padding: 20px 20px 20px 0;
}
.elementor-44242 .elementor-element.elementor-element-f22cdc7 > .elementor-element-populated {
  padding: 20px 0 20px 20px;
}
.elementor-44242 .elementor-element.elementor-element-1e3db5c .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-99ff00e {
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-b0d32e6 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  padding: 7px 30px;
}
.elementor-44242 .elementor-element.elementor-element-b0d32e6 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-b0d32e6 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-07ab386 > .elementor-container {
  max-width: 1280px;
}
.elementor-44242 .elementor-element.elementor-element-07ab386:not(.elementor-motion-effects-element-type-background),
.elementor-44242 .elementor-element.elementor-element-07ab386 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-44242 .elementor-element.elementor-element-07ab386 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-44242 .elementor-element.elementor-element-07ab386 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-44242 .elementor-element.elementor-element-1b1d7c6 {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-1b1d7c6 .elementor-heading-title {
  color: #183d6d;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.elementor-44242 .elementor-element.elementor-element-eff9972 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-44242 .elementor-element.elementor-element-b93d391 img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.elementor-44242 .elementor-element.elementor-element-cd2563c {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-cd2563c .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-1bb90dc {
  text-align: center;
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-a935bf1 img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.elementor-44242 .elementor-element.elementor-element-efff1bc {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-efff1bc .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-e559d14 {
  text-align: center;
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-58382ea img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.elementor-44242 .elementor-element.elementor-element-631c22c {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-631c22c .elementor-heading-title {
  color: #183d6d;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.elementor-44242 .elementor-element.elementor-element-a931e12 {
  text-align: center;
  color: #6a7687;
}
.elementor-44242 .elementor-element.elementor-element-44ef093 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  padding: 7px 30px;
}
.elementor-44242 .elementor-element.elementor-element-44ef093 .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-44ef093 .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-1cfca7e > .elementor-container {
  max-width: 1280px;
}
.elementor-44242 .elementor-element.elementor-element-1cfca7e:not(.elementor-motion-effects-element-type-background),
.elementor-44242 .elementor-element.elementor-element-1cfca7e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #24282d;
}
.elementor-44242 .elementor-element.elementor-element-1cfca7e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-44242 .elementor-element.elementor-element-1cfca7e > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-44242 .elementor-element.elementor-element-028b6b6 img {
  width: 233px;
}
.elementor-44242 .elementor-element.elementor-element-b71830c {
  text-align: center;
}
.elementor-44242 .elementor-element.elementor-element-b71830c .elementor-heading-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.elementor-44242 .elementor-element.elementor-element-c6bcb01 {
  text-align: center;
  color: #fff;
}
.elementor-44242
  .elementor-element.elementor-element-1da4cd9
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-44242 .elementor-element.elementor-element-7de53ae .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2672a;
  border-radius: 10px;
  padding: 6px 30px;
}
.elementor-44242 .elementor-element.elementor-element-7de53ae .elementor-button:hover,
.elementor-44242 .elementor-element.elementor-element-7de53ae .elementor-button:focus {
  background-color: #ff8055;
}
.elementor-44242 .elementor-element.elementor-element-101e7f3 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  fill: #fff;
  color: #fff;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
  padding: 6px 30px;
}
@media (max-width: 1024px) {
  .elementor-44242 .elementor-element.elementor-element-3df6293 .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-44242
    .elementor-element.elementor-element-b3f7ff4
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-44242 .elementor-element.elementor-element-ab13224 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-44242 .elementor-element.elementor-element-018d07e .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-44242 .elementor-element.elementor-element-a5c15d9 .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-8df0ab2 .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-2366ca3 .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-1e3db5c .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-1b1d7c6 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-44242 .elementor-element.elementor-element-cd2563c .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-efff1bc .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-631c22c .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-44242 .elementor-element.elementor-element-b71830c .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-44242
    .elementor-element.elementor-element-1da4cd9
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
}
@media (max-width: 780px) {
  .elementor-44242 .elementor-element.elementor-element-5509d01 {
    padding: 40px 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-3df6293 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
  }
  .elementor-44242
    .elementor-element.elementor-element-b3f7ff4
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-44242 .elementor-element.elementor-element-067ed95 {
    padding: 40px 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-ab13224 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-44242 .elementor-element.elementor-element-9ae4ff7 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-df7de67 {
    padding: 40px 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-018d07e .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-44242 .elementor-element.elementor-element-6990bdf > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-a5c15d9 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-a5c15d9 .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-df5031e {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-d4db5de > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-862ab02 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-3154867 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-8df0ab2 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-8df0ab2 .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-d26f61b {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-be98375 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-2366ca3 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-2366ca3 .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-29cf136 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-0d6d473 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-c166e9d > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-f22cdc7 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-1e3db5c {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-1e3db5c .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-99ff00e {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-07ab386 {
    padding: 40px 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-1b1d7c6 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-44242 .elementor-element.elementor-element-d9bb5c1 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-cd2563c .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-1bb90dc {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-a2edd44 > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-efff1bc .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-e559d14 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-5948ebf > .elementor-element-populated {
    padding: 20px 0;
  }
  .elementor-44242 .elementor-element.elementor-element-631c22c .elementor-heading-title {
    font-size: 20px;
    line-height: 28px;
  }
  .elementor-44242 .elementor-element.elementor-element-a931e12 {
    text-align: center;
  }
  .elementor-44242 .elementor-element.elementor-element-1cfca7e {
    padding: 40px 0 20px;
  }
  .elementor-44242 .elementor-element.elementor-element-b71830c .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-44242 .elementor-element.elementor-element-c6bcb01 {
    text-align: center;
  }
  .elementor-44242
    .elementor-element.elementor-element-1da4cd9
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
}
.button-wrapper .elementor-widget-wrap {
  margin: -5px;
}
.button-wrapper .elementor-widget-wrap > .elementor-element {
  width: auto;
  padding: 5px;
}
@media (max-width: 767px) {
  .button-wrapper .elementor-widget-wrap > .elementor-element {
    width: 100%;
  }
}
.button-wrapper2 .elementor-widget-wrap {
  margin: -5px;
  justify-content: center;
}
.button-wrapper2 .elementor-widget-wrap > .elementor-element {
  width: auto;
  padding: 5px;
}
@media (max-width: 767px) {
  .button-wrapper2 .elementor-widget-wrap > .elementor-element {
    width: 100%;
  }
}
.video-wrapper {
  width: 100%;
  min-height: 320px;
  position: relative;
  margin: -10px;
}
.video-wrapper video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  max-width: 1000%;
}
.button-copytrade .elementor-button {
  min-width: 190px;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
