.elementor-27869 .elementor-element.elementor-element-96c4b2b:not(.elementor-motion-effects-element-type-background),
.elementor-27869 .elementor-element.elementor-element-96c4b2b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27869 .elementor-element.elementor-element-96c4b2b {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-96c4b2b > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27869
  .elementor-element.elementor-element-10d63d4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-27869 .elementor-element.elementor-element-10d63d4 > .elementor-element-populated {
  padding: 0;
}
.elementor-27869 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-27869 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-27869 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/markets-herobanner-1.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-27869 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
}
.elementor-27869 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
}
.elementor-27869 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-27869 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-27869 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27869 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-02a349e > .elementor-container {
  max-width: 1030px;
}
.elementor-27869 .elementor-element.elementor-element-f3d4426 img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-f1626b4 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-f1626b4 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-915f574 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-daec7e7 img {
  width: 66px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-7fa36c2 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-7fa36c2 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-d2547fb {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-94e9c02 img {
  width: 60px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-7411bc6 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-7411bc6 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-98347ec {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-5ccd1b4 img {
  width: 56px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-0574d9b {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-0574d9b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-4e80c66 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-faa1935 img {
  width: 56px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-27a6b6c {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-27a6b6c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-087cda1 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-5772c22 img {
  width: 56px;
  height: 65px;
  object-fit: contain;
}
.elementor-27869 .elementor-element.elementor-element-111b326 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-111b326 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-5bec9f8 {
  text-align: center;
}
.elementor-27869 .elementor-element.elementor-element-6ba244e > .elementor-container {
  max-width: 860px;
}
.elementor-27869 .elementor-element.elementor-element-6ba244e {
  padding: 60px 0;
}
.elementor-27869 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-8654fac {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-8654fac > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27869 .elementor-element.elementor-element-7ac8d7c .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-41c3cd9 {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-41c3cd9 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27869 .elementor-element.elementor-element-5e85ac5 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-9042f97 {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-9042f97 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27869 .elementor-element.elementor-element-b85e0fd .elementor-heading-title {
  color: #0f2c52;
}
.elementor-27869 .elementor-element.elementor-element-b96ef0f {
  color: #4c4c4c;
}
.elementor-27869 .elementor-element.elementor-element-371f9316 > .elementor-container {
  max-width: 1180px;
}
.elementor-27869 .elementor-element.elementor-element-371f9316 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27869 .elementor-element.elementor-element-371f9316 {
  padding: 80px 0 50px;
}
.elementor-27869 .elementor-element.elementor-element-7315156e > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27869 .elementor-element.elementor-element-44a3e3d3:not(.elementor-motion-effects-element-type-background),
.elementor-27869 .elementor-element.elementor-element-44a3e3d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-27869 .elementor-element.elementor-element-44a3e3d3,
.elementor-27869 .elementor-element.elementor-element-44a3e3d3 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-27869 .elementor-element.elementor-element-44a3e3d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 0;
}
.elementor-27869 .elementor-element.elementor-element-44a3e3d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-6a8c64f7 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-27869 .elementor-element.elementor-element-23744096 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27869 .elementor-element.elementor-element-6474f48b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-27869 .elementor-element.elementor-element-6474f48b > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27869
  .elementor-element.elementor-element-870f53c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-27869
  .elementor-element.elementor-element-870f53c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl) .elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-27869 .elementor-element.elementor-element-870f53c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27869 .elementor-element.elementor-element-870f53c .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (max-width: 1024px) {
  .elementor-27869 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27869 .elementor-element.elementor-element-8654fac > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27869 .elementor-element.elementor-element-41c3cd9 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27869 .elementor-element.elementor-element-9042f97 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27869 .elementor-element.elementor-element-371f9316 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-27869 .elementor-element.elementor-element-1c0d431 {
    width: 64.369%;
  }
  .elementor-27869 .elementor-element.elementor-element-b7fa669 {
    width: 35.39%;
  }
}
@media (max-width: 780px) {
  .elementor-27869 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-27869 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27869 .elementor-element.elementor-element-6ba244e {
    padding: 40px 0 20px;
  }
  .elementor-27869 .elementor-element.elementor-element-8654fac > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27869 .elementor-element.elementor-element-41c3cd9 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27869 .elementor-element.elementor-element-9042f97 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27869 .elementor-element.elementor-element-371f9316 {
    padding: 20px 0 30px;
  }
  .elementor-27869 .elementor-element.elementor-element-7315156e > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27869 .elementor-element.elementor-element-23744096 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27869 .elementor-element.elementor-element-6474f48b > .elementor-widget-container {
    margin: 5px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
