.elementor-18251 .elementor-element.elementor-element-0086637 > .elementor-container {
  max-width: 1280px;
}
.elementor-18251 .elementor-element.elementor-element-0086637:not(.elementor-motion-effects-element-type-background),
.elementor-18251 .elementor-element.elementor-element-0086637 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18251 .elementor-element.elementor-element-0086637 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18251 .elementor-element.elementor-element-0086637 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18251 .elementor-element.elementor-element-0a23672 > .elementor-element-populated {
  padding: 0;
}
.elementor-18251 .elementor-element.elementor-element-ef228b4 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-18251 .elementor-element.elementor-element-ef228b4:not(.elementor-motion-effects-element-type-background),
.elementor-18251 .elementor-element.elementor-element-ef228b4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/aboutus-contactus-herobanner-new.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-18251 .elementor-element.elementor-element-ef228b4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18251 .elementor-element.elementor-element-ef228b4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18251 .elementor-element.elementor-element-0b009b1 .elementor-heading-title {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-6aa8a81 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-18251 .elementor-element.elementor-element-0e388d8 > .elementor-container {
  max-width: 860px;
}
.elementor-18251 .elementor-element.elementor-element-0e388d8 {
  padding: 60px 0 0;
}
.elementor-18251 .elementor-element.elementor-element-586aa07 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-18251 .elementor-element.elementor-element-b33cb8f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-18251 .elementor-element.elementor-element-b33cb8f > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 20px;
}
body:not(.rtl) .elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 20px;
}
body .elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 20px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-group > label,
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-subgroup label {
  color: #4c4c4c;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-type-html {
  padding-bottom: 0;
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 51px;
}
.elementor-18251
  .elementor-element.elementor-element-7bcbac1
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18251
  .elementor-element.elementor-element-7bcbac1
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-18251
  .elementor-element.elementor-element-7bcbac1
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .gloo-signature-button-clear {
  border-radius: 3px;
}
.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  background-color: #ddd;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: #ddd !important;
}
.iti--allow-dropdown .iti__arrow {
  border-top-color: #000;
}
.elementor-18251
  .elementor-element.elementor-element-7bcbac1
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-18251 .elementor-element.elementor-element-7bcbac1 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-18251 .elementor-element.elementor-element-b92ce2f > .elementor-widget-container {
  padding: 0;
}
.elementor-18251 .elementor-element.elementor-element-ce749ce .elementor-heading-title {
  color: #24282d;
}
.elementor-18251 .elementor-element.elementor-element-ce749ce > .elementor-widget-container {
  padding: 40px 0 0;
}
.elementor-18251 .elementor-element.elementor-element-8ca3bf6 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-18251 .elementor-element.elementor-element-8ca3bf6 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-18251 .elementor-element.elementor-element-f670f22 > .elementor-container {
  max-width: 860px;
}
.elementor-18251 .elementor-element.elementor-element-81b1651 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 100px;
  padding: 15px 35px;
}
.elementor-18251 .elementor-element.elementor-element-81b1651 .elementor-button:hover,
.elementor-18251 .elementor-element.elementor-element-81b1651 .elementor-button:focus {
  background-color: var(--e-global-color-primary);
}
.elementor-18251 .elementor-element.elementor-element-444d8b1 {
  padding: 40px 0;
}
@media (max-width: 1024px) {
  .elementor-18251 .elementor-element.elementor-element-6aa8a81 {
    font-size: 16px;
  }
}
@media (min-width: 781px) {
  .elementor-18251 .elementor-element.elementor-element-6decbb6 {
    width: 64.369%;
  }
  .elementor-18251 .elementor-element.elementor-element-1f11b6f {
    width: 35.39%;
  }
}
#contact-btn1 {
  display: none;
}
#contact_us .select-caret-down-wrapper {
  display: none;
}
#contact_us .elementor-select-wrapper.remove-before:before {
  content: '\e92a' !important;
}
.contact-info .elementor-widget-container {
  display: inline-block;
}
.temponly .addressBox {
  display: none;
}
.temponly ul,
.temponly li {
  list-style: none;
}
.temponly ul > li:first-child {
  font-weight: 700;
  font-style: bold;
}
.temponly ul > li:first-child {
  float: left;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-right: 20px;
}
.temponly ul > li:last-child {
  float: left;
  font-size: 16px;
  margin: 0;
  max-width: 80%;
}
.temponly .fullwidth {
  float: left;
  width: 100%;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
