.elementor-34817 .elementor-element.elementor-element-58f27fe:not(.elementor-motion-effects-element-type-background),
.elementor-34817 .elementor-element.elementor-element-58f27fe > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-34817 .elementor-element.elementor-element-58f27fe {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-58f27fe > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-34817
  .elementor-element.elementor-element-4875121
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-34817 .elementor-element.elementor-element-4875121 > .elementor-element-populated {
  padding: 0;
}
.elementor-34817 .elementor-element.elementor-element-9a4570d > .elementor-container {
  max-width: 1030px;
  min-height: 500px;
}
.elementor-34817 .elementor-element.elementor-element-9a4570d:not(.elementor-motion-effects-element-type-background),
.elementor-34817 .elementor-element.elementor-element-9a4570d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-34817 .elementor-element.elementor-element-9a4570d {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-9a4570d > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-4b3e862 .elementor-heading-title {
  color: #fff;
}
.elementor-34817 .elementor-element.elementor-element-93d8f04 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-3a3ceb5 > .elementor-container {
  max-width: 860px;
}
.elementor-34817 .elementor-element.elementor-element-3a3ceb5 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.elementor-34817 .elementor-element.elementor-element-6e8bad8 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-876dfdd {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-b0031e5 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-b0031e5 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-34817 .elementor-element.elementor-element-037d985 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-dc02090 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-dc02090 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-34817 .elementor-element.elementor-element-a5d1db5 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-973f702 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-d7a56fa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-47017dc > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-bd6bacf {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-5d64a4c > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-c0d2708 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-d0f30e9 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-f27935c {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-ccdd969 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-ccdd969 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-34817 .elementor-element.elementor-element-7883a82 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-09029f9 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-6a2cb8a .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-933ae3e > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-cda8226 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-be97b08 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-840b234 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-2c93242 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-64a2e19 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-91efdc8 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-91efdc8 > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-34817 .elementor-element.elementor-element-543c447 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-be8c370 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elementor-34817 .elementor-element.elementor-element-7212402 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-baf69ef .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-4a616b0 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-f4be640 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-d31d481 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-148c6d0 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-0429478 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-2fa3127 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-7c40312 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.elementor-34817 .elementor-element.elementor-element-52c152e > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-c679d1d .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-190f491 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-83aae6b {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-43695bb > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-f262006 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-c640fce > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-8634f16 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-61315a6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elementor-34817 .elementor-element.elementor-element-7ca4bb6 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-73130ad .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-ba762f6 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-f540f27 {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-a825e3c > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-3d1022c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-57cd2d8 > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-9b4a6be {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-299885e {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elementor-34817 .elementor-element.elementor-element-f98361f > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-4a9b753 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.elementor-34817 .elementor-element.elementor-element-64107ba > .elementor-widget-container {
  margin: 0;
}
.elementor-34817 .elementor-element.elementor-element-70f1e8b {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.elementor-34817 .elementor-element.elementor-element-2116fc6 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-34817 .elementor-element.elementor-element-381aac1 > .elementor-container {
  max-width: 860px;
}
.elementor-34817 .elementor-element.elementor-element-3dfef8f .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-ec368bb {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-d8495ba > .elementor-container {
  max-width: 1280px;
}
.elementor-34817 .elementor-element.elementor-element-d8495ba > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-34817 .elementor-element.elementor-element-54a49fd {
  --spacer-size: 50px;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-accordion-item {
  border-width: 0;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-icon,
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-34817 .elementor-element.elementor-element-e4d268a .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-808175a {
  --spacer-size: 50px;
}
.elementor-34817 .elementor-element.elementor-element-3d28a6d > .elementor-container {
  max-width: 860px;
}
.elementor-34817 .elementor-element.elementor-element-63d7666 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-55e695f {
  --spacer-size: 50px;
}
.elementor-34817 .elementor-element.elementor-element-7a61b41 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-34817 .elementor-element.elementor-element-7a61b41:not(.elementor-motion-effects-element-type-background),
.elementor-34817 .elementor-element.elementor-element-7a61b41 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
}
.elementor-34817 .elementor-element.elementor-element-7a61b41 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 15px;
}
.elementor-34817 .elementor-element.elementor-element-7a61b41 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-8237530 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-34817 .elementor-element.elementor-element-6554b43 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-34817 .elementor-element.elementor-element-92324c5 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-34817 .elementor-element.elementor-element-f65c816 > .elementor-container {
  max-width: 1180px;
}
.elementor-34817 .elementor-element.elementor-element-f65c816 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-34817 .elementor-element.elementor-element-f65c816 {
  padding: 80px 0 50px;
}
.elementor-34817 .elementor-element.elementor-element-408061d9 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-34817 .elementor-element.elementor-element-5e6676b1:not(.elementor-motion-effects-element-type-background),
.elementor-34817 .elementor-element.elementor-element-5e6676b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-34817 .elementor-element.elementor-element-5e6676b1,
.elementor-34817 .elementor-element.elementor-element-5e6676b1 > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-34817 .elementor-element.elementor-element-5e6676b1 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-34817 .elementor-element.elementor-element-5e6676b1 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-7adbf435 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 50px;
}
.elementor-34817 .elementor-element.elementor-element-7adbf435 > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-34817 .elementor-element.elementor-element-502da968 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 400;
  line-height: 50px;
}
.elementor-34817 .elementor-element.elementor-element-502da968 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-34817
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-34817
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-34817
  .elementor-element.elementor-element-1df3ca88
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-34817 .elementor-element.elementor-element-1df3ca88 .elementor-icon-list-text {
  color: #24282d;
  transition: color 0.3s;
}
:root {
  --page-title-display: none;
}
@media (max-width: 780px) {
  .elementor-34817 .elementor-element.elementor-element-93d8f04 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-876dfdd {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-037d985 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-a5d1db5 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-7883a82 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-543c447 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-ec368bb {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-63d7666 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-34817 .elementor-element.elementor-element-6554b43 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 781px) {
  .elementor-34817 .elementor-element.elementor-element-b46bb77 {
    width: 65%;
  }
  .elementor-34817 .elementor-element.elementor-element-58bd6c6 {
    width: 35%;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
