.elementor-20952 .elementor-element.elementor-element-daf170b:not(.elementor-motion-effects-element-type-background),
.elementor-20952 .elementor-element.elementor-element-daf170b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-20952 .elementor-element.elementor-element-daf170b {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-20952 .elementor-element.elementor-element-daf170b > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-20952
  .elementor-element.elementor-element-8d6859c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-20952 .elementor-element.elementor-element-8d6859c > .elementor-element-populated {
  padding: 0;
}
.elementor-20952 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 500px;
}
.elementor-20952 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-20952 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_bitcoin_4k-scaled.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-20952 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-20952 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-20952 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-20952 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-20952 .elementor-element.elementor-element-3a5b626 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-3a5b626 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-20952 .elementor-element.elementor-element-f24354b > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-20952 .elementor-element.elementor-element-f5198f3 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-4385591 {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-20952 .elementor-element.elementor-element-064d64e {
  padding: 60px 0 0;
}
.elementor-20952 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-20952 .elementor-element.elementor-element-c94dd19 img {
  height: 49px;
}
.elementor-20952 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-9cf1d30 img {
  height: 49px;
}
.elementor-20952 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-c4af8ac img {
  height: 49px;
}
.elementor-20952 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-a51b8c7 > .elementor-container {
  max-width: 1280px;
}
.elementor-20952 .elementor-element.elementor-element-a51b8c7 {
  padding: 60px 0;
}
.elementor-20952 .elementor-element.elementor-element-beace4b {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-beace4b .elementor-heading-title {
  color: #0f2c52;
}
.elementor-20952 .elementor-element.elementor-element-b02b7e9 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-20952 .elementor-element.elementor-element-73cbdcf > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-73cbdcf > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-73cbdcf > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-5da0853 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-d7cb892 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-d7cb892 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-d7cb892 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-2571765 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-9097e10 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-9097e10 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-9097e10 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-0522089 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-6bc8360 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-6bc8360 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-6bc8360 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-3aca836 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-5c652a1 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-5c652a1 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-5c652a1 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-e25ed38 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-a49a89f > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-a49a89f > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-a49a89f > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-745d6b5 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-3bccd08 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-3bccd08 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-3bccd08 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-81695fb img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-e92fda7 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-e92fda7 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-e92fda7 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-602f2ed img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-2031791 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-20952 .elementor-element.elementor-element-f132a5e > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-f132a5e > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-f132a5e > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-53317c9 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-742407a > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-742407a > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-742407a > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-46c43ac img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-c328365 > .elementor-element-populated,
.elementor-20952 .elementor-element.elementor-element-c328365 > .elementor-element-populated > .elementor-background-overlay,
.elementor-20952 .elementor-element.elementor-element-c328365 > .elementor-background-slideshow {
  border-radius: 5px;
}
.elementor-20952 .elementor-element.elementor-element-29be805 img {
  width: 228px;
}
.elementor-20952 .elementor-element.elementor-element-4756d3e .elementor-main-swiper {
  height: 140px;
  width: 80%;
}
.elementor-20952 .elementor-element.elementor-element-4756d3e .elementor-main-swiper .elementor-carousel-image {
  background-size: contain;
}
.elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px;
}
.elementor-20952 .elementor-element.elementor-element-4756d3e .elementor-swiper-button {
  font-size: 20px;
}
.elementor-20952 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-20952 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-20952 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-20952 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-20952 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-20952 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-20952 .elementor-element.elementor-element-68249e6 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-20952 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-20952 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-20952 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-20952 .elementor-element.elementor-element-f9994bd .elementor-heading-title {
  color: #0f2c52;
}
.elementor-20952 .elementor-element.elementor-element-a7757fc {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-a7757fc > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-20952 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-20952 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-20952 .elementor-element.elementor-element-9acbe10 {
  text-align: center;
}
.elementor-20952 .elementor-element.elementor-element-9acbe10 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-20952 .elementor-element.elementor-element-911befd {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1366px) {
  .elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .elementor-20952 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-3a5b626 {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-f5198f3 {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-4385591 {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-73cbdcf > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-d7cb892 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-9097e10 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-6bc8360 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-5c652a1 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-a49a89f > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-3bccd08 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-e92fda7 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-f132a5e > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-742407a > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-c328365 > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-a7757fc > .elementor-widget-container {
    margin: 0 0 70px;
  }
}
@media (max-width: 880px) {
  .elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
  }
}
@media (max-width: 780px) {
  .elementor-20952 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 0;
  }
  .elementor-20952 .elementor-element.elementor-element-a51b8c7 {
    padding: 40px 0 20px;
  }
  .elementor-20952 .elementor-element.elementor-element-4756d3e.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
  }
  .elementor-20952 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-20952 .elementor-element.elementor-element-68249e6 {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-20952 .elementor-element.elementor-element-a7757fc {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-a7757fc > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-20952 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-20952 .elementor-element.elementor-element-911befd {
    font-size: 16px;
  }
}
@media (min-width: 781px) {
  .elementor-20952 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-20952 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
.brand .elementor-widget-container a {
  display: block;
  padding: 55px 25px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.brand .elementor-widget-container a:hover {
  box-shadow: 0 30px 60px 0 rgba(15, 45, 82, 0.1);
}
@media (max-width: 1024px) {
  .brand .elementor-widget-container a {
    padding: 30px 15px;
  }
}
@media (max-width: 767px) {
  .brand .elementor-widget-container a {
    padding: 15px;
  }
}
.brand-mobile .elementor-carousel-image {
  background-size: 240px auto !important;
  box-shadow: 0 30px 60px 0 rgba(15, 45, 82, 0.1);
  background-color: #fff;
  border-radius: 4px;
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
.scroll-stick {
  z-index: 2;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
