.elementor-16928 .elementor-element.elementor-element-a9af412:not(.elementor-motion-effects-element-type-background),
.elementor-16928 .elementor-element.elementor-element-a9af412 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-16928 .elementor-element.elementor-element-a9af412 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16928 .elementor-element.elementor-element-a9af412 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16928
  .elementor-element.elementor-element-b587a09
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-16928 .elementor-element.elementor-element-b587a09 > .elementor-element-populated {
  padding: 0;
}
.elementor-16928 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-16928 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-16928 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_ethereum_4k-scaled.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-16928 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-16928 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16928 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16928 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16928 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16928 .elementor-element.elementor-element-064d64e > .elementor-container {
  max-width: 1280px;
}
.elementor-16928 .elementor-element.elementor-element-064d64e {
  padding: 60px 0;
}
.elementor-16928 .elementor-element.elementor-element-40bc370 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-40bc370 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16928 .elementor-element.elementor-element-c94dd19 img {
  height: 50px;
}
.elementor-16928 .elementor-element.elementor-element-6bb2551 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-6bb2551 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16928 .elementor-element.elementor-element-046d14e {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-9cf1d30 img {
  height: 50px;
}
.elementor-16928 .elementor-element.elementor-element-5087197 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-5087197 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16928 .elementor-element.elementor-element-f809566 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-c4af8ac img {
  height: 50px;
}
.elementor-16928 .elementor-element.elementor-element-e5f7d89 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-e5f7d89 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16928 .elementor-element.elementor-element-33929b3 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-60eeb3f img {
  width: 70px;
  height: 50px;
  object-fit: fill;
}
.elementor-16928 .elementor-element.elementor-element-69bb1a9 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-69bb1a9 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-16928 .elementor-element.elementor-element-c2fc8f9 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-93250d3 > .elementor-container {
  max-width: 860px;
}
.elementor-16928 .elementor-element.elementor-element-93250d3:not(.elementor-motion-effects-element-type-background),
.elementor-16928 .elementor-element.elementor-element-93250d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_small_banner_4k-scaled.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-16928 .elementor-element.elementor-element-93250d3 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-16928 .elementor-element.elementor-element-93250d3 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-16928 .elementor-element.elementor-element-5790e32 {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-5790e32 .elementor-heading-title {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-5790e32 > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table {
  max-width: 100%;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table .table-header th {
  padding: 10px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td .th-mobile-screen {
  padding: 10px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th {
  color: #fff;
  background-color: #00000000;
  border-style: none;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table thead > tr th .data-table-header-text {
  font-size: 14px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n) td {
  color: #fff;
  background: #ffffff00;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #fff;
  background-color: #ffffff00;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3em;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-16928 .elementor-element.elementor-element-c0aa61c > .elementor-widget-container {
  border-radius: 10px;
}
.elementor-16928 .elementor-element.elementor-element-be57c36 {
  color: #fff;
}
.elementor-16928 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-16928 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-16928 .elementor-element.elementor-element-f9994bd {
  text-align: center;
}
.elementor-16928 .elementor-element.elementor-element-f9994bd .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16928 .elementor-element.elementor-element-a7757fc {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16928 .elementor-element.elementor-element-a7757fc > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16928 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16928 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-16928 .elementor-element.elementor-element-313d432 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16928 .elementor-element.elementor-element-9acbe10 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-16928 .elementor-element.elementor-element-911befd {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 781px) {
  .elementor-16928 .elementor-element.elementor-element-1c0d431 {
    width: 62.427%;
  }
  .elementor-16928 .elementor-element.elementor-element-b7fa669 {
    width: 37.526%;
  }
}
@media (max-width: 1024px) {
  .elementor-16928 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .elementor-16928 .elementor-element.elementor-element-064d64e {
    padding: 40px 0 20px;
  }
  .elementor-16928 .elementor-element.elementor-element-93250d3 {
    padding: 40px 0 20px;
  }
  .elementor-16928 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-16928 .elementor-element.elementor-element-a7757fc {
    font-size: 16px;
  }
  .elementor-16928 .elementor-element.elementor-element-a7757fc > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16928 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-16928 .elementor-element.elementor-element-313d432 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-16928 .elementor-element.elementor-element-911befd {
    font-size: 16px;
  }
}
.table-product th,
.table-product td {
  vertical-align: middle;
}
.table-product table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.table-product td {
  border-left: none !important;
}
.table-product td:nth-child(1) {
  border-left: 4px solid #f2672a !important;
  border-radius: 4px 0 0 4px;
}
.table-product td:last-child {
  border-radius: 0 4px 4px 0;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
