.elementor-33482 .elementor-element.elementor-element-5fdd17c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #0f2c52;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.elementor-33482 .elementor-element.elementor-element-5fdd17c .elementor-button:hover,
.elementor-33482 .elementor-element.elementor-element-5fdd17c .elementor-button:focus {
  background-color: #183d6d;
}
.open-demo-account-btn .elementor-button-wrapper a:hover,
.open-demo-account-btn .elementor-button-wrapper a:focus,
.open-demo-account-btn .elementor-button-wrapper a:active {
  background-color: transparent !important;
  border: 1px solid #0f2c52;
  color: #0f2c52;
}
