.elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta__content {
  text-align: center;
}
.elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta .elementor-cta__bg,
.elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
@media (max-width: 1200px) {
  .elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta__bg-wrapper {
    min-height: 147px;
  }
}
@media (max-width: 880px) {
  .elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta__bg-wrapper {
    min-height: 114px;
  }
}
@media (max-width: 780px) {
  .elementor-44782 .elementor-element.elementor-element-ae0420a .elementor-cta__bg-wrapper {
    min-height: 10vh;
  }
}
