.elementor-18093 .elementor-element.elementor-element-74d00cb {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18093 .elementor-element.elementor-element-74d00cb > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18093 .elementor-element.elementor-element-c09829b > .elementor-element-populated {
  padding: 40px;
}
.elementor-18093 .elementor-element.elementor-element-b33de3b {
  text-align: left;
}
.elementor-18093 .elementor-element.elementor-element-b33de3b img {
  width: 120px;
}
.elementor-18093 .elementor-element.elementor-element-8fbb8da {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
#elementor-popup-modal-18093 .dialog-message {
  width: 640px;
  height: auto;
}
#elementor-popup-modal-18093 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-18093 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-18093 .dialog-widget-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 780px) {
  .elementor-18093 .elementor-element.elementor-element-8fbb8da {
    font-size: 16px;
    line-height: 24px;
  }
  #elementor-popup-modal-18093 {
    justify-content: center;
    align-items: center;
  }
}
.uk-popup {
  border-radius: 10px;
}
