.elementor-18159 .elementor-element.elementor-element-8b94453,
.elementor-18159 .elementor-element.elementor-element-8b94453 > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-18159 .elementor-element.elementor-element-8b94453 {
  padding: 20px;
}
.elementor-18159 .elementor-element.elementor-element-8ef9aa8 {
  text-align: center;
}
.elementor-18159 .elementor-element.elementor-element-8ef9aa8 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 0;
}
body:not(.rtl) .elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 0;
}
body .elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 0;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-18159
  .elementor-element.elementor-element-33028b8
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159
  .elementor-element.elementor-element-33028b8
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-18159
  .elementor-element.elementor-element-33028b8
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .gloo-signature-button-clear {
  border-radius: 3px;
}
.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  background-color: #ddd;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: #ddd !important;
}
.iti--allow-dropdown .iti__arrow {
  border-top-color: #000;
}
.elementor-18159
  .elementor-element.elementor-element-33028b8
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-33028b8 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-edaa22a,
.elementor-18159 .elementor-element.elementor-element-edaa22a > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-18159 .elementor-element.elementor-element-edaa22a {
  padding: 20px;
}
.elementor-18159 .elementor-element.elementor-element-3c8d62b {
  text-align: center;
}
.elementor-18159 .elementor-element.elementor-element-3c8d62b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-18159 .elementor-element.elementor-element-e64386a .elementor-labels-inline .elementor-field-group > label {
  padding-left: 0;
}
body:not(.rtl) .elementor-18159 .elementor-element.elementor-element-e64386a .elementor-labels-inline .elementor-field-group > label {
  padding-right: 0;
}
body .elementor-18159 .elementor-element.elementor-element-e64386a .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 0;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-18159
  .elementor-element.elementor-element-e64386a
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159
  .elementor-element.elementor-element-e64386a
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-18159
  .elementor-element.elementor-element-e64386a
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-18159 .elementor-element.elementor-element-e64386a .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .gloo-signature-button-clear {
  border-radius: 3px;
}
.elementor-18159
  .elementor-element.elementor-element-e64386a
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-e64386a {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-94f741b,
.elementor-18159 .elementor-element.elementor-element-94f741b > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-18159 .elementor-element.elementor-element-94f741b {
  padding: 20px;
}
.elementor-18159 .elementor-element.elementor-element-fc3f6b1 {
  text-align: center;
}
.elementor-18159 .elementor-element.elementor-element-fc3f6b1 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-labels-inline .elementor-field-group > label {
  padding-left: 0;
}
body:not(.rtl) .elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-labels-inline .elementor-field-group > label {
  padding-right: 0;
}
body .elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 0;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-18159
  .elementor-element.elementor-element-4d92baa
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159
  .elementor-element.elementor-element-4d92baa
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-18159
  .elementor-element.elementor-element-4d92baa
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .gloo-signature-button-clear {
  border-radius: 3px;
}
.elementor-18159
  .elementor-element.elementor-element-4d92baa
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-4d92baa {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-6e0441c,
.elementor-18159 .elementor-element.elementor-element-6e0441c > .elementor-background-overlay {
  border-radius: 20px;
}
.elementor-18159 .elementor-element.elementor-element-6e0441c {
  padding: 20px;
}
.elementor-18159 .elementor-element.elementor-element-fc7cd28 {
  text-align: center;
}
.elementor-18159 .elementor-element.elementor-element-fc7cd28 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl .elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 0;
}
body:not(.rtl) .elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 0;
}
body .elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 0;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-18159
  .elementor-element.elementor-element-83f3635
  .elementor-field-type-radio.gloo-column-radio
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159
  .elementor-element.elementor-element-83f3635
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup:not(.elementor-subgroup-inline)
  .elementor-field-option {
  flex: 0 0 calc(100% / 2 - 10px);
  padding-inline: 8px;
  border: 1px solid #eee;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-column-radio .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-column-checkbox .elementor-field-subgroup {
  row-gap: 10px;
  column-gap: 10px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-type-radio.gloo-column-radio .elementor-field-subgroup .elementor-field-option,
.elementor-18159
  .elementor-element.elementor-element-83f3635
  .elementor-field-type-checkbox.gloo-column-checkbox
  .elementor-field-subgroup
  .elementor-field-option {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-signature-wrapper {
  --canvas-width: 400px;
  --canvas-height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-signature-wrapper > div {
  width: 400px;
  height: 200px;
}
.elementor-editor-active .elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-signature-wrapper canvas {
  height: 200px;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-signature-canvas {
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .gloo-signature-button-clear {
  border-radius: 3px;
}
.elementor-18159
  .elementor-element.elementor-element-83f3635
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-button[type='submit'] {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-button[type='submit'] svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .elementor-button[type='submit']:hover svg * {
  fill: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-18159 .elementor-element.elementor-element-83f3635 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
#elementor-popup-modal-18159 .dialog-message {
  width: 640px;
  height: auto;
}
#elementor-popup-modal-18159 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-18159 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-18159 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
