.elementor-33153 .elementor-element.elementor-element-a537559 {
  padding: 0 40px;
}
.elementor-33153 .elementor-element.elementor-element-6e06e59 .elementor-heading-title {
  color: #333;
  font-family: 'Muli', Sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.elementor-33153 .elementor-element.elementor-element-6e06e59 > .elementor-widget-container {
  padding: 0 10px;
}
.elementor-33153 .elementor-element.elementor-element-723ea4d {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tabs-wrapper {
  width: 20%;
}
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title:before,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title:after,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-content,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tabs-content-wrapper {
  border-width: 0;
}
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title a {
  color: #7d7d7d;
}
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title.elementor-active,
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title.elementor-active a {
  color: #0f2d52;
}
.elementor-33153 .elementor-element.elementor-element-670b242 .elementor-tab-title {
  font-family: 'Muli', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-33153 .elementor-element.elementor-element-687bc9e {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li {
  font-family: 'Muli', Sans-serif;
  background-color: #fff;
  color: #7d7d7d;
  border-style: solid;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li i {
  font-size: 16px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li img {
  width: 16px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li svg {
  width: 16px;
  height: 16px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-tab-inline-icon li .title-before-icon {
  margin-right: 10px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-tab-inline-icon li .title-after-icon {
  margin-left: 10px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-tab-top-icon li i,
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-tab-top-icon li img,
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-tab-top-icon li svg {
  margin-bottom: 10px;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li:hover {
  background-color: #fff;
  color: #333;
  border-style: solid;
  border-color: #0f2d52;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li.active {
  background-color: #fff;
  color: #0f2d52;
  border-style: solid;
  border-color: #0f2d52;
}
.elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-content > div {
  color: #333;
}
@media (max-width: 1024px) {
  .elementor-33153 .elementor-element.elementor-element-a537559 {
    padding: 0 20px;
  }
  .elementor-33153 .elementor-element.elementor-element-6e06e59 {
    text-align: center;
  }
  .elementor-33153 .elementor-element.elementor-element-6e06e59 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
  }
  .elementor-33153 .elementor-element.elementor-element-723ea4d {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-33153 .elementor-element.elementor-element-687bc9e {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 > .elementor-widget-container > .eael-advance-tabs > .eael-tabs-nav ul li {
    margin: 0;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li {
    border-width: 0 0 1px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li:hover {
    border-width: 0 0 2px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li.active {
    border-width: 0 0 2px;
  }
}
@media (max-width: 880px) {
  .elementor-33153 .elementor-element.elementor-element-687bc9e {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 > .elementor-widget-container > .eael-advance-tabs > .eael-tabs-nav ul li {
    margin: 0;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li {
    border-width: 0 0 1px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li:hover {
    border-width: 0 0 2px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li.active {
    border-width: 0 0 2px;
  }
}
@media (max-width: 780px) {
  .elementor-33153 .elementor-element.elementor-element-a537559 {
    padding: 0 30px;
  }
  .elementor-33153 .elementor-element.elementor-element-6e06e59 {
    text-align: center;
  }
  .elementor-33153 .elementor-element.elementor-element-723ea4d {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .elementor-33153 .elementor-element.elementor-element-687bc9e {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li {
    font-size: 14px;
    border-width: 0 0 1px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 > .elementor-widget-container > .eael-advance-tabs > .eael-tabs-nav ul li {
    padding: 5px 10px;
    margin: 0;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li:hover {
    border-width: 0 0 2px;
  }
  .elementor-33153 .elementor-element.elementor-element-c718301 .eael-advance-tabs .eael-tabs-nav > ul li.active {
    border-width: 0 0 2px;
  }
}
.elementor-tabs-wrapper {
  border-right: 1px solid #e2e2e2;
  min-height: 350px;
}
.elementor-tabs-wrapper .elementor-tab-title {
  text-align: right !important;
}
.elementor-tabs-wrapper .elementor-tab-title:hover {
  color: #333 !important;
  font-weight: 700 !important;
}
.elementor-tabs-wrapper .elementor-tab-title.elementor-active {
  border-right: 2px solid #0f2d52 !important;
  font-weight: 700 !important;
}
.trading-tabs .e-n-tabs-heading button.e-n-tab-title {
  background-color: transparent !important;
}
@media (min-width: 1025px) {
  .trading-tabs .e-n-tabs-heading {
    margin: 20px 10px 20px 0;
    border-right: 1px solid #e2e2e2;
  }
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title:active,
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'],
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'] a {
    border-right: 2px solid #0f2d52;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .trading-tabs .e-n-tabs-heading {
    margin: 10px 30px;
    border-bottom: 1px solid #e2e2e2;
  }
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title:active,
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'],
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'] a {
    border-bottom: 2px solid #0f2d52;
  }
}
@media (max-width: 767px) {
  .trading-tabs .e-n-tabs-heading {
    border-bottom: 1px solid #e2e2e2;
  }
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title:active,
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'],
  .trading-tabs .e-n-tabs-heading button.e-n-tab-title[aria-selected='true'] a {
    border-bottom: 2px solid #0f2d52;
  }
}
.eael-tabs-nav {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.eael-tabs-nav::-webkit-scrollbar {
  width: 0.5rem;
}
.eael-tabs-nav::-webkit-scrollbar-track {
  background-color: transparent;
}
.eael-tabs-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.eael-advance-tabs .eael-tabs-nav > ul {
  display: flex;
  flex-wrap: nowrap !important;
  padding: 0;
  list-style: none;
}
.eael-tabs-nav li {
  flex: 0 0 auto;
  padding: 10px;
  margin-right: 10px;
  justify-content: flex-end;
  background-color: transparent !important;
}
.eael-advance-tabs .eael-tabs-nav > ul li.active {
  border-bottom: 2px solid #0f2d52 !important;
  font-weight: 700 !important;
}
.eael-tabs-nav li span {
  white-space: nowrap !important;
}
@media (max-width: 767px) {
  .elementor-tab-content,
  .eael-tab-content-item {
    margin-bottom: 50vw !important;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
