.elementor-34052
  .elementor-element.elementor-element-116f73d
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-34052
  .elementor-element.elementor-element-db9bc15
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-34052 .elementor-element.elementor-element-1151f85 {
  padding: 50px 0;
}
.elementor-34052 .elementor-element.elementor-element-8c8fe48 > .elementor-widget-container {
  margin: 50px 0;
}
.elementor-34052 .elementor-element.elementor-element-1c7a8ff {
  padding: 50px 0;
}
.elementor-34052 .elementor-element.elementor-element-03efc2b {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
}
.elementor-34052 .elementor-element.elementor-element-7e72218 > .elementor-widget-container {
  padding: 50px 0;
}
.elementor-34052 .elementor-element.elementor-element-e0e0578 {
  padding: 70px 0 100px;
}
.elementor-34052 .elementor-element.elementor-element-0b0ddda {
  padding: 100px 0;
}
:root {
  --page-title-display: none;
}
