.elementor-31212 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-31212 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-31212 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31212 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31212 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31212 .elementor-element.elementor-element-d85ed70 > .elementor-element-populated {
  padding: 0;
}
.elementor-31212 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-31212 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-31212 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_gold_4k-scaled.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-31212 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31212 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31212 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31212 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31212 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-31212 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31212 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31212 .elementor-element.elementor-element-b5b4840 > .elementor-container {
  max-width: 1280px;
}
.elementor-31212 .elementor-element.elementor-element-b5b4840 {
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-a759bc1 {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-a759bc1 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-0d8b266 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31212 .elementor-element.elementor-element-0d8b266 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31212 .elementor-element.elementor-element-ba604fa img {
  width: 400px;
}
.elementor-31212 .elementor-element.elementor-element-ec45394 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31212 .elementor-element.elementor-element-ec45394 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31212 .elementor-element.elementor-element-bd19a5c img {
  width: 400px;
}
.elementor-31212 .elementor-element.elementor-element-30473d2 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31212 .elementor-element.elementor-element-30473d2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31212 .elementor-element.elementor-element-bc8d683 img {
  width: 400px;
}
.elementor-31212 .elementor-element.elementor-element-23b6106 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31212 .elementor-element.elementor-element-23b6106 {
  margin-top: 0;
  margin-bottom: 40px;
}
.elementor-31212 .elementor-element.elementor-element-889299b img {
  width: 400px;
}
.elementor-31212 .elementor-element.elementor-element-97ab63d > .elementor-container {
  max-width: 820px;
}
.elementor-31212 .elementor-element.elementor-element-97ab63d {
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px 0 0;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table {
  max-width: 100%;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table thead tr th {
  color: #fff;
  background-color: #000;
  border-style: none;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting:after {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting_asc:after {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting_desc:after {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table thead tr th:hover {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting:after:hover {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting_asc:after:hover {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 table.dataTable thead .sorting_desc:after:hover {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table thead tr th i {
  font-size: 20px;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table thead tr th .data-table-header-svg-icon {
  height: 20px;
  width: 20px;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody > tr:nth-child(2n) td {
  color: #24282d;
  background: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody > tr:nth-child(2n + 1) td {
  color: #24282d;
  background-color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody tr td {
  padding: 10px;
  font-size: 16px;
  line-height: 1.3em;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody > tr:nth-child(2n + 1) td:hover {
  color: #6d7882;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table-wrap table td a {
  color: #c15959;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table-wrap table td a:hover {
  color: #6d7882;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody .td-content-wrapper {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
  font-size: 20px;
  color: #c15959;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
  height: 20px;
  width: 20px;
  fill: #c15959;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
  color: #6d7882;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
  fill: #6d7882;
}
.elementor-31212 .elementor-element.elementor-element-9ef7ba5 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}
.elementor-31212 .elementor-element.elementor-element-123710c > .elementor-container {
  max-width: 860px;
}
.elementor-31212 .elementor-element.elementor-element-123710c:not(.elementor-motion-effects-element-type-background),
.elementor-31212 .elementor-element.elementor-element-123710c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/bg_herobanner_autochartist_lp.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-31212 .elementor-element.elementor-element-123710c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-123710c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31212 .elementor-element.elementor-element-8b38544 {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-8b38544 .elementor-heading-title {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-16aa2ae > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
  padding: 30px;
}
.elementor-31212 .elementor-element.elementor-element-e04eedc {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-e04eedc .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-31212 .elementor-element.elementor-element-f8edcd8 img {
  height: 100px;
  object-fit: contain;
}
.elementor-31212 .elementor-element.elementor-element-83f1fa4 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
  padding: 30px;
}
.elementor-31212 .elementor-element.elementor-element-a49ad52 {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-a49ad52 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31212 .elementor-element.elementor-element-7f3d0eb img {
  height: 100px;
  object-fit: contain;
}
.elementor-31212 .elementor-element.elementor-element-5dae2e0 > .elementor-container {
  max-width: 860px;
}
.elementor-31212 .elementor-element.elementor-element-5dae2e0 {
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-d20fdab .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-b459db6 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31212 .elementor-element.elementor-element-d95696b > .elementor-container {
  max-width: 1030px;
}
.elementor-31212 .elementor-element.elementor-element-d95696b {
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-75a2f94 {
  text-align: center;
}
.elementor-31212 .elementor-element.elementor-element-75a2f94 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-75a2f94 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31212 .elementor-element.elementor-element-9441d7a {
  text-align: left;
}
.elementor-31212 .elementor-element.elementor-element-9441d7a img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.elementor-31212 .elementor-element.elementor-element-e609399 {
  text-align: left;
}
.elementor-31212 .elementor-element.elementor-element-e609399 img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.elementor-31212 .elementor-element.elementor-element-cff95e3 {
  text-align: left;
}
.elementor-31212 .elementor-element.elementor-element-cff95e3 img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.elementor-31212 .elementor-element.elementor-element-6ba244e > .elementor-container {
  max-width: 860px;
}
.elementor-31212 .elementor-element.elementor-element-6ba244e {
  padding: 60px 0;
}
.elementor-31212 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-8654fac {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31212 .elementor-element.elementor-element-9bb07a7 > .elementor-container {
  max-width: 860px;
}
.elementor-31212 .elementor-element.elementor-element-9bb07a7 {
  padding: 60px 0 20px;
}
.elementor-31212 .elementor-element.elementor-element-58e59f1 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31212 .elementor-element.elementor-element-6415bc18 > .elementor-container {
  max-width: 1280px;
}
.elementor-31212 .elementor-element.elementor-element-6415bc18 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31212 .elementor-element.elementor-element-4020485e > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-accordion-item {
  border-width: 0;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-active .elementor-accordion-icon,
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 600;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-31212 .elementor-element.elementor-element-20cbe5ba .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
}
@media (min-width: 781px) {
  .elementor-31212 .elementor-element.elementor-element-1c0d431 {
    width: 64.369%;
  }
  .elementor-31212 .elementor-element.elementor-element-b7fa669 {
    width: 35.39%;
  }
}
@media (max-width: 1024px) {
  .elementor-31212 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .elementor-31212 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-bbedd10 {
    font-size: 16px;
  }
  .elementor-31212 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-31212 .elementor-element.elementor-element-b5b4840 {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-123710c {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-16aa2ae > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-31212 .elementor-element.elementor-element-e04eedc {
    text-align: left;
  }
  .elementor-31212 .elementor-element.elementor-element-f8edcd8 {
    text-align: left;
  }
  .elementor-31212 .elementor-element.elementor-element-83f1fa4 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-31212 .elementor-element.elementor-element-a49ad52 {
    text-align: left;
  }
  .elementor-31212 .elementor-element.elementor-element-7f3d0eb {
    text-align: left;
  }
  .elementor-31212 .elementor-element.elementor-element-5dae2e0 {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-b459db6 {
    font-size: 16px;
  }
  .elementor-31212 .elementor-element.elementor-element-d95696b {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-75fb9bf > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31212 .elementor-element.elementor-element-9441d7a {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-5716f34 {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-739cd74 > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31212 .elementor-element.elementor-element-e609399 {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-e34d48e {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-cff95e3 {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-941052e {
    text-align: center;
  }
  .elementor-31212 .elementor-element.elementor-element-6ba244e {
    padding: 40px 0 20px;
  }
  .elementor-31212 .elementor-element.elementor-element-8654fac {
    font-size: 16px;
  }
  .elementor-31212 .elementor-element.elementor-element-9bb07a7 {
    padding: 40px 0 20px;
  }
}
.table-type th,
.table-type td {
  vertical-align: middle;
}
.table-type th {
  width: 33.3%;
}
.table-type table {
  min-width: 600px;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .com-box .elementor-element-populated {
    transition: all 0.3s ease;
    border-radius: 6px;
  }
  .com-box .elementor-element-populated:hover {
    background-color: #fff;
  }
  .com-box .elementor-element-populated:hover .elementor-heading-title {
    color: #f2672a;
  }
}
@media (max-width: 767px) {
  .com-box .elementor-element-populated .elementor-heading-title {
    background: url(../../../../uploads/2023/06/arrow.webp) left center no-repeat;
    padding-left: 30px;
  }
}
.iframe-wrapper {
  position: relative;
  margin-bottom: 50px;
}
.iframe-wrapper-mobile {
  display: none;
}
.etf-table-wrapper .nt-text {
  overflow-x: auto;
}
.summary-table {
  width: -webkit-fill-available;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}
.summary-table table {
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0/16%);
  border-radius: 10px;
  overflow: hidden;
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  width: auto;
}
.summary-table th,
.summary-table td {
  vertical-align: middle;
  border: 0;
  max-width: 200px;
  min-width: 160px;
  height: 2.9375rem;
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
.summary-table th {
  color: #fff;
  background-color: #0f2c52;
  font-size: 18px;
  height: 4rem;
}
.summary-table.black-h th {
  background-color: #282e33;
}
.summary-table table tr:last-child td {
  padding-bottom: 10px;
}
@media (min-width: 1280px) {
  .iframe-wrapper {
    width: 1100px;
    margin-left: -140px;
  }
}
@media (max-width: 1279px) {
  .iframe-wrapper {
    overflow-x: scroll;
  }
  .iframe-wrapper iframe {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .iframe-wrapper-desktop {
    display: none;
  }
  .iframe-wrapper-mobile {
    display: block;
  }
  .summary-table {
    overflow-x: scroll;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('https://www.atfx.com/wp-content/uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
