.elementor-18347 .elementor-element.elementor-element-d6cde55:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-d6cde55 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18347 .elementor-element.elementor-element-d6cde55 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-d6cde55 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347
  .elementor-element.elementor-element-bf2f44b
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-18347 .elementor-element.elementor-element-bf2f44b > .elementor-element-populated {
  padding: 0;
}
.elementor-18347 .elementor-element.elementor-element-7c1dba4 > .elementor-container {
  max-width: 1100px;
  min-height: 400px;
}
.elementor-18347 .elementor-element.elementor-element-7c1dba4:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-7c1dba4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradingplatform-metatrader4-herobanner-v2.webp');
  background-position: center left;
  background-size: cover;
}
.elementor-18347 .elementor-element.elementor-element-7c1dba4 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-7c1dba4 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-433a406 .elementor-heading-title {
  color: #fff;
}
.elementor-18347 .elementor-element.elementor-element-f81458a {
  color: #fff;
}
.elementor-18347 .elementor-element.elementor-element-15ccde2 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-78cf01b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-42b4215 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-55a7806 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-248f33b .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2672a;
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-fde43f1 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--e-global-color-primary);
  padding: 15px 40px;
}
.elementor-18347 .elementor-element.elementor-element-f08a6c6 > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-f08a6c6:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-f08a6c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18347 .elementor-element.elementor-element-f08a6c6 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 0;
}
.elementor-18347 .elementor-element.elementor-element-f08a6c6 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-4bfba0c .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18347 .elementor-element.elementor-element-07d4a64 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-bc-flex-widget .elementor-18347 .elementor-element.elementor-element-348648f.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-18347
  .elementor-element.elementor-element-348648f.elementor-column.elementor-element[data-element_type='column']
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-18347 .elementor-element.elementor-element-65dea8c {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-65dea8c > .elementor-widget-container {
  margin: 40px 0 0;
}
.elementor-18347 .elementor-element.elementor-element-c44d30b > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-c44d30b {
  margin-top: 60px;
  margin-bottom: 60px;
}
.elementor-18347 .elementor-element.elementor-element-2a1fb83 {
  text-align: center;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-18347 .elementor-element.elementor-element-2a1fb83 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18347 .elementor-element.elementor-element-8e663aa {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-8e663aa > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18347 .elementor-element.elementor-element-a9a4481 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-83c3594 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-d3019ff .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-f2e0054 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-1af9247 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-ecbd3a0 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-b79b1a8 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-81a073b {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-d6d97fc .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-4de5c43 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-da5b7e8 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-8a78a23 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-bd21d9d .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-cf0dfdf {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-068b36c > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-068b36c:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-068b36c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18347 .elementor-element.elementor-element-068b36c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0;
}
.elementor-18347 .elementor-element.elementor-element-068b36c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-924ba88 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-924ba88 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18347 .elementor-element.elementor-element-924ba88 > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18347 .elementor-element.elementor-element-8d21d89 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-8d21d89 img {
  border-radius: 10px;
}
.elementor-18347 .elementor-element.elementor-element-8d21d89 > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18347 .elementor-element.elementor-element-5bfc7aa {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-5bfc7aa .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}
.elementor-18347 .elementor-element.elementor-element-5bfc7aa > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-18347 .elementor-element.elementor-element-60668ff {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-60668ff img {
  border-radius: 10px;
}
.elementor-18347 .elementor-element.elementor-element-60668ff > .elementor-widget-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-18347 .elementor-element.elementor-element-1294342 > .elementor-element-populated {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-a8f4ebb > .elementor-element-populated {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-1c583da > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-1c583da {
  margin-top: 70px;
  margin-bottom: 70px;
}
.elementor-18347 .elementor-element.elementor-element-3fbc7e8 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-3fbc7e8 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18347 .elementor-element.elementor-element-8b089fa > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18347 .elementor-element.elementor-element-d59b8ec {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-d59b8ec > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-18347 .elementor-element.elementor-element-e504aad img {
  width: 60px;
  max-width: 100%;
}
.elementor-18347 .elementor-element.elementor-element-9d6d0ed {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-9d6d0ed .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18347 .elementor-element.elementor-element-40716c7 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-64dcc39 img {
  width: 60px;
  max-width: 100%;
}
.elementor-18347 .elementor-element.elementor-element-cf76fe8 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-cf76fe8 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18347 .elementor-element.elementor-element-650f499 {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-d69ac4b img {
  width: 60px;
  max-width: 100%;
}
.elementor-18347 .elementor-element.elementor-element-59c564c {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-59c564c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-18347 .elementor-element.elementor-element-68aa4fc {
  text-align: center;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-b399db5 > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-b399db5:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-b399db5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-18347 .elementor-element.elementor-element-b399db5 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 60px 0;
}
.elementor-18347 .elementor-element.elementor-element-b399db5 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-b688222 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-b688222 .elementor-heading-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-18347 .elementor-element.elementor-element-184d3bf {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-82bd7b9 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-c2d3e0b {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-83459b8 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-3c43d2f {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-1111395 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-2ff87e0 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-599332c .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-52fd824 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-9ebcd32 .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-2cf427c {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-cd8baef .elementor-heading-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.elementor-18347 .elementor-element.elementor-element-5686736 {
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.elementor-18347 .elementor-element.elementor-element-9d5ce76 > .elementor-container {
  max-width: 860px;
}
.elementor-18347 .elementor-element.elementor-element-9d5ce76:not(.elementor-motion-effects-element-type-background),
.elementor-18347 .elementor-element.elementor-element-9d5ce76 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/Layer-1030.png');
  background-position: center center;
  background-size: cover;
}
.elementor-18347 .elementor-element.elementor-element-9d5ce76 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 90px 0 70px;
}
.elementor-18347 .elementor-element.elementor-element-9d5ce76 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-18347 .elementor-element.elementor-element-489620a > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18347 .elementor-element.elementor-element-b0331ea {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-b0331ea .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18347 .elementor-element.elementor-element-3b5f698 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18347 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18347 .elementor-element.elementor-element-9e1ce40 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-9e1ce40 .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18347 .elementor-element.elementor-element-6990e62 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18347 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
  margin: 0 20px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 20px;
}
.elementor-18347 .elementor-element.elementor-element-bae6a7b {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-bae6a7b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.elementor-18347 .elementor-element.elementor-element-5d7f292 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.elementor-18347 .elementor-element.elementor-element-c479f38 > .elementor-container {
  max-width: 1280px;
}
.elementor-18347 .elementor-element.elementor-element-3548905 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-18347 .elementor-element.elementor-element-3392218 {
  text-align: center;
}
.elementor-18347 .elementor-element.elementor-element-3392218 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-18347 .elementor-element.elementor-element-3392218 > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-accordion-item {
  border-width: 0;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-active .elementor-accordion-icon,
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-18347 .elementor-element.elementor-element-ad28875 .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-18347 .elementor-element.elementor-element-2e65ed81 > .elementor-container {
  max-width: 1180px;
}
.elementor-18347 .elementor-element.elementor-element-2e65ed81 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-18347 .elementor-element.elementor-element-2e65ed81 {
  padding: 80px 0 50px;
}
.elementor-18347 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .elementor-18347 .elementor-element.elementor-element-4bfba0c .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18347 .elementor-element.elementor-element-2a1fb83 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18347 .elementor-element.elementor-element-a9a4481 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-d3019ff .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-1af9247 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-b79b1a8 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-d6d97fc .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-da5b7e8 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-bd21d9d .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-3fbc7e8 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18347 .elementor-element.elementor-element-b688222 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-18347 .elementor-element.elementor-element-82bd7b9 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-83459b8 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-1111395 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-599332c .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-9ebcd32 .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-cd8baef .elementor-heading-title {
    font-size: 22px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-2e65ed81 {
    padding: 60px 0 40px;
  }
}
@media (min-width: 781px) {
  .elementor-18347 .elementor-element.elementor-element-a07fefb {
    width: 54.544%;
  }
  .elementor-18347 .elementor-element.elementor-element-aaaf154 {
    width: 45.187%;
  }
}
@media (max-width: 780px) {
  .elementor-18347 .elementor-element.elementor-element-f08a6c6 {
    padding: 40px 0;
  }
  .elementor-18347 .elementor-element.elementor-element-4bfba0c .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18347 .elementor-element.elementor-element-07d4a64 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-65dea8c {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-2a1fb83 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18347 .elementor-element.elementor-element-8e663aa {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-a9a4481 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-83c3594 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-d3019ff .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-f2e0054 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-1af9247 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-ecbd3a0 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-b79b1a8 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-81a073b {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-d6d97fc .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-4de5c43 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-da5b7e8 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-8a78a23 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-bd21d9d .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-cf0dfdf {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-3fbc7e8 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18347 .elementor-element.elementor-element-d59b8ec {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-40716c7 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-650f499 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-68aa4fc {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-b688222 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-18347 .elementor-element.elementor-element-184d3bf {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-82bd7b9 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-c2d3e0b {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-83459b8 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-3c43d2f {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-1111395 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-2ff87e0 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-599332c .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-52fd824 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-9ebcd32 .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-2cf427c {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-cd8baef .elementor-heading-title {
    font-size: 18px;
    line-height: 26px;
  }
  .elementor-18347 .elementor-element.elementor-element-5686736 {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-18347 .elementor-element.elementor-element-9d5ce76 {
    padding: 20px 0;
  }
  .elementor-18347 .elementor-element.elementor-element-489620a > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18347 .elementor-element.elementor-element-e5b7d80 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18347 .elementor-element.elementor-element-772c288 > .elementor-element-populated {
    margin: 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
  }
  .elementor-18347 .elementor-element.elementor-element-2e65ed81 {
    padding: 20px 0 30px;
  }
  .elementor-18347 .elementor-element.elementor-element-1f51c287 > .elementor-element-populated {
    padding: 20px;
  }
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover {
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.atfx-mt4-item:hover .elementor-heading-title,
.atfx-mt4-item:hover .elementor-widget-container {
  color: #4c4c4c !important;
  transition: all 0.5s ease;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
