.elementor-27914 .elementor-element.elementor-element-ea0484f > .elementor-container {
  max-width: 1280px;
}
.elementor-27914 .elementor-element.elementor-element-ea0484f:not(.elementor-motion-effects-element-type-background),
.elementor-27914 .elementor-element.elementor-element-ea0484f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27914 .elementor-element.elementor-element-ea0484f {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-ea0484f > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-24b3ef5 > .elementor-element-populated {
  padding: 0;
}
.elementor-27914 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-27914 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-27914 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/tradinging-accounts-herobanner.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-27914 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
}
.elementor-27914 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
}
.elementor-27914 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 1280px;
}
.elementor-27914 .elementor-element.elementor-element-7f8ddbf {
  padding: 80px 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-b753b34 {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-f07fdcc > .elementor-container {
  max-width: 1180px;
}
.elementor-27914 .elementor-element.elementor-element-f07fdcc {
  padding: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-e287963 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-079d67d {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-079d67d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-27914 .elementor-element.elementor-element-53037a7 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-5d7f68c {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-27914 .elementor-element.elementor-element-6517da9 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-fe4377d {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-27914 .elementor-element.elementor-element-14c7450 img {
  width: 70px;
  height: 70px;
}
.elementor-27914 .elementor-element.elementor-element-a8bf63a {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.elementor-27914 .elementor-element.elementor-element-ef294d7 > .elementor-container {
  max-width: 1280px;
}
.elementor-27914 .elementor-element.elementor-element-ef294d7:not(.elementor-motion-effects-element-type-background),
.elementor-27914 .elementor-element.elementor-element-ef294d7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-27914 .elementor-element.elementor-element-ef294d7 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 80px 0 60px;
}
.elementor-27914 .elementor-element.elementor-element-ef294d7 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-89e2138 {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-89e2138 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-c41cba5 {
  text-align: center;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-c41cba5 > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-27914 .elementor-element.elementor-element-c905f61 > .elementor-container {
  max-width: 1280px;
}
.elementor-27914 .elementor-element.elementor-element-7c78764 > .elementor-element-populated {
  margin: 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 60px 30px 80px;
}
.elementor-27914 .elementor-element.elementor-element-a3a6d61 {
  text-align: center;
}
.elementor-27914 .elementor-element.elementor-element-a3a6d61 .elementor-heading-title {
  color: #f2672a;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-a3a6d61 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-bc5f69c {
  text-align: center;
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-bc5f69c > .elementor-widget-container {
  margin: 0 0 50px;
}
.elementor-27914 .elementor-element.elementor-element-4df4f95 .elementor-button {
  background-color: #ff8055;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8055;
}
.elementor-27914 .elementor-element.elementor-element-4df4f95 .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-4df4f95 .elementor-button:focus {
  color: #ff8055;
  background-color: #fff;
  border-color: #ff8055;
}
.elementor-27914 .elementor-element.elementor-element-4df4f95 .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-4df4f95 .elementor-button:focus svg {
  fill: #ff8055;
}
.elementor-27914 .elementor-element.elementor-element-8975043 > .elementor-container {
  max-width: 860px;
}
.elementor-27914 .elementor-element.elementor-element-8975043 {
  padding: 80px 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-3e659df .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-6e272ec {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-57a2415 > .elementor-container {
  max-width: 1180px;
}
.elementor-27914 .elementor-element.elementor-element-57a2415 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-27914 .elementor-element.elementor-element-c93df72 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-c93df72 img {
  width: 70px;
  height: 70px;
}
.elementor-27914 .elementor-element.elementor-element-78479d7 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-78479d7 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-73ac61e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button:focus svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-af7c407 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-af7c407 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-fac8530 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-fac8530 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-e884ea6 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-47d4fc2 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-47d4fc2 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-37f655b {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-37f655b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-5ba4d99 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-497893e .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-27914 .elementor-element.elementor-element-497893e .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-497893e .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-27914 .elementor-element.elementor-element-497893e .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-497893e .elementor-button:focus svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-fe5e59f {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-fe5e59f img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-3c6d79e {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-3c6d79e .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-14f605e > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-5119cb2 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-5119cb2 img {
  width: 70px;
}
.elementor-27914 .elementor-element.elementor-element-9582474 {
  text-align: left;
}
.elementor-27914 .elementor-element.elementor-element-9582474 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-e01ece9 > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff8055 0%, var(--e-global-color-accent) 100%);
}
.elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button:hover,
.elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button:focus {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2c4d7a 0%, #0f2c52 100%);
  border-color: var(--e-global-color-primary);
}
.elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button:hover svg,
.elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button:focus svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-6ba244e > .elementor-container {
  max-width: 860px;
}
.elementor-27914 .elementor-element.elementor-element-6ba244e {
  padding: 80px 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
  color: #0f2c52;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
}
.elementor-27914 .elementor-element.elementor-element-c59115a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27914 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-4373ec8 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27914 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-92434ac {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27914 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-e538492 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-27914 .elementor-element.elementor-element-3670ec4 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-8654fac {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-51486066 > .elementor-container {
  max-width: 1280px;
}
.elementor-27914 .elementor-element.elementor-element-51486066 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27914 .elementor-element.elementor-element-1ac75c45 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item {
  border-width: 0;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item .elementor-tab-content {
  border-width: 0;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-width: 0;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title {
  background-color: #ebebeb;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-icon,
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-title {
  color: #fff;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-title {
  font-family: 'Muli', Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title .elementor-accordion-icon i:before {
  color: #f2672a;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title .elementor-accordion-icon svg {
  fill: #f2672a;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
  color: #fff;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
  fill: #fff;
}
.elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-content {
  background-color: #fff;
  color: #24282d;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-eafa70f > .elementor-container {
  max-width: 860px;
}
.elementor-27914 .elementor-element.elementor-element-eafa70f {
  padding: 80px 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
  color: #0f2c52;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
.elementor-27914 .elementor-element.elementor-element-3d9080a {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-122b0624 > .elementor-container {
  max-width: 1180px;
}
.elementor-27914 .elementor-element.elementor-element-122b0624 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-27914 .elementor-element.elementor-element-122b0624 {
  padding: 80px 0 50px;
}
.elementor-27914 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-c77c9bc:not(.elementor-motion-effects-element-type-background),
.elementor-27914 .elementor-element.elementor-element-c77c9bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-27914 .elementor-element.elementor-element-c77c9bc,
.elementor-27914 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-27914 .elementor-element.elementor-element-c77c9bc {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-27914 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-4de9624b .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-size: 31px;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-4de9624b > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-27914 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-27914 .elementor-element.elementor-element-7430303c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-27914 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-27914
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-27914
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-27914
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-27914 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (max-width: 1024px) {
  .elementor-27914 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-27914 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-27914 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-27914 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
  }
  .elementor-27914 .elementor-element.elementor-element-89e2138 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-27914 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27914 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27914 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27914 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-27914 .elementor-element.elementor-element-3670ec4 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 30% 20% 0;
  }
}
@media (min-width: 781px) {
  .elementor-27914 .elementor-element.elementor-element-1c0d431 {
    width: 60%;
  }
  .elementor-27914 .elementor-element.elementor-element-b7fa669 {
    width: 39.953%;
  }
}
@media (max-width: 1024px) and (min-width: 781px) {
  .elementor-27914 .elementor-element.elementor-element-1c0d431 {
    width: 75%;
  }
  .elementor-27914 .elementor-element.elementor-element-b7fa669 {
    width: 24%;
  }
}
@media (max-width: 780px) {
  .elementor-27914 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-079d67d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-27914 .elementor-element.elementor-element-5d7f68c .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-27914 .elementor-element.elementor-element-fe4377d .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-27914 .elementor-element.elementor-element-a8bf63a .elementor-heading-title {
    font-size: 16px;
    line-height: 24px;
  }
  .elementor-27914 .elementor-element.elementor-element-ef294d7 {
    padding: 40px 0 30px;
  }
  .elementor-27914 .elementor-element.elementor-element-89e2138 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-c41cba5 {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-c41cba5 > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-7c78764 > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 20px 60px;
  }
  .elementor-27914 .elementor-element.elementor-element-a3a6d61 > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-27914 .elementor-element.elementor-element-bc5f69c {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-8975043 {
    padding: 40px 0 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-3e659df .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-6e272ec {
    font-size: 16px;
    line-height: 26px;
  }
  .elementor-27914 .elementor-element.elementor-element-c93df72 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-78479d7 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-73ac61e {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-174b73c .elementor-button {
    font-size: 13px;
  }
  .elementor-27914 .elementor-element.elementor-element-af7c407 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-fac8530 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-e884ea6 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-8014c84 .elementor-button {
    font-size: 13px;
  }
  .elementor-27914 .elementor-element.elementor-element-47d4fc2 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-37f655b {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-5ba4d99 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-497893e .elementor-button {
    font-size: 13px;
  }
  .elementor-27914 .elementor-element.elementor-element-fe5e59f {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-3c6d79e {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-14f605e {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-2b0b146 .elementor-button {
    font-size: 13px;
  }
  .elementor-27914 .elementor-element.elementor-element-5119cb2 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-9582474 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-e01ece9 {
    text-align: center;
  }
  .elementor-27914 .elementor-element.elementor-element-a558c64 .elementor-button {
    font-size: 13px;
  }
  .elementor-27914 .elementor-element.elementor-element-6ba244e {
    padding: 40px 0 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-4097e91 .elementor-heading-title {
    font-size: 30px;
    line-height: 50px;
  }
  .elementor-27914 .elementor-element.elementor-element-c59115a {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-c59115a > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-1551b99 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-4373ec8 {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-4373ec8 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-da3b366 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-92434ac {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-92434ac > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-943a7c9 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-e538492 {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-e538492 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-27914 .elementor-element.elementor-element-3670ec4 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-8654fac {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-accordion-title {
    font-size: 14px;
  }
  .elementor-27914 .elementor-element.elementor-element-6d20d2eb .elementor-tab-content {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-eafa70f {
    padding: 40px 0 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-6062f10 .elementor-heading-title {
    font-size: 28px;
    line-height: 36px;
  }
  .elementor-27914 .elementor-element.elementor-element-3d9080a {
    font-size: 16px;
  }
  .elementor-27914 .elementor-element.elementor-element-122b0624 {
    padding: 20px 0 30px;
  }
  .elementor-27914 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 20% 20% 0;
  }
  .elementor-27914 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-27914 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
    margin: 5px;
  }
}
.accounts .elementor-column .elementor-element-populated {
  background-color: #fff;
  padding: 50px 30px;
  box-shadow: 0 0 60px 30px rgba(15, 45, 82, 0.1);
  border-radius: 6px;
  width: 360px;
  max-width: 100%;
  position: relative;
}
.elementor-section.nt-row.accounts .elementor-column {
  width: auto;
}
.accounts .default-button.elementor-widget-button .elementor-button {
  min-width: 200px;
}
.accounts .default-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -50%;
}
.mt4-features .default-button.elementor-widget-button .elementor-button {
  min-width: 0;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
