.elementor-31207 .elementor-element.elementor-element-aae052c > .elementor-container {
  max-width: 1280px;
}
.elementor-31207 .elementor-element.elementor-element-aae052c:not(.elementor-motion-effects-element-type-background),
.elementor-31207 .elementor-element.elementor-element-aae052c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-31207 .elementor-element.elementor-element-aae052c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-aae052c > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-d611a6b > .elementor-element-populated {
  padding: 0;
}
.elementor-31207 .elementor-element.elementor-element-f810a47 > .elementor-container {
  max-width: 1030px;
  min-height: 400px;
}
.elementor-31207 .elementor-element.elementor-element-f810a47:not(.elementor-motion-effects-element-type-background),
.elementor-31207 .elementor-element.elementor-element-f810a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/ways-to-trade-herobanner-1.webp');
  background-position: center center;
  background-size: cover;
}
.elementor-31207 .elementor-element.elementor-element-f810a47 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-f810a47 > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-c5c177b .elementor-heading-title {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-2bef2ce {
  color: #fff;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-2bef2ce > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31207 .elementor-element.elementor-element-7f8ddbf > .elementor-container {
  max-width: 860px;
}
.elementor-31207 .elementor-element.elementor-element-7f8ddbf {
  padding: 60px 0;
}
.elementor-31207 .elementor-element.elementor-element-b753b34 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31207 .elementor-element.elementor-element-bbedd10 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-31207 .elementor-element.elementor-element-a353bae .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31207 .elementor-element.elementor-element-313d432 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-a70eb92 > .elementor-container {
  max-width: 860px;
}
.elementor-31207 .elementor-element.elementor-element-a70eb92 {
  padding: 60px 0;
}
.elementor-31207 .elementor-element.elementor-element-8fd54bf {
  text-align: left;
}
.elementor-31207 .elementor-element.elementor-element-8fd54bf .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31207 .elementor-element.elementor-element-e183f74 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-32acabf img {
  height: 70px;
}
.elementor-31207 .elementor-element.elementor-element-60e0084 {
  text-align: center;
}
.elementor-31207 .elementor-element.elementor-element-60e0084 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-14a192e img {
  height: 70px;
}
.elementor-31207 .elementor-element.elementor-element-2735126 {
  text-align: center;
}
.elementor-31207 .elementor-element.elementor-element-2735126 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-64476ee img {
  height: 70px;
}
.elementor-31207 .elementor-element.elementor-element-cb02493 {
  text-align: center;
}
.elementor-31207 .elementor-element.elementor-element-cb02493 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-48e067c img {
  height: 70px;
}
.elementor-31207 .elementor-element.elementor-element-e27d819 {
  text-align: center;
}
.elementor-31207 .elementor-element.elementor-element-e27d819 .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-9e89139 > .elementor-container {
  max-width: 860px;
}
.elementor-31207 .elementor-element.elementor-element-9e89139 {
  padding: 60px 0;
}
.elementor-31207 .elementor-element.elementor-element-288decb .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31207 .elementor-element.elementor-element-c1feea0 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-c1feea0 > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-31207 .elementor-element.elementor-element-e25e401 .elementor-heading-title {
  color: #0f2c52;
}
.elementor-31207 .elementor-element.elementor-element-3fef703 {
  color: #4c4c4c;
  font-family: 'Muli', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-31207 .elementor-element.elementor-element-122b0624 > .elementor-container {
  max-width: 1180px;
}
.elementor-31207 .elementor-element.elementor-element-122b0624 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31207 .elementor-element.elementor-element-122b0624 {
  padding: 80px 0 50px;
}
.elementor-31207 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31207 .elementor-element.elementor-element-c77c9bc:not(.elementor-motion-effects-element-type-background),
.elementor-31207 .elementor-element.elementor-element-c77c9bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url('../../../../uploads/2023/06/learn-more-with-atfx.webp');
  background-size: cover;
}
.elementor-31207 .elementor-element.elementor-element-c77c9bc,
.elementor-31207 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  border-radius: 12px;
}
.elementor-31207 .elementor-element.elementor-element-c77c9bc {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20% 50% 20% 0;
}
.elementor-31207 .elementor-element.elementor-element-c77c9bc > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-4de9624b > .elementor-widget-container {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.elementor-31207 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
  padding: 0 20px;
}
.elementor-31207 .elementor-element.elementor-element-7430303c .elementor-heading-title {
  font-family: 'Muli', Sans-serif;
  font-weight: 300;
}
.elementor-31207 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-31207
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-31207
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl .elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-31207
  .elementor-element.elementor-element-2c578e23
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon i {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-icon svg {
  fill: #0f2c52;
  transition: fill 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: #f2672a;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: #f2672a;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item > a {
  font-family: 'Muli', Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-text {
  color: #0f2c52;
  transition: color 0.3s;
}
.elementor-31207 .elementor-element.elementor-element-2c578e23 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: #f2672a;
}
@media (min-width: 781px) {
  .elementor-31207 .elementor-element.elementor-element-1c0d431 {
    width: 59.612%;
  }
  .elementor-31207 .elementor-element.elementor-element-b7fa669 {
    width: 40.341%;
  }
}
@media (max-width: 1024px) {
  .elementor-31207 .elementor-element.elementor-element-2bef2ce {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-31207 .elementor-element.elementor-element-c1feea0 > .elementor-widget-container {
    margin: 0 0 70px;
  }
  .elementor-31207 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 30% 20% 0;
  }
}
@media (max-width: 780px) {
  .elementor-31207 .elementor-element.elementor-element-7f8ddbf {
    padding: 40px 0 20px;
  }
  .elementor-31207 .elementor-element.elementor-element-bbedd10 {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-bbedd10 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-31207 .elementor-element.elementor-element-313d432 {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-a70eb92 {
    padding: 40px 0 20px;
  }
  .elementor-31207 .elementor-element.elementor-element-e183f74 {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-9e89139 {
    padding: 40px 0 20px;
  }
  .elementor-31207 .elementor-element.elementor-element-c1feea0 {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-c1feea0 > .elementor-widget-container {
    margin: 0 0 40px;
  }
  .elementor-31207 .elementor-element.elementor-element-3fef703 {
    font-size: 16px;
  }
  .elementor-31207 .elementor-element.elementor-element-122b0624 {
    padding: 20px 0 30px;
  }
  .elementor-31207 .elementor-element.elementor-element-18886248 > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-31207 .elementor-element.elementor-element-c77c9bc {
    padding: 20% 20% 20% 0;
  }
  .elementor-31207 .elementor-element.elementor-element-18e06d4f > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-31207 .elementor-element.elementor-element-7430303c > .elementor-widget-container {
    margin: 5px;
  }
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Regular.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Regular.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Regular.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Light.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Light.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Light.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-SemiBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-SemiBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Bold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Bold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Bold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-Black.eot');
  src:
    url('../../../../uploads/2023/06/Muli-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-Black.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-Black.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../../uploads/2023/06/Muli-ExtraBold.eot');
  src:
    url('../../../../uploads/2023/06/Muli-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff2') format('woff2'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.woff') format('woff'),
    url('../../../../uploads/2023/06/Muli-ExtraBold.ttf') format('truetype');
}
